Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

Tighten glyph model identity reads
  apps/desktop/src/renderer/src/components/home/GlyphPreview.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/Text.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.test.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/text/layout/Positioner.test.ts
  apps/desktop/src/renderer/src/lib/text/layout/Positioner.ts
  apps/desktop/src/renderer/src/lib/text/layout/TextLayout.test.ts
  apps/desktop/src/renderer/src/lib/text/layout/testUtils.ts
  apps/desktop/src/renderer/src/lib/text/layout/types.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Narrow glyph snapshot loader boundary
  apps/desktop/src/renderer/src/lib/model/GlyphSnapshotLoader.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphSnapshotLoader.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Refactor glyph loading around font scene ownership
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/components/editor/Canvas.tsx
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/home/GlyphPreview.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/EditorState.ts
  apps/desktop/src/renderer/src/lib/editor/Scene.ts
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.test.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphSnapshotLoader.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphSnapshotLoader.ts
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
  apps/desktop/src/renderer/src/lib/text/layout/testUtils.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.test.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  apps/desktop/src/renderer/src/perf/workspaceApply.bench.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/testing/workspaceStack.ts
  apps/desktop/src/renderer/src/workspace/Workspace.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Refactor glyph loading for grid previews
  apps/desktop/src/renderer/src/components/editor/Canvas.tsx
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/home/GlyphPreview.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
  apps/desktop/src/renderer/src/lib/text/layout/testUtils.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Surface font load failures
  apps/desktop/src/main/document/DocumentSession.ts
  crates/shift-source/src/package.rs
  crates/shift-store/src/error.rs
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Skip package recovery for font imports
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

wip
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/GlyphCatalog.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogContext.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: return errors instead of panicking on malformed binary fonts
  crates/shift-backends/src/binary/reader.rs
  crates/shift-backends/tests/loading.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: preserve fractional coordinates in UFO save
  crates/shift-backends/src/ufo/mod.rs
  crates/shift-backends/src/ufo/writer.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: surface invalid names as errors in UFO writer
  crates/shift-backends/src/errors.rs
  crates/shift-backends/src/export.rs
  crates/shift-backends/src/ufo/mod.rs
  crates/shift-backends/src/ufo/writer.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: write UFOs atomically instead of deleting the target first
  crates/shift-backends/src/ufo/mod.rs
  crates/shift-backends/src/ufo/writer.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: skip directory fsync on non-unix platforms
  crates/shift-backends/src/ufo/writer.rs
  crates/shift-source/src/package.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: fsync staged UFO contents before swap
  crates/shift-backends/src/ufo/mod.rs
  crates/shift-backends/src/ufo/writer.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: use atomic rename exchange for UFO swap where supported
  Cargo.lock
  crates/shift-backends/Cargo.toml
  crates/shift-backends/src/ufo/writer.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(backends): preserve plist dates, uids, and unsigned integers in libs
  crates/shift-backends/src/ufo/reader.rs
  crates/shift-backends/src/ufo/writer.rs
  crates/shift-font/src/ir/lib_data.rs
  crates/shift-font/src/test_support.rs
  crates/shift-source/src/package.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/font_state.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: carry UFO data/ and images/ directories through IR and .shift
  crates/shift-backends/src/traits.rs
  crates/shift-backends/src/ufo/reader.rs
  crates/shift-backends/src/ufo/writer.rs
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/ir/binary_data.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/mod.rs
  crates/shift-font/src/test_support.rs
  crates/shift-source/src/lib.rs
  crates/shift-source/src/package.rs
  crates/shift-source/tests/package_test.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/font_state.rs
  crates/shift-store/src/schema.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: carry UFO layerinfo color and lib on sources
  crates/shift-backends/src/ufo/reader.rs
  crates/shift-backends/src/ufo/writer.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/source.rs
  crates/shift-font/src/test_support.rs
  crates/shift-source/src/package.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/font_state.rs
  crates/shift-store/src/schema.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: preserve unmapped fontinfo fields across UFO round-trips
  crates/shift-backends/src/traits.rs
  crates/shift-backends/src/ufo/reader.rs
  crates/shift-backends/src/ufo/writer.rs
  crates/shift-backends/tests/export.rs
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/test_support.rs
  crates/shift-source/src/lib.rs
  crates/shift-source/src/package.rs
  crates/shift-source/tests/package_test.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/font_state.rs
  crates/shift-store/src/schema.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test: UFO and .shift round-trips of libs, binaries, layerinfo, fontinfo
  crates/shift-backends/tests/round_trip/ufo.rs
  crates/shift-source/tests/package_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: lift TrueType quadratics to cubics on binary import
  crates/shift-backends/src/binary/reader.rs
  crates/shift-backends/tests/loading.rs
  crates/shift-backends/tests/round_trip/ufo.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: distinguish designspace masters from layer-only sources in the IR
  crates/shift-backends/src/designspace/reader.rs
  crates/shift-backends/src/ufo/reader.rs
  crates/shift-backends/src/ufo/writer.rs
  crates/shift-font/src/ir/mod.rs
  crates/shift-font/src/ir/source.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: record undo steps for axis deletes and glyph renames
  crates/shift-font/src/ir/font.rs
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: hand ledger entries back when undo or redo replay fails
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: save designspace sources back to their own UFOs with atomic XML writes
  Cargo.lock
  crates/shift-backends/Cargo.toml
  crates/shift-backends/src/atomic.rs
  crates/shift-backends/src/designspace/writer.rs
  crates/shift-backends/src/lib.rs
  crates/shift-backends/src/ufo/writer.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test: cover undo and redo for every workspace intent kind
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test: designspace multi-UFO structure, save atomicity, and layer promotion
  crates/shift-backends/tests/round_trip.rs
  crates/shift-backends/tests/round_trip/designspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: persist source roles and layer bindings in the native stores
  crates/shift-font/src/ir/source.rs
  crates/shift-source/src/package.rs
  crates/shift-source/tests/package_test.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/font_state.rs
  crates/shift-store/src/schema.rs
  crates/shift-store/src/source.rs
  crates/shift-store/tests/store_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(backends): save through symlinks without destroying the link
  crates/shift-backends/src/atomic.rs
  crates/shift-backends/src/ufo/mod.rs
  crates/shift-backends/src/ufo/writer.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: refuse draft stores from older schema versions
  crates/shift-store/src/error.rs
  crates/shift-store/tests/fixtures/old_schema_v1.sql
  crates/shift-store/tests/store_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: make undo replay lossless at the ledger-store seam
  crates/shift-font/src/changes.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test: enforce store == memory invariant across undo/redo
  crates/shift-workspace/Cargo.toml
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(backends): preserve glif image refs, notes, and unknown fontinfo keys
  crates/shift-backends/src/ufo/fontinfo.rs
  crates/shift-backends/src/ufo/mod.rs
  crates/shift-backends/src/ufo/reader.rs
  crates/shift-backends/src/ufo/writer.rs
  crates/shift-backends/tests/round_trip/ufo.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: validate unsavable font state at creation instead of save time
  crates/shift-backends/src/ufo/fontinfo.rs
  crates/shift-backends/src/ufo/mod.rs
  crates/shift-backends/src/ufo/writer.rs
  crates/shift-font/src/intents.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Introduce node definitions for pointer targets
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/nodes/GlyphNodeDefinition.ts
  apps/desktop/src/renderer/src/lib/nodes/NodeDefinition.ts
  apps/desktop/src/renderer/src/types/node.ts
  apps/desktop/src/renderer/src/types/rendering.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add Shift documentation routing skill
  .codex/skills/shift-docs/SKILL.md
  .codex/skills/shift-docs/agents/openai.yaml
Due: prettier

Add render context marker frame lifecycle
  apps/desktop/src/renderer/src/lib/editor/rendering/RenderFrame.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/Renderer.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/Handles.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/handles/MarkerHandleRenderer.ts
  apps/desktop/src/renderer/src/lib/graphics/backends/MarkerLayer.ts
  apps/desktop/src/renderer/src/lib/nodes/NodeDefinition.ts
  apps/desktop/src/renderer/src/types/rendering.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Rename canvas root scene space
  apps/desktop/src/renderer/src/lib/editor/rendering/Canvas.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/Renderer.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
