Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

Always use default layer for glyph rendering and edit sessions
  crates/shift-node/__test__/font_integration.spec.mjs
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, vitest

Fix interpolation: skip empty support layer masters, add debug logging
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Replace inverse-distance interpolation with OpenType VariationModel
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.test.ts
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

temp: add debug logging to VariationPanel
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix getGlyphMasterSnapshots for editing glyph
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Handle duplicate locations and errors in interpolation
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix duplicate React keys in master buttons
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

temp: debug slider callback
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

temp: more debug
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Remove debug logging from interpolation and VariationPanel
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

debug: log master contour counts and compat result on slider
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

debug: rust-side master snapshot logging
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Filter incompatible masters instead of failing, remove debug logs
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.test.ts
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Use majority-vote compatibility filtering for interpolation
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add directBlend fallback when default master is incompatible
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Sort contours deterministically and filter empty ones in master snapshots
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Add edge case tests for interpolation and master snapshots
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.test.ts
  crates/shift-node/__test__/font_integration.spec.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

Remove directBlend, use default-as-reference filtering like Fontra
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.test.ts
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Replace flat-array interpolation with structured itemwise arithmetic
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.test.ts
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Wire variation sliders to glyph grid preview
  apps/desktop/src/renderer/src/components/GlyphPreview.tsx
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/lib/interpolation/svg.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Use IndexMap for GlyphLayer contours to preserve insertion order
  Cargo.lock
  crates/shift-ir/Cargo.toml
  crates/shift-ir/src/glyph.rs
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add EditorLifecycle event system, PoC with fontLoaded
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/lifecycle.test.ts
  apps/desktop/src/renderer/src/lib/editor/lifecycle.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Rename EditorLifecycle to EventEmitter, expose editor.on() directly
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/lifecycle.test.ts
  apps/desktop/src/renderer/src/lib/editor/lifecycle.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add naming conventions to CLAUDE.md
  Claude.md
Due: prettier

CI: cache native .node binary to skip rebuild on TS-only changes
  .github/workflows/ci.yml
Due: none

Add TextRunController with anchor/focus selection model
  apps/desktop/src/renderer/src/lib/tools/text/TextRunController.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/TextRunController.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Set controller font once in constructor, remove repeated setFont calls
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Wire TextRunController, delete GapBuffer + TextRunManager
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/managers/TextRunManager.test.ts
  apps/desktop/src/renderer/src/lib/editor/managers/TextRunManager.ts
  apps/desktop/src/renderer/src/lib/editor/managers/index.ts
  apps/desktop/src/renderer/src/lib/editor/managers/textRunPersistence.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/textRun.ts
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.test.ts
  apps/desktop/src/renderer/src/lib/keyboard/keymaps.ts
  apps/desktop/src/renderer/src/lib/keyboard/types.ts
  apps/desktop/src/renderer/src/lib/tools/core/EditorAPI.ts
  apps/desktop/src/renderer/src/lib/tools/text/GapBuffer.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/GapBuffer.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/TextRunController.ts
  apps/desktop/src/renderer/src/lib/tools/text/behaviors/TypingBehaviour.ts
  apps/desktop/src/renderer/src/persistence/module.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add GlyphStore with reactive glyph caching and self-healing
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/lib/cache/GlyphStore.test.ts
  apps/desktop/src/renderer/src/lib/cache/GlyphStore.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add reactive GlyphStore, delete GlyphRenderCache
  apps/desktop/src/renderer/src/components/GlyphPreview.tsx
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/lib/cache/GlyphRenderCache.test.ts
  apps/desktop/src/renderer/src/lib/cache/GlyphRenderCache.ts
  apps/desktop/src/renderer/src/lib/cache/GlyphStore.test.ts
  apps/desktop/src/renderer/src/lib/cache/GlyphStore.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/PointCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/SetNodePositionsCommand.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/SidebearingCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/transform/TransformCommands.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/Font.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/textRun.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/render.ts
  apps/desktop/src/renderer/src/lib/tools/core/EditorAPI.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout.ts
  apps/desktop/src/renderer/src/testing/setup.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add ShiftState persistence primitive, migrate snap preferences
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/state/ShiftState.test.ts
  apps/desktop/src/renderer/src/lib/state/ShiftState.ts
  apps/desktop/src/renderer/src/persistence/kernel.ts
  apps/desktop/src/renderer/src/persistence/module.ts
  apps/desktop/src/renderer/src/persistence/modules/userPreferences.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Expose editor.settings as clean getter, not raw ShiftState
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Migrate text run persistence to ShiftState
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/persistence/kernel.ts
  apps/desktop/src/renderer/src/persistence/module.ts
  apps/desktop/src/renderer/src/persistence/modules/textRun.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix deadcode: tag ShiftStateImpl.signal as knip-ignored
  apps/desktop/src/renderer/src/lib/state/ShiftState.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Remove TextRunAccess delegation, tools use controller directly
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.test.ts
  apps/desktop/src/renderer/src/lib/keyboard/keymaps.ts
  apps/desktop/src/renderer/src/lib/keyboard/types.ts
  apps/desktop/src/renderer/src/lib/tools/core/EditorAPI.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/TextRunEditBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/TextRunHoverBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.ts
  apps/desktop/src/renderer/src/lib/tools/text/behaviors/TypingBehaviour.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

Move text run rendering into tool renderInScene hook
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/lib/tools/core/BaseTool.ts
  apps/desktop/src/renderer/src/lib/tools/core/DrawAPI.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.ts
  apps/desktop/src/renderer/src/lib/tools/text/renderTextRunScene.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix deadcode: tag TextRunController.getCodepoints
  apps/desktop/src/renderer/src/lib/tools/text/TextRunController.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add hidden textarea for text input, simplify text tool
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/components/HiddenTextInput.tsx
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.test.ts
  apps/desktop/src/renderer/src/lib/keyboard/keymaps.ts
  apps/desktop/src/renderer/src/lib/keyboard/types.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/behaviors/TypingBehaviour.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Make TextRunController fully reactive with immutable state
  apps/desktop/src/renderer/src/components/HiddenTextInput.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/TextRunEditBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.ts
  apps/desktop/src/renderer/src/lib/tools/text/TextRunController.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
