Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

add debug overlay for glyph bounding box
  apps/desktop/src/main/managers/MenuManager.ts
  apps/desktop/src/renderer/src/context/DebugContext.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/debugOverlays.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/index.ts
  apps/desktop/src/shared/ipc/types.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

introduce document/app persisted state
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/lib/clipboard/ClipboardService.ts
  apps/desktop/src/renderer/src/lib/commands/transform/TransformCommands.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/managers/TextRunManager.test.ts
  apps/desktop/src/renderer/src/lib/editor/managers/TextRunManager.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/textRun.ts
  apps/desktop/src/renderer/src/lib/reactive/signal.ts
  apps/desktop/src/renderer/src/lib/tools/core/EditorAPI.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/select/actions.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/TextRunEditBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/TextRunHoverBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.ts
  apps/desktop/src/renderer/src/persistence/index.ts
  apps/desktop/src/renderer/src/persistence/kernel.ts
  apps/desktop/src/renderer/src/persistence/module.ts
  apps/desktop/src/renderer/src/persistence/modules/textRun.ts
  apps/desktop/src/renderer/src/persistence/modules/userPreferences.ts
  apps/desktop/src/renderer/src/persistence/types.ts
  apps/desktop/src/renderer/src/store/store.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/types/editor.ts
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/tsconfig.json
  package.json
  packages/font/package.json
  packages/geo/package.json
  packages/glyph-info/package.json
  packages/rules/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/validation/package.json
  packages/validation/src/index.ts
  packages/validation/src/persistence.test.ts
  packages/validation/src/persistence.ts
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

decouple tool rendering and editor, better bounding box handles, cursor bug
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/boundingBox.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/boundingBox.ts
  apps/desktop/src/renderer/src/lib/graphics/backends/Canvas2DRenderer.ts
  apps/desktop/src/renderer/src/lib/tools/core/DrawAPI.ts
  apps/desktop/src/renderer/src/lib/tools/core/EditorAPI.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManifest.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolRenderContributor.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolStateMap.ts
  apps/desktop/src/renderer/src/lib/tools/core/createContext.ts
  apps/desktop/src/renderer/src/lib/tools/core/index.ts
  apps/desktop/src/renderer/src/lib/tools/select/BoundingBoxRenderContributors.ts
  apps/desktop/src/renderer/src/lib/tools/select/boundingBoxHitTest.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/boundingBoxHitTest.ts
  apps/desktop/src/renderer/src/lib/tools/text/TextRunRenderContributor.ts
  apps/desktop/src/renderer/src/lib/tools/tools.ts
  apps/desktop/src/renderer/src/persistence/kernel.ts
  apps/desktop/src/renderer/src/persistence/module.ts
  apps/desktop/src/renderer/src/persistence/modules/textRun.ts
  apps/desktop/src/renderer/src/persistence/modules/toolState.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/types/editor.ts
  apps/desktop/src/renderer/src/types/tools.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

first pass to get anchors in, and render composite glyphs
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/engine/info.ts
  apps/desktop/src/renderer/src/engine/mock.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/textRun.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/textRun.ts
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.test.ts
  apps/desktop/src/renderer/src/lib/keyboard/keymaps.ts
  apps/desktop/src/renderer/src/lib/keyboard/types.ts
  apps/desktop/src/renderer/src/lib/styles/canvas/handles.ts
  apps/desktop/src/renderer/src/lib/tools/core/EditorAPI.ts
  apps/desktop/src/renderer/src/lib/tools/select/actions.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/actions.ts
  apps/desktop/src/renderer/src/lib/tools/text/TextRunRenderContributor.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/shared/bridge/FontEngineAPI.ts
  crates/shift-core/docs/DOCS.md
  crates/shift-core/docs/composite-anchors-and-dependency-graph.md
  crates/shift-core/src/composite.rs
  crates/shift-core/src/dependency_graph.rs
  crates/shift-core/src/lib.rs
  crates/shift-ir/src/component.rs
  crates/shift-node/docs/DOCS.md
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
  package.json
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

add helper to set screen space line width, ui/ux for composite glyphs
  apps/desktop/src/main/main.ts
  apps/desktop/src/main/managers/AppLifecycle.ts
  apps/desktop/src/main/managers/openFontPath.test.ts
  apps/desktop/src/main/managers/openFontPath.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/app/RouteDispatcher.tsx
  apps/desktop/src/renderer/src/app/WorkspaceLayout.tsx
  apps/desktop/src/renderer/src/components/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/GlyphGridSidebar.tsx
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/boundingBox.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/boundingBox.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/debugOverlays.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/guides.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/guides.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/segments.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/segments.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/snapIndicators.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/snapIndicators.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/textRun.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/textRun.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/types.ts
  apps/desktop/src/renderer/src/lib/graphics/backends/Canvas2DRenderer.ts
  apps/desktop/src/renderer/src/lib/styles/canvas/index.ts
  apps/desktop/src/renderer/src/lib/styles/canvas/resolveDrawStyle.test.ts
  apps/desktop/src/renderer/src/lib/styles/canvas/resolveDrawStyle.ts
  apps/desktop/src/renderer/src/lib/styles/style.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolRenderContributor.ts
  apps/desktop/src/renderer/src/lib/tools/select/BoundingBoxRenderContributors.ts
  apps/desktop/src/renderer/src/lib/tools/text/TextRunRenderContributor.ts
  apps/desktop/src/renderer/src/types/graphics.ts
  apps/desktop/src/renderer/src/views/Home.tsx
  apps/desktop/src/shared/ipc/channels.ts
  apps/desktop/src/shared/ipc/electronAPI.ts
  packages/ui/src/components/collapsible/Collapsible.tsx
  packages/ui/src/components/collapsible/index.ts
  packages/ui/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

side bearings, recent files component, geo boundary improvements
  .claude/skills/geometry-boundaries/SKILL.md
  Claude.md
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/components/sidebar/EditableSidebarInput.tsx
  apps/desktop/src/renderer/src/components/sidebar/GlyphSection.tsx
  apps/desktop/src/renderer/src/engine/editing.ts
  apps/desktop/src/renderer/src/engine/mock.ts
  apps/desktop/src/renderer/src/lib/commands/index.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/SidebearingCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/SidebearingCommands.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/index.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/glyph.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/render.ts
  apps/desktop/src/renderer/src/lib/editor/sidebearings.test.ts
  apps/desktop/src/renderer/src/lib/editor/sidebearings.ts
  apps/desktop/src/renderer/src/persistence/kernel.ts
  apps/desktop/src/renderer/src/testing/engine.ts
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/renderer/src/views/RecentFiles.tsx
  apps/desktop/src/shared/bridge/FontEngineAPI.ts
  apps/desktop/src/shared/ipc/electronAPI.ts
  crates/shift-core/src/edit_session.rs
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
  packages/font/src/GlyphGeometry.test.ts
  packages/font/src/GlyphGeometry.ts
  packages/font/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

ui for glyph finder
  apps/desktop/src/renderer/src/components/GlyphFinder.tsx
  packages/ui/package.json
  packages/ui/src/components/dialog/Dialog.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

improve smart edit apis, clean up rule package boundaries, make contour package more generic
  .gitignore
  apps/desktop/src/renderer/src/components/sidebar/AnchorSection.tsx
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/engine/editing.ts
  apps/desktop/src/renderer/src/engine/mock.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/render.ts
  apps/desktop/src/renderer/src/lib/tools/core/EditorAPI.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/actions.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ResizeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/RotateBehavior.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/types/positionUpdate.ts
  apps/desktop/src/shared/bridge/FontEngineAPI.ts
  apps/desktop/vite.renderer.config.ts
  crates/shift-core/docs/composite-anchors-and-dependency-graph.md
  packages/font/src/Contour.ts
  packages/font/src/GlyphGeometry.test.ts
  packages/font/src/GlyphGeometry.ts
  packages/font/src/index.ts
  packages/rules/package.json
  packages/rules/src/actions.ts
  packages/rules/src/index.ts
  packages/rules/src/matcher.ts
  packages/rules/src/rules.test.ts
  packages/rules/src/rules.ts
  packages/rules/src/types.ts
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

fix how we name glyphs internally (nice names) fixes odd ufo glyf names and round geometry
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/engine/mock.ts
  apps/desktop/src/renderer/src/engine/session.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/managers/GlyphNamingService.ts
  apps/desktop/src/renderer/src/lib/editor/managers/index.ts
  apps/desktop/src/renderer/src/lib/utils/unicode.test.ts
  apps/desktop/src/renderer/src/lib/utils/unicode.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/shared/bridge/FontEngineAPI.ts
  crates/shift-backends/src/ufo/mod.rs
  crates/shift-backends/src/ufo/writer.rs
  crates/shift-core/tests/round_trip.rs
  crates/shift-node/__test__/font_integration.spec.mjs
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

add .glyphs read support
  Cargo.lock
  apps/desktop/src/main/managers/AppLifecycle.ts
  apps/desktop/src/main/managers/MenuManager.ts
  apps/desktop/src/main/managers/openFontPath.test.ts
  apps/desktop/src/main/managers/openFontPath.ts
  crates/shift-backends/Cargo.toml
  crates/shift-backends/src/glyphs/mod.rs
  crates/shift-backends/src/glyphs/reader.rs
  crates/shift-backends/src/lib.rs
  crates/shift-core/src/font_loader.rs
  crates/shift-core/tests/font_loading.rs
  fixtures/fonts/Homenaje.glyphs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

prune recent files if they don't exist
  apps/desktop/src/main/managers/AppLifecycle.ts
  apps/desktop/src/main/managers/MenuManager.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/persistence/kernel.ts
  apps/desktop/src/renderer/src/store/store.ts
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/renderer/src/views/RecentFiles.tsx
  apps/desktop/src/shared/ipc/channels.ts
  apps/desktop/src/shared/ipc/electronAPI.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

try fix ci
  .github/workflows/ci.yml
  .github/workflows/deadcode.yml
Due: none

more ci fixes
  .github/workflows/ci.yml
  .github/workflows/deadcode.yml
  apps/desktop/package.json
  apps/desktop/src/renderer/src/engine/editing.ts
  package.json
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

add more mature ci
  .github/workflows/ci.yml
  .github/workflows/deadcode.yml
  .github/workflows/pr-clean-caches.yml
  ROADMAP.md
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.test.ts
  package.json
Due: prettier, oxlint, tsgo-typecheck, vitest

more fixes to ci
  .prettierignore
  crates/shift-core/src/binary.rs
  turbo.json
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

clippy ci fixes
  .github/workflows/ci.yml
  .github/workflows/perf.yml
  crates/shift-ir/src/point.rs
  rust-toolchain.toml
Due: cargo-fmt, cargo-clippy, cargo-test

ci fixes
  .prettierignore
  apps/desktop/src/renderer/src/engine/editing.ts
  apps/desktop/src/renderer/src/lib/tools/select/BoundingBoxRenderContributors.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/TranslateBehavior.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Update README.md
  README.md
Due: prettier

Refactor editor preview and rendering cache paths
  apps/desktop/src/renderer/src/lib/cache/GlyphRenderCache.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/gpu/handleInstances.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/render.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/visibleSceneBounds.ts
  apps/desktop/src/renderer/src/lib/tools/core/EditorAPI.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ResizeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/RotateBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/types.ts
  apps/desktop/src/renderer/src/testing/services.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Extract sidebar view model from editor state
  apps/desktop/src/renderer/src/components/sidebar-right/GlyphSection.tsx
  apps/desktop/src/renderer/src/components/sidebar-right/ScaleSection.tsx
  apps/desktop/src/renderer/src/components/sidebar-right/TransformSection.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/SidebarViewModel.test.ts
  apps/desktop/src/renderer/src/lib/editor/SidebarViewModel.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Extract drag constraint and native move adapters
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/PointDragConstraintSession.ts
  apps/desktop/src/renderer/src/lib/editor/PreparedNodeMoveSession.test.ts
  apps/desktop/src/renderer/src/lib/editor/PreparedNodeMoveSession.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Rename prepared node translation APIs
  apps/desktop/src/renderer/src/engine/editing.ts
  apps/desktop/src/renderer/src/engine/mock.ts
  apps/desktop/src/renderer/src/lib/editor/PreparedNodeMoveSession.test.ts
  apps/desktop/src/renderer/src/lib/editor/PreparedNodeMoveSession.ts
  apps/desktop/src/shared/bridge/FontEngineAPI.ts
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Generalize prepared node transform drag commits
  apps/desktop/src/renderer/src/engine/editing.ts
  apps/desktop/src/renderer/src/engine/mock.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/PointDragConstraintSession.ts
  apps/desktop/src/renderer/src/lib/editor/PreparedNodeMoveSession.test.ts
  apps/desktop/src/renderer/src/lib/editor/PreparedNodeMoveSession.ts
  apps/desktop/src/renderer/src/lib/editor/PreparedNodeTransformSession.test.ts
  apps/desktop/src/renderer/src/lib/editor/PreparedNodeTransformSession.ts
  apps/desktop/src/renderer/src/lib/editor/affineTransform.ts
  apps/desktop/src/renderer/src/lib/tools/core/EditorAPI.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ResizeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/RotateBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/types.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/shared/bridge/FontEngineAPI.ts
  crates/shift-core/src/edit_session.rs
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
  packages/rules/src/actions.ts
  packages/rules/src/rules.test.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Refine editor parity and rendering test scaffolding
  apps/desktop/src/renderer/src/lib/commands/index.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/index.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/testing/services-internal/factories.ts
  apps/desktop/src/renderer/src/testing/services-internal/types.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/testing/setup.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Stabilize editor contracts and capture refactor findings
  REFACTOR_FINDINGS.md
  apps/desktop/src/renderer/src/components/sidebar-right/Sidebar.tsx
  apps/desktop/src/renderer/src/lib/editor/affineTransform.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/gpu/handleInstances.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/handles.ts
  apps/desktop/src/renderer/src/lib/tools/core/EditorAPI.ts
  apps/desktop/src/renderer/src/testing/services-internal/factories.ts
  apps/desktop/src/renderer/src/testing/services-internal/types.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/types/textContext.ts
  log.md
Due: prettier, oxlint, tsgo-typecheck, vitest

Add Rust/TypeScript boundary architecture doc
  docs/architecture/rust-ts-boundary.md
Due: prettier

Add code smell audit with prioritized findings
  docs/architecture/code-smells.md
Due: prettier

Add dead code and unused dependency findings to smell audit
  docs/architecture/code-smells.md
Due: prettier

wip
  .features/SMALL.md
  .summary/drag-session-refactor-summary-2026-02-20.md
  .summary/hit-testing-api-review-summary.md
  .vscode/settings.json
  apps/desktop/src/renderer/src/components/StaticScene.tsx
  apps/desktop/src/renderer/src/components/debug/DebugPanel.tsx
  apps/desktop/src/renderer/src/components/sidebar-right/GlyphSection.tsx
  apps/desktop/src/renderer/src/components/sidebar-right/ScaleSection.tsx
  apps/desktop/src/renderer/src/components/sidebar-right/TransformSection.tsx
  apps/desktop/src/renderer/src/context/CanvasContext.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/PointDragConstraintSession.ts
  apps/desktop/src/renderer/src/lib/editor/PreparedNodeTransformSession.test.ts
  apps/desktop/src/renderer/src/lib/editor/PreparedNodeTransformSession.ts
  apps/desktop/src/renderer/src/lib/editor/affineTransform.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/gpu/handleInstances.ts
  apps/desktop/src/renderer/src/lib/tools/core/EditorAPI.ts
  apps/desktop/src/renderer/src/lib/tools/core/index.ts
  apps/desktop/src/renderer/src/lib/tools/pen/operations.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/BendCurveBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ResizeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/RotateBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/TranslateBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/types.ts
  apps/desktop/src/renderer/src/lib/tools/select/utils.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/testing/setup.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
