Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

Save cache redesign plan — computed projection pattern
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/engine/draft.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/lib/graphics/backends/Canvas2DRenderer.ts
  apps/desktop/src/renderer/src/types/graphics.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add no-raw-point-type-check and no-nested-ternary-map oxlint rules
  apps/desktop/.oxlintrc.json
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ToggleSmoothBehavior.ts
  scripts/oxlint/shift-plugin.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

Delete GlyphDataStore and LRUCache — query NAPI directly
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/components/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/GlyphPreview.tsx
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/hooks/useGlyphCatalog.ts
  apps/desktop/src/renderer/src/lib/cache/LRUCache.test.ts
  apps/desktop/src/renderer/src/lib/cache/LRUCache.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/store/GlyphDataStore.test.ts
  apps/desktop/src/renderer/src/store/GlyphDataStore.ts
  apps/desktop/src/renderer/src/views/Landing.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

Delete FontManager — FontEngine implements Font interface directly
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/managers/FontManager.ts
  apps/desktop/src/renderer/src/lib/editor/managers/index.ts
  apps/desktop/src/renderer/src/lib/tools/docs/RFC_TOOL_SYSTEM_REFACTOR.md
  apps/desktop/src/renderer/src/lib/tools/docs/TESTING.md
Due: prettier, oxlint, tsgo-typecheck, vitest

Make getNative() private, GlyphPreview takes Font interface
  apps/desktop/src/renderer/src/components/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/GlyphPreview.tsx
  apps/desktop/src/renderer/src/engine/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Delete 6 dead Rust NAPI methods
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Add pre-commit hook for dead NAPI methods
  .pre-commit-config.yaml
  scripts/check-napi-dead-methods.sh
Due: none

Split GPU handle rendering into focused files with .glsl.ts shaders
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/gpu/classifyHandles.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/gpu/color.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/gpu/handleInstances.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/gpu/handleStyles.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/gpu/shaders/handle.frag.glsl.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/gpu/shaders/handle.vert.glsl.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/gpu/shaders/sdf.glsl.ts
  apps/desktop/src/renderer/src/lib/graphics/backends/ReglHandleContext.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Remove ToolRenderContributor system — inline into CanvasCoordinator
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManifest.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolRenderContributor.ts
  apps/desktop/src/renderer/src/lib/tools/core/index.ts
  apps/desktop/src/renderer/src/lib/tools/select/BoundingBoxRenderContributors.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/BoundingBoxRenderContributors.ts
  apps/desktop/src/renderer/src/lib/tools/text/TextRunRenderContributor.ts
  apps/desktop/src/renderer/src/lib/tools/tools.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Delete dead handleInstances.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/gpu/handleInstances.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Delete all CONTEXT.md files, block getNative imports from app code
  apps/desktop/.oxlintrc.json
  apps/desktop/src/main/docs/CONTEXT.md
  apps/desktop/src/preload/docs/CONTEXT.md
  apps/desktop/src/renderer/src/engine/docs/CONTEXT.md
  apps/desktop/src/renderer/src/lib/commands/docs/CONTEXT.md
  apps/desktop/src/renderer/src/lib/editor/docs/CONTEXT.md
  apps/desktop/src/renderer/src/lib/graphics/docs/CONTEXT.md
  apps/desktop/src/renderer/src/lib/reactive/docs/CONTEXT.md
  apps/desktop/src/renderer/src/lib/tools/docs/CONTEXT.md
  apps/desktop/src/renderer/src/lib/transform/docs/CONTEXT.md
  crates/shift-backends/docs/CONTEXT.md
  crates/shift-core/docs/CONTEXT.md
  crates/shift-ir/docs/CONTEXT.md
  crates/shift-node/docs/CONTEXT.md
Due: prettier

Add architectural constraints to CLAUDE.md
  Claude.md
Due: prettier

Clean up pen tool — remove ContourContext, complete handle creation
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/DragHandlesBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/PenDownBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/pen/index.ts
  apps/desktop/src/renderer/src/lib/tools/pen/types.ts
  docs/architecture/code-smells.md
  docs/architecture/rust-ts-boundary.md
  docs/testing/README.md
Due: prettier, oxlint, tsgo-typecheck, vitest

Remove dead architecture doc references from CLAUDE.md
  Claude.md
Due: prettier

Fix pen drag: defer point creation until drag exceeds threshold
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/DragHandlesBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/PenDownBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/pen/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Pen tool: use editor methods instead of raw commands
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/DragHandlesBehaviour.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix lint, format, and restore saveFont/getGlyphCount for native tests
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/SetNodePositionsCommand.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/gpu/classifyHandles.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/gpu/color.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/gpu/handleStyles.ts
  apps/desktop/src/renderer/src/lib/graphics/backends/ReglHandleContext.ts
  apps/desktop/src/renderer/src/lib/tools/core/EditorAPI.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/DragHandlesBehaviour.ts
  apps/desktop/src/renderer/src/testing/index.ts
  apps/desktop/src/renderer/src/testing/setup.ts
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Fix NAPI dead method check to include native test files
  scripts/check-napi-dead-methods.sh
Due: none

Delete SidebarViewModel, remove coordinate overloads
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/components/sidebar-right/GlyphSection.tsx
  apps/desktop/src/renderer/src/components/sidebar-right/ScaleSection.tsx
  apps/desktop/src/renderer/src/components/sidebar-right/TransformSection.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/SidebarViewModel.test.ts
  apps/desktop/src/renderer/src/lib/editor/SidebarViewModel.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/gpu/handleStyles.ts
  apps/desktop/src/renderer/src/lib/editor/sidebearings.ts
  apps/desktop/src/renderer/src/lib/styles/canvas/handles.ts
  apps/desktop/src/renderer/src/lib/tools/core/EditorAPI.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

CLAUDE.md: explicit early return rule for React components
  Claude.md
Due: prettier

Add no-repeated-optional-chain lint rule for React components
  apps/desktop/.oxlintrc.json
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  scripts/oxlint/shift-plugin.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

Delete CanvasCoordinator mock factory test
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Delete render.test.ts — mock factory test asserting on draw calls
  apps/desktop/src/renderer/src/lib/editor/rendering/render.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Delete all mock renderer tests (-1,912 lines), ban the pattern
  Claude.md
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/boundingBox.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/glyph.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/guides.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/handles.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/segments.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/textRun.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/svgPath.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/DrawAPI.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Delete snapIndicators mock renderer test
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/snapIndicators.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

remove useless skills
  .claude/skills/add-manager/SKILL.md
  .claude/skills/geometry-boundaries/SKILL.md
Due: prettier

Fix all CI checks — delete dead code, tag interface-mediated members
  apps/desktop/src/renderer/src/components/sidebar-right/AnchorSection.tsx
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/engine/native.ts
  apps/desktop/src/renderer/src/lib/editor/managers/TextRunManager.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/gpu/handleStyles.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/render.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/svgPath.ts
  apps/desktop/src/renderer/src/lib/tools/core/BaseTool.ts
  apps/desktop/src/renderer/src/lib/tools/core/DrawAPI.ts
  apps/desktop/src/renderer/src/lib/tools/text/index.ts
  apps/desktop/src/renderer/src/testing/coordinates.ts
  apps/desktop/src/renderer/src/testing/engine.ts
  apps/desktop/src/renderer/src/testing/index.ts
  knip.class.json
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix exactOptionalPropertyTypes CI errors
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

CI: add native module build before unit tests, fix cargo fmt
  .github/workflows/ci.yml
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test

CI: use tsgo (pnpm typecheck) instead of tsc for typecheck
  .github/workflows/ci.yml
  package.json
Due: prettier

Fix Rust test references to deleted methods, run formatters
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/engine/native.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/render.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Add cargo check --tests to pre-commit for Rust changes
  .pre-commit-config.yaml
Due: none

CI: exclude shift-node from cargo test --workspace
  .github/workflows/ci.yml
Due: none

Tag interface-mediated FontEngine methods for knip
  apps/desktop/src/renderer/src/engine/FontEngine.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

CI: add Rust cache to typecheck and unit-test jobs
  .github/workflows/ci.yml
Due: none

Add variable font support: axes, sources, interpolation, and preview slider
  ROADMAP.md
  apps/desktop/src/renderer/src/components/GlyphSidebar.tsx
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.test.ts
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
  crates/shift-core/src/lib.rs
  crates/shift-ir/src/axis.rs
  crates/shift-ir/src/source.rs
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
  packages/types/src/font.ts
  packages/types/src/generated/Axis.ts
  packages/types/src/generated/Location.ts
  packages/types/src/generated/Source.ts
  packages/types/src/generated/index.ts
  packages/types/src/index.ts
  scripts/oxlint/shift-plugin.mjs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Add MutatorSansVariable.glyphs fixture and variable font tests
  crates/shift-core/tests/font_loading.rs
  crates/shift-node/__test__/font_integration.spec.mjs
  fixtures/fonts/MutatorSansVariable.glyphs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, vitest

Add .designspace file loading support
  .pre-commit-config.yaml
  ROADMAP.md
  apps/desktop/src/main/managers/AppLifecycle.ts
  apps/desktop/src/main/managers/MenuManager.ts
  apps/desktop/src/main/managers/openFontPath.ts
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  crates/shift-backends/src/designspace/mod.rs
  crates/shift-backends/src/designspace/reader.rs
  crates/shift-backends/src/lib.rs
  crates/shift-core/src/font_loader.rs
  crates/shift-core/tests/font_loading.rs
  crates/shift-node/__test__/font_integration.spec.mjs
  fixtures/fonts/mutatorsans-variable/MutatorSans-Bold.ufo/fontinfo.plist
  fixtures/fonts/mutatorsans-variable/MutatorSans-Bold.ufo/glyphs/A_.glif
  fixtures/fonts/mutatorsans-variable/MutatorSans-Bold.ufo/glyphs/contents.plist
  fixtures/fonts/mutatorsans-variable/MutatorSans-Bold.ufo/glyphs/space.glif
  fixtures/fonts/mutatorsans-variable/MutatorSans-Bold.ufo/layercontents.plist
  fixtures/fonts/mutatorsans-variable/MutatorSans-Bold.ufo/metainfo.plist
  fixtures/fonts/mutatorsans-variable/MutatorSans-Light.ufo/fontinfo.plist
  fixtures/fonts/mutatorsans-variable/MutatorSans-Light.ufo/glyphs/A_.glif
  fixtures/fonts/mutatorsans-variable/MutatorSans-Light.ufo/glyphs/contents.plist
  fixtures/fonts/mutatorsans-variable/MutatorSans-Light.ufo/glyphs/space.glif
  fixtures/fonts/mutatorsans-variable/MutatorSans-Light.ufo/layercontents.plist
  fixtures/fonts/mutatorsans-variable/MutatorSans-Light.ufo/metainfo.plist
  fixtures/fonts/mutatorsans-variable/MutatorSans.designspace
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
