Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

.pre-commit-config.yaml:

repos:
  # Standard file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]

      - id: oxlint
        name: oxlint
        entry: pnpm lint:check
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

      - id: tsgo-typecheck
        name: tsgo typecheck
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

      - id: vitest
        name: vitest
        entry: pnpm test
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

refactor(editor): commit glyph transforms as one layer transform intent
  packages/editor/src/lib/model/GlyphTransformEdit.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): let node definitions answer marquee and glyph transforms
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
  packages/editor/src/lib/nodes/GlyphsTransform.ts
  packages/editor/src/lib/nodes/NodeDefinition.ts
  packages/editor/src/lib/nodes/TextRunNodeDefinition.ts
  packages/editor/src/lib/text/docs/DOCS.md
  packages/editor/src/lib/tools/docs/DOCS.md
  packages/editor/src/lib/tools/select/behaviors/Marquee.ts
  packages/editor/src/lib/tools/select/behaviors/Translate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): name the marquee query for what it selects
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
  packages/editor/src/lib/nodes/NodeDefinition.ts
  packages/editor/src/lib/nodes/TextRunNodeDefinition.ts
  packages/editor/src/lib/text/docs/DOCS.md
  packages/editor/src/lib/tools/docs/DOCS.md
  packages/editor/src/lib/tools/select/behaviors/Marquee.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

chore(sdk): refresh the API report for run glyph transforms
  packages/sdk/api/index.api.md
Due: prettier

perf: rebuild only edited contours in the Objects panel tree
  apps/desktop/src/renderer/src/components/editor/ObjectsPanel.tsx
  apps/desktop/src/renderer/src/components/editor/object-tree/createObjectTree.test.ts
  apps/desktop/src/renderer/src/components/editor/object-tree/createObjectTree.ts
  apps/desktop/src/renderer/src/components/editor/object-tree/flattenVisibleObjectRows.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(cli): install each build's command-line tool under its own name
  .claude/skills/shift/references/cli.md
  .claude/skills/shift/references/mcp.md
  .codex/skills/shift/references/cli.md
  .codex/skills/shift/references/mcp.md
  apps/desktop/electron-builder.config.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/cli/CommandLineTool.test.ts
  apps/desktop/src/main/cli/CommandLineTool.ts
  apps/desktop/src/main/docs/DOCS.md
  crates/shift-cli/README.md
  packages/mcp/src/guide.ts
  packages/mcp/src/server.test.ts
  packages/mcp/src/server.ts
  skills/shift/references/cli.md
  skills/shift/references/mcp.md
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(kerning): reference kerning groups by id
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/formats/ufo/kerning.rs
  crates/shift-backends/src/formats/ufo/mod.rs
  crates/shift-backends/src/kerning_import.rs
  crates/shift-backends/src/shift2fontir/kerning.rs
  crates/shift-backends/src/shift2fontir/tests.rs
  crates/shift-font/src/error.rs
  crates/shift-font/src/ir/entity.rs
  crates/shift-font/src/ir/kerning.rs
  crates/shift-font/src/ir/mod.rs
  crates/shift-font/src/test_support.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/font_state.rs
  crates/shift-store/src/schema.rs
  crates/shift-store/tests/migration_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

build(ui): upgrade Base UI to @base-ui/react 1.8
  .agents/skills/ui/SKILL.md
  .claude/skills/ui/SKILL.md
  .codex/skills/ui/SKILL.md
  AGENTS.md
  packages/sdk/README.md
  packages/sdk/e2e/fixtures/next/package.json
  packages/sdk/e2e/fixtures/vite/package.json
  packages/sdk/package.json
  packages/sdk/tsdown.config.ts
  packages/sdk/tsdown.dts.config.ts
  packages/ui/docs/DOCS.md
  packages/ui/package.json
  packages/ui/src/components/button/Button.tsx
  packages/ui/src/components/checkbox/Checkbox.tsx
  packages/ui/src/components/collapsible/Collapsible.tsx
  packages/ui/src/components/context-menu/ContextMenu.tsx
  packages/ui/src/components/dialog/Dialog.tsx
  packages/ui/src/components/field/Field.tsx
  packages/ui/src/components/input/Input.tsx
  packages/ui/src/components/menu/Menu.tsx
  packages/ui/src/components/menubar/Menubar.tsx
  packages/ui/src/components/number-field/NumberField.tsx
  packages/ui/src/components/popover/Popover.tsx
  packages/ui/src/components/progress/Progress.tsx
  packages/ui/src/components/radio/Radio.tsx
  packages/ui/src/components/select/Select.tsx
  packages/ui/src/components/separator/Separator.tsx
  packages/ui/src/components/slider/Slider.tsx
  packages/ui/src/components/switch/Switch.tsx
  packages/ui/src/components/tabs/Tabs.tsx
  packages/ui/src/components/textarea/Textarea.tsx
  packages/ui/src/components/toast/Toast.tsx
  packages/ui/src/components/toggle-group/ToggleGroup.tsx
  packages/ui/src/components/toolbar/Toolbar.tsx
  packages/ui/src/components/tooltip/Tooltip.tsx
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): browse Add Component results with the arrow keys
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/src/renderer/src/components/editor/ComponentPickerDialog.tsx
  packages/ui/docs/DOCS.md
  packages/ui/src/components/autocomplete/Autocomplete.tsx
  packages/ui/src/components/autocomplete/index.ts
  packages/ui/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): build sidebar number inputs on Base UI NumberField
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/src/renderer/src/components/editor/sidebar-right/AnchorSection.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/EditableSidebarInput.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/HandleSection.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/ScaleSection.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/SidebarNumberField.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/TransformSection.tsx
  packages/ui/src/components/number-field/NumberField.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(ui): pass refs as props instead of forwardRef
  .agents/skills/ui/SKILL.md
  .claude/skills/ui/SKILL.md
  .codex/skills/ui/SKILL.md
  AGENTS.md
  packages/ui/docs/DOCS.md
  packages/ui/src/components/autocomplete/Autocomplete.tsx
  packages/ui/src/components/button/Button.tsx
  packages/ui/src/components/checkbox/Checkbox.tsx
  packages/ui/src/components/collapsible/Collapsible.tsx
  packages/ui/src/components/context-menu/ContextMenu.tsx
  packages/ui/src/components/dialog/Dialog.tsx
  packages/ui/src/components/field/Field.tsx
  packages/ui/src/components/input/Input.tsx
  packages/ui/src/components/menu/Menu.tsx
  packages/ui/src/components/menubar/Menubar.tsx
  packages/ui/src/components/number-field/NumberField.tsx
  packages/ui/src/components/popover/Popover.tsx
  packages/ui/src/components/progress/Progress.tsx
  packages/ui/src/components/radio/Radio.tsx
  packages/ui/src/components/select/Select.tsx
  packages/ui/src/components/separator/Separator.tsx
  packages/ui/src/components/slider/Slider.tsx
  packages/ui/src/components/switch/Switch.tsx
  packages/ui/src/components/tabs/Tabs.tsx
  packages/ui/src/components/textarea/Textarea.tsx
  packages/ui/src/components/toggle-group/ToggleGroup.tsx
  packages/ui/src/components/toolbar/Toolbar.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(ui): name tooltips with a content prop
  apps/desktop/src/renderer/src/components/chrome/NavigationPane.tsx
  apps/desktop/src/renderer/src/components/chrome/Titlebar.tsx
  apps/desktop/src/renderer/src/components/chrome/WindowControls.tsx
  apps/desktop/src/renderer/src/components/chrome/ZoomToast.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/AgentsSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/AxesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/AxisMappingPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/AxisStylesPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/InstancesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SettingsDialog.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SourcesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/editor/ComponentPickerDialog.tsx
  apps/desktop/src/renderer/src/components/editor/object-tree/ObjectRow.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/IconButton.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/SidebarNumberField.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/TransformGrid.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/GlyphCatalogView.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/LanguagePicker.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/MissingGlyphsPopover.tsx
  apps/desktop/src/renderer/src/components/launcher/OpenFontButton.tsx
  apps/desktop/src/renderer/src/components/launcher/RecentFileItem.tsx
  apps/desktop/src/renderer/src/components/launcher/RecentFileMenu.tsx
  apps/desktop/src/renderer/src/components/launcher/RecentFiles.tsx
  apps/desktop/src/renderer/src/components/variation/AxesPanel.tsx
  apps/desktop/src/renderer/src/components/variation/AxesSection.tsx
  apps/desktop/src/renderer/src/components/variation/CreateAxisMenu.tsx
  apps/desktop/src/renderer/src/components/variation/CreateInstanceMenu.tsx
  apps/desktop/src/renderer/src/components/variation/CreateSourceMenu.tsx
  apps/desktop/src/renderer/src/components/variation/Instances.tsx
  apps/desktop/src/renderer/src/components/variation/InstancesSection.tsx
  apps/desktop/src/renderer/src/components/variation/OutlineVisibilityButton.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  apps/desktop/src/renderer/src/components/variation/SourcesSection.tsx
  packages/ui/docs/DOCS.md
  packages/ui/src/components/tooltip/Tooltip.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(text): kern proof text with the font's pair kerning
  apps/desktop/e2e/spacing.spec.ts
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.test.ts
  apps/desktop/src/renderer/src/lib/text/Kerning.test.ts
  apps/desktop/src/renderer/src/lib/tools/spacing/Spacing.test.ts
  apps/desktop/src/renderer/src/lib/workspace/FontSessionClient.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/dts-header.d.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/index.js
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/changes.rs
  crates/shift-font/src/interpolation.rs
  crates/shift-font/src/interpolation/kerning.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/lib.rs
  packages/editor/src/lib/model/Font.ts
  packages/editor/src/lib/model/FontStore.ts
  packages/editor/src/lib/model/Kerning.ts
  packages/editor/src/lib/model/docs/DOCS.md
  packages/editor/src/lib/nodes/TextRunNodeDefinition.ts
  packages/editor/src/lib/text/docs/DOCS.md
  packages/editor/src/lib/text/layout/Caret.ts
  packages/editor/src/lib/text/layout/Positioner.ts
  packages/editor/src/lib/text/layout/TextLayout.ts
  packages/editor/src/lib/text/layout/types.ts
  packages/editor/src/lib/tools/spacing/RunSpacing.ts
  packages/editor/src/lib/tools/spacing/SpacingGapOverlay.ts
  packages/editor/src/lib/tools/spacing/SpacingLabel.ts
  packages/editor/src/testing/MemoryEditor.test.ts
  packages/editor/src/types/spacing.ts
  packages/sdk/api/index.api.md
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/ids.ts
  packages/types/src/index.ts
  packages/types/src/workspace.ts
  scripts/generate-bridge-types.mjs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): name the kerning model's index types
  packages/editor/src/lib/model/Kerning.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(text): kern proof text with the font's pair kerning (#549)
  apps/desktop/e2e/spacing.spec.ts
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.test.ts
  apps/desktop/src/renderer/src/lib/text/Kerning.test.ts
  apps/desktop/src/renderer/src/lib/tools/spacing/Spacing.test.ts
  apps/desktop/src/renderer/src/lib/workspace/FontSessionClient.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/dts-header.d.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/index.js
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/changes.rs
  crates/shift-font/src/interpolation.rs
  crates/shift-font/src/interpolation/kerning.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/lib.rs
  packages/editor/src/lib/model/Font.ts
  packages/editor/src/lib/model/FontStore.ts
  packages/editor/src/lib/model/Kerning.ts
  packages/editor/src/lib/model/docs/DOCS.md
  packages/editor/src/lib/nodes/TextRunNodeDefinition.ts
  packages/editor/src/lib/text/docs/DOCS.md
  packages/editor/src/lib/text/layout/Caret.ts
  packages/editor/src/lib/text/layout/Positioner.ts
  packages/editor/src/lib/text/layout/TextLayout.ts
  packages/editor/src/lib/text/layout/types.ts
  packages/editor/src/lib/tools/spacing/RunSpacing.ts
  packages/editor/src/lib/tools/spacing/SpacingGapOverlay.ts
  packages/editor/src/lib/tools/spacing/SpacingLabel.ts
  packages/editor/src/testing/MemoryEditor.test.ts
  packages/editor/src/types/spacing.ts
  packages/sdk/api/index.api.md
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/ids.ts
  packages/types/src/index.ts
  packages/types/src/workspace.ts
  scripts/generate-bridge-types.mjs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): show unconfirmed kerning through a pending state
  apps/desktop/src/renderer/src/lib/model/KerningEdits.test.ts
  packages/editor/src/lib/model/Font.ts
  packages/editor/src/lib/model/FontStore.ts
  packages/editor/src/lib/model/KerningEdit.ts
  packages/editor/src/lib/model/PendingState.ts
  packages/editor/src/lib/model/docs/DOCS.md
  packages/editor/src/lib/tools/docs/DOCS.md
  packages/editor/src/lib/tools/kerning/Kerning.ts
  packages/editor/src/lib/tools/kerning/RunKerning.ts
  packages/editor/src/lib/tools/kerning/behaviors.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): stop re-rendering kerning UI on every pointer move
  apps/desktop/src/renderer/src/components/editor/RightSidebar.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/KerningPairSection.tsx
  apps/desktop/src/renderer/src/components/kerning/KerningValuePopover.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: load Electron before parallel snapshot updates
  .github/workflows/update-visual-snapshots.yml
Due: none

ci: load Electron before parallel snapshot updates (#575)
  .github/workflows/update-visual-snapshots.yml
Due: none

feat(agents): bundle shift-cli and install it from the app menu (#550)
  .claude/skills/shift/references/cli.md
  .claude/skills/shift/references/mcp.md
  .codex/skills/shift/references/cli.md
  .codex/skills/shift/references/mcp.md
  .github/workflows/installed-app-screenshots.yml
  .github/workflows/nightly.yml
  .github/workflows/release-desktop.yml
  apps/desktop/electron-builder.config.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/cli/CommandLineTool.test.ts
  apps/desktop/src/main/cli/CommandLineTool.ts
  apps/desktop/src/main/commands/Command.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/main/menu/menuItems.test.ts
  apps/desktop/src/main/menu/menuItems.ts
  apps/desktop/src/shared/commands.ts
  crates/shift-cli/README.md
  package.json
  packages/mcp/src/guide.ts
  packages/mcp/src/server.test.ts
  packages/mcp/src/server.ts
  skills/shift/references/cli.md
  skills/shift/references/mcp.md
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(cli): install the Shift agent skill with shift-cli
  .claude/skills/shift/references/cli.md
  .codex/skills/shift/references/cli.md
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/cli/CommandLineTool.ts
  apps/desktop/src/main/docs/DOCS.md
  crates/shift-cli/Cargo.toml
  crates/shift-cli/README.md
  crates/shift-cli/build.rs
  crates/shift-cli/src/cli.rs
  crates/shift-cli/src/cli/skill.rs
  crates/shift-cli/src/main.rs
  crates/shift-cli/src/skill.rs
  crates/shift-cli/tests/skill_cli.rs
  skills/shift/references/cli.md
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

refactor(desktop): split the kerning groups panel into focused parts
  apps/desktop/src/renderer/src/components/editor/sidebar-right/GlyphKerningSection.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/KerningPairSection.tsx
  apps/desktop/src/renderer/src/components/kerning/KerningGroupsPanel.tsx
  apps/desktop/src/renderer/src/components/kerning/groups/AddMembersPanel.tsx
  apps/desktop/src/renderer/src/components/kerning/groups/GlyphThumbnail.tsx
  apps/desktop/src/renderer/src/components/kerning/groups/GroupPreview.tsx
  apps/desktop/src/renderer/src/components/kerning/groups/GroupView.tsx
  apps/desktop/src/renderer/src/components/kerning/groups/GroupsSidePanel.tsx
  apps/desktop/src/renderer/src/components/kerning/groups/KerningGroupsPanel.tsx
  apps/desktop/src/renderer/src/components/kerning/groups/MemberSelection.test.ts
  apps/desktop/src/renderer/src/components/kerning/groups/MemberSelection.ts
  apps/desktop/src/renderer/src/components/kerning/groups/PreviewLayout.test.ts
  apps/desktop/src/renderer/src/components/kerning/groups/PreviewLayout.ts
  apps/desktop/src/renderer/src/components/kerning/groups/SidePanel.tsx
  apps/desktop/src/renderer/src/components/kerning/groups/drawGroupPreview.ts
  apps/desktop/src/renderer/src/components/kerning/groups/memberSuggestions.test.ts
  apps/desktop/src/renderer/src/components/kerning/groups/memberSuggestions.ts
  apps/desktop/src/renderer/src/components/kerning/groups/previewGlyphs.ts
  apps/desktop/src/renderer/src/components/kerning/groups/useMemberDrag.ts
  apps/desktop/src/renderer/src/components/kerning/memberSelection.test.ts
  apps/desktop/src/renderer/src/components/kerning/memberSelection.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(font): diff kerning groups through the kerning model
  crates/shift-font/src/intents.rs
  crates/shift-font/src/ir/kerning.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(desktop): place the Hand tool next to the Pen tool
  apps/desktop/src/renderer/src/lib/tools/tools.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): stop pen and shape editing at interpolated locations
  apps/desktop/src/renderer/src/lib/editor/Deletion.test.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/tools/pen/Pen.ts
  packages/editor/src/lib/tools/pen/PenStroke.ts
  packages/editor/src/lib/tools/shape/ShapeTool.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): keep the wider subsection gap to the Kerning section
  apps/desktop/src/renderer/src/components/editor/sidebar-right/KerningPairSection.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/SidebarSection.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(cli): read and edit kerning with shift-cli
  .claude/skills/shift/references/cli.md
  .codex/skills/shift/references/cli.md
  crates/shift-cli/README.md
  crates/shift-cli/src/authoring.rs
  crates/shift-cli/src/authoring/font_info.rs
  crates/shift-cli/src/authoring/glyph.rs
  crates/shift-cli/src/authoring/kerning.rs
  crates/shift-cli/src/authoring/report.rs
  crates/shift-cli/src/cli.rs
  crates/shift-cli/src/cli/kerning.rs
  crates/shift-cli/src/glyph_inspect.rs
  crates/shift-cli/src/glyph_inspect/report.rs
  crates/shift-cli/src/kerning.rs
  crates/shift-cli/src/kerning/report.rs
  crates/shift-cli/src/kerning/selector.rs
  crates/shift-cli/src/main.rs
  crates/shift-cli/tests/kerning_cli.rs
  crates/shift-font/src/interpolation/kerning.rs
  skills/shift/references/cli.md
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat(cli): summarize kerning per master in shift-cli inspect
  .claude/skills/shift/references/cli.md
  .codex/skills/shift/references/cli.md
  crates/shift-cli/README.md
  crates/shift-cli/src/inspect.rs
  crates/shift-cli/src/inspect/kerning.rs
  crates/shift-cli/src/inspect/render.rs
  crates/shift-cli/src/inspect/report.rs
  skills/shift/references/cli.md
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat(cli): install the Shift agent skill with shift-cli (#569)
  .claude/skills/shift/references/cli.md
  .codex/skills/shift/references/cli.md
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/cli/CommandLineTool.ts
  apps/desktop/src/main/docs/DOCS.md
  crates/shift-cli/Cargo.toml
  crates/shift-cli/README.md
  crates/shift-cli/build.rs
  crates/shift-cli/src/cli.rs
  crates/shift-cli/src/cli/skill.rs
  crates/shift-cli/src/main.rs
  crates/shift-cli/src/skill.rs
  crates/shift-cli/tests/skill_cli.rs
  skills/shift/references/cli.md
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

feat(cli): read and edit kerning with shift-cli (#580)
  .claude/skills/shift/references/cli.md
  .codex/skills/shift/references/cli.md
  crates/shift-cli/README.md
  crates/shift-cli/src/authoring.rs
  crates/shift-cli/src/authoring/font_info.rs
  crates/shift-cli/src/authoring/glyph.rs
  crates/shift-cli/src/authoring/kerning.rs
  crates/shift-cli/src/authoring/report.rs
  crates/shift-cli/src/cli.rs
  crates/shift-cli/src/cli/kerning.rs
  crates/shift-cli/src/glyph_inspect.rs
  crates/shift-cli/src/glyph_inspect/report.rs
  crates/shift-cli/src/inspect.rs
  crates/shift-cli/src/inspect/kerning.rs
  crates/shift-cli/src/inspect/render.rs
  crates/shift-cli/src/inspect/report.rs
  crates/shift-cli/src/kerning.rs
  crates/shift-cli/src/kerning/report.rs
  crates/shift-cli/src/kerning/selector.rs
  crates/shift-cli/src/main.rs
  crates/shift-cli/tests/kerning_cli.rs
  crates/shift-font/src/interpolation/kerning.rs
  skills/shift/references/cli.md
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

refactor(mcp): name glyph-against-group kerning an exception
  .claude/skills/shift/references/mcp.md
  .codex/skills/shift/references/mcp.md
  apps/desktop/e2e/live-agent.spec.ts
  apps/desktop/src/renderer/src/agent/ShiftKerningReader.test.ts
  apps/desktop/src/renderer/src/agent/ShiftKerningReader.ts
  packages/runtime/generated/code-api.d.ts
  packages/runtime/src/capabilities.ts
  packages/sandbox/src/execute.test.ts
  packages/sdk/api/index.api.md
  skills/shift/references/mcp.md
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(mcp): read kerning groups, pairs, and values over MCP
  .claude/skills/shift/references/mcp.md
  .codex/skills/shift/references/mcp.md
  apps/desktop/e2e/live-agent.spec.ts
  apps/desktop/src/main/agent/AgentClient.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/sandbox/SandboxRuntimeProcess.ts
  apps/desktop/src/renderer/src/agent/AgentBridge.ts
  apps/desktop/src/renderer/src/agent/ShiftKerningReader.test.ts
  apps/desktop/src/renderer/src/agent/ShiftKerningReader.ts
  apps/desktop/src/shared/agent/protocol.ts
  apps/desktop/src/shared/sandbox/protocol.ts
  apps/desktop/src/utility/sandbox.ts
  packages/editor/src/lib/model/Kerning.ts
  packages/mcp/docs/DOCS.md
  packages/mcp/src/server.test.ts
  packages/runtime/docs/DOCS.md
  packages/runtime/generated/code-api.d.ts
  packages/runtime/src/capabilities.ts
  packages/runtime/src/index.ts
  packages/runtime/src/inputs.ts
  packages/runtime/src/read.ts
  packages/sandbox/src/execute.test.ts
  packages/sandbox/src/execute.ts
  packages/sdk/api/index.api.md
  packages/sdk/src/index.ts
  skills/shift/references/mcp.md
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(mcp): read kerning groups, pairs, and values over MCP (#581)
  .claude/skills/shift/references/mcp.md
  .codex/skills/shift/references/mcp.md
  apps/desktop/e2e/live-agent.spec.ts
  apps/desktop/src/main/agent/AgentClient.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/sandbox/SandboxRuntimeProcess.ts
  apps/desktop/src/renderer/src/agent/AgentBridge.ts
  apps/desktop/src/renderer/src/agent/ShiftKerningReader.test.ts
  apps/desktop/src/renderer/src/agent/ShiftKerningReader.ts
  apps/desktop/src/shared/agent/protocol.ts
  apps/desktop/src/shared/sandbox/protocol.ts
  apps/desktop/src/utility/sandbox.ts
  packages/editor/src/lib/model/Kerning.ts
  packages/mcp/docs/DOCS.md
  packages/mcp/src/server.test.ts
  packages/runtime/docs/DOCS.md
  packages/runtime/generated/code-api.d.ts
  packages/runtime/src/capabilities.ts
  packages/runtime/src/index.ts
  packages/runtime/src/inputs.ts
  packages/runtime/src/read.ts
  packages/sandbox/src/execute.test.ts
  packages/sandbox/src/execute.ts
  packages/sdk/api/index.api.md
  packages/sdk/src/index.ts
  skills/shift/references/mcp.md
Due: prettier, oxlint, tsgo-typecheck, vitest

chore(deps): upgrade fontc and its crates to 1.0
  Cargo.lock
  crates/fontsrc/Cargo.toml
  crates/shift-backends/Cargo.toml
  crates/shift-backends/src/export.rs
  crates/shift-backends/src/shift2fontir/axes.rs
  crates/shift-backends/src/shift2fontir/glyph.rs
  crates/shift-backends/src/shift2fontir/kerning.rs
  crates/shift-backends/src/shift2fontir/metadata.rs
  crates/shift-backends/src/shift2fontir/source.rs
  crates/shift-backends/src/shift2fontir/tests.rs
  crates/shift-font/Cargo.toml
  packages/types/__fixtures__/axis_mapping_basis.json
Due: cargo-fmt, cargo-clippy, cargo-test, prettier
