Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

.pre-commit-config.yaml:

repos:
  # Standard file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]

      - id: oxlint
        name: oxlint
        entry: pnpm lint:check
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

      - id: tsgo-typecheck
        name: tsgo typecheck
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

      - id: vitest
        name: vitest
        entry: pnpm test
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

Add workspace font change sets
  Cargo.lock
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/changes.rs
  crates/shift-font/src/lib.rs
  crates/shift-store/Cargo.toml
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/error.rs
  crates/shift-store/src/glyph.rs
  crates/shift-store/src/layer.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/outline.rs
  crates/shift-store/src/schema.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(refactor): make bridge thinner, move mutation logic into workspace
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/lib.rs
  crates/shift-font/src/state.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/interpolation.rs
  crates/shift-wire/src/lib.rs
  crates/shift-wire/src/state.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(align): align data models more closely. Decouple source id from layer id, add docs
  README.md
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  crates/shift-backends/src/binary/reader.rs
  crates/shift-backends/src/designspace/mod.rs
  crates/shift-backends/src/designspace/reader.rs
  crates/shift-backends/src/designspace/writer.rs
  crates/shift-backends/src/export.rs
  crates/shift-backends/src/glyphs/reader.rs
  crates/shift-backends/src/traits.rs
  crates/shift-backends/src/ufo/mod.rs
  crates/shift-backends/src/ufo/reader.rs
  crates/shift-backends/src/ufo/writer.rs
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/README.md
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/composite.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/glyph.rs
  crates/shift-font/src/ir/source.rs
  crates/shift-font/src/layer_edit.rs
  crates/shift-font/src/lib.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/interpolation.rs
  crates/shift-wire/src/lib.rs
  crates/shift-wire/src/state.rs
  crates/shift-workspace/src/workspace.rs
  packages/types/src/bridge/generated.ts
  scripts/generate-bridge-types.mjs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Remove font layer registry
  crates/shift-backends/src/designspace/reader.rs
  crates/shift-backends/src/glyphs/reader.rs
  crates/shift-backends/src/traits.rs
  crates/shift-backends/src/ufo/reader.rs
  crates/shift-backends/tests/loading.rs
  crates/shift-backends/tests/round_trip/ufo.rs
  crates/shift-bridge/__test__/index.spec.mjs
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/layer.rs
  crates/shift-font/src/ir/mod.rs
  crates/shift-font/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, vitest

Add stable ID font index
  Cargo.lock
  crates/shift-backends/src/binary/reader.rs
  crates/shift-backends/src/designspace/error.rs
  crates/shift-backends/src/designspace/mod.rs
  crates/shift-backends/src/designspace/reader.rs
  crates/shift-backends/src/errors.rs
  crates/shift-backends/src/export.rs
  crates/shift-backends/src/glyphs/mod.rs
  crates/shift-backends/src/glyphs/reader.rs
  crates/shift-backends/src/traits.rs
  crates/shift-backends/src/ufo/mod.rs
  crates/shift-backends/src/ufo/reader.rs
  crates/shift-backends/tests/export.rs
  crates/shift-backends/tests/loading.rs
  crates/shift-backends/tests/round_trip/ufo.rs
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/Cargo.toml
  crates/shift-font/src/composite.rs
  crates/shift-font/src/error.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-store/src/change_set.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Refine workspace layer edit boundary
  apps/desktop/src/renderer/src/lib/model/Font.ts
  crates/shift-bridge/__test__/index.spec.mjs
  crates/shift-bridge/dts-header.d.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-bridge/src/input.rs
  crates/shift-font/src/changes.rs
  crates/shift-font/src/layer_edit.rs
  crates/shift-workspace/src/lib.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/ids.ts
  packages/types/src/index.ts
  scripts/generate-bridge-types.mjs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Make font changes target layers by id
  crates/shift-font/src/changes.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Use prefixed string font IDs
  Cargo.lock
  apps/desktop/src/renderer/src/lib/model/SourcePositionPatch.ts
  crates/shift-backends/src/binary/reader.rs
  crates/shift-backends/src/designspace/reader.rs
  crates/shift-backends/src/glyphs/reader.rs
  crates/shift-backends/src/ufo/reader.rs
  crates/shift-backends/src/ufo/writer.rs
  crates/shift-backends/tests/round_trip/ufo.rs
  crates/shift-bridge/__test__/index.spec.mjs
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/Cargo.toml
  crates/shift-font/src/composite.rs
  crates/shift-font/src/ir/anchor.rs
  crates/shift-font/src/ir/component.rs
  crates/shift-font/src/ir/contour.rs
  crates/shift-font/src/ir/entity.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/glyph.rs
  crates/shift-font/src/ir/guideline.rs
  crates/shift-font/src/ir/point.rs
  crates/shift-font/src/ir/source.rs
  crates/shift-font/src/layer_edit.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-wire/src/lib.rs
  crates/shift-wire/src/state.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Make bridge edits target layer ids
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphSourceState.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphSourceState.ts
  crates/shift-bridge/__test__/index.spec.mjs
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/lib.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Move edit result shaping into workspace
  crates/shift-bridge/src/bridge.rs
  crates/shift-workspace/src/lib.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Refactor native document lifecycle
  crates/shift-bridge/__test__/index.spec.mjs
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Add desktop logger boilerplate
  apps/desktop/package.json
  apps/desktop/src/main/logging/ElectronShiftLogger.ts
  apps/desktop/src/main/logging/index.ts
  apps/desktop/src/main/main.ts
  apps/desktop/src/shared/logging/ShiftLogger.ts
  apps/desktop/src/shared/logging/index.ts
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

random: add some more pen tests, small todos and cut bloat in test editor
  apps/desktop/src/main/font-service/FontServiceProcess.ts
  apps/desktop/src/main/managers/AppLifecycle.ts
  apps/desktop/src/shared/font-service/protocol.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(electron): remove manager bloat, and introduce better main/preload/renderer boundaries, small redesign of landing page, and other small cleanups
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/app/AppIcon.ts
  apps/desktop/src/main/commands/Command.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/document/WorkingDocument.ts
  apps/desktop/src/main/logger.ts
  apps/desktop/src/main/main.ts
  apps/desktop/src/main/managers/AppLifecycle.ts
  apps/desktop/src/main/managers/DocumentState.ts
  apps/desktop/src/main/managers/MenuManager.ts
  apps/desktop/src/main/managers/WindowManager.ts
  apps/desktop/src/main/managers/index.ts
  apps/desktop/src/main/managers/openFontPath.test.ts
  apps/desktop/src/main/managers/openFontPath.ts
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/main/utils.ts
  apps/desktop/src/main/windows/Window.ts
  apps/desktop/src/preload/docs/DOCS.md
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/components/chrome/Titlebar.tsx
  apps/desktop/src/renderer/src/host/shiftHost.ts
  apps/desktop/src/renderer/src/types/electron.d.ts
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/shared/commands.ts
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/channels.ts
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/src/shared/ipc/electronAPI.ts
  apps/desktop/src/shared/ipc/main.ts
  apps/desktop/src/shared/ipc/preload.ts
  apps/desktop/src/shared/ipc/renderer.ts
  apps/desktop/src/shared/ipc/types.ts
  apps/desktop/vite.renderer.config.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

wip
  apps/desktop/src/main/document/WorkingDocument.ts
  apps/desktop/src/renderer/src/store/store.ts
  apps/desktop/src/renderer/src/views/Landing.tsx
  crates/shift-bridge/src/bridge.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

feat: workspace.apply walking skeleton with replace-grade echoes
  apps/desktop/src/renderer/src/components/debug/SkeletonPanel.tsx
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  apps/desktop/src/renderer/src/views/Home.tsx
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

feat: pen intent vocabulary, undo ledger, and id-addressed wire
  apps/desktop/src/renderer/src/components/debug/SkeletonPanel.tsx
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/__test__/index.spec.mjs
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/error.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/layer_edit.rs
  crates/shift-font/src/lib.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/lib.rs
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/lib.rs
  crates/shift-workspace/src/workspace.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/ids.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

fix: retain drafts across workspace host restarts
  apps/desktop/src/utility/workspace/DocumentStorage.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: pen draws durable geometry through the workspace (CS3a)
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenStroke.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/DragHandlesBehaviour.ts
  apps/desktop/src/renderer/src/lib/workspace/ChangeWriter.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  apps/desktop/src/renderer/src/store/appStore.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/testing/workspaceStack.ts
  apps/desktop/vitest.config.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/layer_edit.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

feat: editor opens glyphs through the workspace (CS3b)
  apps/desktop/src/renderer/src/components/editor/EditorView.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: harden the working store (WAL, schema versioning, reopen tests)
  Cargo.lock
  Cargo.toml
  crates/shift-document/Cargo.toml
  crates/shift-document/README.md
  crates/shift-document/src/document.rs
  crates/shift-document/src/error.rs
  crates/shift-document/src/lib.rs
  crates/shift-document/src/new_document.rs
  crates/shift-document/tests/document_test.rs
  crates/shift-store/src/connection.rs
  crates/shift-store/src/error.rs
  crates/shift-store/src/schema.rs
  crates/shift-store/tests/store_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat: complete the editing intent vocabulary (CS4a)
  apps/desktop/src/renderer/src/components/debug/SkeletonPanel.tsx
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/intents.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

refactor: delete CommandHistory — the ledger is the one undo authority
  apps/desktop/src/renderer/src/lib/commands/core/Command.ts
  apps/desktop/src/renderer/src/lib/commands/core/CommandHistory.ts
  apps/desktop/src/renderer/src/lib/commands/core/CommandRunner.ts
  apps/desktop/src/renderer/src/lib/commands/core/index.ts
  apps/desktop/src/renderer/src/lib/commands/index.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/ApplyPositionPatchCommand.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/index.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/SourceEditDraft.ts
  apps/desktop/src/renderer/src/lib/tools/core/BaseTool.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ToggleSmooth.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: restore edit-path suites on the workspace stack (CS4c)
  apps/desktop/src/renderer/src/lib/clipboard/Clipboard.test.ts
  apps/desktop/src/renderer/src/lib/commands/clipboard/ClipboardCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/PointCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/ShapeCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/SidebearingCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/transform/TransformCommands.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/editor/SourceEditDraft.test.ts
  apps/desktop/src/renderer/src/lib/editor/managers/EdgePanManager.test.ts
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.test.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.test.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/text/layout/Caret.test.ts
  apps/desktop/src/renderer/src/lib/text/layout/Positioner.test.ts
  apps/desktop/src/renderer/src/lib/text/layout/TextLayout.test.ts
  apps/desktop/src/renderer/src/lib/text/layout/testUtils.ts
  apps/desktop/src/renderer/src/lib/tools/hand/Hand.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.test.ts
  apps/desktop/src/renderer/src/lib/workspace/ledger.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: cover pen contour-close and smooth cubic junctions
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: reinstate UI zoom and system clipboard through the shift host
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/main/windows/Window.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/components/chrome/Titlebar.tsx
  apps/desktop/src/renderer/src/components/chrome/ZoomToast.tsx
  apps/desktop/src/renderer/src/host/shiftHost.ts
  apps/desktop/src/renderer/src/lib/clipboard/electronSystemClipboard.ts
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/shared/commands.ts
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/src/shared/ipc/main.ts
  apps/desktop/src/shared/ipc/renderer.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor: collapse bridge intent dispatch to one decode path
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

refactor: strip dead undo machinery from commands
  apps/desktop/src/renderer/src/lib/commands/clipboard/ClipboardCommands.ts
  apps/desktop/src/renderer/src/lib/commands/core/Command.ts
  apps/desktop/src/renderer/src/lib/commands/core/index.ts
  apps/desktop/src/renderer/src/lib/commands/index.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/BooleanOperationCommand.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/PointCommands.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/ShapeCommands.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/SidebearingCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/SidebearingCommands.ts
  apps/desktop/src/renderer/src/lib/commands/transform/AlignmentCommands.ts
  apps/desktop/src/renderer/src/lib/commands/transform/TransformCommands.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/SourceEditDraft.test.ts
  apps/desktop/src/renderer/src/lib/editor/SourceEditDraft.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/BendCurve.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Resize.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Rotate.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Translate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor: delete GlyphInstanceEdit and the model's dead bridge paths
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenStroke.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor: delete the dead per-verb bridge surface and layer_edit legacy
  apps/desktop/src/renderer/src/components/debug/SkeletonPanel.tsx
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/views/Home.tsx
  apps/desktop/src/shared/commands.ts
  crates/shift-bridge/__test__/index.spec.mjs
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/layer_edit.rs
  crates/shift-font/src/lib.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/lib.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

feat: anchors edit through the workspace (add/move/remove intents)
  apps/desktop/src/renderer/src/lib/model/Glyph.test.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/changes.rs
  crates/shift-font/src/error.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/layer_edit.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/outline.rs
  crates/shift-store/src/schema.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/ids.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

feat: axes cross the workspace snapshot (VF-1)
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: createAxis and createSource flow through the workspace (VF-2)
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/changes.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-workspace/src/workspace.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

refactor: editing verbs speak RPC-shaped calls, display labels removed
  apps/desktop/src/renderer/src/components/editor/EditorView.tsx
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/text/layout/testUtils.ts
  apps/desktop/src/renderer/src/lib/workspace/ChangeWriter.ts
  apps/desktop/src/renderer/src/lib/workspace/LayerIntents.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: multi-source editing with restored variation coverage (VF-3)
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: declare the webcrypto global for id minting in @shift/types
  packages/types/src/ids.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: benchmark the workspace apply pipeline
  apps/desktop/src/renderer/src/perf/workspaceApply.bench.ts
  knip.json
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: undoable font-level intents — one apply, one undo step
  apps/desktop/src/renderer/src/components/editor/EditorView.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogContext.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
  apps/desktop/src/renderer/src/lib/text/layout/testUtils.ts
  apps/desktop/src/renderer/src/lib/workspace/ledger.test.ts
  apps/desktop/src/renderer/src/perf/workspaceApply.bench.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  crates/shift-bridge/__test__/index.spec.mjs
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/changes.rs
  crates/shift-font/src/error.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/glyph.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/lib.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/ids.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest
