Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

docs: add Windows code signing policy (#282)
  .github/workflows/nightly.yml
  .github/workflows/release-desktop.yml
  CODE_SIGNING_POLICY.md
  README.md
Due: prettier

fix(desktop): separate window presentation from focus
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/windows/Window.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): maximize documents opened from Finder (#281)
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/windows/Window.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): keep the update window white
  apps/desktop/src/main/update/UpdateWindow.ts
  apps/desktop/src/renderer/src/views/UpdateScreen.css
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): keep the update window white (#284)
  apps/desktop/src/main/update/UpdateWindow.ts
  apps/desktop/src/renderer/src/views/UpdateScreen.css
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: add trusted Linux package channels
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release-desktop.yml
  README.md
  ROADMAP.md
  apps/desktop/electron-builder.config.ts
  docs/releases.md
  scripts/prepare-linux-repositories.mjs
  scripts/prepare-linux-repositories.test.mjs
  scripts/prepare-nightly-release.mjs
  scripts/prepare-nightly-release.test.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: make RPM signing compatible with Ubuntu
  .github/workflows/release-desktop.yml
Due: none

feat: add trusted Linux package channels (#285)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release-desktop.yml
  README.md
  ROADMAP.md
  apps/desktop/electron-builder.config.ts
  docs/releases.md
  scripts/prepare-linux-repositories.mjs
  scripts/prepare-linux-repositories.test.mjs
  scripts/prepare-nightly-release.mjs
  scripts/prepare-nightly-release.test.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): label Shift document icons
  apps/desktop/electron-builder.config.ts
  scripts/smoke-packaged.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): refresh the Nightly app icon
  icons/nightly-macos.png
  icons/nightly.icns
  icons/nightly.ico
  icons/nightly.icon/Assets/SVG Image 2.svg
  icons/nightly.icon/Assets/SVG Image.svg
  icons/nightly.icon/icon.json
  icons/nightly.png
Due: prettier

fix(desktop): refresh Nightly and document icons (#286)
  apps/desktop/electron-builder.config.ts
  icons/nightly-macos.png
  icons/nightly.icns
  icons/nightly.ico
  icons/nightly.icon/Assets/SVG Image 2.svg
  icons/nightly.icon/Assets/SVG Image.svg
  icons/nightly.icon/icon.json
  icons/nightly.png
  scripts/smoke-packaged.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: bootstrap APT repository from Release DEB
  .github/workflows/release-desktop.yml
  apps/desktop/electron-builder.config.ts
  apps/desktop/resources/linux/shift-repository.gpg
  apps/desktop/resources/linux/shift.sources
  docs/releases.md
  scripts/linux-deb-bootstrap.test.mjs
  scripts/prepare-linux-repositories.test.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: complete application and canvas menus
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/main/windows/Window.ts
  apps/desktop/src/preload/docs/DOCS.md
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/components/editor/Canvas.tsx
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.ts
  apps/desktop/src/shared/commands.ts
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Change logo image size and URL in README
  README.md
Due: prettier

feat(desktop): refresh branding and About window
  apps/desktop/e2e/__screenshots__/landing.spec.ts/landing-default.png
  apps/desktop/src/main/about/AboutWindow.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/app/AppIcon.ts
  apps/desktop/src/main/commands/Command.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/main/update/UpdateWindow.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/assets/app-icon.png
  apps/desktop/src/renderer/src/assets/launcher-logo.svg
  apps/desktop/src/renderer/src/views/AboutScreen.css
  apps/desktop/src/renderer/src/views/AboutScreen.tsx
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/renderer/src/views/UpdateScreen.css
  apps/desktop/src/renderer/src/views/UpdateScreen.tsx
  apps/desktop/src/shared/commands.ts
  apps/desktop/src/shared/links.ts
  icons/favicon-16x16.png
  icons/favicon-32x32.png
  icons/favicon-48x48.png
  icons/icon-128x128.png
  icons/icon-16x16.png
  icons/icon-192x192.png
  icons/icon-256x256.png
  icons/icon-32x32.png
  icons/icon-48x48.png
  icons/icon-512x512.png
  icons/icon-64x64.png
  icons/icon-96x96.png
  icons/icon-macos.png
  icons/icon.icns
  icons/icon.ico
  icons/icon.icon/Assets/SVG Image 4.svg
  icons/icon.icon/icon.json
  icons/icon.png
Due: prettier, oxlint, tsgo-typecheck, vitest

docs: change logo image size and URL in README (#290)
  README.md
Due: prettier

feat(desktop): identify builds in About window
  apps/desktop/src/main/about/AboutWindow.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/release.ts
  apps/desktop/src/renderer/src/views/AboutScreen.css
  apps/desktop/src/renderer/src/views/AboutScreen.tsx
  apps/desktop/vite.main.config.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): refresh Shift document icon
  icons/shift-document-1024x1024.png
  icons/shift-document-128x128.png
  icons/shift-document-16x16.png
  icons/shift-document-256x256.png
  icons/shift-document-32x32.png
  icons/shift-document-48x48.png
  icons/shift-document-512x512.png
  icons/shift-document-64x64.png
  icons/shift-document.ico
  icons/shift-document.png
  icons/shift-document.svg
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_128x128.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_128x128@2x.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_16x16.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_16x16@2x.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_256x256.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_256x256@2x.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_32x32.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_32x32@2x.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_512x512.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_512x512@2x.png
  scripts/icons.sh
Due: none

feat(desktop): apply brand gradient to Launcher
  apps/desktop/src/renderer/src/assets/launcher-logo.svg
Due: none

test(desktop): refresh Launcher visual baseline
  apps/desktop/e2e/__screenshots__/landing.spec.ts/landing-default.png
Due: none

fix(desktop): clarify About build link
  apps/desktop/src/renderer/src/views/AboutScreen.css
Due: prettier

feat: bootstrap APT repository from Release DEB (#287)
  .github/workflows/release-desktop.yml
  apps/desktop/electron-builder.config.ts
  apps/desktop/resources/linux/shift-repository.gpg
  apps/desktop/resources/linux/shift.sources
  docs/releases.md
  scripts/linux-deb-bootstrap.test.mjs
  scripts/prepare-linux-repositories.test.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): show Launcher new-font shortcut
  apps/desktop/e2e/__screenshots__/landing.spec.ts/landing-default.png
  apps/desktop/src/renderer/src/views/Landing.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

build: add nix dev shell
  .envrc
  flake.lock
  flake.nix
Due: none

build: add nix dev shell (#291)
  .envrc
  flake.lock
  flake.nix
Due: none

fix(desktop): restore website help menu command
  apps/desktop/src/main/commands/Commands.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): restore website to Help menu
  apps/desktop/src/main/menu/ApplicationMenu.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): add Nightly branding
  apps/desktop/electron-builder.config.ts
  apps/desktop/src/renderer/src/app/branding.ts
  apps/desktop/src/renderer/src/app/release.ts
  apps/desktop/src/renderer/src/assets/app-icon-nightly.png
  apps/desktop/src/renderer/src/assets/launcher-logo-nightly.svg
  apps/desktop/src/renderer/src/views/AboutScreen.tsx
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/renderer/src/views/UpdateScreen.tsx
  apps/desktop/vite.renderer.config.ts
  icons/README.md
  icons/nightly.icns
  icons/nightly.ico
  icons/nightly.icon/Assets/SVG Image 2.svg
  icons/nightly.icon/Assets/SVG Image 4.svg
  icons/nightly.icon/icon.json
  icons/nightly.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/Contents.json
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_128x128.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_128x128@2x.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_16x16.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_16x16@2x.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_256x256.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_256x256@2x.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_32x32.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_32x32@2x.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_512x512.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_512x512@2x.png
  scripts/icons.sh
  scripts/smoke-packaged.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): add Nightly branding (#293)
  apps/desktop/electron-builder.config.ts
  apps/desktop/src/renderer/src/app/branding.ts
  apps/desktop/src/renderer/src/app/release.ts
  apps/desktop/src/renderer/src/assets/app-icon-nightly.png
  apps/desktop/src/renderer/src/assets/launcher-logo-nightly.svg
  apps/desktop/src/renderer/src/views/AboutScreen.tsx
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/renderer/src/views/UpdateScreen.tsx
  apps/desktop/vite.renderer.config.ts
  icons/README.md
  icons/nightly.icns
  icons/nightly.ico
  icons/nightly.icon/Assets/SVG Image 2.svg
  icons/nightly.icon/Assets/SVG Image 4.svg
  icons/nightly.icon/icon.json
  icons/nightly.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/Contents.json
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_128x128.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_128x128@2x.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_16x16.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_16x16@2x.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_256x256.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_256x256@2x.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_32x32.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_32x32@2x.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_512x512.png
  icons/shift-document.xcassets/shift-document-badge-v2.iconset/icon_512x512@2x.png
  scripts/icons.sh
  scripts/smoke-packaged.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): show updated macOS document icons
  apps/desktop/electron-builder.config.ts
  icons/README.md
  scripts/smoke-packaged.mjs
  scripts/verify-macos-document-icon.swift
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: trigger Nightly after labeled merges
  .github/workflows/nightly-after-merge.yml
  docs/releases.md
Due: prettier

fix(desktop): show updated macOS document icons (#294)
  apps/desktop/electron-builder.config.ts
  icons/README.md
  scripts/smoke-packaged.mjs
  scripts/verify-macos-document-icon.swift
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: trigger Nightly after labeled merges (#295)
  .github/workflows/nightly-after-merge.yml
  docs/releases.md
Due: prettier

feat(desktop): improve toolbar navigation and availability
  apps/desktop/src/renderer/src/components/chrome/Toolbar.tsx
  apps/desktop/src/renderer/src/components/editor/ToolsPane.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManifest.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/tools.ts
  apps/desktop/src/renderer/src/types/editor.ts
  packages/ui/docs/DOCS.md
  packages/ui/src/components/toolbar/Toolbar.tsx
  packages/ui/src/components/toolbar/index.ts
  packages/ui/src/components/tooltip/Tooltip.tsx
  packages/ui/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: remove flaky macOS document icon rendering check
  scripts/smoke-packaged.mjs
  scripts/verify-macos-document-icon.swift
Due: prettier, oxlint, vitest

ci: remove flaky macOS document icon rendering check (#297)
  scripts/smoke-packaged.mjs
  scripts/verify-macos-document-icon.swift
Due: prettier, oxlint, vitest

ci: add visual snapshot update workflow
  .github/workflows/update-visual-snapshots.yml
Due: none

test(e2e): cover hidden toolbar availability
  apps/desktop/e2e/__screenshots__/tools.spec.ts/tool-text.png
  apps/desktop/e2e/tools.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: add visual snapshot update workflow (#299)
  .github/workflows/update-visual-snapshots.yml
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
