Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

.pre-commit-config.yaml:

repos:
  # Standard file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]

      - id: oxlint
        name: oxlint
        entry: pnpm lint:check
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

      - id: tsgo-typecheck
        name: tsgo typecheck
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

      - id: vitest
        name: vitest
        entry: pnpm test
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

fix(desktop): restore error action contrast
  apps/desktop/src/renderer/src/app/AppErrorBoundary.tsx
  apps/desktop/src/renderer/src/app/DocumentErrorScreen.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(document): discover and resume recoverable workspaces (#319)
  apps/desktop/src/main/workspace/WorkspaceProcess.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/DocumentOpener.test.ts
  apps/desktop/src/utility/workspace/DocumentStorage.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

chore(skills): require visual review evidence
  .agents/skills/issue/SKILL.md
  .agents/skills/pr/SKILL.md
  .claude/skills/issue/SKILL.md
  .claude/skills/pr/SKILL.md
  .codex/skills/issue/SKILL.md
  .codex/skills/pr/SKILL.md
Due: prettier

chore(skills): require visual review evidence (#323)
  .agents/skills/issue/SKILL.md
  .agents/skills/pr/SKILL.md
  .claude/skills/issue/SKILL.md
  .claude/skills/pr/SKILL.md
  .codex/skills/issue/SKILL.md
  .codex/skills/pr/SKILL.md
Due: prettier

ci: reduce cross-platform E2E runtime (#313)
  .github/workflows/ci.yml
  Cargo.toml
  apps/desktop/e2e/README.md
  apps/desktop/e2e/variable-font-recovery.spec.ts
  crates/shift-bridge/package.json
  package.json
  packages/glyph-info/src/GlyphInfo.ts
  turbo.json
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): restore compact launcher sizing (#317)
  apps/desktop/e2e/README.md
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): improve renderer error dialogs
  apps/desktop/e2e/document-crash.spec.ts
  apps/desktop/src/renderer/src/app/AppErrorBoundary.tsx
  apps/desktop/src/renderer/src/app/DocumentErrorBoundary.tsx
  apps/desktop/src/renderer/src/app/DocumentErrorScreen.tsx
  apps/desktop/src/renderer/src/app/ErrorDialog.tsx
  apps/desktop/src/renderer/src/workspace/FontSessionProvider.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: capture installed app screenshots
  .github/workflows/ci.yml
  .github/workflows/installed-app-screenshots.yml
  apps/desktop/electron-builder.config.ts
  docs/releases.md
  scripts/capture-installed-app.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): distinguish recovery from document reopen
  apps/desktop/e2e/document-recovery.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/variable-font-recovery.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): contain renderer errors and reopen documents (#322)
  apps/desktop/e2e/document-crash.spec.ts
  apps/desktop/e2e/document-recovery.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/variable-font-recovery.spec.ts
  apps/desktop/playwright.config.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/dialogs/NativeDialogs.ts
  apps/desktop/src/main/dialogs/electronNativeDialogs.ts
  apps/desktop/src/main/dialogs/scriptedNativeDialogs.ts
  apps/desktop/src/main/document/types.ts
  apps/desktop/src/main/workspace/FontSessionHost.ts
  apps/desktop/src/main/workspace/WorkspaceManager.ts
  apps/desktop/src/main/workspace/WorkspaceProcess.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/app/AppErrorBoundary.tsx
  apps/desktop/src/renderer/src/app/DocumentErrorBoundary.tsx
  apps/desktop/src/renderer/src/app/DocumentErrorScreen.tsx
  apps/desktop/src/renderer/src/app/ErrorDialog.tsx
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/app/errorReporting.ts
  apps/desktop/src/renderer/src/workspace/FontSessionProvider.tsx
  apps/desktop/src/shared/commands.ts
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/vite.renderer.config.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: link screenshot artifacts from pull requests
  .github/workflows/installed-app-screenshots.yml
Due: none

ci: resolve the installed Linux executable
  .github/workflows/installed-app-screenshots.yml
Due: none

ci: wait for packaged renderer readiness
  scripts/smoke-packaged.mjs
Due: prettier, oxlint, vitest

ci: wait for packaged renderer readiness (#325)
  scripts/smoke-packaged.mjs
Due: prettier, oxlint, vitest

ci: publish installed app screenshots inline
  .github/workflows/installed-app-screenshots.yml
  docs/releases.md
  scripts/capture-installed-app.mjs
Due: prettier, oxlint, vitest

ci: cache Rust artifacts in Nightly builds
  .github/workflows/nightly.yml
Due: none

ci: cache Rust artifacts in Nightly builds (#326)
  .github/workflows/nightly.yml
Due: none

ci: expand installed app screenshot coverage
  .github/workflows/installed-app-screenshots.yml
  docs/releases.md
  scripts/capture-installed-app.mjs
Due: prettier, oxlint, vitest

ci: use updated macOS screenshot runner
  .github/workflows/installed-app-screenshots.yml
  docs/releases.md
Due: prettier

ci: refine installed app screenshot reporting
  .github/workflows/installed-app-screenshots.yml
  scripts/capture-installed-app.mjs
Due: prettier, oxlint, vitest

ci: capture installed app screenshots (#324)
  .github/workflows/ci.yml
  .github/workflows/installed-app-screenshots.yml
  apps/desktop/electron-builder.config.ts
  docs/releases.md
  scripts/capture-installed-app.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(catalog): define renderer contract
  apps/desktop/src/renderer/src/components/home/GlyphCatalogCanvas.tsx
  apps/desktop/src/renderer/src/components/home/SlugGlyphCatalogRenderer.ts
  apps/desktop/src/renderer/src/types/glyphCatalogRenderer.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: trigger installed screenshots by label
  .github/workflows/installed-app-screenshots.yml
  docs/releases.md
Due: prettier

ci: trigger installed screenshots by label (#330)
  .github/workflows/installed-app-screenshots.yml
  docs/releases.md
Due: prettier

ci: publish screenshots from manual runs
  .github/workflows/installed-app-screenshots.yml
  docs/releases.md
Due: prettier

perf(document): accelerate native atlas reopen
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/scripts/profile-slug-atlas.mjs
  crates/shift-store/README.md
  crates/shift-store/src/layer/load.rs
  crates/shift-store/src/layer/references.rs
  crates/shift-store/src/layer/tests.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

fix(document): prune orphaned recovery storage
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/utility/workspace/DocumentStorage.test.ts
  apps/desktop/src/utility/workspace/DocumentStorage.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): make host execution portable
  .github/workflows/ci.yml
  .github/workflows/installed-app-screenshots.yml
  apps/desktop/e2e/README.md
  apps/desktop/playwright.config.ts
  flake.nix
  package.json
  scripts/run-e2e.mjs
  scripts/run-with-virtual-desktop.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

perf(document): accelerate native atlas reopen (#332)
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/utility/workspace/DocumentStorage.test.ts
  apps/desktop/src/utility/workspace/DocumentStorage.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/scripts/profile-slug-atlas.mjs
  crates/shift-store/README.md
  crates/shift-store/src/layer/load.rs
  crates/shift-store/src/layer/references.rs
  crates/shift-store/src/layer/tests.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): add problem reporting actions
  .github/ISSUE_TEMPLATE/bug_report.yml
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/shared/commands.ts
  apps/desktop/src/shared/links.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): share document close transitions
  apps/desktop/src/main/AsyncOnce.test.ts
  apps/desktop/src/main/AsyncOnce.ts
  apps/desktop/src/main/app/AppLifecycle.test.ts
  apps/desktop/src/main/app/AppLifecycle.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/document/DocumentSession.test.ts
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/main/update/AppUpdater.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): make host execution portable (#334)
  .github/workflows/ci.yml
  .github/workflows/installed-app-screenshots.yml
  apps/desktop/e2e/README.md
  apps/desktop/playwright.config.ts
  flake.nix
  package.json
  scripts/run-e2e.mjs
  scripts/run-with-virtual-desktop.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(catalog): define renderer contract (#328)
  apps/desktop/src/renderer/src/components/home/GlyphCatalogCanvas.tsx
  apps/desktop/src/renderer/src/components/home/SlugGlyphCatalogRenderer.ts
  apps/desktop/src/renderer/src/types/glyphCatalogRenderer.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): share document close transitions (#338)
  apps/desktop/src/main/AsyncOnce.test.ts
  apps/desktop/src/main/AsyncOnce.ts
  apps/desktop/src/main/app/AppLifecycle.test.ts
  apps/desktop/src/main/app/AppLifecycle.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/document/DocumentSession.test.ts
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/main/update/AppUpdater.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): add feedback composer
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Command.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/feedback/FeedbackWindow.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/views/FeedbackScreen.tsx
  apps/desktop/src/shared/links.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): align feedback window styling
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/src/main/feedback/FeedbackWindow.ts
  apps/desktop/src/renderer/src/views/FeedbackScreen.css
  apps/desktop/src/renderer/src/views/FeedbackScreen.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: style fixes for native windows
  .gitignore
  apps/desktop/e2e/__screenshots__/landing.spec.ts/landing-default.png
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/src/main/about/AboutWindow.ts
  apps/desktop/src/main/feedback/FeedbackWindow.ts
  apps/desktop/src/main/update/UpdateWindow.ts
  apps/desktop/src/renderer/src/app/App.css
  apps/desktop/src/renderer/src/components/chrome/Titlebar.tsx
  apps/desktop/src/renderer/src/views/AboutScreen.css
  apps/desktop/src/renderer/src/views/AboutScreen.tsx
  apps/desktop/src/renderer/src/views/FeedbackScreen.css
  apps/desktop/src/renderer/src/views/FeedbackScreen.tsx
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/renderer/src/views/UpdateScreen.css
  apps/desktop/src/renderer/src/views/UpdateScreen.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): add problem reporting actions (#336)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .gitignore
  apps/desktop/e2e/__screenshots__/landing.spec.ts/landing-default.png
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Command.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/feedback/FeedbackWindow.ts
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/main/update/UpdateWindow.ts
  apps/desktop/src/renderer/src/app/App.css
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/components/chrome/Titlebar.tsx
  apps/desktop/src/renderer/src/views/AboutScreen.css
  apps/desktop/src/renderer/src/views/AboutScreen.tsx
  apps/desktop/src/renderer/src/views/FeedbackScreen.tsx
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/renderer/src/views/UpdateScreen.css
  apps/desktop/src/renderer/src/views/UpdateScreen.tsx
  apps/desktop/src/shared/commands.ts
  apps/desktop/src/shared/links.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

docs(tools): remove state diagram references
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
Due: prettier
