Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

Remove GlyphRef from Editor public API
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/TextRunEdit.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.ts
  apps/desktop/src/renderer/src/views/Landing.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

Always use default layer for glyph rendering and edit sessions
  crates/shift-node/__test__/font_integration.spec.mjs
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, vitest

Add variable font support: axes, sources, interpolation, and preview slider
  ROADMAP.md
  apps/desktop/src/renderer/src/bridge/NativeBridge.ts
  apps/desktop/src/renderer/src/components/GlyphSidebar.tsx
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.test.ts
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
  crates/shift-core/src/lib.rs
  crates/shift-ir/src/axis.rs
  crates/shift-ir/src/source.rs
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
  packages/types/src/font.ts
  packages/types/src/generated/Axis.ts
  packages/types/src/generated/Location.ts
  packages/types/src/generated/Source.ts
  packages/types/src/generated/index.ts
  packages/types/src/index.ts
  scripts/oxlint/shift-plugin.mjs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Replace inverse-distance interpolation with OpenType VariationModel
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.test.ts
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add MutatorSansVariable.glyphs fixture and variable font tests
  crates/shift-core/tests/font_loading.rs
  crates/shift-node/__test__/font_integration.spec.mjs
  fixtures/fonts/MutatorSansVariable.glyphs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, vitest

Filter incompatible masters instead of failing, remove debug logs
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.test.ts
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Remove directBlend, use default-as-reference filtering like Fontra
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.test.ts
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add edge case tests for interpolation and master snapshots
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.test.ts
  crates/shift-node/__test__/font_integration.spec.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

Add .designspace file loading support
  ROADMAP.md
  apps/desktop/src/main/managers/AppLifecycle.ts
  apps/desktop/src/main/managers/MenuManager.ts
  apps/desktop/src/main/managers/openFontPath.ts
  apps/desktop/src/renderer/src/bridge/NativeBridge.ts
  crates/shift-backends/src/designspace/mod.rs
  crates/shift-backends/src/designspace/reader.rs
  crates/shift-backends/src/lib.rs
  crates/shift-core/src/font_loader.rs
  crates/shift-core/tests/font_loading.rs
  crates/shift-node/__test__/font_integration.spec.mjs
  fixtures/fonts/mutatorsans-variable/MutatorSans-Bold.ufo/fontinfo.plist
  fixtures/fonts/mutatorsans-variable/MutatorSans-Bold.ufo/glyphs/A_.glif
  fixtures/fonts/mutatorsans-variable/MutatorSans-Bold.ufo/glyphs/contents.plist
  fixtures/fonts/mutatorsans-variable/MutatorSans-Bold.ufo/glyphs/space.glif
  fixtures/fonts/mutatorsans-variable/MutatorSans-Bold.ufo/layercontents.plist
  fixtures/fonts/mutatorsans-variable/MutatorSans-Bold.ufo/metainfo.plist
  fixtures/fonts/mutatorsans-variable/MutatorSans-Light.ufo/fontinfo.plist
  fixtures/fonts/mutatorsans-variable/MutatorSans-Light.ufo/glyphs/A_.glif
  fixtures/fonts/mutatorsans-variable/MutatorSans-Light.ufo/glyphs/contents.plist
  fixtures/fonts/mutatorsans-variable/MutatorSans-Light.ufo/glyphs/space.glif
  fixtures/fonts/mutatorsans-variable/MutatorSans-Light.ufo/layercontents.plist
  fixtures/fonts/mutatorsans-variable/MutatorSans-Light.ufo/metainfo.plist
  fixtures/fonts/mutatorsans-variable/MutatorSans.designspace
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Fix duplicate React keys in master buttons
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix getGlyphMasterSnapshots for editing glyph
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Add directBlend fallback when default master is incompatible
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

debug: log master contour counts and compat result on slider
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

Use majority-vote compatibility filtering for interpolation
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Handle duplicate locations and errors in interpolation
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

temp: add debug logging to VariationPanel
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

Sort contours deterministically and filter empty ones in master snapshots
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Remove debug logging from interpolation and VariationPanel
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Replace flat-array interpolation with structured itemwise arithmetic
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.test.ts
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

debug: rust-side master snapshot logging
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test

temp: debug slider callback
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix interpolation: skip empty support layer masters, add debug logging
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

temp: more debug
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Wire variation sliders to glyph grid preview
  apps/desktop/src/renderer/src/components/GlyphPreview.tsx
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  apps/desktop/src/renderer/src/lib/interpolation/svg.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Use IndexMap for GlyphLayer contours to preserve insertion order
  Cargo.lock
  crates/shift-ir/Cargo.toml
  crates/shift-ir/src/glyph.rs
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add Rust-native variable font interpolation via VariationModel
  apps/desktop/src/renderer/src/bridge/NativeBridge.ts
  crates/shift-core/src/interpolation.rs
  crates/shift-core/src/lib.rs
  crates/shift-core/src/snapshot.rs
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Switch GlyphPreview to Rust interpolateGlyph for grid perf
  apps/desktop/src/renderer/src/components/GlyphPreview.tsx
  apps/desktop/src/renderer/src/lib/model/Font.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

wip
  crates/shift-node/index.d.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix VariationPanel for consolidated Editor/Font API
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix text run: use font.glyphName() for codepoint resolution
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Round xAdvance display in GlyphSection
  apps/desktop/src/renderer/src/components/sidebar-right/GlyphSection.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

Font.getPath() interpolates live when variation location is active
  apps/desktop/src/renderer/src/lib/model/Font.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Interpolate xAdvance too: getAdvance() uses interpolated snapshot
  apps/desktop/src/renderer/src/lib/model/Font.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix text run re-layout on variation change
  apps/desktop/src/renderer/src/lib/tools/text/TextRunController.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Memoize interpolation per location — no Rust calls during pan/zoom
  apps/desktop/src/renderer/src/lib/model/Font.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Variation engine: weights from Rust, deltas × apply in TS signals
  apps/desktop/src/renderer/src/bridge/NativeBridge.ts
  apps/desktop/src/renderer/src/components/GlyphPreview.tsx
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/Variation.ts
  apps/desktop/src/renderer/src/lib/tools/text/TextRunController.ts
  crates/shift-core/src/interpolation.rs
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
  scripts/oxlint/shift-plugin.mjs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Fix interpolation: use Rust-computed forward-differenced deltas
  apps/desktop/src/renderer/src/bridge/NativeBridge.ts
  apps/desktop/src/renderer/src/lib/model/Variation.ts
  crates/shift-core/src/interpolation.rs
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Simplify Variation: use Rust interpolateGlyph directly with per-location cache
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/Variation.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Revert Variation engine — Rust interpolation has multi-axis bug
  apps/desktop/src/renderer/src/bridge/NativeBridge.ts
  apps/desktop/src/renderer/src/components/GlyphPreview.tsx
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/Variation.ts
  apps/desktop/src/renderer/src/lib/tools/text/TextRunController.ts
  crates/shift-core/src/interpolation.rs
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
  scripts/oxlint/shift-plugin.mjs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
