Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

.pre-commit-config.yaml:

repos:
  # Standard file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]

      - id: oxlint
        name: oxlint
        entry: pnpm lint:check
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

      - id: tsgo-typecheck
        name: tsgo typecheck
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

      - id: vitest
        name: vitest
        entry: pnpm test
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

refactor(editor): journal changed history records
  apps/desktop/src/renderer/src/lib/editor/EditorHistory.test.ts
  packages/editor/src/lib/editor/docs/DOCS.md
  packages/editor/src/lib/editor/history/EditorHistory.ts
  packages/editor/src/lib/editor/history/recordChanges.ts
  packages/editor/src/lib/store/ShiftStore.test.ts
  packages/editor/src/lib/store/ShiftStore.ts
  packages/editor/src/types.ts
  packages/editor/src/types/history.ts
  packages/editor/src/types/store.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): serve editor workspace source directly
  apps/desktop/vite.renderer.config.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): make selection changes undoable (#427)
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/src/renderer/src/components/editor/ObjectsPanel.tsx
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.ts
  apps/desktop/src/renderer/src/lib/editor/BooleanOperations.test.ts
  apps/desktop/src/renderer/src/lib/editor/ClipboardOperations.test.ts
  apps/desktop/src/renderer/src/lib/editor/EditorHistory.test.ts
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.test.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.test.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.test.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/vite.renderer.config.ts
  packages/editor/src/index.ts
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/editor/docs/DOCS.md
  packages/editor/src/lib/editor/history/EditorHistory.ts
  packages/editor/src/lib/editor/history/HistoryCapture.ts
  packages/editor/src/lib/editor/history/recordChanges.ts
  packages/editor/src/lib/store/ShiftStore.test.ts
  packages/editor/src/lib/store/ShiftStore.ts
  packages/editor/src/lib/tools/core/ToolManager.ts
  packages/editor/src/lib/tools/docs/DOCS.md
  packages/editor/src/lib/tools/select/BoundingBox.ts
  packages/editor/src/lib/tools/select/Select.ts
  packages/editor/src/lib/tools/select/behaviors/Escape.ts
  packages/editor/src/lib/tools/select/behaviors/Marquee.ts
  packages/editor/src/lib/tools/select/types.ts
  packages/editor/src/types.ts
  packages/editor/src/types/font.ts
  packages/editor/src/types/history.ts
  packages/editor/src/types/store.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

build(wasm): check browser-safe font core
  .cargo/config.toml
  .github/workflows/ci.yml
  Cargo.lock
  crates/shift-font/Cargo.toml
  flake.nix
  rust-toolchain.toml
Due: none

ci(wasm): preserve random backend flags
  .github/workflows/ci.yml
Due: none

feat(font): allow duplicate named instance labels
  crates/shift-backends/src/formats/designspace/reader.rs
  crates/shift-font/src/error.rs
  crates/shift-font/src/ir/named_instance.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(bridge): stabilize font snapshot ordering
  crates/shift-bridge/src/bridge.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(fontsrc): add format-native UFO source boundary
  .github/workflows/ci.yml
  Cargo.lock
  crates/fontsrc/Cargo.toml
  crates/fontsrc/README.md
  crates/fontsrc/docs/DOCS.md
  crates/fontsrc/src/lib.rs
  crates/fontsrc/tests/ufo_source.rs
  docs/architecture/index.md
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

build(desktop): rebuild when workspace package sources change
  turbo.json
Due: prettier

feat(fontsrc): expose format-native Designspace documents
  crates/fontsrc/docs/DOCS.md
  crates/fontsrc/src/lib.rs
  crates/fontsrc/tests/designspace_source.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat(fontsrc): expose format-native Glyphs sources
  Cargo.lock
  crates/fontsrc/Cargo.toml
  crates/fontsrc/README.md
  crates/fontsrc/docs/DOCS.md
  crates/fontsrc/src/lib.rs
  crates/fontsrc/tests/glyphs_source.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

test(fontsrc): add authored-source compatibility corpus
  crates/fontsrc/docs/DOCS.md
  crates/fontsrc/tests/designspace_source.rs
  crates/fontsrc/tests/glyphs_source.rs
  crates/fontsrc/tests/support/mod.rs
  crates/fontsrc/tests/ufo_source.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat(ui): mount shared popups inside the embed root
  packages/editor/src/ui.ts
  packages/editor/src/ui/ShiftEditorChrome.tsx
  packages/editor/src/ui/ShiftEditorRoot.tsx
  packages/editor/src/ui/style.css
  packages/ui/src/components/context-menu/ContextMenu.tsx
  packages/ui/src/components/dialog/Dialog.tsx
  packages/ui/src/components/menu/Menu.tsx
  packages/ui/src/components/popover/Popover.tsx
  packages/ui/src/components/portal/PortalContainer.tsx
  packages/ui/src/components/portal/index.ts
  packages/ui/src/components/select/Select.tsx
  packages/ui/src/components/toast/Toast.tsx
  packages/ui/src/components/tooltip/Tooltip.tsx
  packages/ui/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(sdk): let hosts choose memory session tools
  packages/editor/src/createMemoryFontSession.ts
  packages/editor/src/index.ts
  packages/editor/src/testing/MemoryEditor.test.ts
  packages/editor/src/types.ts
  packages/editor/src/types/fontSession.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(fontsrc): add shared project file source
  crates/fontsrc/README.md
  crates/fontsrc/docs/DOCS.md
  crates/fontsrc/src/lib.rs
  crates/fontsrc/tests/designspace_source.rs
  crates/fontsrc/tests/glyphs_source.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

style(backends): format relocated font fixture paths
  crates/shift-backends/src/formats/opentype/inputs.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs(editor): point codemaps at the shared glyph metrics hook
  packages/editor/src/lib/model/docs/DOCS.md
  packages/editor/src/lib/signals/docs/DOCS.md
Due: prettier

build(sdk): generate deterministic LF API reports
  packages/sdk/api-extractor.json
  packages/sdk/api/index.api.md
  packages/sdk/api/ui.api.md
Due: prettier

refactor(editor): type variation sidebar sources as SourceId
  packages/editor/src/ui/VariationSidebar.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

build(desktop): import shared styles through package entries
  apps/desktop/e2e/fixtures/perfApp.ts
  apps/desktop/src/renderer/index.css
  apps/desktop/src/renderer/src/assets/fonts/HostGrotesk-VariableFont_wght.ttf
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/vite.renderer.config.ts
  crates/shift-backends/src/formats/opentype/inputs.rs
  crates/shift-backends/tests/loading.rs
  packages/editor/package.json
  packages/editor/src/ui/fonts.css
  packages/editor/src/ui/style.css
  packages/sdk/src/style.css
  packages/ui/package.json
  packages/ui/src/style.css
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

refactor(sdk): fold build checks into the build script
  packages/sdk/scripts/build.mjs
  packages/sdk/scripts/check-node-imports.mjs
  packages/sdk/scripts/check-runtime-graph.mjs
  packages/sdk/scripts/check-style-assets.mjs
Due: prettier, oxlint, vitest

docs(sdk): document the public API
  packages/editor/src/lib/variation/location.ts
  packages/editor/src/ui/EditorToolbar.tsx
  packages/editor/src/ui/GlyphSidebar.tsx
  packages/editor/src/ui/ShiftEditor.tsx
  packages/editor/src/ui/ShiftEditorChrome.tsx
  packages/editor/src/ui/VariationSidebar.tsx
  packages/editor/src/ui/types.ts
  packages/sdk/api/index.api.md
  packages/sdk/api/ui.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

chore: relicense Shift under MIT OR Apache-2.0
  Cargo.toml
  LICENSE
  LICENSE-APACHE
  LICENSE-MIT
  README.md
  THIRD_PARTY_NOTICES.md
  apps/desktop/electron-builder.config.ts
  apps/desktop/package.json
  crates/shift-backends/Cargo.toml
  crates/shift-bridge/Cargo.toml
  crates/shift-bridge/package.json
  crates/shift-cli/Cargo.toml
  crates/shift-font/Cargo.toml
  crates/shift-slug/Cargo.toml
  crates/shift-store/Cargo.toml
  crates/shift-wire/Cargo.toml
  crates/shift-workspace/Cargo.toml
  package.json
  packages/bridge/package.json
  packages/editor/package.json
  packages/geo/package.json
  packages/glyph-info/package.json
  packages/glyph-state/package.json
  packages/rules/package.json
  packages/sdk/LICENSE-APACHE
  packages/sdk/LICENSE-MIT
  packages/sdk/THIRD_PARTY_NOTICES.md
  packages/sdk/package.json
  packages/tsconfig/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/validation/package.json
Due: prettier, oxlint, tsgo-typecheck, vitest

chore(fontsrc): license under MIT OR Apache-2.0
  crates/fontsrc/Cargo.toml
  crates/fontsrc/LICENSE-APACHE
  crates/fontsrc/LICENSE-MIT
  crates/fontsrc/README.md
Due: prettier

build: ship generated dependency licenses with the app and SDK
  .gitignore
  apps/desktop/electron-builder.config.ts
  packages/sdk/package.json
  packages/sdk/scripts/test-packed-consumers.mjs
  scripts/generate-third-party-licenses.mjs
  scripts/smoke-packaged.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(build): start pnpm through a shell on Windows for license generation
  scripts/generate-third-party-licenses.mjs
Due: prettier, oxlint, vitest

feat: relicense Shift under MIT OR Apache-2.0 (#443)
  Cargo.toml
  LICENSE
  LICENSE-APACHE
  LICENSE-MIT
  README.md
  THIRD_PARTY_NOTICES.md
  apps/desktop/electron-builder.config.ts
  apps/desktop/package.json
  crates/shift-backends/Cargo.toml
  crates/shift-bridge/Cargo.toml
  crates/shift-bridge/package.json
  crates/shift-cli/Cargo.toml
  crates/shift-font/Cargo.toml
  crates/shift-slug/Cargo.toml
  crates/shift-store/Cargo.toml
  crates/shift-wire/Cargo.toml
  crates/shift-workspace/Cargo.toml
  package.json
  packages/bridge/package.json
  packages/editor/package.json
  packages/geo/package.json
  packages/glyph-info/package.json
  packages/glyph-state/package.json
  packages/rules/package.json
  packages/sdk/LICENSE-APACHE
  packages/sdk/LICENSE-MIT
  packages/sdk/THIRD_PARTY_NOTICES.md
  packages/sdk/package.json
  packages/tsconfig/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/validation/package.json
Due: prettier, oxlint, tsgo-typecheck, vitest

chore: format only changed files in the Claude stop hook
  .claude/settings.json
Due: prettier

build: ship generated dependency licenses with the app and SDK (#445)
  .gitignore
  apps/desktop/electron-builder.config.ts
  packages/sdk/package.json
  packages/sdk/scripts/test-packed-consumers.mjs
  scripts/generate-third-party-licenses.mjs
  scripts/smoke-packaged.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

chore: format only changed files in the Claude stop hook (#446)
  .claude/settings.json
Due: prettier

build(wasm): check browser-safe font core (#429)
  .cargo/config.toml
  .github/workflows/ci.yml
  Cargo.lock
  crates/shift-font/Cargo.toml
  flake.nix
  rust-toolchain.toml
Due: none

fix(desktop): load one copy of workspace packages in dev
  apps/desktop/vite.renderer.config.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): load one copy of workspace packages in dev (#447)
  apps/desktop/vite.renderer.config.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

build(wasm): isolate native document storage
  .github/workflows/ci.yml
  crates/shift-backends/Cargo.toml
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/errors.rs
  crates/shift-backends/src/font_loader.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier
