Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

wip
  apps/desktop/src/renderer/src/components/chrome/settings/AxisStylesPanel.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

Allow fractional axis slider values
  apps/desktop/src/renderer/src/components/variation/AxesPanel.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

Remove low-value variation tests
  apps/desktop/src/renderer/src/components/variation/instanceCreation.test.ts
  apps/desktop/src/renderer/src/lib/variation/axisPresets.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Update README.md
  README.md
Due: prettier

Preserve authored order across font imports
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/designspace/error.rs
  crates/shift-backends/src/designspace/reader.rs
  crates/shift-backends/tests/round_trip/designspace.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/ir/collection.rs
  crates/shift-font/src/ir/component.rs
  crates/shift-font/src/ir/contour.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/glyph.rs
  crates/shift-font/src/ir/mod.rs
  crates/shift-font/src/lib.rs
  crates/shift-font/src/test_support.rs
  crates/shift-source/docs/DOCS.md
  crates/shift-source/src/package.rs
  crates/shift-source/tests/package_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Add Electron developer tools and guard console output
  .pre-commit-config.yaml
  apps/desktop/src/main/menu/ApplicationMenu.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add semantic CLI authoring commands
  crates/shift-cli/Cargo.toml
  crates/shift-cli/README.md
  crates/shift-cli/src/authoring.rs
  crates/shift-cli/src/cli.rs
  crates/shift-cli/src/main.rs
  crates/shift-cli/tests/authoring_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Add CLI glyph and layer authoring
  crates/shift-cli/README.md
  crates/shift-cli/src/authoring.rs
  crates/shift-cli/src/authoring/glyph.rs
  crates/shift-cli/src/authoring/tests.rs
  crates/shift-cli/src/cli.rs
  crates/shift-cli/src/main.rs
  crates/shift-cli/tests/authoring_cli.rs
  crates/shift-cli/tests/glyph_authoring_cli.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/error.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/ir/font.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Add structured glyph compatibility diagnostics
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/interpolation.rs
  crates/shift-font/src/interpolation/compatibility.rs
  crates/shift-font/src/projection.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Add first-class component glyph views
  ROADMAP.md
  apps/desktop/src/renderer/src/components/home/GlyphPreview.tsx
  apps/desktop/src/renderer/src/hooks/useGlyphSidebearings.ts
  apps/desktop/src/renderer/src/hooks/useGlyphXAdvance.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/Outline.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/DebugOverlays.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/Handles.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/Segments.ts
  apps/desktop/src/renderer/src/lib/model/ComponentGlyph.ts
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.test.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphOutline.ts
  apps/desktop/src/renderer/src/lib/model/GlyphRenderModel.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
  apps/desktop/src/renderer/src/lib/nodes/GlyphNodeDefinition.ts
  apps/desktop/src/renderer/src/lib/nodes/TextRunNodeDefinition.ts
  apps/desktop/src/renderer/src/lib/signals/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/signals/signal.test.ts
  apps/desktop/src/renderer/src/lib/text/layout/Positioner.test.ts
  apps/desktop/src/renderer/src/lib/text/layout/Positioner.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Marquee.ts
  apps/desktop/src/renderer/src/testing/workspaceStack.ts
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/composite.rs
  crates/shift-font/src/error.rs
  crates/shift-font/src/interpolation.rs
  crates/shift-font/src/projection.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/lib.rs
  packages/glyph-state/src/Segment.ts
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Refine component contour paths
  AGENTS.md
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/Anchors.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/ControlLines.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/handles/HandleItems.ts
  apps/desktop/src/renderer/src/lib/graphics/ContourPath.test.ts
  apps/desktop/src/renderer/src/lib/graphics/ContourPath.ts
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/ComponentGlyph.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphRenderModel.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/nodes/GlyphNodeDefinition.ts
  apps/desktop/src/renderer/src/lib/utils/number.ts
  apps/desktop/src/renderer/src/types/glyphRender.ts
  apps/desktop/src/renderer/src/types/graphics.ts
  apps/desktop/src/renderer/src/types/index.ts
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/composite.rs
  crates/shift-font/src/interpolation.rs
  crates/shift-font/src/projection.rs
  packages/glyph-state/docs/DOCS.md
  packages/glyph-state/src/Segment.ts
  packages/glyph-state/src/index.ts
  packages/glyph-state/src/types/contour.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Load fvar metadata from binary fonts
  ROADMAP.md
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/binary/reader.rs
  crates/shift-backends/tests/loading.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

chore: remove temporary glyph pipeline instrumentation
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/home/useGlyphGridFrame.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/projection.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

docs: glyph pipeline perf lessons and instrumentation guide
  docs/architecture/glyph-pipeline-performance.md
  docs/architecture/index.md
Due: prettier

Address glyph route review feedback
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/views/Editor.tsx
  docs/architecture/glyph-pipeline-performance.md
  docs/architecture/index.md
Due: prettier, oxlint, tsgo-typecheck, vitest

Speed up glyph codec mutation test
  packages/glyph-codec/src/outline.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Remove packed outline editor integration
  Cargo.lock
  apps/desktop/e2e/benchmark-glyph-outlines.mts
  apps/desktop/package.json
  apps/desktop/src/renderer/src/components/home/useGlyphGridFrame.ts
  apps/desktop/src/renderer/src/lib/graphics/PackedOutlinePath.test.ts
  apps/desktop/src/renderer/src/lib/graphics/PackedOutlinePath.ts
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/GlyphPreviewCache.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphPreviewCache.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  apps/desktop/src/renderer/src/types/graphics.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/Cargo.toml
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-bridge/src/errors.rs
  crates/shift-wire/Cargo.toml
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/lib.rs
  crates/shift-wire/src/outline.rs
  package.json
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
  pnpm-lock.yaml
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Add native Slug render benchmark
  Cargo.lock
  crates/shift-slug/Cargo.toml
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/examples/benchmark_wgpu.rs
  crates/shift-slug/shaders/slug.wgsl
  crates/shift-slug/src/lib.rs
  crates/shift-slug/src/render.rs
  crates/shift-slug/tests/atlas.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Separate Slug latency and throughput metrics
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/examples/benchmark_wgpu.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Add Slug atlas preprocessing scaffold
  Cargo.lock
  Cargo.toml
  crates/shift-slug/Cargo.toml
  crates/shift-slug/THIRD_PARTY.md
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/examples/analyze_font.rs
  crates/shift-slug/examples/benchmark_wgpu.rs
  crates/shift-slug/src/atlas.rs
  crates/shift-slug/src/curve.rs
  crates/shift-slug/src/error.rs
  crates/shift-slug/src/lib.rs
  crates/shift-slug/src/pack.rs
  crates/shift-slug/tests/atlas.rs
  docs/architecture/index.md
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Pack Slug curve indexes by glyph
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/examples/analyze_font.rs
  crates/shift-slug/examples/benchmark_wgpu.rs
  crates/shift-slug/shaders/slug.wgsl
  crates/shift-slug/src/atlas.rs
  crates/shift-slug/src/error.rs
  crates/shift-slug/src/lib.rs
  crates/shift-slug/src/pack.rs
  crates/shift-slug/tests/atlas.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Keep wide Slug indexes as default
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/examples/benchmark_wgpu.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Add sparse Slug residency and exact variants
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/examples/analyze_authored.rs
  crates/shift-slug/examples/benchmark_variable_wgpu.rs
  crates/shift-slug/shaders/slug-variable.wgsl
  crates/shift-slug/src/authored.rs
  crates/shift-slug/src/error.rs
  crates/shift-slug/src/lib.rs
  crates/shift-slug/src/variable.rs
  crates/shift-slug/tests/atlas.rs
  crates/shift-slug/tests/authored_model.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Derive Slug curves from authored topology
  Cargo.lock
  crates/shift-slug/Cargo.toml
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/examples/analyze_authored.rs
  crates/shift-slug/examples/benchmark_variable_wgpu.rs
  crates/shift-slug/shaders/slug-variable.wgsl
  crates/shift-slug/src/authored.rs
  crates/shift-slug/src/curve.rs
  crates/shift-slug/src/error.rs
  crates/shift-slug/src/lib.rs
  crates/shift-slug/src/variable.rs
  crates/shift-slug/tests/atlas.rs
  crates/shift-slug/tests/authored_model.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Resolve variable Slug advances on GPU
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/examples/analyze_authored.rs
  crates/shift-slug/examples/benchmark_variable_wgpu.rs
  crates/shift-slug/shaders/slug-variable.wgsl
  crates/shift-slug/src/authored.rs
  crates/shift-slug/src/error.rs
  crates/shift-slug/src/variable.rs
  crates/shift-slug/tests/atlas.rs
  crates/shift-slug/tests/authored_model.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Record component Slug Metal baseline
  crates/shift-slug/docs/DOCS.md
Due: prettier

Record authored Slug Metal baseline
  crates/shift-slug/docs/DOCS.md
Due: prettier

Measure variable Slug frame latency
  crates/shift-slug/examples/benchmark_variable_wgpu.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Record multi-source Slug Metal baseline
  crates/shift-slug/docs/DOCS.md
Due: prettier

Tighten Slug glyph render quads
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/examples/benchmark_wgpu.rs
  crates/shift-slug/shaders/slug.wgsl
  crates/shift-slug/src/render.rs
  crates/shift-slug/tests/atlas.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Generalize resident Slug source weights
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/examples/benchmark_variable_wgpu.rs
  crates/shift-slug/shaders/slug-variable.wgsl
  crates/shift-slug/src/error.rs
  crates/shift-slug/src/lib.rs
  crates/shift-slug/src/variable.rs
  crates/shift-slug/tests/atlas.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Record variable Slug Metal baseline
  crates/shift-slug/docs/DOCS.md
Due: prettier

Validate variable Slug fragment rendering
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/examples/benchmark_variable_wgpu.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Resolve authored Slug components and bounds
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/examples/analyze_authored.rs
  crates/shift-slug/examples/benchmark_variable_wgpu.rs
  crates/shift-slug/shaders/slug-variable.wgsl
  crates/shift-slug/src/authored.rs
  crates/shift-slug/src/lib.rs
  crates/shift-slug/src/variable.rs
  crates/shift-slug/tests/authored_model.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Add resident variable Slug compute model
  Cargo.lock
  crates/shift-slug/Cargo.toml
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/examples/benchmark_variable_wgpu.rs
  crates/shift-slug/examples/benchmark_wgpu.rs
  crates/shift-slug/shaders/slug-variable.wgsl
  crates/shift-slug/src/error.rs
  crates/shift-slug/src/lib.rs
  crates/shift-slug/src/render.rs
  crates/shift-slug/src/variable.rs
  crates/shift-slug/tests/atlas.rs
  crates/shift-slug/tests/variable_model.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Evaluate authored Slug components on GPU
  Cargo.lock
  crates/shift-slug/Cargo.toml
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/examples/analyze_authored.rs
  crates/shift-slug/examples/benchmark_variable_wgpu.rs
  crates/shift-slug/shaders/slug-variable.wgsl
  crates/shift-slug/src/authored.rs
  crates/shift-slug/src/authored/component.rs
  crates/shift-slug/src/lib.rs
  crates/shift-slug/src/variable.rs
  crates/shift-slug/src/variable/component.rs
  crates/shift-slug/tests/atlas.rs
  crates/shift-slug/tests/authored_model.rs
  crates/shift-slug/tests/component_gpu.rs
  crates/shift-slug/tests/variable_model.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Record general component Slug Metal baseline
  crates/shift-slug/docs/DOCS.md
Due: prettier

Render the home grid from a resident Slug atlas
  Cargo.lock
  apps/desktop/package.json
  apps/desktop/src/renderer/env.d.ts
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/home/GlyphGridRow.tsx
  apps/desktop/src/renderer/src/components/home/GlyphPreview.tsx
  apps/desktop/src/renderer/src/components/home/GlyphPreviewLayout.ts
  apps/desktop/src/renderer/src/components/home/SlugGlyphGrid.tsx
  apps/desktop/src/renderer/src/components/home/useGlyphGridFrame.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/slug/SlugAtlas.test.ts
  apps/desktop/src/renderer/src/lib/slug/SlugAtlas.ts
  apps/desktop/src/renderer/src/lib/slug/SlugRenderer.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  apps/desktop/src/renderer/src/types/slug.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/Cargo.toml
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-bridge/src/errors.rs
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/shaders/slug-variable.wgsl
  crates/shift-slug/src/authored.rs
  crates/shift-slug/src/lib.rs
  crates/shift-slug/src/resident.rs
  crates/shift-slug/tests/atlas.rs
  crates/shift-slug/tests/authored_model.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
  pnpm-lock.yaml
  scripts/generate-bridge-types.mjs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
