Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

.pre-commit-config.yaml:

repos:
  # Standard file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]

      - id: oxlint
        name: oxlint
        entry: pnpm lint:check
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

      - id: tsgo-typecheck
        name: tsgo typecheck
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

      - id: vitest
        name: vitest
        entry: pnpm test
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

Fix Playwright module loading: add e2e tsconfig, use CJS __dirname
  apps/desktop/e2e/build.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/tsconfig.json
Due: prettier, oxlint, tsgo-typecheck, vitest

Add engine-layer performance benchmarks
  .github/workflows/perf.yml
  apps/desktop/src/renderer/src/perf/drawing.bench.ts
  apps/desktop/src/renderer/src/perf/interaction.bench.ts
  apps/desktop/src/renderer/src/perf/napiBoundary.bench.ts
  apps/desktop/src/renderer/src/perf/pointManipulation.bench.ts
  apps/desktop/src/renderer/src/perf/rendering.bench.ts
  apps/desktop/src/renderer/src/perf/viewport.bench.ts
  apps/desktop/src/renderer/src/testing/pointMark.ts
  apps/desktop/src/renderer/src/testing/stubCanvas.ts
  apps/desktop/vitest.config.ts
  knip.json
  package.json
Due: prettier, oxlint, tsgo-typecheck, vitest

Make baseline comparison opt-in (PERF_BASELINE_CHECK=1)
  apps/desktop/e2e/perf.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Cache node_modules and Playwright browsers on CI
  .github/workflows/perf.yml
Due: none

refactor: add glyph query surface
  apps/desktop/src/renderer/src/bridge/NativeBridge.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix Playwright install on CI: scope to desktop workspace
  .github/workflows/perf.yml
Due: none

fix dead code skill
  .claude/skills/dead-code/SKILL.md
Due: prettier

Cache node_modules across all CI jobs
  .github/workflows/ci.yml
Due: none

ci: include crates/*/node_modules in cache, bump key to v2
  .github/workflows/ci.yml
  .github/workflows/perf.yml
Due: none

ok
  apps/desktop/src/renderer/src/lib/transform/Alignment.ts
  apps/desktop/src/renderer/src/lib/transform/Transform.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: always run pnpm install so prepare hook fires
  .github/workflows/ci.yml
  .github/workflows/perf.yml
Due: none

get boilerplate code in
  apps/desktop/src/renderer/src/assets/toolbar/ruler.svg
  apps/desktop/src/renderer/src/components/sidebar-right/TransformSection.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/tools/ruler/Ruler.ts
  apps/desktop/src/renderer/src/lib/tools/ruler/types.ts
  apps/desktop/src/renderer/src/lib/tools/tools.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Promote Segment to domain class; live-update selection bounds
  apps/desktop/.oxlintrc.json
  apps/desktop/src/renderer/src/components/debug/DebugPanel.tsx
  apps/desktop/src/renderer/src/components/sidebar-right/ScaleSection.tsx
  apps/desktop/src/renderer/src/components/sidebar-right/TransformSection.tsx
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/managers/SnapManager.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/indicators/DebugOverlays.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/indicators/Segments.ts
  apps/desktop/src/renderer/src/lib/geo/Segment.test.ts
  apps/desktop/src/renderer/src/lib/geo/Segment.ts
  apps/desktop/src/renderer/src/lib/geo/Segments.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/Segment.test.ts
  apps/desktop/src/renderer/src/lib/model/Segment.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/BendCurve.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ContourDoubleClick.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Selection.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Translate.ts
  apps/desktop/src/renderer/src/lib/transform/SelectionBounds.test.ts
  apps/desktop/src/renderer/src/lib/transform/SelectionBounds.ts
  apps/desktop/src/renderer/src/lib/transform/index.ts
  apps/desktop/src/renderer/src/perf/interaction.bench.ts
  apps/desktop/src/renderer/src/types/hitResult.ts
  apps/desktop/src/renderer/src/types/segments.ts
  apps/desktop/src/renderer/src/types/selection.ts
  packages/geo/src/Curve.ts
  scripts/oxlint/shift-plugin.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

Promote Curve.* methods onto Segment; add asLine/asQuad/asCubic
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.ts
  apps/desktop/src/renderer/src/lib/model/Segment.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/BendCurve.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Promote glyph.sidebearings to reactive computed; drop free derivations
  apps/desktop/src/renderer/src/components/sidebar-right/GlyphSection.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/sidebearings.test.ts
  apps/desktop/src/renderer/src/lib/editor/sidebearings.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout.ts
  apps/desktop/src/renderer/src/lib/utils/unicode.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Align Editor reactive accessors to Glyph foo/$foo convention
  apps/desktop/.oxlintrc.json
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/components/GlyphSidebar.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/Viewport.ts
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.test.ts
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.ts
  apps/desktop/src/renderer/src/lib/keyboard/types.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/TextRunEdit.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.ts
  scripts/oxlint/shift-plugin.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix 50K-point drag perf: pull-based sidebar reads, not reactive subscription
  apps/desktop/src/renderer/src/components/sidebar-right/GlyphSection.tsx
  apps/desktop/src/renderer/src/components/sidebar-right/ScaleSection.tsx
  apps/desktop/src/renderer/src/components/sidebar-right/TransformSection.tsx
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/reactive/index.ts
  apps/desktop/src/renderer/src/lib/reactive/useSignal.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Tighten sidebar reactivity API: purpose-specific hooks over public \$foo signals
  apps/desktop/src/renderer/src/components/sidebar-right/GlyphSection.tsx
  apps/desktop/src/renderer/src/components/sidebar-right/ScaleSection.tsx
  apps/desktop/src/renderer/src/components/sidebar-right/TransformSection.tsx
  apps/desktop/src/renderer/src/hooks/useGlyphSidebearings.ts
  apps/desktop/src/renderer/src/hooks/useGlyphXAdvance.ts
  apps/desktop/src/renderer/src/hooks/useSelectionBounds.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/reactive/docs/DOCS.md
  apps/desktop/src/renderer/src/types/selection.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Optimize Glyphs.getPointAt hot path for 50K-point glyphs
  packages/font/src/Glyph.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add ToolManager.flushPointerMoves() synchronous seam
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

TestEditor.pointerMove drains the flush seam synchronously
  apps/desktop/src/renderer/src/testing/TestEditor.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Rewrite Hand.outcome.test.ts via TestEditor
  apps/desktop/src/renderer/src/lib/tools/hand/Hand.outcome.test.ts
  apps/desktop/src/renderer/src/lib/tools/hand/Hand.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Rewrite Shape.outcome.test.ts via TestEditor
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.outcome.test.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add SnapPipelineRunner.test.ts
  apps/desktop/src/renderer/src/lib/editor/snapping/SnapPipelineRunner.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add NativeBridge.test.ts for session lifecycle
  apps/desktop/src/renderer/src/bridge/NativeBridge.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add Clipboard.test.ts via TestEditor
  apps/desktop/src/renderer/src/lib/clipboard/Clipboard.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Remove mock-call-count assertions from tests
  apps/desktop/src/renderer/src/bridge/NativeBridge.test.ts
  apps/desktop/src/renderer/src/lib/editor/snapping/SnapPipelineRunner.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Drop SnapPipelineRunner.test.ts — snap system not fully implemented yet
  apps/desktop/src/renderer/src/lib/editor/snapping/SnapPipelineRunner.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

style fixes
  apps/desktop/src/renderer/src/lib/tools/hand/Hand.test.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Introduce ClipboardAdapter interface for clipboard I/O
  apps/desktop/src/renderer/src/lib/clipboard/Clipboard.ts
  apps/desktop/src/renderer/src/lib/clipboard/electronAdapter.ts
  apps/desktop/src/renderer/src/lib/clipboard/index.ts
  apps/desktop/src/renderer/src/lib/clipboard/types.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Rewrite Clipboard.test.ts via injected adapter, drop global stub
  apps/desktop/src/renderer/src/lib/clipboard/Clipboard.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Rename ClipboardAdapter → SystemClipboard; require it on Editor
  apps/desktop/src/renderer/src/lib/clipboard/Clipboard.ts
  apps/desktop/src/renderer/src/lib/clipboard/electronSystemClipboard.ts
  apps/desktop/src/renderer/src/lib/clipboard/index.ts
  apps/desktop/src/renderer/src/lib/clipboard/types.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/store/store.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

style fixes
  apps/desktop/src/renderer/src/lib/clipboard/Clipboard.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/store/store.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add repeated-paste offset test; closes clipboard-tests.md
  apps/desktop/src/renderer/src/lib/clipboard/Clipboard.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

replace handrolled variation with fontdrasils
  Cargo.lock
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  crates/shift-backends/src/designspace/reader.rs
  crates/shift-backends/src/glyphs/reader.rs
  crates/shift-core/Cargo.toml
  crates/shift-core/src/interpolation.rs
  crates/shift-core/src/snapshot.rs
  crates/shift-ir/Cargo.toml
  crates/shift-ir/src/axis.rs
  crates/shift-ir/src/font.rs
  crates/shift-ir/src/lib.rs
  crates/shift-ir/src/variation.rs
  crates/shift-node/__test__/font_integration.spec.mjs
  crates/shift-node/src/font_engine.rs
  packages/types/src/generated/GlyphGeometry.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Wire variation: fontdrasil deltas in Rust, eval in TS
  .pre-commit-config.yaml
  .prettierignore
  apps/desktop/src/renderer/src/bridge/NativeBridge.ts
  apps/desktop/src/renderer/src/components/GlyphPreview.tsx
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.test.ts
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
  apps/desktop/src/renderer/src/lib/interpolation/svg.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  crates/shift-backends/src/designspace/reader.rs
  crates/shift-core/src/interpolation.rs
  crates/shift-core/src/snapshot.rs
  crates/shift-core/tests/interpolation_parity.rs
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
  packages/types/__fixtures__/variation_parity.json
  packages/types/src/font.ts
  packages/types/src/generated/AxisTent.ts
  packages/types/src/generated/GlyphVariationData.ts
  packages/types/src/generated/InterpolationResult.ts
  packages/types/src/generated/MasterSnapshot.ts
  packages/types/src/generated/SourceError.ts
  packages/types/src/generated/index.ts
  packages/types/src/index.ts
  scripts/patch-generated-types.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Refactor variation UI: hooks, AxisLocation domain type, Collapsible sections
  apps/desktop/src/renderer/src/bridge/NativeBridge.ts
  apps/desktop/src/renderer/src/components/AxesPanel.tsx
  apps/desktop/src/renderer/src/components/GlyphGridSidebar.tsx
  apps/desktop/src/renderer/src/components/LeftSidebar.tsx
  apps/desktop/src/renderer/src/components/LeftSidebarHome.tsx
  apps/desktop/src/renderer/src/components/RightSidebar.tsx
  apps/desktop/src/renderer/src/components/Sources.tsx
  apps/desktop/src/renderer/src/components/VariationPanel.tsx
  apps/desktop/src/renderer/src/components/glyph-catalog/Category.tsx
  apps/desktop/src/renderer/src/components/glyph-catalog/CategoryIcon.tsx
  apps/desktop/src/renderer/src/components/glyph-catalog/GlyphCatalog.tsx
  apps/desktop/src/renderer/src/components/glyph-catalog/SubCategory.tsx
  apps/desktop/src/renderer/src/components/glyph-catalog/index.ts
  apps/desktop/src/renderer/src/components/sidebar-right/GlyphSection.tsx
  apps/desktop/src/renderer/src/components/sidebar-right/index.ts
  apps/desktop/src/renderer/src/components/sidebar/CollapsibleSection.tsx
  apps/desktop/src/renderer/src/components/sidebar/index.ts
  apps/desktop/src/renderer/src/hooks/useActiveSourceId.ts
  apps/desktop/src/renderer/src/hooks/useApplyVariation.ts
  apps/desktop/src/renderer/src/hooks/useAxes.ts
  apps/desktop/src/renderer/src/hooks/useSources.ts
  apps/desktop/src/renderer/src/hooks/useVariationLocation.ts
  apps/desktop/src/renderer/src/lib/interpolation/interpolate.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
  apps/desktop/src/renderer/src/views/Home.tsx
  packages/types/src/domain.ts
  packages/types/src/font.ts
  packages/types/src/index.ts
  packages/ui/src/components/collapsible/Collapsible.tsx
  packages/ui/src/components/collapsible/index.ts
  packages/ui/src/components/slider/Slider.tsx
  packages/ui/src/components/slider/index.ts
  packages/ui/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

more home sidebar design
  apps/desktop/src/renderer/src/components/editor/sidebar-right/GlyphSection.tsx
  apps/desktop/src/renderer/src/components/home/LeftSidebar.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/GlyphCatalog.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest
