Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

add proper id types, improve typing at rust/ts barrier, add to sidebar
  .pre-commit-config.yaml
  apps/desktop/src/renderer/src/assets/sidebar/placeholder-glyph.svg
  apps/desktop/src/renderer/src/components/sidebar/GlyphSection.tsx
  apps/desktop/src/renderer/src/components/sidebar/Sidebar.tsx
  apps/desktop/src/renderer/src/components/sidebar/SidebarSection.tsx
  apps/desktop/src/renderer/src/engine/mock.ts
  apps/desktop/src/renderer/src/engine/session.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/tools/core/createContext.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/DragBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/HoverBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/MarqueeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ResizeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/RotateBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/SelectionBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/cursor.ts
  apps/desktop/src/renderer/src/lib/tools/select/intents.ts
  apps/desktop/src/renderer/src/testing/engine.ts
  apps/desktop/src/renderer/src/testing/services.ts
  crates/shift-core/src/snapshot.rs
  package.json
  packages/types/src/domain.ts
  packages/types/src/font.ts
  packages/types/src/generated/CommandResult.ts
  packages/types/src/generated/ContourSnapshot.ts
  packages/types/src/generated/DecomposedTransform.ts
  packages/types/src/generated/FontMetadata.ts
  packages/types/src/generated/FontMetrics.ts
  packages/types/src/generated/GlyphSnapshot.ts
  packages/types/src/generated/PointSnapshot.ts
  packages/types/src/index.ts
  pnpm-lock.yaml
  scripts/patch-generated-types.ts
  turbo.json
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

more tidyup of editor
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/index.css
  apps/desktop/src/renderer/src/components/InteractiveScene.tsx
  apps/desktop/src/renderer/src/components/sidebar/GlyphSection.tsx
  apps/desktop/src/renderer/src/engine/editing.ts
  apps/desktop/src/renderer/src/engine/mock.ts
  apps/desktop/src/renderer/src/lib/clipboard/ClipboardManager.ts
  apps/desktop/src/renderer/src/lib/clipboard/index.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/index.ts
  apps/desktop/src/renderer/src/lib/editor/managers/HoverManager.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/GlyphRenderer.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/handles/boundingBoxHandles.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/index.ts
  apps/desktop/src/renderer/src/lib/styles/canvas/boundingBox.ts
  apps/desktop/src/renderer/src/lib/tools/core/createContext.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ResizeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/RotateBehavior.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/shared/bridge/FontEngineAPI.ts
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
  packages/ui/src/components/input/Input.tsx
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

add reactivity to sidebar, allow change to position
  .pre-commit-config.yaml
  apps/desktop/src/main/managers/DocumentState.ts
  apps/desktop/src/renderer/index.css
  apps/desktop/src/renderer/src/components/sidebar/EditableSidebarInput.tsx
  apps/desktop/src/renderer/src/components/sidebar/Sidebar.tsx
  apps/desktop/src/renderer/src/components/sidebar/SidebarSection.tsx
  apps/desktop/src/renderer/src/components/sidebar/TransformSection.tsx
  apps/desktop/src/renderer/src/hooks/useSelectionBounds.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/handles/renderers.ts
  apps/desktop/src/renderer/src/lib/styles/canvas/boundingBox.ts
  apps/desktop/src/renderer/src/lib/styles/canvas/handles.ts
  apps/desktop/src/renderer/src/lib/styles/canvas/index.ts
  apps/desktop/src/renderer/src/lib/styles/canvas/selection.ts
  apps/desktop/src/renderer/src/lib/styles/style.ts
  apps/desktop/src/renderer/src/lib/styles/theme/light.ts
  apps/desktop/src/renderer/src/lib/styles/theme/tokens.ts
  apps/desktop/src/renderer/src/lib/styles/theme/utils.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ResizeBehavior.ts
  packages/ui/src/components/input/Input.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

add focus zone api
  EDITOR_TOOL_REFACTOR.md
  SMALL.md
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/components/sidebar/EditableSidebarInput.tsx
  apps/desktop/src/renderer/src/context/FocusZoneContext.tsx
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/CancelBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/index.ts
  apps/desktop/src/renderer/src/types/focus.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

add edge panning handler
  apps/desktop/src/renderer/src/components/InteractiveScene.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/managers/EdgePanManager.ts
  apps/desktop/src/renderer/src/lib/editor/managers/index.ts
  apps/desktop/src/renderer/src/lib/tools/core/createContext.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/CancelBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/EscapeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/index.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

more sidebar work
  .claude/settings.local.json
  BUGS.md
  apps/desktop/src/renderer/index.css
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/components/Metrics.tsx
  apps/desktop/src/renderer/src/components/sidebar/EditableSidebarInput.tsx
  apps/desktop/src/renderer/src/components/sidebar/IconButton.tsx
  apps/desktop/src/renderer/src/components/sidebar/ScaleSection.tsx
  apps/desktop/src/renderer/src/components/sidebar/SidebarInput.tsx
  apps/desktop/src/renderer/src/components/sidebar/TransformGrid.tsx
  apps/desktop/src/renderer/src/components/sidebar/TransformSection.tsx
  apps/desktop/src/renderer/src/components/sidebar/index.ts
  apps/desktop/src/renderer/src/lib/transform/Transform.ts
  packages/ui/src/components/button/Button.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

treat ufos as package (annoying), add persisted state to store for dev mode to reload font on hmr refresh
  apps/desktop/src/main/managers/AppLifecycle.ts
  apps/desktop/src/main/managers/MenuManager.ts
  apps/desktop/src/renderer/src/lib/utils/utils.ts
  apps/desktop/src/renderer/src/store/store.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

add ability to auto-generate state diagrams from mermaid
  .claude/settings.local.json
  apps/desktop/package.json
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/lib/tools/core/StateDiagram.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/StateDiagram.ts
  apps/desktop/src/renderer/src/lib/tools/core/index.ts
  apps/desktop/src/renderer/src/lib/tools/core/renderStateDiagram.ts
  apps/desktop/src/renderer/src/lib/tools/core/stateDiagramToMermaid.ts
  apps/desktop/src/renderer/src/lib/tools/hand/Hand.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.ts
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

remove impl md file
  EDITOR_TOOL_REFACTOR.md
Due: prettier

more sidebar for alignment stuff
  SELECTION_AKWARD.md
  apps/desktop/src/renderer/index.css
  apps/desktop/src/renderer/src/assets/sidebar/align-bottom.svg
  apps/desktop/src/renderer/src/assets/sidebar/align-center-h.svg
  apps/desktop/src/renderer/src/assets/sidebar/align-center-v.svg
  apps/desktop/src/renderer/src/assets/sidebar/align-centre.svg
  apps/desktop/src/renderer/src/assets/sidebar/align-left.svg
  apps/desktop/src/renderer/src/assets/sidebar/align-right.svg
  apps/desktop/src/renderer/src/assets/sidebar/align-top.svg
  apps/desktop/src/renderer/src/assets/sidebar/flip-h.svg
  apps/desktop/src/renderer/src/assets/sidebar/flip-v.svg
  apps/desktop/src/renderer/src/assets/sidebar/placeholder-glyph.svg
  apps/desktop/src/renderer/src/assets/sidebar/rotate-cw.svg
  apps/desktop/src/renderer/src/assets/sidebar/rotate.svg
  apps/desktop/src/renderer/src/assets/sidebar/scale.svg
  apps/desktop/src/renderer/src/components/sidebar/AlignmentSection.tsx
  apps/desktop/src/renderer/src/components/sidebar/IconButton.tsx
  apps/desktop/src/renderer/src/components/sidebar/Sidebar.tsx
  apps/desktop/src/renderer/src/components/sidebar/TransformSection.tsx
  apps/desktop/src/renderer/src/views/Editor.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor so selection sets are hidden from public api, allow select all from cmd+a, small refactor to select tool to deselect when selected all with keyboard shortcut
  apps/desktop/package.json
  apps/desktop/src/main/managers/AppLifecycle.ts
  apps/desktop/src/renderer/src/lib/clipboard/ClipboardManager.ts
  apps/desktop/src/renderer/src/lib/clipboard/ContentResolver.test.ts
  apps/desktop/src/renderer/src/lib/clipboard/ContentResolver.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/services/EditService.ts
  apps/desktop/src/renderer/src/lib/editor/services/SelectionService.ts
  apps/desktop/src/renderer/src/lib/tools/pen/intents.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/NudgeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/SelectionBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ToggleSmoothBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/index.ts
  apps/desktop/src/renderer/src/lib/tools/select/intents.ts
  apps/desktop/src/renderer/src/lib/transform/SelectionBounds.test.ts
  apps/desktop/src/renderer/src/lib/transform/SelectionBounds.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

remove md file
  SELECTION_AKWARD.md
Due: prettier

add ui zoom, add toasts, more sidebar love (scaling)
  .claude/settings.local.json
  BUGS.md
  apps/desktop/src/main/managers/AppLifecycle.ts
  apps/desktop/src/main/managers/MenuManager.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/assets/minus.svg
  apps/desktop/src/renderer/src/assets/plus.svg
  apps/desktop/src/renderer/src/components/ZoomToast.tsx
  apps/desktop/src/renderer/src/components/sidebar/EditableSidebarInput.tsx
  apps/desktop/src/renderer/src/components/sidebar/ScaleSection.tsx
  apps/desktop/src/renderer/src/components/sidebar/Sidebar.tsx
  apps/desktop/src/renderer/src/components/sidebar/TransformSection.tsx
  apps/desktop/src/renderer/src/context/CanvasContext.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/managers/ViewportManager.ts
  apps/desktop/src/renderer/src/lib/tools/core/GestureDetector.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/types/electron.d.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
  apps/desktop/vite.renderer.config.ts
  packages/ui/src/components/button/Button.tsx
  packages/ui/src/components/toast/Toast.tsx
  packages/ui/src/components/toast/index.ts
  packages/ui/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

clipboard system redesign and refactor
  .claude/settings.local.json
  .gitignore
  ROADMAP.md
  SMALL.md
  apps/desktop/src/renderer/src/assets/sidebar/distribute-h.svg
  apps/desktop/src/renderer/src/assets/sidebar/distribute-v.svg
  apps/desktop/src/renderer/src/components/sidebar/TransformSection.tsx
  apps/desktop/src/renderer/src/lib/clipboard/ClipboardManager.ts
  apps/desktop/src/renderer/src/lib/clipboard/ClipboardService.test.ts
  apps/desktop/src/renderer/src/lib/clipboard/ClipboardService.ts
  apps/desktop/src/renderer/src/lib/clipboard/PayloadSerializer.ts
  apps/desktop/src/renderer/src/lib/clipboard/index.ts
  apps/desktop/src/renderer/src/lib/clipboard/types.ts
  apps/desktop/src/renderer/src/lib/commands/clipboard/ClipboardCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/clipboard/ClipboardCommands.ts
  apps/desktop/src/renderer/src/lib/commands/clipboard/index.ts
  apps/desktop/src/renderer/src/lib/commands/index.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

add option+click to upgrade segment and option+drag for copying contours
  .claude/settings.local.json
  ROADMAP.md
  apps/desktop/src/renderer/src/components/sidebar/TransformSection.tsx
  apps/desktop/src/renderer/src/lib/commands/index.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/index.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/GlyphRenderer.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/DoubleClickSelectContourBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/DragBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/UpgradeSegmentBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/index.ts
  apps/desktop/src/renderer/src/lib/tools/select/intents.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

add validation package for validating segments
  .claude/settings.local.json
  BUGS.md
  SMALL.md
  apps/desktop/package.json
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/lib/clipboard/ContentResolver.ts
  apps/desktop/src/renderer/src/lib/styles/canvas/handles.ts
  apps/desktop/src/renderer/src/lib/styles/canvas/index.ts
  apps/desktop/src/renderer/src/lib/styles/canvas/pen.ts
  apps/desktop/src/renderer/src/lib/styles/style.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  packages/validation/package.json
  packages/validation/src/Validate.test.ts
  packages/validation/src/Validate.ts
  packages/validation/src/index.ts
  packages/validation/src/types.ts
  packages/validation/tsconfig.json
  packages/validation/vitest.config.ts
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

add critical assessment of Rust-side rules engine
  docs/RULES_ENGINE_ASSESSMENT.md
Due: prettier

add serialization architecture recommendations
  docs/SERIALIZATION_ARCHITECTURE.md
Due: prettier

add architecture concerns analysis
  docs/ARCHITECTURE_CONCERNS.md
Due: prettier

add TS rules engine and lightweight NAPI drag APIs
  apps/desktop/src/shared/bridge/FontEngineAPI.ts
  crates/shift-core/src/edit_session.rs
  crates/shift-node/src/font_engine.rs
  packages/rules/package.json
  packages/rules/src/actions.ts
  packages/rules/src/index.ts
  packages/rules/src/matcher.ts
  packages/rules/src/parser.ts
  packages/rules/src/rules.test.ts
  packages/rules/src/rules.ts
  packages/rules/src/types.ts
  packages/rules/tsconfig.json
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

refactor drag flow to use local TS rules engine
  apps/desktop/package.json
  apps/desktop/src/renderer/src/engine/editing.ts
  apps/desktop/src/renderer/src/lib/editor/services/EditService.ts
  apps/desktop/src/renderer/src/lib/tools/select/intents.ts
  packages/rules/tsconfig.json
Due: prettier, oxlint, tsgo-typecheck, vitest

fix undo during preview and use native snapshot restore
  apps/desktop/src/renderer/src/engine/editing.ts
  apps/desktop/src/renderer/src/engine/mock.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor the drawing system with a better DrawAPI. handles upm stuff and screen space conversions
  .claude/settings.local.json
  apps/desktop/src/renderer/index.html
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/components/InteractiveScene.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/managers/EdgePanManager.ts
  apps/desktop/src/renderer/src/lib/editor/managers/ViewportManager.test.ts
  apps/desktop/src/renderer/src/lib/editor/managers/ViewportManager.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/GlyphRenderer.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/handles/index.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/handles/index.ts
  apps/desktop/src/renderer/src/lib/editor/services/ScreenService.ts
  apps/desktop/src/renderer/src/lib/editor/services/ViewportService.ts
  apps/desktop/src/renderer/src/lib/editor/services/index.ts
  apps/desktop/src/renderer/src/lib/styles/canvas/handles.ts
  apps/desktop/src/renderer/src/lib/styles/canvas/pen.ts
  apps/desktop/src/renderer/src/lib/tools/core/BaseTool.ts
  apps/desktop/src/renderer/src/lib/tools/core/DrawAPI.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/DrawAPI.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/core/index.ts
  apps/desktop/src/renderer/src/lib/tools/hand/Hand.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/HoverBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/PlaceBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/MarqueeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ResizeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/RotateBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/types.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/types/graphics.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix annoying re-renders of the sidebar
  apps/desktop/src/renderer/index.html
  apps/desktop/src/renderer/src/components/ToolsPane.tsx
  apps/desktop/src/renderer/src/components/sidebar/EditableSidebarInput.tsx
  apps/desktop/src/renderer/src/components/sidebar/ScaleSection.tsx
  apps/desktop/src/renderer/src/components/sidebar/Sidebar.tsx
  apps/desktop/src/renderer/src/components/sidebar/TransformSection.tsx
  apps/desktop/src/renderer/src/hooks/useSelectionBounds.ts
  apps/desktop/src/renderer/src/hooks/useSignalEffect.ts
  apps/desktop/src/renderer/src/lib/reactive/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/reactive/index.ts
  apps/desktop/src/renderer/src/lib/reactive/useSignal.ts
  apps/desktop/src/renderer/src/lib/transform/anchor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

make zoom more flexible for mouse too
  .claude/settings.local.json
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/lib/transform/index.ts
  apps/desktop/src/renderer/src/lib/transform/zoomFromWheel.test.ts
  apps/desktop/src/renderer/src/lib/transform/zoomFromWheel.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

add fps to debug panel
  apps/desktop/src/renderer/src/components/debug/DebugPanel.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/FpsMonitor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/GlyphRenderer.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Update README with new image and description
  README.md
Due: prettier

batch edit point calls and update them async
  SAVE_AND_GC_PERFORMANCE.md
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/engine/editing.ts
  apps/desktop/src/renderer/src/engine/index.ts
  apps/desktop/src/renderer/src/engine/info.ts
  apps/desktop/src/renderer/src/engine/mock.ts
  apps/desktop/src/renderer/src/engine/native.ts
  apps/desktop/src/renderer/src/lib/editor/services/EditService.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ResizeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/RotateBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/intents.ts
  apps/desktop/src/renderer/src/testing/engine.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/shared/bridge/FontEngineAPI.ts
  crates/shift-core/src/edit_ops.rs
  crates/shift-core/src/lib.rs
  crates/shift-core/src/pattern/actions.rs
  crates/shift-core/src/pattern/matcher.rs
  crates/shift-core/src/pattern/mod.rs
  crates/shift-core/src/pattern/parser.rs
  crates/shift-core/src/pattern/rules.rs
  crates/shift-node/__test__/font_integration.spec.mjs
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
  docs/ARCHITECTURE_CONCERNS.md
  docs/RULES_ENGINE_ASSESSMENT.md
  docs/SERIALIZATION_ARCHITECTURE.md
  packages/rules/src/actions.ts
  packages/rules/src/matcher.ts
  packages/rules/src/rules.ts
  packages/rules/src/types.ts
  pnpm-lock.yaml
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

add scale handles keyboard shortcut (< and >)
  apps/desktop/src/renderer/src/lib/commands/index.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/ScaleHandlesCommand.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/index.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ScaleHandlesBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/index.ts
  apps/desktop/src/renderer/src/lib/tools/select/intents.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Revert "add scale handles keyboard shortcut (< and >)"
  apps/desktop/src/renderer/src/lib/commands/index.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/ScaleHandlesCommand.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/index.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ScaleHandlesBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/index.ts
  apps/desktop/src/renderer/src/lib/tools/select/intents.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
