Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

fix(select): show the add cursor only when extending a selection
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  packages/editor/src/lib/tools/select/Select.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): show the edit ghost only for Select edits
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(catalog): restore empty previews and responsive bulk selection (#462)
  apps/desktop/e2e/svg-catalog.spec.ts
  apps/desktop/src/renderer/src/components/home/GlyphCatalogOverlay.ts
  apps/desktop/src/renderer/src/components/home/SlugGlyphCatalogRenderer.ts
  apps/desktop/src/renderer/src/components/home/SvgGlyphCatalogGrid.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/MissingGlyphsPopover.tsx
  apps/desktop/src/renderer/src/lib/graphics/backends/ResidentGlyphLayer.ts
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/slug/SlugAtlas.test.ts
  apps/desktop/src/renderer/src/lib/slug/SlugAtlas.ts
  apps/desktop/src/renderer/src/lib/slug/SlugRenderer.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(fontsrc): add format-native UFO source boundary (#432)
  .github/workflows/ci.yml
  Cargo.lock
  crates/fontsrc/Cargo.toml
  crates/fontsrc/LICENSE-APACHE
  crates/fontsrc/LICENSE-MIT
  crates/fontsrc/README.md
  crates/fontsrc/docs/DOCS.md
  crates/fontsrc/src/lib.rs
  crates/fontsrc/tests/ufo_source.rs
  docs/architecture/index.md
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat(fontsrc): expose format-native Designspace documents (#434)
  crates/fontsrc/docs/DOCS.md
  crates/fontsrc/src/lib.rs
  crates/fontsrc/tests/designspace_source.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat(fontsrc): expose format-native Glyphs sources (#435)
  Cargo.lock
  crates/fontsrc/Cargo.toml
  crates/fontsrc/README.md
  crates/fontsrc/docs/DOCS.md
  crates/fontsrc/src/lib.rs
  crates/fontsrc/tests/glyphs_source.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

test(fontsrc): add authored-source compatibility corpus (#436)
  crates/fontsrc/docs/DOCS.md
  crates/fontsrc/tests/designspace_source.rs
  crates/fontsrc/tests/glyphs_source.rs
  crates/fontsrc/tests/support/mod.rs
  crates/fontsrc/tests/ufo_source.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

fix(select): move the selection when dragging inside its bounding box
  apps/desktop/src/renderer/src/lib/tools/select/SelectMove.test.ts
  packages/editor/src/lib/tools/select/behaviors/Translate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(select): show the add cursor when shift-hovering segments
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  packages/editor/src/lib/tools/select/Select.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(select): marquee-select segments it crosses
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  packages/editor/src/lib/tools/select/behaviors/Marquee.ts
  packages/geo/src/Curve.test.ts
  packages/geo/src/Curve.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(pen): pull handles out of open contour ends
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  packages/editor/src/lib/tools/pen/Pen.ts
  packages/editor/src/lib/tools/pen/PenHandlePull.ts
  packages/editor/src/lib/tools/pen/PenOverlay.ts
  packages/editor/src/lib/tools/pen/PenStroke.ts
  packages/editor/src/lib/tools/pen/behaviors/PullHandleBehaviour.ts
  packages/editor/src/lib/tools/pen/behaviors/index.ts
  packages/editor/src/lib/tools/pen/types.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(pen): cancel the closing curve on Escape
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  packages/editor/src/lib/tools/pen/behaviors/CloseBehaviour.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): show pending pen handles in drawing goldens
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-cubic-curve.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-s-curve-handles.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-smooth-junction-drag-preview.png
Due: none

feat: align select and pen gestures with standard outline editing (#466)
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-cubic-curve.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-s-curve-handles.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-smooth-junction-drag-preview.png
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectMove.test.ts
  packages/editor/src/lib/tools/pen/Pen.ts
  packages/editor/src/lib/tools/pen/PenHandlePull.ts
  packages/editor/src/lib/tools/pen/PenOverlay.ts
  packages/editor/src/lib/tools/pen/PenStroke.ts
  packages/editor/src/lib/tools/pen/behaviors/CloseBehaviour.ts
  packages/editor/src/lib/tools/pen/behaviors/PullHandleBehaviour.ts
  packages/editor/src/lib/tools/pen/behaviors/index.ts
  packages/editor/src/lib/tools/pen/types.ts
  packages/editor/src/lib/tools/select/Select.ts
  packages/editor/src/lib/tools/select/behaviors/Marquee.ts
  packages/editor/src/lib/tools/select/behaviors/Translate.ts
  packages/geo/src/Curve.test.ts
  packages/geo/src/Curve.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(ui): align select options and keep their labels on one line
  packages/ui/src/components/select/Select.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: keep primary button text readable on light accent colours
  apps/desktop/src/renderer/index.css
  apps/desktop/src/renderer/src/lib/themes/index.test.ts
  apps/desktop/src/renderer/src/lib/themes/index.ts
  packages/sdk/src/style.css
  packages/ui/src/components/button/Button.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: refine the launcher layout and add a list view
  apps/desktop/e2e/fixtures/documentLifecycle.ts
  apps/desktop/e2e/landing.spec.ts
  apps/desktop/e2e/window-behavior.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/windows/Window.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/components/launcher/RecentFileItem.tsx
  apps/desktop/src/renderer/src/components/launcher/RecentFiles.tsx
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  packages/ui/docs/DOCS.md
  packages/ui/src/components/separator/Separator.tsx
  packages/ui/src/components/toggle-group/ToggleGroup.tsx
  packages/ui/src/components/toggle-group/index.ts
  packages/ui/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: soften launcher card borders
  apps/desktop/src/renderer/src/components/launcher/RecentFileItem.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): expect the launcher's 4:3 size capped to the screen
  apps/desktop/e2e/window-behavior.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(desktop): simplify sparing a replaced launcher from recents updates
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/recents/RecentDocuments.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

perf: compile only the glyphs a font preview needs
  crates/shift-backends/src/glyph_subset.rs
  crates/shift-backends/src/lib.rs
  crates/shift-bridge/src/specimen.rs
  crates/shift-specimen/src/lib.rs
  crates/shift-specimen/src/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: show compact list rows with the path on Alt
  apps/desktop/src/main/menu/menuItems.test.ts
  apps/desktop/src/main/recents/RecentDocuments.test.ts
  apps/desktop/src/main/recents/RecentDocuments.ts
  apps/desktop/src/renderer/src/components/launcher/RecentFileItem.tsx
  apps/desktop/src/renderer/src/components/launcher/useRecentDocuments.ts
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/shared/recents.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(glyphs): ignore variable instances when importing named instances
  crates/shift-backends/src/formats/glyphs/conversion.rs
  crates/shift-backends/src/formats/glyphs/source.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(glyphs): keep unpreviewable glyphs from failing their grid page
  crates/shift-backends/src/font_source/inputs.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(glyphs): open sources with variable instances or unpreviewable glyphs (#471)
  crates/shift-backends/src/font_source/inputs.rs
  crates/shift-backends/src/formats/glyphs/conversion.rs
  crates/shift-backends/src/formats/glyphs/source.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: bend curves by dragging and move segments once selected
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectSegmentSnap.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectTransform.test.ts
  packages/editor/src/lib/tools/docs/DOCS.md
  packages/editor/src/lib/tools/select/Select.ts
  packages/editor/src/lib/tools/select/behaviors/BendCurve.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): expect the default cursor over a freshly upgraded cubic
  apps/desktop/e2e/editor.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: bend curves by dragging and move segments once selected (#473)
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectSegmentSnap.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectTransform.test.ts
  packages/editor/src/lib/tools/docs/DOCS.md
  packages/editor/src/lib/tools/select/Select.ts
  packages/editor/src/lib/tools/select/behaviors/BendCurve.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: draw the launcher ghost in each theme's colours
  apps/desktop/src/renderer/index.css
  apps/desktop/src/renderer/src/assets/launcher-lockup-nightly.svg
  apps/desktop/src/renderer/src/assets/launcher-lockup.svg
Due: prettier

fix: use palette colours for text on theme accents
  apps/desktop/src/renderer/src/lib/themes/index.test.ts
  apps/desktop/src/renderer/src/lib/themes/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: adapt the launcher lockup and accent text to colour themes (#474)
  apps/desktop/e2e/__screenshots__/landing.spec.ts/landing-default.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/tool-select.png
  apps/desktop/src/renderer/index.css
  apps/desktop/src/renderer/src/assets/launcher-lockup-nightly.svg
  apps/desktop/src/renderer/src/assets/launcher-lockup.svg
  apps/desktop/src/renderer/src/lib/themes/index.test.ts
  apps/desktop/src/renderer/src/lib/themes/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: draw imported contours that begin with off-curve points
  crates/shift-backends/src/formats/glyphs/conversion.rs
  crates/shift-backends/src/formats/ufo/reader.rs
  crates/shift-backends/src/shift2fontir/glyph.rs
  crates/shift-font/src/ir/contour.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: place components at their stored transforms
  apps/desktop/src/renderer/src/lib/slug/SlugAtlas.test.ts
  apps/desktop/src/renderer/src/lib/slug/SlugAtlas.ts
  apps/desktop/src/utility/workspace/CachedAtlas.test.ts
  apps/desktop/src/utility/workspace/CachedAtlas.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-cli/src/glyph_inspect/report.rs
  crates/shift-cli/src/glyph_inspect/types.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/composite.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/projection.rs
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/examples/analyze_authored.rs
  crates/shift-slug/examples/benchmark_variable_wgpu.rs
  crates/shift-slug/shaders/slug-variable.wgsl
  crates/shift-slug/src/authored.rs
  crates/shift-slug/src/authored/component.rs
  crates/shift-slug/src/lib.rs
  crates/shift-slug/src/variable.rs
  crates/shift-slug/src/variable/component.rs
  crates/shift-slug/tests/atlas.rs
  crates/shift-slug/tests/authored_model.rs
  crates/shift-slug/tests/component_gpu.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/lib.rs
  packages/editor/src/lib/model/ComponentGlyph.ts
  packages/editor/src/lib/model/Glyph.ts
  packages/editor/src/lib/model/docs/DOCS.md
  packages/sdk/api/index.api.md
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

fix(glyphs): import only master layers from Glyphs sources
  crates/shift-backends/src/formats/glyphs/conversion.rs
  crates/shift-backends/src/formats/glyphs/report.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(export): skip kerning pairs whose glyph or group is missing
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/shift2fontir/kerning.rs
  crates/shift-backends/src/shift2fontir/tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat(glyphs): import intermediate layers as sparse masters
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/formats/glyphs/conversion.rs
  crates/shift-backends/src/formats/glyphs/import.rs
  crates/shift-backends/src/formats/glyphs/report.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
