Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

.pre-commit-config.yaml:

repos:
  # Standard file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]

      - id: oxlint
        name: oxlint
        entry: pnpm lint:check
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

      - id: tsgo-typecheck
        name: tsgo typecheck
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

      - id: vitest
        name: vitest
        entry: pnpm test
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

ci: run E2E before the merge queue
  .github/workflows/ci.yml
Due: none

test(e2e): allow preview catalog fallback
  apps/desktop/e2e/document-lifecycle.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): edit cubic handles by angle and length (#382)
  .github/workflows/ci.yml
  ROADMAP.md
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/handle-properties.spec.ts
  apps/desktop/e2e/source-font-preview.spec.ts
  apps/desktop/e2e/variable-navigation-glyph-grid.spec.ts
  apps/desktop/e2e/variable-source-font-preview.spec.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/renderer/src/components/editor/RightSidebar.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/HandleSection.tsx
  apps/desktop/src/renderer/src/components/variation/AxesPanel.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/lib/editor/BooleanOperations.test.ts
  apps/desktop/src/renderer/src/lib/editor/Deletion.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/EditorState.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/hand/Hand.test.ts
  apps/desktop/src/renderer/src/lib/tools/hand/Hand.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenOverlay.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenSnap.test.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/PenDownBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Translate.ts
  apps/desktop/src/renderer/src/lib/variation/location.test.ts
  apps/desktop/src/renderer/src/lib/variation/location.ts
  apps/desktop/src/renderer/src/lib/variation/mapping.ts
  apps/desktop/src/renderer/src/types/handle.ts
  apps/desktop/src/renderer/src/types/index.ts
  packages/glyph-state/docs/DOCS.md
  packages/glyph-state/src/Contour.test.ts
  packages/glyph-state/src/Contour.ts
  packages/ui/src/components/resizable/Resizable.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): compare variation locations as outlines
  apps/desktop/e2e/variable-font-preview.spec.ts
  apps/desktop/e2e/variation-outlines.spec.ts
  apps/desktop/src/renderer/src/assets/general/eye-closed.svg
  apps/desktop/src/renderer/src/assets/general/eye-open.svg
  apps/desktop/src/renderer/src/components/editor/LeftSidebar.tsx
  apps/desktop/src/renderer/src/components/sidebar/CollapsibleSection.tsx
  apps/desktop/src/renderer/src/components/sidebar/SidebarActionRow.tsx
  apps/desktop/src/renderer/src/components/variation/AxesPanel.tsx
  apps/desktop/src/renderer/src/components/variation/Instances.tsx
  apps/desktop/src/renderer/src/components/variation/InstancesSection.tsx
  apps/desktop/src/renderer/src/components/variation/OutlineVisibilityButton.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  apps/desktop/src/renderer/src/components/variation/SourcesSection.tsx
  apps/desktop/src/renderer/src/components/variation/types.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/nodes/GlyphNodeDefinition.ts
  apps/desktop/src/renderer/src/lib/nodes/GlyphOutlines.test.ts
  apps/desktop/src/renderer/src/lib/nodes/GlyphOutlines.ts
  apps/desktop/src/renderer/src/lib/nodes/NodeDefinition.ts
  apps/desktop/src/renderer/src/types/glyphOutline.ts
  apps/desktop/src/renderer/src/types/nodeDefinition.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): scope variation controls to their rows
  apps/desktop/e2e/variation-outlines.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): hover the interactive editor canvas
  apps/desktop/e2e/variation-outlines.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): compare variation locations as outlines (#384)
  apps/desktop/e2e/variable-font-preview.spec.ts
  apps/desktop/e2e/variation-outlines.spec.ts
  apps/desktop/src/renderer/src/assets/general/eye-closed.svg
  apps/desktop/src/renderer/src/assets/general/eye-open.svg
  apps/desktop/src/renderer/src/components/editor/LeftSidebar.tsx
  apps/desktop/src/renderer/src/components/sidebar/CollapsibleSection.tsx
  apps/desktop/src/renderer/src/components/sidebar/SidebarActionRow.tsx
  apps/desktop/src/renderer/src/components/variation/AxesPanel.tsx
  apps/desktop/src/renderer/src/components/variation/Instances.tsx
  apps/desktop/src/renderer/src/components/variation/InstancesSection.tsx
  apps/desktop/src/renderer/src/components/variation/OutlineVisibilityButton.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  apps/desktop/src/renderer/src/components/variation/SourcesSection.tsx
  apps/desktop/src/renderer/src/components/variation/types.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/nodes/GlyphNodeDefinition.ts
  apps/desktop/src/renderer/src/lib/nodes/GlyphOutlines.test.ts
  apps/desktop/src/renderer/src/lib/nodes/GlyphOutlines.ts
  apps/desktop/src/renderer/src/lib/nodes/NodeDefinition.ts
  apps/desktop/src/renderer/src/types/glyphOutline.ts
  apps/desktop/src/renderer/src/types/nodeDefinition.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(font): derive cross-layer entity matches
  crates/shift-cli/src/glyph_inspect/report.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/interpolation.rs
  crates/shift-font/src/interpolation/layer_match.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat(editor): add multi-source selection
  apps/desktop/e2e/variation-outlines.spec.ts
  apps/desktop/src/renderer/src/components/editor/LeftSidebar.tsx
  apps/desktop/src/renderer/src/components/sidebar/SidebarActionRow.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  apps/desktop/src/renderer/src/components/variation/SourcesSection.tsx
  apps/desktop/src/renderer/src/components/variation/types.ts
  apps/desktop/src/renderer/src/hooks/useEditingSourceIds.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.ts
  apps/desktop/src/renderer/src/lib/keyboard/keymaps.ts
  apps/desktop/src/renderer/src/lib/keyboard/types.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Escape.ts
  apps/desktop/src/renderer/src/types/sourceSelection.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(bridge): expose cross-layer entity matches
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/workspace/FontSessionClient.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/index.js
  crates/shift-bridge/src/bridge.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/lib.rs
  packages/types/docs/DOCS.md
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

refactor(font): derive cross-layer entity matches (#386)
  crates/shift-cli/src/glyph_inspect/report.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/interpolation.rs
  crates/shift-font/src/interpolation/layer_match.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

fix(editor): restore source outline controls
  apps/desktop/e2e/variation-outlines.spec.ts
  apps/desktop/src/renderer/src/components/editor/LeftSidebar.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  apps/desktop/src/renderer/src/components/variation/SourcesSection.tsx
  apps/desktop/src/renderer/src/components/variation/types.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(settings): edit axis mappings from graph
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/src/renderer/src/components/chrome/settings/AxisMappingPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/MappingGraph.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(settings): keep mapping drags stable across points
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/package.json
  apps/desktop/src/renderer/src/components/chrome/settings/MappingGraph.tsx
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): refine multi-source selection controls
  .agents/skills/ui/SKILL.md
  .claude/skills/ui/SKILL.md
  .codex/skills/ui/SKILL.md
  apps/desktop/e2e/variation-outlines.spec.ts
  apps/desktop/src/renderer/src/components/editor/LeftSidebar.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/Category.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/GlyphCatalogView.tsx
  apps/desktop/src/renderer/src/components/sidebar/SidebarActionRow.tsx
  apps/desktop/src/renderer/src/components/variation/Instances.tsx
  apps/desktop/src/renderer/src/components/variation/InstancesSection.tsx
  apps/desktop/src/renderer/src/components/variation/OutlineVisibilityButton.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  apps/desktop/src/renderer/src/components/variation/SourcesSection.tsx
  apps/desktop/src/renderer/src/components/variation/types.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/keyboard/keymaps.ts
  apps/desktop/src/renderer/src/lib/keyboard/types.ts
  apps/desktop/src/renderer/src/lib/nodes/GlyphNodeDefinition.ts
  apps/desktop/src/renderer/src/types/glyphOutline.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): update catalog selection snapshot
  apps/desktop/e2e/__screenshots__/home.spec.ts/home-category-active.png
Due: none

feat: make anchor styles better
  apps/desktop/src/renderer/src/lib/editor/rendering/Theme.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(settings): edit axis mappings from graph (#390)
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/package.json
  apps/desktop/src/renderer/src/components/chrome/settings/AxisMappingPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/MappingGraph.tsx
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: make anchor styles better (#392)
  apps/desktop/src/renderer/src/lib/editor/rendering/Theme.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): transform selected sources together
  apps/desktop/e2e/variation-outlines.spec.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/positions/MoveEdit.ts
  apps/desktop/src/renderer/src/lib/model/positions/MultiSourcePositionEdits.test.ts
  apps/desktop/src/renderer/src/lib/model/positions/PositionEdits.ts
  apps/desktop/src/renderer/src/lib/model/positions/RotateEdit.ts
  apps/desktop/src/renderer/src/lib/model/positions/ScaleEdit.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectMove.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/TranslateInteraction.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Nudge.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Resize.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Rotate.ts
  apps/desktop/src/renderer/src/types/index.ts
  apps/desktop/src/renderer/src/types/positionEdit.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): share multi-source transform lifecycle
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/positions/MoveEdit.ts
  apps/desktop/src/renderer/src/lib/model/positions/PositionEditGroup.ts
  apps/desktop/src/renderer/src/lib/model/positions/PositionEditLayer.ts
  apps/desktop/src/renderer/src/lib/model/positions/PositionList.ts
  apps/desktop/src/renderer/src/lib/model/positions/RotateEdit.ts
  apps/desktop/src/renderer/src/lib/model/positions/ScaleEdit.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): isolate multi-source editing lifecycle
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/lib/catalog/GlyphOpenGate.test.ts
  apps/desktop/src/renderer/src/lib/catalog/GlyphOpenGate.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/MultiSourceEditing.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/utils/LatestRequest.test.ts
  apps/desktop/src/renderer/src/lib/utils/LatestRequest.ts
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  apps/desktop/src/renderer/src/types/index.ts
  apps/desktop/src/renderer/src/types/request.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): snap bounding-box rotation with Shift
  apps/desktop/src/renderer/src/lib/tools/select/SelectTransform.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Rotate.ts
  apps/desktop/src/renderer/src/lib/tools/select/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): stabilize source visibility indicators
  apps/desktop/src/renderer/src/components/editor/LeftSidebar.tsx
  apps/desktop/src/renderer/src/components/variation/OutlineVisibilityButton.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: add glyph component authoring operations
  apps/desktop/src/renderer/src/lib/model/ComponentEditing.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/workspace/LayerIntents.ts
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/changes.rs
  crates/shift-font/src/composite.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/projection.rs
  crates/shift-store/src/change_set.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/workspace.rs
  packages/types/docs/DOCS.md
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/ids.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

feat(editor): transform selected sources together (#394)
  apps/desktop/e2e/variation-outlines.spec.ts
  apps/desktop/src/renderer/src/components/editor/LeftSidebar.tsx
  apps/desktop/src/renderer/src/components/variation/OutlineVisibilityButton.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/lib/catalog/GlyphOpenGate.test.ts
  apps/desktop/src/renderer/src/lib/catalog/GlyphOpenGate.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/MultiSourceEditing.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/positions/MoveEdit.ts
  apps/desktop/src/renderer/src/lib/model/positions/MultiSourcePositionEdits.test.ts
  apps/desktop/src/renderer/src/lib/model/positions/PositionEditGroup.ts
  apps/desktop/src/renderer/src/lib/model/positions/PositionEditLayer.ts
  apps/desktop/src/renderer/src/lib/model/positions/PositionEdits.ts
  apps/desktop/src/renderer/src/lib/model/positions/PositionList.ts
  apps/desktop/src/renderer/src/lib/model/positions/RotateEdit.ts
  apps/desktop/src/renderer/src/lib/model/positions/ScaleEdit.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectMove.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectTransform.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/TranslateInteraction.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Nudge.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Resize.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Rotate.ts
  apps/desktop/src/renderer/src/lib/tools/select/types.ts
  apps/desktop/src/renderer/src/lib/utils/LatestRequest.test.ts
  apps/desktop/src/renderer/src/lib/utils/LatestRequest.ts
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  apps/desktop/src/renderer/src/types/index.ts
  apps/desktop/src/renderer/src/types/positionEdit.ts
  apps/desktop/src/renderer/src/types/request.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

docs: expand component editing roadmap
  ROADMAP.md
Due: prettier

feat: select glyph component geometry
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/model/ComponentGlyph.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/nodes/GlyphNodeDefinition.ts
  apps/desktop/src/renderer/src/lib/objects/ComponentObject.ts
  apps/desktop/src/renderer/src/lib/objects/index.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/select/BoundingBox.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/SelectHover.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Selection.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Translate.ts
  apps/desktop/src/renderer/src/types/glyph.ts
  apps/desktop/src/renderer/src/types/index.ts
  apps/desktop/src/renderer/src/types/object.ts
  apps/desktop/src/renderer/src/types/target.ts
  packages/glyph-state/docs/DOCS.md
  packages/glyph-state/src/filledContoursContain.ts
  packages/glyph-state/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor: reuse vector geometry in fill hit testing
  packages/glyph-state/src/filledContoursContain.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Establish browser-safe editor build boundary
  .github/workflows/ci.yml
  apps/desktop/package.json
  apps/desktop/src/renderer/src/components/editor/Canvas.tsx
  apps/desktop/src/renderer/src/lib/clipboard/index.ts
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/testing/workspaceStack.ts
  apps/desktop/src/renderer/src/types/editor.ts
  apps/desktop/src/renderer/src/types/font.ts
  apps/desktop/src/renderer/src/types/index.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
  apps/desktop/src/renderer/src/workspace/Workspace.ts
  apps/desktop/src/renderer/src/workspace/runtime.ts
  apps/desktop/vite.browser.config.ts
  docs/architecture/index.md
  knip.json
  package.json
Due: prettier, oxlint, tsgo-typecheck, vitest

Adopt preview memory workspace session modes
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/workspace/FontSessionHost.ts
  apps/desktop/src/main/workspace/WorkspaceManager.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/components/variation/AxesPanel.tsx
  apps/desktop/src/renderer/src/components/variation/AxesSection.tsx
  apps/desktop/src/renderer/src/components/variation/InstancesSection.tsx
  apps/desktop/src/renderer/src/components/variation/SourcesSection.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/context/SettingsNavigationProvider.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/workspace/FontSessionClient.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/types/fontSession.ts
  apps/desktop/src/renderer/src/workspace/FontSession.ts
  apps/desktop/src/renderer/src/workspace/Workspace.ts
  apps/desktop/src/renderer/src/workspace/runtime.ts
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/src/shared/workspace/protocol.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Allow local position edits without workspace
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerEdit.test.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: add component transform interactions
  ROADMAP.md
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/editor/rendering/Theme.ts
  apps/desktop/src/renderer/src/lib/model/ComponentBuffer.ts
  apps/desktop/src/renderer/src/lib/model/ComponentGlyph.ts
  apps/desktop/src/renderer/src/lib/model/ComponentTransformEdit.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerState.ts
  apps/desktop/src/renderer/src/lib/model/LayerBuffers.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/nodes/GlyphNodeDefinition.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/select/BoundingBox.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Resize.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Rotate.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Translate.ts
  apps/desktop/src/renderer/src/lib/tools/select/componentSelection.ts
  apps/desktop/src/renderer/src/lib/workspace/LayerIntents.ts
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/composite.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/layer_edit.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  packages/types/docs/DOCS.md
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest
