Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

Refactor resident glyph catalog rendering
  apps/desktop/src/renderer/src/components/home/GlyphCatalogCanvas.tsx
  apps/desktop/src/renderer/src/components/home/GlyphCatalogController.ts
  apps/desktop/src/renderer/src/components/home/GlyphCatalogOverlay.ts
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/home/GlyphPreviewLayout.ts
  apps/desktop/src/renderer/src/components/home/glyphCatalogLayout.test.ts
  apps/desktop/src/renderer/src/components/home/glyphCatalogLayout.ts
  apps/desktop/src/renderer/src/context/ThemeContext.tsx
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasSurface.ts
  apps/desktop/src/renderer/src/lib/graphics/backends/ResidentGlyphLayer.ts
  apps/desktop/src/renderer/src/lib/graphics/canvasText.ts
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.test.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/slug/SlugAtlas.test.ts
  apps/desktop/src/renderer/src/lib/slug/SlugAtlas.ts
  apps/desktop/src/renderer/src/lib/slug/SlugRenderer.ts
  apps/desktop/src/renderer/src/lib/slug/SlugRendererResources.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  apps/desktop/src/renderer/src/testing/workspaceStack.ts
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  apps/desktop/src/renderer/src/types/glyphPreview.ts
  apps/desktop/src/renderer/src/types/index.ts
  apps/desktop/src/renderer/src/types/slug.ts
  apps/desktop/src/shared/workspace/PortByteStream.test.ts
  apps/desktop/src/shared/workspace/PortByteStream.ts
  apps/desktop/src/shared/workspace/channel.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-slug/src/authored/component.rs
  packages/geo/src/Rect.test.ts
  packages/geo/src/Rect.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Route eager font loading through streams
  crates/shift-backends/src/binary/mod.rs
  crates/shift-backends/src/binary/reader.rs
  crates/shift-backends/src/designspace/reader.rs
  crates/shift-backends/src/errors.rs
  crates/shift-backends/src/font_loader.rs
  crates/shift-backends/src/import.rs
  crates/shift-backends/src/ufo/reader.rs
  crates/shift-backends/tests/loading.rs
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Stream foreign fonts into lazy SQLite layers
  Cargo.lock
  crates/shift-backends/Cargo.toml
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/binary/mod.rs
  crates/shift-backends/src/binary/reader.rs
  crates/shift-backends/src/designspace/import.rs
  crates/shift-backends/src/designspace/mod.rs
  crates/shift-backends/src/designspace/reader.rs
  crates/shift-backends/src/font_loader.rs
  crates/shift-backends/src/import.rs
  crates/shift-backends/src/lib.rs
  crates/shift-backends/src/ufo/import.rs
  crates/shift-backends/src/ufo/mod.rs
  crates/shift-backends/src/ufo/reader.rs
  crates/shift-backends/tests/loading.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/ir/font.rs
  crates/shift-store/Cargo.toml
  crates/shift-store/README.md
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/connection.rs
  crates/shift-store/src/error.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/packed_layer.rs
  crates/shift-store/src/store.rs
  crates/shift-store/src/stream_writer.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/examples/profile_streaming_import.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Add canonical packed glyph layer codec
  Cargo.lock
  crates/shift-font/Cargo.toml
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/lib.rs
  crates/shift-font/src/packed_layer.rs
  crates/shift-glyph-codec/SPECIFICATION.md
  crates/shift-glyph-codec/examples/layer_benchmark.rs
  crates/shift-glyph-codec/src/layer.rs
  crates/shift-glyph-codec/src/lib.rs
  crates/shift-glyph-codec/tests/layer.rs
  fixtures/glyph-codec/layer-v1/empty.bin
  fixtures/glyph-codec/layer-v1/full.bin
  fixtures/glyph-codec/layer-v1/vectors.json
  packages/glyph-codec/README.md
  packages/glyph-codec/src/error.ts
  packages/glyph-codec/src/index.ts
  packages/glyph-codec/src/layer.test.ts
  packages/glyph-codec/src/layer.ts
  packages/glyph-codec/src/outline.ts
  packages/glyph-codec/src/types.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Add packed layer golden and import stress tests
  crates/shift-store/src/packed_layer.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Store glyph layers as lazy SQLite blobs
  Cargo.lock
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/error.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-store/Cargo.toml
  crates/shift-store/README.md
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/component.rs
  crates/shift-store/src/error.rs
  crates/shift-store/src/font_state.rs
  crates/shift-store/src/layer.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/outline.rs
  crates/shift-store/src/packed_layer.rs
  crates/shift-store/src/schema.rs
  crates/shift-store/src/stream_writer.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
  docs/architecture/index.md
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Make lazy layer residency explicit
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/changes.rs
  crates/shift-font/src/intents.rs
  crates/shift-store/src/packed_layer.rs
  crates/shift-workspace/src/layer_residency.rs
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/lib.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Share streamed glyph and store write paths
  crates/shift-backends/src/designspace/import.rs
  crates/shift-backends/src/import.rs
  crates/shift-backends/src/ufo/import.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/packed_layer.rs
  crates/shift-store/src/stream_writer.rs
  crates/shift-store/src/write_mode.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Consolidate canonical layer store paths
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/component.rs
  crates/shift-store/src/font_state.rs
  crates/shift-store/src/layer.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/outline.rs
  crates/shift-store/src/packed_layer.rs
  crates/shift-store/src/types.rs
  crates/shift-store/tests/store_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Preserve Designspace metrics and source order
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/designspace/error.rs
  crates/shift-backends/src/designspace/import.rs
  crates/shift-backends/src/ufo/import.rs
  crates/shift-backends/src/ufo/reader.rs
  crates/shift-backends/tests/loading.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Modularize packed glyph codecs
  Cargo.lock
  crates/shift-glyph-codec/Cargo.toml
  crates/shift-glyph-codec/SPECIFICATION.md
  crates/shift-glyph-codec/src/frame.rs
  crates/shift-glyph-codec/src/layer.rs
  crates/shift-glyph-codec/src/lib.rs
  crates/shift-glyph-codec/src/outline.rs
  crates/shift-glyph-codec/tests/fixtures.rs
  fixtures/glyph-codec/outline-v1/vectors.json
  packages/glyph-codec/README.md
  packages/glyph-codec/src/fixtures.test.ts
  packages/glyph-codec/src/frame.ts
  packages/glyph-codec/src/layer-binary.ts
  packages/glyph-codec/src/layer-lib.ts
  packages/glyph-codec/src/layer-limits.ts
  packages/glyph-codec/src/layer-strings.ts
  packages/glyph-codec/src/layer.ts
  packages/glyph-codec/src/outline.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Speed up values-only layer replay
  apps/desktop/src/renderer/src/perf/workspaceApply.bench.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/glyph.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Derive stable compiled outline identities
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/binary/reader.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Share bounded layer loads and stage imports
  Cargo.lock
  crates/shift-font/src/changes.rs
  crates/shift-font/src/intents.rs
  crates/shift-store/README.md
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/connection.rs
  crates/shift-store/src/error.rs
  crates/shift-store/src/font_state.rs
  crates/shift-store/src/packed_layer.rs
  crates/shift-store/src/schema.rs
  crates/shift-store/src/stream_writer.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-workspace/Cargo.toml
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/import_staging.rs
  crates/shift-workspace/src/lib.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Pipeline canonical layer packing and writes
  crates/shift-store/src/lib.rs
  crates/shift-store/src/stream_writer.rs
  crates/shift-store/src/types.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/examples/profile_streaming_import.rs
  crates/shift-workspace/src/import_pipeline.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Build import indexes after streaming
  crates/shift-store/README.md
  crates/shift-store/src/schema.rs
  crates/shift-store/src/stream_writer.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Reduce canonical layer encoder allocations
  crates/shift-glyph-codec/src/layer.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Refine atomic layer replacement identities
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/ir/font.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Finish lazy layer review cleanup
  Cargo.lock
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/binary/reader.rs
  crates/shift-backends/src/designspace/error.rs
  crates/shift-backends/src/designspace/import.rs
  crates/shift-backends/src/ufo/import.rs
  crates/shift-backends/src/ufo/reader.rs
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/codec_adapter.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/lib.rs
  crates/shift-store/Cargo.toml
  crates/shift-store/README.md
  crates/shift-store/src/font_state.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/packed_layer.rs
  crates/shift-store/src/stream_writer.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/examples/profile_streaming_import.rs
  crates/shift-workspace/src/import_pipeline.rs
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/lib.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Preserve TrueType quadratic layers
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/binary/reader.rs
  crates/shift-backends/tests/loading.rs
  crates/shift-backends/tests/round_trip/ufo.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Cache canonical layer codec metadata
  crates/shift-glyph-codec/SPECIFICATION.md
  crates/shift-glyph-codec/src/layer.rs
  crates/shift-glyph-codec/src/lib.rs
  crates/shift-glyph-codec/tests/fixtures.rs
  fixtures/glyph-codec/layer-v1/guideline-flags.bin
  fixtures/glyph-codec/layer-v1/lib-only.bin
  fixtures/glyph-codec/layer-v1/vectors.json
  fixtures/glyph-codec/outline-v1/vectors.json
  packages/glyph-codec/README.md
  packages/glyph-codec/src/fixtures.test.ts
  packages/glyph-codec/src/layer-lib.ts
  packages/glyph-codec/src/layer-strings.ts
  packages/glyph-codec/src/layer.test.ts
  packages/glyph-codec/src/layer.ts
  packages/glyph-codec/src/types.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Tighten canonical layer validation
  crates/shift-glyph-codec/SPECIFICATION.md
  crates/shift-glyph-codec/src/layer.rs
  crates/shift-glyph-codec/tests/layer.rs
  packages/glyph-codec/src/layer.test.ts
  packages/glyph-codec/src/layer.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Compress canonical glyph layer storage
  Cargo.lock
  crates/shift-store/Cargo.toml
  crates/shift-store/README.md
  crates/shift-store/src/error.rs
  crates/shift-store/src/font_state.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/packed_layer.rs
  crates/shift-store/src/schema.rs
  crates/shift-store/src/stored_layer.rs
  crates/shift-store/src/stream_writer.rs
  crates/shift-store/src/types.rs
  crates/shift-workspace/examples/profile_streaming_import.rs
  crates/shift-workspace/src/import_pipeline.rs
  crates/shift-workspace/tests/workspace_test.rs
  docs/architecture/index.md
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Avoid full font copies during layer hydration
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/ir/font.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

e2e fixes
  apps/desktop/e2e/gpu.spec.ts
  apps/desktop/e2e/perf.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: update actions and warm perf caches
  .github/workflows/ci.yml
  .github/workflows/perf.yml
  .github/workflows/pr-clean-caches.yml
Due: none

chore: upgrade pnpm and secure dependencies
  .npmrc
  apps/desktop/package.json
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/components/chrome/NavigationPane.tsx
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/views/Editor.tsx
  crates/shift-bridge/package.json
  knip.json
  package.json
  packages/bridge/package.json
  packages/geo/package.json
  packages/glyph-codec/package.json
  packages/glyph-info/package.json
  packages/glyph-state/package.json
  packages/rules/package.json
  packages/ui/package.json
  packages/validation/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

Simplify native development commands
  AGENTS.md
  README.md
  package.json
  scripts/watch.sh
  turbo.json
Due: prettier

Generate glyph info before consuming tasks
  package.json
  packages/glyph-info/package.json
  turbo.json
Due: prettier

Reuse native Turbo builds in CI
  .github/workflows/ci.yml
  turbo.json
Due: prettier

Preserve native cache after test failures
  .github/workflows/ci.yml
Due: none

Remove deprecated cache option
  .github/workflows/ci.yml
Due: none

ci: use tsgo and schedule Playwright perf checks
  .github/workflows/ci.yml
  .github/workflows/perf.yml
  apps/desktop/package.json
  apps/desktop/src/renderer/env.d.ts
  apps/desktop/tsconfig.json
  package.json
  packages/bridge/package.json
  packages/geo/package.json
  packages/glyph-codec/package.json
  packages/glyph-info/package.json
  packages/glyph-state/package.json
  packages/rules/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/validation/package.json
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

Show canonical glyph names in catalog
  apps/desktop/src/renderer/src/components/home/GlyphCatalogOverlay.ts
  apps/desktop/src/renderer/src/components/home/glyphCatalogLayout.test.ts
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  packages/glyph-info/src/GlyphInfo.test.ts
  packages/glyph-info/src/GlyphInfo.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Generate glyph info before perf tests
  package.json
Due: prettier

Modularize glyph layer storage
  crates/shift-store/README.md
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/font_state.rs
  crates/shift-store/src/import_writer.rs
  crates/shift-store/src/layer/directory.rs
  crates/shift-store/src/layer/format.rs
  crates/shift-store/src/layer/load.rs
  crates/shift-store/src/layer/mod.rs
  crates/shift-store/src/layer/payload.rs
  crates/shift-store/src/layer/references.rs
  crates/shift-store/src/layer/tests.rs
  crates/shift-store/src/layer/write.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/packed_layer.rs
  crates/shift-store/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
