Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

.pre-commit-config.yaml:

repos:
  # Standard file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]

      - id: oxlint
        name: oxlint
        entry: pnpm lint:check
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

      - id: tsgo-typecheck
        name: tsgo typecheck
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

      - id: vitest
        name: vitest
        entry: pnpm test
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

add segment bend feature with Alt+drag
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/SegmentBendBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/index.ts
  apps/desktop/src/renderer/src/lib/tools/select/intents.ts
  apps/desktop/src/renderer/src/lib/tools/select/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

add multiple canvases for compositing and better seperation of rendering concerns, fix duplicate types and add better rust-ts type interop
  Claude.md
  apps/desktop/package.json
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/components/OverlayScene.tsx
  apps/desktop/src/renderer/src/components/sidebar/Sidebar.tsx
  apps/desktop/src/renderer/src/context/CanvasContext.tsx
  apps/desktop/src/renderer/src/engine/index.ts
  apps/desktop/src/renderer/src/engine/info.ts
  apps/desktop/src/renderer/src/engine/io.ts
  apps/desktop/src/renderer/src/engine/mock.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/GlyphRenderer.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/index.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/select/cursor.ts
  apps/desktop/src/renderer/src/types/editor.ts
  apps/desktop/src/renderer/src/views/FontInfo.tsx
  apps/desktop/src/shared/bridge/FontEngineAPI.ts
  crates/shift-node/__test__/font_integration.spec.mjs
  crates/shift-node/__test__/index.spec.mjs
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
  crates/shift-node/src/review.md
  crates/shift-node/src/types.rs
  pnpm-lock.yaml
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

add unified hit testing API with getNodeAt and move hover management to editor
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/services/HitTestService.ts
  apps/desktop/src/renderer/src/lib/editor/services/index.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/HoverBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/MouseTrackBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/index.ts
  apps/desktop/src/renderer/src/lib/tools/pen/intents.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/HoverBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/index.ts
  apps/desktop/src/renderer/src/lib/tools/select/intents.ts
  apps/desktop/src/renderer/src/types/hitResult.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

new hover system (potential)
  Claude.md
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/tools/core/BaseTool.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/hand/Hand.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/HandleBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/HoverBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/pen/index.ts
  apps/desktop/src/renderer/src/lib/tools/pen/intents.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/DoubleClickSelectContourBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/DragBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/EscapeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/HoverBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/MarqueeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ResizeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/RotateBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/SelectionBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/UpgradeSegmentBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/cursor.ts
  apps/desktop/src/renderer/src/lib/tools/select/intents.ts
  apps/desktop/src/renderer/src/lib/tools/select/types.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/types/editor.ts
  dump.json
Due: prettier, oxlint, tsgo-typecheck, vitest

add new Contour package to reduce boilerplate, update pen tool to use that
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/components/InteractiveScene.tsx
  apps/desktop/src/renderer/src/components/OverlayScene.tsx
  apps/desktop/src/renderer/src/components/StaticScene.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/GlyphRenderer.ts
  apps/desktop/src/renderer/src/lib/editor/services/EditService.ts
  apps/desktop/src/renderer/src/lib/editor/services/HitTestService.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/CancelBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/HoverBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/PlaceBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/index.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/HoverBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/index.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/types/hitResult.ts
  packages/geo/src/Contour.ts
  packages/geo/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

better layer canvas uis during drawing
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/GlyphRenderer.ts
  apps/desktop/src/renderer/src/lib/editor/services/RenderService.ts
  apps/desktop/src/renderer/src/lib/tools/core/BaseTool.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/testing/services.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

perf improvements
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/components/InteractiveScene.tsx
  apps/desktop/src/renderer/src/components/debug/DebugPanel.tsx
  apps/desktop/src/renderer/src/components/sidebar/EditableSidebarInput.tsx
  apps/desktop/src/renderer/src/components/sidebar/Sidebar.tsx
  apps/desktop/src/renderer/src/components/sidebar/TransformSection.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/managers/EdgePanManager.test.ts
  apps/desktop/src/renderer/src/lib/editor/managers/EdgePanManager.ts
  apps/desktop/src/renderer/src/lib/editor/managers/ViewportManager.test.ts
  apps/desktop/src/renderer/src/lib/editor/managers/ViewportManager.ts
  apps/desktop/src/renderer/src/lib/tools/core/BaseTool.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolContext.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/MarqueeBehavior.ts
  apps/desktop/src/renderer/src/testing/services.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

use domain types
  packages/geo/src/Contour.ts
  packages/types/src/domain.ts
  packages/types/src/font.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

tighten hit api, use getNodeAt
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolContext.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/PlaceBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/pen/intents.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/DoubleClickSelectContourBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/DragBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/MarqueeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/SelectionBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ToggleSmoothBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/UpgradeSegmentBehavior.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/types/hitResult.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

glyph grid proper previews
  SAVE_AND_GC_PERFORMANCE.md
  apps/desktop/package.json
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/app/RouteDispatcher.tsx
  apps/desktop/src/renderer/src/app/WorkspaceLayout.tsx
  apps/desktop/src/renderer/src/app/routes.ts
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/components/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/GlyphPreview.tsx
  apps/desktop/src/renderer/src/engine/docs/CONTEXT.md
  apps/desktop/src/renderer/src/engine/docs/DOCS.md
  apps/desktop/src/renderer/src/engine/info.ts
  apps/desktop/src/renderer/src/engine/mock.ts
  apps/desktop/src/renderer/src/lib/cache/LRUCache.test.ts
  apps/desktop/src/renderer/src/lib/cache/LRUCache.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/store/GlyphOutlineStore.test.ts
  apps/desktop/src/renderer/src/store/GlyphOutlineStore.ts
  apps/desktop/src/renderer/src/store/store.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
  apps/desktop/src/renderer/src/views/Home.tsx
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/shared/bridge/FontEngineAPI.ts
  crates/shift-node/__test__/font_integration.spec.mjs
  crates/shift-node/docs/DOCS.md
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
  pnpm-lock.yaml
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Add OpenType feature editing design & implementation plan
  docs/plans/opentype-feature-editing-plan.md
Due: prettier

glyph grid proper fixes
  apps/desktop/src/renderer/src/components/GlyphGrid.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

add first pass for snapping, add alt+drag contour
  SMALL.md
  apps/desktop/src/renderer/public/cursors/cursor@32-copy-1.svg
  apps/desktop/src/renderer/public/cursors/cursor@32-copy.svg
  apps/desktop/src/renderer/src/components/debug/DebugPanel.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/managers/SnapManager.test.ts
  apps/desktop/src/renderer/src/lib/editor/managers/SnapManager.ts
  apps/desktop/src/renderer/src/lib/editor/managers/index.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/GlyphRenderer.ts
  apps/desktop/src/renderer/src/lib/styles/canvas/pen.ts
  apps/desktop/src/renderer/src/lib/styles/cursor.ts
  apps/desktop/src/renderer/src/lib/styles/style.ts
  apps/desktop/src/renderer/src/lib/tools/core/BaseTool.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolContext.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/docs/CONTEXT.md
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/docs/TOOL_SYSTEM_PLAN.md
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/HandleBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/pen/types.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/DragBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/RotateBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/types.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/types/editor.ts
  packages/geo/src/Contour.ts
  packages/geo/src/Vec2.test.ts
  packages/geo/src/Vec2.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

improve snapping api
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/managers/EditorSnapManager.ts
  apps/desktop/src/renderer/src/lib/editor/managers/SelectionManager.ts
  apps/desktop/src/renderer/src/lib/editor/managers/SnapManager.test.ts
  apps/desktop/src/renderer/src/lib/editor/managers/SnapManager.ts
  apps/desktop/src/renderer/src/lib/editor/managers/index.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/GlyphRenderer.ts
  apps/desktop/src/renderer/src/lib/editor/snapping/SnapPipelineRunner.ts
  apps/desktop/src/renderer/src/lib/editor/snapping/steps.ts
  apps/desktop/src/renderer/src/lib/editor/snapping/types.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolContext.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/HandleBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/pen/types.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/DragBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/RotateBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/types.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/types/editor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

clean up tools to use more editor apis and vec library, change drag to translate
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/GlyphRenderer.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolContext.ts
  apps/desktop/src/renderer/src/lib/tools/docs/CONTEXT.md
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/DoubleClickSelectContourBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ResizeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/RotateBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ToggleSmoothBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/TranslateBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/UpgradeSegmentBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/index.ts
  apps/desktop/src/renderer/src/lib/tools/select/cursor.ts
  apps/desktop/src/renderer/src/lib/tools/select/index.ts
  apps/desktop/src/renderer/src/lib/tools/select/types.ts
  apps/desktop/src/renderer/src/lib/tools/select/utils.ts
  apps/desktop/src/renderer/src/testing/services.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

create @shift/font package, widen Segment.parse, remove unnecessary casts
  apps/desktop/package.json
  apps/desktop/src/renderer/src/lib/commands/transform/AlignmentCommands.ts
  apps/desktop/src/renderer/src/lib/commands/transform/TransformCommands.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/managers/EditorSnapManager.ts
  apps/desktop/src/renderer/src/lib/geo/Segment.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/CancelBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/PlaceBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/DoubleClickSelectContourBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/MarqueeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/intents.ts
  apps/desktop/src/renderer/src/types/segments.ts
  packages/font/package.json
  packages/font/src/Contour.ts
  packages/font/src/Glyph.test.ts
  packages/font/src/Glyph.ts
  packages/font/src/index.ts
  packages/font/tsconfig.json
  packages/geo/src/index.ts
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

remove fontEngine from ToolContext interface
  apps/desktop/src/renderer/src/lib/clipboard/ContentResolver.ts
  apps/desktop/src/renderer/src/lib/clipboard/types.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolContext.ts
  apps/desktop/src/renderer/src/testing/services.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

replace snapshot types with domain types in public APIs
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/GlyphRenderer.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/render.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/render.ts
  apps/desktop/src/renderer/src/lib/utils/snapshot.ts
  apps/desktop/src/renderer/src/types/editor.ts
  packages/geo/src/Polygon.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

remove redundant requestRedraw calls
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/tools/select/intents.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

simplify updateHover with HoverResult type
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/managers/HoverManager.ts
  apps/desktop/src/renderer/src/types/hitResult.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

clean up raw peeks
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/GlyphRenderer.ts
  apps/desktop/src/renderer/src/lib/graphics/backends/Canvas2DRenderer.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

lets add some iterators
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/managers/EditorSnapManager.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/GlyphRenderer.ts
  apps/desktop/src/renderer/src/lib/geo/Segment.test.ts
  apps/desktop/src/renderer/src/lib/geo/Segment.ts
  apps/desktop/src/renderer/src/lib/transform/SelectionBounds.ts
  packages/font/src/Contour.test.ts
  packages/font/src/Contour.ts
  packages/font/src/Glyph.test.ts
  packages/font/src/Glyph.ts
  packages/font/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

improve rendering surface area
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/index.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/GlyphRenderer.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/handles/constants.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/handles/index.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/handles/primitives.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/handles/primitives.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/handles/renderers.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/handles/renderers.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/index.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/boundingBox.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/boundingBox.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/glyph.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/glyph.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/guides.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/guides.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/handles.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/handles.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/index.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/segments.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/segments.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/snapIndicators.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/snapIndicators.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/types.ts
  apps/desktop/src/renderer/src/lib/tools/core/DrawAPI.ts
  apps/desktop/vite.renderer.config.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

clean up editor, start text type, signals doc cleanup
  .gitignore
  Claude.md
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/components/InteractiveScene.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/managers/EdgePanManager.test.ts
  apps/desktop/src/renderer/src/lib/editor/managers/EdgePanManager.ts
  apps/desktop/src/renderer/src/lib/editor/managers/SelectionManager.ts
  apps/desktop/src/renderer/src/lib/editor/managers/ViewportManager.test.ts
  apps/desktop/src/renderer/src/lib/editor/managers/ViewportManager.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/index.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolContext.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolStateMap.ts
  apps/desktop/src/renderer/src/lib/tools/core/createContext.ts
  apps/desktop/src/renderer/src/lib/tools/pen/intents.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/DoubleClickBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/SelectionBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/index.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.ts
  apps/desktop/src/renderer/src/lib/tools/text/types.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/types/tools.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

clean up font engine side, commands
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/engine/docs/CONTEXT.md
  apps/desktop/src/renderer/src/engine/docs/DOCS.md
  apps/desktop/src/renderer/src/engine/editing.ts
  apps/desktop/src/renderer/src/engine/errors.ts
  apps/desktop/src/renderer/src/engine/index.ts
  apps/desktop/src/renderer/src/engine/info.ts
  apps/desktop/src/renderer/src/engine/io.ts
  apps/desktop/src/renderer/src/engine/mock.ts
  apps/desktop/src/renderer/src/engine/native.ts
  apps/desktop/src/renderer/src/engine/session.ts
  apps/desktop/src/renderer/src/lib/clipboard/types.ts
  apps/desktop/src/renderer/src/lib/commands/clipboard/ClipboardCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/core/CommandHistory.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/PointCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/PointCommands.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/managers/index.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/testing/engine.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/types/engine.ts
  apps/desktop/src/shared/bridge/FontEngineAPI.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

tighten up boundary point between napi and ts
  ROADMAP.md
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/engine/editing.ts
  apps/desktop/src/renderer/src/engine/info.ts
  apps/desktop/src/renderer/src/engine/io.ts
  apps/desktop/src/renderer/src/engine/mock.ts
  apps/desktop/src/renderer/src/engine/session.ts
  apps/desktop/src/renderer/src/lib/commands/clipboard/ClipboardCommands.ts
  apps/desktop/src/renderer/src/lib/commands/transform/AlignmentCommands.ts
  apps/desktop/src/renderer/src/lib/commands/transform/TransformCommands.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/tools/text/types.ts
  apps/desktop/src/renderer/src/lib/utils/snapshot.ts
  apps/desktop/src/renderer/src/types/engine.ts
  apps/desktop/src/shared/bridge/FontEngineAPI.ts
  crates/shift-node/__test__/font_integration.spec.mjs
  crates/shift-node/__test__/index.spec.mjs
  crates/shift-node/index.d.ts
  crates/shift-node/index.js
  crates/shift-node/src/font_engine.rs
  crates/shift-node/src/lib.rs
  crates/shift-node/src/types.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

add more caching layers for bounds, render paths. extend draw api to render svgs
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/components/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/GlyphPreview.tsx
  apps/desktop/src/renderer/src/lib/cache/GlyphRenderCache.test.ts
  apps/desktop/src/renderer/src/lib/cache/GlyphRenderCache.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/boundingBox.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/glyph.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/guides.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/handles.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/segments.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/snapIndicators.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/render.test.ts
  apps/desktop/src/renderer/src/lib/graphics/backends/Canvas2DRenderer.ts
  apps/desktop/src/renderer/src/lib/tools/core/DrawAPI.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/DrawAPI.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolContext.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout.ts
  apps/desktop/src/renderer/src/store/GlyphDataStore.test.ts
  apps/desktop/src/renderer/src/store/GlyphDataStore.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/testing/setup.ts
  apps/desktop/src/renderer/src/types/graphics.ts
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/vitest.config.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

add tight bounds checking in rust side
  Claude.md
  crates/shift-core/src/curve.rs
  crates/shift-core/src/lib.rs
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

add geo debug overlays
  ROADMAP.md
  apps/desktop/src/main/managers/MenuManager.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/context/DebugContext.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/debugOverlays.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/passes/index.ts
  apps/desktop/src/renderer/src/types/editor.ts
  apps/desktop/src/renderer/src/types/electron.d.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Update README with community section
  README.md
Due: prettier

more work on text tool, better typing and ergo for electron app level stuff
  .gitignore
  Claude.md
  apps/desktop/src/main/managers/AppLifecycle.ts
  apps/desktop/src/main/managers/DocumentState.ts
  apps/desktop/src/main/managers/MenuManager.ts
  apps/desktop/src/main/managers/WindowManager.ts
  apps/desktop/src/main/managers/index.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/context/DebugContext.tsx
  apps/desktop/src/renderer/src/context/ThemeContext.tsx
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/engine/info.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasCoordinator.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolContext.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/select/actions.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/DoubleClickBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.ts
  apps/desktop/src/renderer/src/lib/tools/text/behaviors/TypingBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout.ts
  apps/desktop/src/renderer/src/lib/tools/text/types.ts
  apps/desktop/src/renderer/src/testing/services.ts
  apps/desktop/src/renderer/src/types/editor.ts
  apps/desktop/src/renderer/src/types/electron.d.ts
  apps/desktop/src/renderer/src/types/engine.ts
  apps/desktop/src/shared/ipc/channels.ts
  apps/desktop/src/shared/ipc/electronAPI.ts
  apps/desktop/src/shared/ipc/index.ts
  apps/desktop/src/shared/ipc/main.ts
  apps/desktop/src/shared/ipc/preload.ts
  apps/desktop/src/shared/ipc/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

unicode db
  .gitignore
  Claude.md
  ROADMAP.md
  package.json
  packages/unicode-db/package.json
  packages/unicode-db/scripts/generate.ts
  packages/unicode-db/scripts/repl.ts
  packages/unicode-db/src/UnicodeDB.test.ts
  packages/unicode-db/src/UnicodeDB.ts
  packages/unicode-db/src/index.ts
  packages/unicode-db/src/types.ts
  packages/unicode-db/tsconfig.json
  packages/unicode-db/vitest.config.ts
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

clean up napi boundary touchpoints and simplify, create wire up skill
  .claude/skills/wire-rust/SKILL.md
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/engine/editing.ts
  apps/desktop/src/renderer/src/engine/mock.ts
  apps/desktop/src/renderer/src/types/engine.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

add glyph info, gets nice names, codepoint decomposition, used by and one character set
  .gitignore
  .gitmodules
  Claude.md
  ROADMAP.md
  package.json
  packages/glyph-info/package.json
  packages/glyph-info/scripts/generate.ts
  packages/glyph-info/scripts/generators/charsets.ts
  packages/glyph-info/scripts/generators/decomposition.ts
  packages/glyph-info/scripts/generators/glyphData.ts
  packages/glyph-info/scripts/generators/search.ts
  packages/glyph-info/scripts/repl.ts
  packages/glyph-info/src/GlyphInfo.test.ts
  packages/glyph-info/src/GlyphInfo.ts
  packages/glyph-info/src/index.ts
  packages/glyph-info/src/types.ts
  packages/glyph-info/tsconfig.json
  packages/glyph-info/vitest.config.ts
  packages/unicode-db/scripts/generate.ts
  packages/unicode-db/scripts/repl.ts
  packages/unicode-db/src/UnicodeDB.test.ts
  packages/unicode-db/src/UnicodeDB.ts
  packages/unicode-db/src/index.ts
  packages/unicode-db/src/types.ts
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

replace sqllite with minisearch, hook up glyph-info into app and add to glyph overview
  apps/desktop/package.json
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/components/GlyphGrid.tsx
  apps/desktop/src/renderer/src/engine/glyphInfo.ts
  apps/desktop/src/shared/bridge/GlyphInfoAPI.ts
  apps/desktop/vite.preload.config.ts
  packages/glyph-info/package.json
  packages/glyph-info/scripts/generate.ts
  packages/glyph-info/scripts/generators/search.ts
  packages/glyph-info/src/GlyphInfo.test.ts
  packages/glyph-info/src/GlyphInfo.ts
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

make font engine use interfaces, wire up x advance
  apps/desktop/src/renderer/src/components/sidebar/GlyphSection.tsx
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/engine/docs/CONTEXT.md
  apps/desktop/src/renderer/src/engine/docs/DOCS.md
  apps/desktop/src/renderer/src/engine/editing.ts
  apps/desktop/src/renderer/src/engine/index.ts
  apps/desktop/src/renderer/src/engine/info.ts
  apps/desktop/src/renderer/src/engine/io.ts
  apps/desktop/src/renderer/src/engine/mock.ts
  apps/desktop/src/renderer/src/engine/session.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/types/engine.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
  apps/desktop/src/shared/bridge/FontEngineAPI.ts
  crates/shift-core/src/edit_session.rs
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest
