Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

.pre-commit-config.yaml:

repos:
  # Standard file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]

      - id: oxlint
        name: oxlint
        entry: pnpm lint:check
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

      - id: tsgo-typecheck
        name: tsgo typecheck
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

      - id: vitest
        name: vitest
        entry: pnpm test
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

Add Rust/TypeScript boundary architecture doc
  docs/architecture/rust-ts-boundary.md
Due: prettier

Add three-tier mutation model and indirection analysis to architecture docs
  docs/architecture/code-smells.md
  docs/architecture/rust-ts-boundary.md
Due: prettier

Delete InfoManager, IOManager, SessionManager — inline into FontEngine
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/engine/index.ts
  apps/desktop/src/renderer/src/engine/info.ts
  apps/desktop/src/renderer/src/engine/io.ts
  apps/desktop/src/renderer/src/engine/session.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/testing/services.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Delete EditingManager — inline all editing methods into FontEngine
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/engine/editing.ts
  apps/desktop/src/renderer/src/engine/index.ts
  apps/desktop/src/renderer/src/lib/commands/clipboard/ClipboardCommands.ts
  apps/desktop/src/renderer/src/lib/commands/core/Command.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/NodePositionPatchCommand.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/PointCommands.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/SetNodePositionsCommand.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/SidebearingCommands.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/SnapshotCommand.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/ToggleSmoothCommand.ts
  apps/desktop/src/renderer/src/lib/commands/transform/AlignmentCommands.ts
  apps/desktop/src/renderer/src/lib/commands/transform/TransformCommands.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/testing/context.ts
  apps/desktop/src/renderer/src/testing/services.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Replace drag session pattern with Immer-inspired GlyphDraft API
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/engine/draft.ts
  apps/desktop/src/renderer/src/engine/index.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/tools/core/EditorAPI.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/BendCurveBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ResizeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/RotateBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/TranslateBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/types.ts
  apps/desktop/src/renderer/src/testing/services.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Rename GlyphDraft.change to setPositions — draft owns patching
  apps/desktop/src/renderer/src/engine/draft.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/BendCurveBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ResizeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/RotateBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/TranslateBehavior.ts
  apps/desktop/src/renderer/src/testing/services.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Remove deprecated drag session interfaces from EditorAPI
  apps/desktop/src/renderer/src/lib/tools/core/EditorAPI.ts
  apps/desktop/src/renderer/src/lib/tools/core/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Delete dead preview system and simplify overloaded methods
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/tools/core/EditorAPI.ts
  apps/desktop/src/renderer/src/testing/services.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add anti-slop rules to CLAUDE.md and check-slop.sh lint script
  scripts/check-slop.sh
Due: none

Add anti-slop rules and mutation architecture to CLAUDE.md
  Claude.md
  apps/desktop/src/renderer/src/engine/FontEngine.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add no-restricted-imports rule to oxlint config
  apps/desktop/.oxlintrc.json
Due: prettier

Upgrade oxlint to 1.58, ban optional chaining calls as statements
  apps/desktop/.oxlintrc.json
  apps/desktop/package.json
  apps/desktop/src/main/managers/DocumentState.ts
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/components/sidebar-right/EditableSidebarInput.tsx
  apps/desktop/src/renderer/src/context/CanvasContext.tsx
  apps/desktop/src/renderer/src/context/DebugContext.tsx
  apps/desktop/src/renderer/src/context/ThemeContext.tsx
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/lib/cache/LRUCache.ts
  apps/desktop/src/renderer/src/lib/commands/core/CommandHistory.ts
  apps/desktop/src/renderer/src/lib/tools/core/BaseTool.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  apps/desktop/src/renderer/src/persistence/kernel.ts
  apps/desktop/src/renderer/src/testing/events.ts
  pnpm-lock.yaml
  scripts/check-slop.sh
Due: prettier, oxlint, tsgo-typecheck, vitest

Add lint rules: ban export star and unused optional member access
  apps/desktop/.oxlintrc.json
  apps/desktop/src/renderer/src/lib/tools/pen/index.ts
  apps/desktop/src/renderer/src/lib/tools/select/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add custom oxlint plugin with no-raw-contour-access rule
  apps/desktop/.oxlintrc.json
  apps/desktop/src/renderer/src/components/debug/DebugPanel.tsx
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/PointCommands.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/SetNodePositionsCommand.ts
  apps/desktop/src/renderer/src/lib/editor/managers/SnapManager.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ResizeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/RotateBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/TranslateBehavior.ts
  scripts/oxlint/shift-plugin.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

Derive FontEngineAPI from napi-rs generated types — zero maintenance
  Cargo.lock
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/shared/bridge/FontEngineAPI.ts
  crates/shift-node/dts-header.d.ts
  crates/shift-node/index.d.ts
  crates/shift-node/index.js
  crates/shift-node/package.json
  crates/shift-node/src/font_engine.rs
  pnpm-lock.yaml
  scripts/patch-generated-types.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Upgrade napi Rust crates to v3, delete wire-rust skill
  .claude/skills/wire-rust/SKILL.md
  Cargo.lock
  crates/shift-node/Cargo.toml
Due: prettier

Delete deriveUpdatesFromSnapshots, sync-types.js, check-slop.sh
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  scripts/check-slop.sh
  scripts/sync-types.js
Due: prettier, oxlint, tsgo-typecheck, vitest

Add pre-commit hooks for empty files and console.log detection
  .pre-commit-config.yaml
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/TranslateBehavior.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Delete dead GPU drag methods and affineTransform.ts
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/lib/editor/affineTransform.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add TestEditor and make Editor accept options
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/store/store.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Delete dead Light methods from Rust, MockFontEngine, and FontEngine
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/engine/mock.ts
  apps/desktop/src/shared/bridge/FontEngineAPI.ts
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Fix TestEditor: use ToolManager API, add browser polyfills
  apps/desktop/src/renderer/src/testing/TestEditor.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/testing/setup.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix all command tests — remove .editing. and .session. accessors
  REFACTOR_FINDINGS.md
  apps/desktop/src/renderer/src/lib/commands/clipboard/ClipboardCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/core/CommandHistory.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/NodePositionPatchCommand.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/PointCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/SetNodePositionsCommand.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/SidebearingCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/transform/TransformCommands.test.ts
  log.md
Due: prettier, oxlint, tsgo-typecheck, vitest

Remove mock-only assertions from tool tests
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Delete services.ts and events.ts — migrate all tool tests to TestEditor
  apps/desktop/src/renderer/src/lib/tools/core/BaseTool.contract.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/StateDiagram.compliance.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.test.ts
  apps/desktop/src/renderer/src/lib/tools/hand/Hand.outcome.test.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.outcome.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/testing/editor.ts
  apps/desktop/src/renderer/src/testing/events.ts
  apps/desktop/src/renderer/src/testing/index.ts
  apps/desktop/src/renderer/src/testing/services.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add testing rules to CLAUDE.md and memory
  Claude.md
Due: prettier

Add Stop hook for auto-formatting changed files
  .claude/settings.json
Due: prettier

Trim CLAUDE.md from 442 to 275 lines
  Claude.md
Due: prettier

Trim CLAUDE.md to 190 lines — deep link to docs for details
  Claude.md
Due: prettier

Delete dead set_point_positions from Rust, mock, and types
  apps/desktop/src/renderer/src/engine/mock.ts
  apps/desktop/src/shared/bridge/FontEngineAPI.ts
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Slim engine.ts — use Glyphs.getAllPoints, remove section comments
  apps/desktop/src/renderer/src/testing/context.ts
  apps/desktop/src/renderer/src/testing/engine.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Rewrite all command tests to assert on state, not mock calls
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/NodePositionPatchCommand.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/PointCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/SetNodePositionsCommand.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/SidebearingCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/transform/TransformCommands.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Delete 5 dead command classes and their tests
  apps/desktop/src/renderer/src/lib/commands/core/Command.ts
  apps/desktop/src/renderer/src/lib/commands/core/CommandHistory.test.ts
  apps/desktop/src/renderer/src/lib/commands/index.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/NodePositionPatchCommand.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/NodePositionPatchCommand.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/PointCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/PointCommands.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Delete createMockEditing, createMockCommandContext, context.ts
  apps/desktop/src/renderer/src/testing/context.ts
  apps/desktop/src/renderer/src/testing/engine.ts
  apps/desktop/src/renderer/src/testing/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Move MockFontEngine from engine/ to testing/
  apps/desktop/src/renderer/src/engine/index.ts
  apps/desktop/src/renderer/src/testing/MockFontEngine.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/testing/engine.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Replace raw string IDs with branded types, add oxlint rules to enforce
  .pre-commit-config.yaml
  apps/desktop/.oxlintrc.json
  apps/desktop/src/renderer/src/lib/clipboard/ContentResolver.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/geo/Segment.ts
  apps/desktop/src/renderer/src/lib/geo/Segments.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ResizeBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/RotateBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/SelectContourOnDoubleClickBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/TranslateBehavior.ts
  apps/desktop/src/renderer/src/lib/transform/SelectionBounds.ts
  apps/desktop/src/renderer/src/testing/MockFontEngine.ts
  packages/font/src/Glyph.test.ts
  packages/font/src/Glyph.ts
  scripts/oxlint/shift-plugin.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

Delete MockFontEngine — tests run against real Rust binary
  apps/desktop/src/renderer/src/lib/commands/clipboard/ClipboardCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/core/CommandHistory.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/PointCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/SetNodePositionsCommand.test.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/SidebearingCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/transform/TransformCommands.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.test.ts
  apps/desktop/src/renderer/src/testing/MockFontEngine.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/testing/engine.ts
  apps/desktop/src/renderer/src/testing/index.ts
  scripts/oxlint/shift-plugin.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

Delete dead font query methods, fix GlyphRef type error
  apps/desktop/src/renderer/src/engine/FontEngine.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Remove duplicate GlyphRef from FontEngineAPI — use text/layout canonical type
  apps/desktop/src/shared/bridge/FontEngineAPI.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Rename patchPositions to produceGlyph, clean up draft.ts
  apps/desktop/src/renderer/src/engine/FontEngine.ts
  apps/desktop/src/renderer/src/engine/draft.ts
  apps/desktop/src/renderer/src/engine/index.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest
