Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

.pre-commit-config.yaml:

repos:
  # Standard file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]

      - id: oxlint
        name: oxlint
        entry: pnpm lint:check
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

      - id: tsgo-typecheck
        name: tsgo typecheck
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

      - id: vitest
        name: vitest
        entry: pnpm test
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

feat(agents): ship the shift skill with the app and serve it over MCP
  .agents/skills/shift/SKILL.md
  .claude/skills/shift/references/cli.md
  .claude/skills/shift/references/fonts.md
  .claude/skills/shift/references/mcp.md
  .claude/skills/shift/references/variable-fonts.md
  .codex/skills/shift/SKILL.md
  .codex/skills/shift/references/cli.md
  .codex/skills/shift/references/fonts.md
  .codex/skills/shift/references/mcp.md
  .codex/skills/shift/references/variable-fonts.md
  apps/desktop/src/main/docs/DOCS.md
  docs/mcp.md
  packages/mcp/docs/DOCS.md
  packages/mcp/src/guide.ts
  packages/mcp/src/index.ts
  packages/mcp/src/server.test.ts
  packages/mcp/src/server.ts
  scripts/sync-agent-skills.mjs
  skills/shift/SKILL.md
  skills/shift/references/cli.md
  skills/shift/references/fonts.md
  skills/shift/references/mcp.md
  skills/shift/references/variable-fonts.md
Due: prettier, oxlint, tsgo-typecheck, vitest

docs(skill): point the shift-cli install at the app menu
  .claude/skills/shift/references/cli.md
  .codex/skills/shift/references/cli.md
  skills/shift/references/cli.md
Due: prettier

fix: open font files on Windows and Linux (#547)
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Command.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/dialogs/NativeDialogs.ts
  apps/desktop/src/main/dialogs/electronNativeDialogs.ts
  apps/desktop/src/main/dialogs/openFontDialogOptions.test.ts
  apps/desktop/src/main/dialogs/openFontDialogOptions.ts
  apps/desktop/src/main/dialogs/scriptedNativeDialogs.ts
  apps/desktop/src/main/document/DocumentSession.test.ts
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/main/menu/menuItems.test.ts
  apps/desktop/src/main/menu/menuItems.ts
  apps/desktop/src/renderer/src/components/launcher/OpenFontButton.tsx
  apps/desktop/src/renderer/src/components/launcher/RecentFiles.tsx
  apps/desktop/src/renderer/src/lib/keyboard/commandShortcutLabel.test.ts
  apps/desktop/src/renderer/src/lib/keyboard/commandShortcutLabel.ts
  apps/desktop/src/shared/commands.ts
  apps/desktop/src/shared/messages/en.json
  apps/desktop/src/shared/openFontExtensions.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(import): inline feature include files so imported fonts compile
  crates/shift-backends/src/feature_includes.rs
  crates/shift-backends/src/formats/glyphs/conversion.rs
  crates/shift-backends/src/formats/glyphs/import.rs
  crates/shift-backends/src/formats/glyphs/source.rs
  crates/shift-backends/src/formats/ufo/reader.rs
  crates/shift-backends/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: draw Shift's own title bar on Windows and Linux
  apps/desktop/src/main/about/AboutWindow.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/feedback/FeedbackWindow.ts
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/main/menu/menuBar.test.ts
  apps/desktop/src/main/menu/menuBar.ts
  apps/desktop/src/main/update/UpdateWindow.ts
  apps/desktop/src/main/windows/Window.ts
  apps/desktop/src/main/windows/dialogWindowChrome.ts
  apps/desktop/src/main/windows/windowButtonLayout.test.ts
  apps/desktop/src/main/windows/windowButtonLayout.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/index.css
  apps/desktop/src/renderer/src/components/chrome/Titlebar.tsx
  apps/desktop/src/renderer/src/components/chrome/Toolbar.tsx
  apps/desktop/src/renderer/src/components/chrome/WindowControls.tsx
  apps/desktop/src/renderer/src/components/chrome/WindowMenuBar.tsx
  apps/desktop/src/renderer/src/components/chrome/menuBarKeys.test.ts
  apps/desktop/src/renderer/src/components/chrome/menuBarKeys.ts
  apps/desktop/src/renderer/src/components/chrome/useTitleBarColors.ts
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/src/shared/menu/types.ts
  packages/editor/src/ui/EditorToolbar.tsx
  packages/sdk/api/ui.api.md
  packages/ui/docs/DOCS.md
  packages/ui/src/components/menu/Menu.tsx
  packages/ui/src/components/menu/index.ts
  packages/ui/src/components/menu/styles.ts
  packages/ui/src/components/menubar/Menubar.tsx
  packages/ui/src/components/menubar/index.ts
  packages/ui/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: use the GPU for WebGPU on Linux
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/main.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

perf: stop the closed Add Component picker re-ranking glyphs
  apps/desktop/src/renderer/src/components/editor/ComponentPickerDialog.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: use the GPU for WebGPU on Linux (#560)
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/main.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(import): inline feature include files so imported fonts compile (#554)
  crates/shift-backends/src/feature_includes.rs
  crates/shift-backends/src/formats/glyphs/conversion.rs
  crates/shift-backends/src/formats/glyphs/import.rs
  crates/shift-backends/src/formats/glyphs/source.rs
  crates/shift-backends/src/formats/ufo/reader.rs
  crates/shift-backends/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: draw Shift's own title bar on Windows and Linux (#557)
  apps/desktop/src/main/about/AboutWindow.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/feedback/FeedbackWindow.ts
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/main/menu/menuBar.test.ts
  apps/desktop/src/main/menu/menuBar.ts
  apps/desktop/src/main/update/UpdateWindow.ts
  apps/desktop/src/main/windows/Window.ts
  apps/desktop/src/main/windows/dialogWindowChrome.ts
  apps/desktop/src/main/windows/windowButtonLayout.test.ts
  apps/desktop/src/main/windows/windowButtonLayout.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/index.css
  apps/desktop/src/renderer/src/components/chrome/Titlebar.tsx
  apps/desktop/src/renderer/src/components/chrome/Toolbar.tsx
  apps/desktop/src/renderer/src/components/chrome/WindowControls.tsx
  apps/desktop/src/renderer/src/components/chrome/WindowMenuBar.tsx
  apps/desktop/src/renderer/src/components/chrome/menuBarKeys.test.ts
  apps/desktop/src/renderer/src/components/chrome/menuBarKeys.ts
  apps/desktop/src/renderer/src/components/chrome/useTitleBarColors.ts
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/src/shared/menu/types.ts
  packages/editor/src/ui/EditorToolbar.tsx
  packages/sdk/api/ui.api.md
  packages/ui/docs/DOCS.md
  packages/ui/src/components/menu/Menu.tsx
  packages/ui/src/components/menu/index.ts
  packages/ui/src/components/menu/styles.ts
  packages/ui/src/components/menubar/Menubar.tsx
  packages/ui/src/components/menubar/index.ts
  packages/ui/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(ui): add a shared Switch control
  packages/ui/docs/DOCS.md
  packages/ui/src/components/switch/Switch.tsx
  packages/ui/src/components/switch/index.ts
  packages/ui/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(agents): show step-by-step agent setup in Settings
  .claude/skills/shift/references/mcp.md
  .codex/skills/shift/references/mcp.md
  apps/desktop/e2e/live-agent.spec.ts
  apps/desktop/src/renderer/src/components/chrome/settings/AgentsSettingsPanel.tsx
  packages/mcp/docs/DOCS.md
  skills/shift/references/mcp.md
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(agents): report the open glyph in preview windows
  apps/desktop/src/renderer/src/agent/AgentBridge.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(mcp): report the build's server name and app version
  apps/desktop/src/main/agent/AgentConnections.test.ts
  apps/desktop/src/main/app/App.ts
  packages/mcp/src/server.test.ts
  packages/mcp/src/server.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(agents): name the agent connections switch for assistive tech
  apps/desktop/src/renderer/src/components/chrome/settings/AgentsSettingsPanel.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): read sparse sources from the designspace fixture
  apps/desktop/e2e/live-agent.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

chore: profile font open and undo with profile:desktop
  .agents/skills/perf/SKILL.md
  .claude/skills/perf/SKILL.md
  .codex/skills/perf/SKILL.md
  package.json
  scripts/profile-desktop.mjs
Due: prettier, oxlint, vitest

perf: stop the document window re-rendering on every edit
  apps/desktop/src/renderer/src/hooks/useDocumentViewMemory.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

perf: stop tool-state subscribers re-rendering on every pointer move
  apps/desktop/src/renderer/src/components/spacing/SpacingValuePopover.tsx
  apps/desktop/src/renderer/src/components/text/HiddenTextInput.tsx
  packages/editor/src/ui/ToolsPane.tsx
  scripts/profile-desktop.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

perf(store): look up component references with IN subqueries, not joins
  crates/shift-store/src/layer/references.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(e2e): keep virtual-desktop runs off the host Wayland session
  scripts/run-with-virtual-desktop.mjs
Due: prettier, oxlint, vitest

perf(font): re-index only the glyphs a change set touches
  crates/shift-font/src/ir/font/change_set.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test(e2e): budget React renders during weight scrubs and marquees
  .agents/skills/perf/SKILL.md
  .claude/skills/perf/SKILL.md
  .codex/skills/perf/SKILL.md
  apps/desktop/e2e/fixtures/renderCounter.mts
  apps/desktop/e2e/render-budget.spec.ts
  apps/desktop/e2e/tsconfig.json
  apps/desktop/playwright.config.ts
  package.json
  scripts/profile-desktop.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

chore: add pnpm profile:desktop and a perf skill
  .agents/skills/perf/SKILL.md
  .agents/skills/signals/SKILL.md
  .claude/skills/perf/SKILL.md
  .claude/skills/signals/SKILL.md
  .codex/skills/perf/SKILL.md
  .codex/skills/signals/SKILL.md
  apps/desktop/build.ts
  package.json
  scripts/profile-desktop.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

build: keep function names in SHIFT_PROFILE_BUILD renderer builds
  apps/desktop/build.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

perf: load glyph decomposition and search data when the picker needs it
  apps/desktop/build.ts
  apps/desktop/src/renderer/src/components/editor/ComponentPickerDialog.tsx
  apps/desktop/src/renderer/src/components/editor/componentPicker.test.ts
  apps/desktop/src/renderer/src/workspace/glyphInfo.ts
  packages/glyph-info/package.json
  packages/glyph-info/src/GlyphInfo.test.ts
  packages/glyph-info/src/GlyphInfo.ts
  packages/glyph-info/src/componentResources.ts
  packages/glyph-info/src/coreResources.ts
  packages/glyph-info/src/index.ts
  packages/glyph-info/src/resources.ts
  packages/glyph-info/src/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

build: keep renderer source maps in SHIFT_PROFILE_BUILD builds
  apps/desktop/build.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

docs(skills): note the sqlite3 CLI in the perf skill
  .agents/skills/perf/SKILL.md
  .claude/skills/perf/SKILL.md
  .codex/skills/perf/SKILL.md
Due: prettier

perf(store): skip SQLite integrity checks when only reading identity
  crates/shift-store/README.md
  crates/shift-store/src/document.rs
  crates/shift-workspace/src/document_identity.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

perf: stop whole-sidebar re-renders on every weight scrub step
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/components/chrome/Toolbar.tsx
  apps/desktop/src/renderer/src/components/editor/RightSidebar.tsx
  apps/desktop/src/renderer/src/components/variation/CreateSourceMenu.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogContext.ts
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/views/Editor.tsx
  packages/editor/src/lib/editor/Editor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

perf(bridge): load only the glyphs a thumbnail specimen compiles
  crates/shift-bridge/src/bridge.rs
  crates/shift-bridge/src/specimen.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: match the window controls to the toolbar in translucent themes
  apps/desktop/src/renderer/src/components/chrome/Toolbar.tsx
  packages/ui/src/components/menu/styles.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(agents): bundle shift-cli and install it from Settings
  .github/workflows/installed-app-screenshots.yml
  .github/workflows/nightly.yml
  .github/workflows/release-desktop.yml
  apps/desktop/electron-builder.config.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/cli/CommandLineTool.test.ts
  apps/desktop/src/main/cli/CommandLineTool.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/components/chrome/settings/AgentsSettingsPanel.tsx
  apps/desktop/src/shared/agent/connections.ts
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  crates/shift-cli/README.md
  package.json
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(cli): install shift-cli from the app menu, not Settings → Agents
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/cli/CommandLineTool.ts
  apps/desktop/src/main/commands/Command.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/main/menu/menuItems.test.ts
  apps/desktop/src/main/menu/menuItems.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/components/chrome/settings/AgentsSettingsPanel.tsx
  apps/desktop/src/shared/agent/connections.ts
  apps/desktop/src/shared/commands.ts
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  crates/shift-cli/README.md
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): share narrowed active-tool cells
  .agents/skills/signals/SKILL.md
  .claude/skills/signals/SKILL.md
  .codex/skills/signals/SKILL.md
  apps/desktop/src/renderer/src/components/spacing/SpacingValuePopover.tsx
  apps/desktop/src/renderer/src/components/text/HiddenTextInput.tsx
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
  packages/editor/src/testing/MemoryEditor.test.ts
  packages/editor/src/ui/ToolsPane.tsx
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(cli): warn when another shift-cli comes first on the terminal PATH
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/cli/CommandLineTool.test.ts
  apps/desktop/src/main/cli/CommandLineTool.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): move, scale, and rotate whole glyphs in a text run
  apps/desktop/src/renderer/src/lib/tools/text/Text.test.ts
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/model/Glyph.ts
  packages/editor/src/lib/model/GlyphTransformEdit.ts
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
  packages/editor/src/lib/nodes/NodeDefinition.ts
  packages/editor/src/lib/nodes/TextRunNodeDefinition.ts
  packages/editor/src/lib/objects/TextItemObject.ts
  packages/editor/src/lib/text/docs/DOCS.md
  packages/editor/src/lib/tools/select/BoundingBox.ts
  packages/editor/src/lib/tools/select/behaviors/Marquee.ts
  packages/editor/src/lib/tools/select/behaviors/Nudge.ts
  packages/editor/src/lib/tools/select/behaviors/Resize.ts
  packages/editor/src/lib/tools/select/behaviors/Rotate.ts
  packages/editor/src/lib/tools/select/behaviors/Translate.ts
  packages/editor/src/types/transformTarget.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): step out of the edited glyph with Escape in Select
  apps/desktop/src/renderer/src/lib/tools/text/Text.test.ts
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
  packages/editor/src/lib/nodes/TextRunNodeDefinition.ts
  packages/editor/src/lib/text/docs/DOCS.md
  packages/editor/src/lib/tools/select/behaviors/Escape.ts
  packages/editor/src/lib/tools/select/behaviors/Marquee.ts
Due: prettier, oxlint, tsgo-typecheck, vitest
