Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

.pre-commit-config.yaml:

repos:
  # Standard file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]

      - id: oxlint
        name: oxlint
        entry: pnpm lint:check
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

      - id: tsgo-typecheck
        name: tsgo typecheck
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

      - id: vitest
        name: vitest
        entry: pnpm test
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

test(e2e): update component rendering snapshot
  apps/desktop/e2e/__screenshots__/component-rendering.spec.ts/canvas-Aacute-bold-wide-components.png
Due: none

Modify images in README.md
  README.md
Due: prettier

Modify image in README for better resolution
  README.md
Due: prettier

docs: update hero (#341)
  README.md
Due: prettier

fix(catalog): render glyphs without WebGPU
  apps/desktop/e2e/fixtures/appLocators.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/home.spec.ts
  apps/desktop/e2e/svg-catalog.spec.ts
  apps/desktop/src/renderer/src/components/home/GlyphCatalogCanvas.tsx
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/home/SlugGlyphCatalogRenderer.ts
  apps/desktop/src/renderer/src/components/home/SvgGlyphCatalogRenderer.ts
  apps/desktop/src/renderer/src/components/home/selectGlyphCatalogRenderer.test.ts
  apps/desktop/src/renderer/src/components/home/selectGlyphCatalogRenderer.ts
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/lib/catalog/GlyphCatalog.ts
  apps/desktop/src/renderer/src/lib/catalog/GlyphPreviewCache.test.ts
  apps/desktop/src/renderer/src/lib/catalog/GlyphPreviewCache.ts
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/types/glyph.ts
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  apps/desktop/src/renderer/src/types/glyphPreview.ts
  apps/desktop/src/renderer/src/workspace/runtime.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(catalog): render SVG fallback with React
  apps/desktop/e2e/fixtures/appLocators.ts
  apps/desktop/src/renderer/src/components/home/GlyphCatalogBackendGate.tsx
  apps/desktop/src/renderer/src/components/home/GlyphCatalogCanvas.tsx
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/home/SlugGlyphCatalogSurface.tsx
  apps/desktop/src/renderer/src/components/home/SvgGlyphCatalogGrid.tsx
  apps/desktop/src/renderer/src/components/home/SvgGlyphCatalogRenderer.ts
  apps/desktop/src/renderer/src/components/home/selectGlyphCatalogRenderer.test.ts
  apps/desktop/src/renderer/src/components/home/selectGlyphCatalogRenderer.ts
  apps/desktop/src/renderer/src/components/home/useGlyphPreviewFrame.ts
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  apps/desktop/src/renderer/src/types/glyphCatalogRenderer.ts
  apps/desktop/src/renderer/src/types/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(catalog): keep SVG scrolling responsive
  apps/desktop/e2e/svg-catalog.spec.ts
  apps/desktop/src/renderer/src/components/home/SvgGlyphCatalogGrid.tsx
  apps/desktop/src/renderer/src/components/home/useGlyphPreviewFrame.ts
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(catalog): render glyphs without WebGPU (#329)
  apps/desktop/e2e/fixtures/appLocators.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/home.spec.ts
  apps/desktop/e2e/svg-catalog.spec.ts
  apps/desktop/src/renderer/src/components/home/GlyphCatalogBackendGate.tsx
  apps/desktop/src/renderer/src/components/home/GlyphCatalogCanvas.tsx
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/home/SlugGlyphCatalogRenderer.ts
  apps/desktop/src/renderer/src/components/home/SlugGlyphCatalogSurface.tsx
  apps/desktop/src/renderer/src/components/home/SvgGlyphCatalogGrid.tsx
  apps/desktop/src/renderer/src/components/home/selectGlyphCatalogRenderer.test.ts
  apps/desktop/src/renderer/src/components/home/selectGlyphCatalogRenderer.ts
  apps/desktop/src/renderer/src/components/home/useGlyphPreviewFrame.ts
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/lib/catalog/GlyphCatalog.ts
  apps/desktop/src/renderer/src/lib/catalog/GlyphPreviewCache.test.ts
  apps/desktop/src/renderer/src/lib/catalog/GlyphPreviewCache.ts
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/types/glyph.ts
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  apps/desktop/src/renderer/src/types/glyphCatalogRenderer.ts
  apps/desktop/src/renderer/src/types/glyphPreview.ts
  apps/desktop/src/renderer/src/types/index.ts
  apps/desktop/src/renderer/src/workspace/runtime.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): use native window controls outside macOS
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/e2e/platform-integration.spec.ts
  apps/desktop/src/main/about/AboutWindow.ts
  apps/desktop/src/main/feedback/FeedbackWindow.ts
  apps/desktop/src/main/update/UpdateWindow.ts
  apps/desktop/src/main/windows/Window.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/components/chrome/Titlebar.tsx
  apps/desktop/src/shared/host/ShiftHost.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: stop publishing document icon screenshots
  .github/workflows/installed-app-screenshots.yml
  docs/releases.md
  scripts/capture-installed-app.mjs
Due: prettier, oxlint, vitest

ci: stop publishing document icon screenshots (#346)
  .github/workflows/installed-app-screenshots.yml
  docs/releases.md
  scripts/capture-installed-app.mjs
Due: prettier, oxlint, vitest

ci: capture installed macOS app on arm64
  .github/workflows/installed-app-screenshots.yml
  docs/releases.md
Due: prettier

ci: cache installed screenshot native bridges
  .github/workflows/installed-app-screenshots.yml
  docs/releases.md
Due: prettier

ci: pre-approve macOS capture shell
  .github/workflows/installed-app-screenshots.yml
  docs/releases.md
Due: prettier

ci: reload macOS screen capture approval
  .github/workflows/installed-app-screenshots.yml
Due: none

ci: skip Rust setup on native cache hits
  .github/workflows/installed-app-screenshots.yml
Due: none

ci: capture installed macOS app on arm64 (#347)
  .github/workflows/installed-app-screenshots.yml
  docs/releases.md
Due: prettier

fix(desktop): list Shift for supported font sources
  apps/desktop/electron-builder.config.ts
  apps/desktop/src/main/docs/DOCS.md
  docs/releases.md
  scripts/macos-font-associations.test.mjs
  scripts/smoke-packaged.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): list Shift for supported font sources (#349)
  apps/desktop/electron-builder.config.ts
  apps/desktop/src/main/docs/DOCS.md
  docs/releases.md
  scripts/macos-font-associations.test.mjs
  scripts/smoke-packaged.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): size windows after native chrome appears
  apps/desktop/e2e/fixtures/electronApp.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): separate native and visual window sizing
  apps/desktop/e2e/README.md
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/fixtures/types.ts
  apps/desktop/e2e/fixtures/window.ts
  apps/desktop/e2e/window-behavior.spec.ts
  apps/desktop/playwright.config.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): use native window controls outside macOS (#345)
  apps/desktop/e2e/README.md
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/fixtures/types.ts
  apps/desktop/e2e/fixtures/window.ts
  apps/desktop/e2e/platform-integration.spec.ts
  apps/desktop/e2e/window-behavior.spec.ts
  apps/desktop/playwright.config.ts
  apps/desktop/src/main/about/AboutWindow.ts
  apps/desktop/src/main/feedback/FeedbackWindow.ts
  apps/desktop/src/main/update/UpdateWindow.ts
  apps/desktop/src/main/windows/Window.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/components/chrome/Titlebar.tsx
  apps/desktop/src/shared/host/ShiftHost.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(geo): add tangent-preserving cubic fitting
  packages/geo/src/Curve.ts
  packages/geo/src/fitCubic.test.ts
  packages/geo/src/fitCubic.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(geo): add tangent-preserving cubic fitting (#353)
  packages/geo/src/Curve.ts
  packages/geo/src/fitCubic.test.ts
  packages/geo/src/fitCubic.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

docs: add interface implementation skill
  .agents/skills/ui/SKILL.md
  .claude/skills/ui/SKILL.md
  .codex/skills/ui/SKILL.md
  AGENTS.md
Due: prettier

fix(desktop): expose unavailable icon tooltips
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/e2e/font-preview.spec.ts
  apps/desktop/e2e/variable-font-authoring.spec.ts
  apps/desktop/src/renderer/src/components/chrome/settings/AxesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/InstancesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SourcesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/editor/ToolsPane.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/IconButton.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/TransformGrid.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): add missing icon tooltips
  apps/desktop/e2e/home.spec.ts
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/components/chrome/NavigationPane.tsx
  apps/desktop/src/renderer/src/components/chrome/ReadOnlyNoticeDialog.tsx
  apps/desktop/src/renderer/src/components/chrome/ZoomToast.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/AxesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/AxisMappingPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/AxisStylesPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/InstancesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SettingsDialog.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SourcesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/editor/BooleanOps.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/IconButton.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/TransformSection.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/GlyphCatalogView.tsx
  apps/desktop/src/renderer/src/components/sidebar/SidebarActionRow.tsx
  apps/desktop/src/renderer/src/components/variation/AxesPanel.tsx
  apps/desktop/src/renderer/src/components/variation/AxesSection.tsx
  apps/desktop/src/renderer/src/components/variation/CreateAxisMenu.tsx
  apps/desktop/src/renderer/src/components/variation/CreateInstanceMenu.tsx
  apps/desktop/src/renderer/src/components/variation/CreateSourceMenu.tsx
  apps/desktop/src/renderer/src/components/variation/Instances.tsx
  apps/desktop/src/renderer/src/components/variation/InstancesSection.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  apps/desktop/src/renderer/src/components/variation/SourcesSection.tsx
  packages/ui/src/components/tooltip/Tooltip.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): standardize action tooltips
  apps/desktop/e2e/application-quit.spec.ts
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/e2e/font-preview.spec.ts
  apps/desktop/e2e/glyph-grid.spec.ts
  apps/desktop/e2e/glyph-navigation.spec.ts
  apps/desktop/e2e/glyph-view.spec.ts
  apps/desktop/e2e/home.spec.ts
  apps/desktop/e2e/selector-contracts.spec.ts
  apps/desktop/e2e/source-font-preview.spec.ts
  apps/desktop/e2e/variable-font-authoring.spec.ts
  apps/desktop/e2e/variable-navigation-glyph-grid.spec.ts
  apps/desktop/src/renderer/index.css
  apps/desktop/src/renderer/src/app/routes.ts
  apps/desktop/src/renderer/src/components/chrome/settings/SourcesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/editor/ToolsPane.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/AnchorSection.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/EditableSidebarInput.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/IconButton.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/ScaleSection.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/TransformGrid.tsx
  apps/desktop/src/renderer/src/components/variation/CreateInstanceMenu.tsx
  apps/desktop/src/renderer/src/components/variation/CreateSourceMenu.tsx
  apps/desktop/src/renderer/src/components/variation/Instances.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  packages/ui/src/components/button/Button.tsx
  packages/ui/src/components/tooltip/Tooltip.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): stabilize preview notice coverage
  apps/desktop/e2e/__screenshots__/document-lifecycle.spec.ts/read-only-preview-notice.png
  apps/desktop/e2e/document-lifecycle.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

chore(format): exclude generated Electron test artifacts
  .oxfmtrc.json
Due: prettier

feat(editor): add curve-aware point deletion
  ROADMAP.md
  apps/desktop/e2e/deletion.spec.ts
  apps/desktop/src/renderer/src/lib/editor/Deletion.test.ts
  apps/desktop/src/renderer/src/lib/editor/DeletionTopology.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/keyboard/keymaps.ts
  apps/desktop/src/renderer/src/lib/keyboard/types.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/deletePoints.ts
  apps/desktop/src/renderer/src/lib/workspace/FreshReopen.test.ts
  apps/desktop/src/renderer/src/types/glyph.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): clarify point deletion steps
  apps/desktop/src/renderer/src/lib/model/DeletePoints.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/deletePoints.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): preserve segment degree when deleting points
  ROADMAP.md
  apps/desktop/e2e/deletion.spec.ts
  apps/desktop/src/renderer/src/lib/editor/DeletionDegree.test.ts
  apps/desktop/src/renderer/src/lib/editor/DeletionTopology.test.ts
  apps/desktop/src/renderer/src/lib/model/DeletePoints.ts
  apps/desktop/src/renderer/src/lib/workspace/FreshReopen.test.ts
  packages/geo/src/Curve.ts
  packages/geo/src/fitQuadratic.test.ts
  packages/geo/src/fitQuadratic.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

docs: document curve deletion and refresh module contracts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/preload/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  crates/shift-backends/docs/DOCS.md
  crates/shift-font/docs/DOCS.md
  packages/geo/docs/DOCS.md
  packages/glyph-state/docs/DOCS.md
  packages/types/docs/DOCS.md
  packages/ui/docs/DOCS.md
  packages/validation/docs/DOCS.md
Due: prettier

docs: clarify degree-preserving point deletion
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  packages/geo/docs/DOCS.md
Due: prettier

test(e2e): use current settings navigation label
  apps/desktop/e2e/application-menu.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest
