Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

.pre-commit-config.yaml:

repos:
  # Standard file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]

      - id: oxlint
        name: oxlint
        entry: pnpm lint:check
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

      - id: tsgo-typecheck
        name: tsgo typecheck
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

      - id: vitest
        name: vitest
        entry: pnpm test
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

fix(desktop): show document failures and preview guidance
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/dialogs/NativeDialogs.ts
  apps/desktop/src/main/dialogs/electronNativeDialogs.ts
  apps/desktop/src/main/dialogs/scriptedNativeDialogs.ts
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/components/chrome/ReadOnlyNoticeDialog.tsx
  apps/desktop/src/renderer/src/workspace/FontSession.ts
  apps/desktop/src/shared/workspace/previewConversion.test.ts
  apps/desktop/src/shared/workspace/previewConversion.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(ci): bootstrap empty update-feed branch (#256)
  .github/workflows/nightly.yml
  .github/workflows/release-desktop.yml
Due: none

fix(desktop): route native menus to the active document (#252)
  apps/desktop/e2e/README.md
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/e2e/fixtures/documentLifecycle.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/main/menu/menuItems.test.ts
  apps/desktop/src/main/menu/menuItems.ts
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/workspace/FontSessionProvider.tsx
  apps/desktop/src/shared/commands.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(document): replace selected Save As destinations
  apps/desktop/e2e/README.md
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  crates/shift-store/README.md
  crates/shift-store/src/document.rs
  crates/shift-store/tests/store_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

fix(ci): restore update-feed publication
  .github/workflows/nightly.yml
  .github/workflows/release-desktop.yml
Due: none

fix(ci): restore update-feed publication (#265)
  .github/workflows/nightly.yml
  .github/workflows/release-desktop.yml
Due: none

ci: prune retired Nightly assets
  .github/workflows/nightly.yml
  docs/releases.md
  scripts/find-obsolete-nightly-assets.mjs
  scripts/find-obsolete-nightly-assets.test.mjs
  scripts/prepare-nightly-release.mjs
  scripts/prepare-nightly-release.test.mjs
Due: prettier, oxlint, vitest

ci: prune retired Nightly assets (#266)
  .github/workflows/nightly.yml
  docs/releases.md
  scripts/find-obsolete-nightly-assets.mjs
  scripts/find-obsolete-nightly-assets.test.mjs
  scripts/prepare-nightly-release.mjs
  scripts/prepare-nightly-release.test.mjs
Due: prettier, oxlint, vitest

fix(workspace): preserve font topology through history (#253)
  apps/desktop/e2e/document-recovery.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/variable-font-authoring.spec.ts
  apps/desktop/e2e/variable-font-recovery.spec.ts
  apps/desktop/src/renderer/src/components/chrome/settings/SourcesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  crates/shift-bridge/src/bridge.rs
  crates/shift-cli/src/authoring.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/changes.rs
  crates/shift-font/src/error.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/ir/collection.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-store/README.md
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/recovery/patch.rs
  crates/shift-store/tests/recovery_patch_test.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

fix: preserve quadratic curve endpoints during editing (#254)
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerGeometry.test.ts
  crates/shift-backends/src/formats/opentype/reader.rs
  crates/shift-bridge/index.d.ts
  crates/shift-font/src/ir/contour.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/lib.rs
  crates/shift-wire/src/state.rs
  packages/glyph-state/src/Contour.ts
  packages/glyph-state/src/Point.ts
  packages/glyph-state/src/Segment.test.ts
  packages/types/src/bridge/generated.ts
  packages/validation/src/Validate.test.ts
  packages/validation/src/Validate.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

fix(editor): keep glyph metrics aligned with tight bounds
  apps/desktop/src/renderer/src/hooks/useGlyphXAdvance.ts
  apps/desktop/src/renderer/src/lib/model/ContourBuffer.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerGeometry.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerState.test.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  packages/glyph-state/docs/DOCS.md
  packages/glyph-state/src/GlyphGeometry.test.ts
  packages/glyph-state/src/GlyphGeometry.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(pen): follow the latest endpoint after undo
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-preview-after-undo.png
  apps/desktop/e2e/glyph-rendering.spec.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenOverlay.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenStroke.ts
  apps/desktop/src/renderer/src/lib/tools/pen/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): open directory font sources on every platform (#260)
  apps/desktop/src/main/dialogs/electronNativeDialogs.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): add native Home and Settings commands
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Command.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/renderer/src/context/SettingsNavigationProvider.tsx
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.ts
  apps/desktop/src/renderer/src/workspace/FontSessionProvider.tsx
  apps/desktop/src/shared/commands.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): complete native application menus (#261)
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Command.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/renderer/src/context/SettingsNavigationProvider.tsx
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.ts
  apps/desktop/src/renderer/src/workspace/FontSessionProvider.tsx
  apps/desktop/src/shared/commands.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): keep glyph metrics and Pen previews in sync (#268)
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-preview-after-undo.png
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/e2e/glyph-rendering.spec.ts
  apps/desktop/src/renderer/src/components/editor/sidebar-right/GlyphSection.tsx
  apps/desktop/src/renderer/src/hooks/useGlyphXAdvance.ts
  apps/desktop/src/renderer/src/lib/model/ContourBuffer.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerGeometry.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerState.test.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenOverlay.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenStroke.ts
  apps/desktop/src/renderer/src/lib/tools/pen/types.ts
  packages/glyph-state/docs/DOCS.md
  packages/glyph-state/src/GlyphGeometry.test.ts
  packages/glyph-state/src/GlyphGeometry.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(document): replace selected Save As destinations (#264)
  apps/desktop/e2e/README.md
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  crates/shift-store/README.md
  crates/shift-store/src/document.rs
  crates/shift-store/tests/store_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

fix(editor): scope sidebar anchors to scaling
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/src/renderer/src/components/editor/sidebar-right/IconButton.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/ScaleSection.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/TransformGrid.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/TransformSection.tsx
  apps/desktop/src/renderer/src/lib/transform/docs/DOCS.md
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(catalog): prevent old glyph names flashing after rename
  apps/desktop/e2e/fixtures/appLocators.ts
  apps/desktop/e2e/home.spec.ts
  apps/desktop/src/renderer/src/components/home/GlyphCatalogCanvas.tsx
  apps/desktop/src/renderer/src/components/home/GlyphNameInput.tsx
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: publish Nightly updater assets from R2
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  docs/releases.md
  scripts/find-obsolete-nightly-assets.mjs
  scripts/find-obsolete-nightly-assets.test.mjs
  scripts/find-retired-nightly-objects.mjs
  scripts/find-retired-nightly-objects.test.mjs
  scripts/prepare-nightly-release.mjs
  scripts/prepare-nightly-release.test.mjs
  scripts/prepare-update-feed.mjs
  scripts/prepare-update-feed.test.mjs
Due: prettier, oxlint, vitest

feat(desktop): register Shift document files
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/electron-builder.config.ts
  apps/desktop/resources/linux/nightly.xml
  apps/desktop/resources/linux/release.xml
  apps/desktop/resources/windows/installer.nsh
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
  docs/releases.md
  icons/README.md
  icons/shift-document-1024x1024.png
  icons/shift-document-128x128.png
  icons/shift-document-16x16.png
  icons/shift-document-256x256.png
  icons/shift-document-32x32.png
  icons/shift-document-48x48.png
  icons/shift-document-512x512.png
  icons/shift-document-64x64.png
  icons/shift-document.icns
  icons/shift-document.ico
  icons/shift-document.png
  scripts/icons.sh
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: filter merge queue checks by changed paths
  .github/workflows/ci.yml
Due: none

fix(catalog): keep previews independent of authoring
  apps/desktop/e2e/font-preview.spec.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/components/home/GlyphCatalogCanvas.tsx
  apps/desktop/src/renderer/src/components/variation/AxesPanel.tsx
  apps/desktop/src/renderer/src/components/variation/AxesSection.tsx
  apps/desktop/src/renderer/src/components/variation/InstancesSection.tsx
  apps/desktop/src/renderer/src/components/variation/SourcesSection.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/context/SettingsNavigationProvider.tsx
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/types/fontSession.ts
  apps/desktop/src/renderer/src/types/window.ts
  apps/desktop/src/renderer/src/workspace/FontSession.ts
  apps/desktop/src/renderer/src/workspace/FontSessionProvider.tsx
  apps/desktop/src/renderer/src/workspace/WorkspaceContext.ts
  apps/desktop/src/renderer/src/workspace/runtime.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: filter merge queue checks by changed paths (#274)
  .github/workflows/ci.yml
Due: none

ci: publish Nightly updater assets from R2 (#272)
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  docs/releases.md
  scripts/find-obsolete-nightly-assets.mjs
  scripts/find-obsolete-nightly-assets.test.mjs
  scripts/find-retired-nightly-objects.mjs
  scripts/find-retired-nightly-objects.test.mjs
  scripts/prepare-nightly-release.mjs
  scripts/prepare-nightly-release.test.mjs
  scripts/prepare-update-feed.mjs
  scripts/prepare-update-feed.test.mjs
Due: prettier, oxlint, vitest

feat(desktop): register Shift document files (#273)
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/electron-builder.config.ts
  apps/desktop/resources/linux/nightly.xml
  apps/desktop/resources/linux/release.xml
  apps/desktop/resources/windows/installer.nsh
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
  docs/releases.md
  icons/README.md
  icons/shift-document-1024x1024.png
  icons/shift-document-128x128.png
  icons/shift-document-16x16.png
  icons/shift-document-256x256.png
  icons/shift-document-32x32.png
  icons/shift-document-48x48.png
  icons/shift-document-512x512.png
  icons/shift-document-64x64.png
  icons/shift-document.icns
  icons/shift-document.ico
  icons/shift-document.png
  scripts/icons.sh
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): prevent stale direct-edit feedback (#270)
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/e2e/fixtures/appLocators.ts
  apps/desktop/e2e/font-preview.spec.ts
  apps/desktop/e2e/home.spec.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/IconButton.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/ScaleSection.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/TransformGrid.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/TransformSection.tsx
  apps/desktop/src/renderer/src/components/home/GlyphCatalogCanvas.tsx
  apps/desktop/src/renderer/src/components/home/GlyphNameInput.tsx
  apps/desktop/src/renderer/src/components/variation/AxesPanel.tsx
  apps/desktop/src/renderer/src/components/variation/AxesSection.tsx
  apps/desktop/src/renderer/src/components/variation/InstancesSection.tsx
  apps/desktop/src/renderer/src/components/variation/SourcesSection.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/context/SettingsNavigationProvider.tsx
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/transform/docs/DOCS.md
  apps/desktop/src/renderer/src/types/fontSession.ts
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  apps/desktop/src/renderer/src/types/window.ts
  apps/desktop/src/renderer/src/workspace/FontSession.ts
  apps/desktop/src/renderer/src/workspace/FontSessionProvider.tsx
  apps/desktop/src/renderer/src/workspace/WorkspaceContext.ts
  apps/desktop/src/renderer/src/workspace/runtime.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): show Shift document icons on macOS
  apps/desktop/electron-builder.config.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): show Shift document icons on macOS (#275)
  apps/desktop/electron-builder.config.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): show document failures and preview guidance
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/dialogs/NativeDialogs.ts
  apps/desktop/src/main/dialogs/electronNativeDialogs.ts
  apps/desktop/src/main/dialogs/scriptedNativeDialogs.ts
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/components/chrome/ReadOnlyNoticeDialog.tsx
  apps/desktop/src/renderer/src/types/fontSession.ts
  apps/desktop/src/renderer/src/workspace/FontSession.ts
  apps/desktop/src/shared/workspace/previewConversion.test.ts
  apps/desktop/src/shared/workspace/previewConversion.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): show document failures and preview guidance (#262)
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/dialogs/NativeDialogs.ts
  apps/desktop/src/main/dialogs/electronNativeDialogs.ts
  apps/desktop/src/main/dialogs/scriptedNativeDialogs.ts
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/components/chrome/ReadOnlyNoticeDialog.tsx
  apps/desktop/src/renderer/src/types/fontSession.ts
  apps/desktop/src/renderer/src/workspace/FontSession.ts
  apps/desktop/src/shared/workspace/previewConversion.test.ts
  apps/desktop/src/shared/workspace/previewConversion.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): show update download progress
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/update/AppUpdater.ts
  apps/desktop/src/main/update/UpdateWindow.ts
  apps/desktop/src/main/update/types.ts
  apps/desktop/src/preload/docs/DOCS.md
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/views/UpdateScreen.css
  apps/desktop/src/renderer/src/views/UpdateScreen.tsx
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/src/shared/update/types.ts
  docs/releases.md
  packages/ui/docs/DOCS.md
  packages/ui/src/components/progress/Progress.tsx
  packages/ui/src/components/progress/index.ts
  packages/ui/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): show update download progress (#277)
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/update/AppUpdater.ts
  apps/desktop/src/main/update/UpdateWindow.ts
  apps/desktop/src/main/update/types.ts
  apps/desktop/src/preload/docs/DOCS.md
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/views/UpdateScreen.css
  apps/desktop/src/renderer/src/views/UpdateScreen.tsx
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/src/shared/update/types.ts
  docs/releases.md
  packages/ui/docs/DOCS.md
  packages/ui/src/components/progress/Progress.tsx
  packages/ui/src/components/progress/index.ts
  packages/ui/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): use native macOS document icons
  apps/desktop/electron-builder.config.ts
  docs/releases.md
  icons/README.md
  icons/shift-document-1024x1024.png
  icons/shift-document-128x128.png
  icons/shift-document-16x16.png
  icons/shift-document-256x256.png
  icons/shift-document-32x32.png
  icons/shift-document-48x48.png
  icons/shift-document-512x512.png
  icons/shift-document-64x64.png
  icons/shift-document.icns
  icons/shift-document.ico
  icons/shift-document.png
  icons/shift-document.xcassets/Contents.json
  icons/shift-document.xcassets/shift-document-badge.iconset/Contents.json
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_128x128.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_128x128@2x.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_16x16.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_16x16@2x.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_256x256.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_256x256@2x.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_32x32.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_32x32@2x.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_512x512.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_512x512@2x.png
  scripts/icons.sh
  scripts/smoke-packaged.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): use native macOS document icons (#278)
  apps/desktop/electron-builder.config.ts
  docs/releases.md
  icons/README.md
  icons/shift-document-1024x1024.png
  icons/shift-document-128x128.png
  icons/shift-document-16x16.png
  icons/shift-document-256x256.png
  icons/shift-document-32x32.png
  icons/shift-document-48x48.png
  icons/shift-document-512x512.png
  icons/shift-document-64x64.png
  icons/shift-document.icns
  icons/shift-document.ico
  icons/shift-document.png
  icons/shift-document.xcassets/Contents.json
  icons/shift-document.xcassets/shift-document-badge.iconset/Contents.json
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_128x128.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_128x128@2x.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_16x16.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_16x16@2x.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_256x256.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_256x256@2x.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_32x32.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_32x32@2x.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_512x512.png
  icons/shift-document.xcassets/shift-document-badge.iconset/icon_512x512@2x.png
  scripts/icons.sh
  scripts/smoke-packaged.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): compact the update window
  apps/desktop/src/main/update/UpdateWindow.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): maximize documents opened from Finder
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/src/main/app/App.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): compact the update window (#279)
  apps/desktop/src/main/update/UpdateWindow.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): preserve focus for maximized startup windows
  apps/desktop/src/main/windows/Window.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

docs: add Windows code signing policy
  .github/workflows/nightly.yml
  .github/workflows/release-desktop.yml
  CODE_SIGNING_POLICY.md
  README.md
Due: prettier
