Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

build(wasm): isolate native document storage (#430)
  .github/workflows/ci.yml
  crates/shift-backends/Cargo.toml
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/errors.rs
  crates/shift-backends/src/font_loader.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

ci: regenerate the SDK API report before commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

ci: regenerate the SDK API report before commit (#449)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

ci: commit newly created visual snapshots
  .github/workflows/update-visual-snapshots.yml
Due: none

ci: keep other labels from cancelling snapshot runs
  .github/workflows/update-visual-snapshots.yml
Due: none

ci: commit new goldens and stop label events cancelling snapshot runs (#450)
  .github/workflows/update-visual-snapshots.yml
Due: none

chore: normalize quoting in the no-empty-files hook
  .pre-commit-config.yaml
Due: none

build(sdk): record tracked-language editor APIs in the API report
  packages/sdk/api/index.api.md
Due: prettier

test(e2e): capture language coverage states
  apps/desktop/e2e/home.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): let snapshot updates create missing goldens
  apps/desktop/package.json
  package.json
Due: prettier

feat(editor): save tracked languages with the font
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.test.ts
  apps/desktop/src/renderer/src/lib/workspace/FontSessionClient.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-backends/src/formats/ufo/mod.rs
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/changes.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/mod.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/recovery/catalog.rs
  crates/shift-store/src/recovery/patch.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/lib.rs
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/model/Font.ts
  packages/editor/src/lib/model/FontStore.ts
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
  packages/types/src/workspace.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

feat: add language coverage to glyph catalog
  .gitmodules
  ROADMAP.md
  apps/desktop/src/renderer/src/components/home/glyph-catalog/GlyphCatalogView.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/Language.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/LanguageScript.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  packages/glyph-info/package.json
  packages/glyph-info/scripts/generate.ts
  packages/glyph-info/scripts/generators/languages.ts
  packages/glyph-info/scripts/repl.ts
  packages/glyph-info/scripts/types/hyperglot.ts
  packages/glyph-info/src/GlyphInfo.test.ts
  packages/glyph-info/src/GlyphInfo.ts
  packages/glyph-info/src/index.ts
  packages/glyph-info/src/resources.ts
  packages/glyph-info/src/types.ts
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(desktop): share click selection modes and name catalog filters
  apps/desktop/src/renderer/src/components/editor/object-tree/ObjectRow.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/GlyphCatalogView.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/SubCategory.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/hooks/useListSelection.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

docs: ask for named values and shared helpers over inline logic
  AGENTS.md
Due: prettier

refactor: replace nested ternaries and lint against them
  apps/desktop/.oxlintrc.json
  apps/desktop/src/main/update/UpdateWindow.ts
  apps/desktop/src/renderer/src/components/editor/sidebar-right/EditableSidebarInput.tsx
  apps/desktop/src/renderer/src/components/home/SvgGlyphCatalogGrid.tsx
  apps/desktop/src/renderer/src/components/variation/OutlineVisibilityButton.tsx
  apps/desktop/src/renderer/src/lib/themes/index.ts
  apps/desktop/src/utility/workspace/CachedAtlas.ts
  packages/editor/.oxlintrc.json
  packages/editor/src/lib/editor/rendering/overlays/ControlLines.ts
  packages/editor/src/lib/editor/rendering/overlays/contourNeighbors.ts
  packages/editor/src/lib/editor/rendering/overlays/handles/HandleItems.ts
  packages/editor/src/lib/model/LayerBuffers.ts
  packages/editor/src/lib/tools/select/behaviors/Nudge.ts
  packages/editor/src/lib/transform/Transform.ts
  packages/editor/src/types.ts
  packages/editor/src/types/nudge.ts
  packages/editor/src/ui/EditableSidebarInput.tsx
  packages/editor/src/ui/EditorToolbar.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor: replace nested ternaries and lint against them (#451)
  AGENTS.md
  apps/desktop/.oxlintrc.json
  apps/desktop/src/main/update/UpdateWindow.ts
  apps/desktop/src/renderer/src/components/editor/sidebar-right/EditableSidebarInput.tsx
  apps/desktop/src/renderer/src/components/home/SvgGlyphCatalogGrid.tsx
  apps/desktop/src/renderer/src/components/variation/OutlineVisibilityButton.tsx
  apps/desktop/src/renderer/src/lib/themes/index.ts
  apps/desktop/src/utility/workspace/CachedAtlas.ts
  packages/editor/.oxlintrc.json
  packages/editor/src/lib/editor/rendering/overlays/ControlLines.ts
  packages/editor/src/lib/editor/rendering/overlays/contourNeighbors.ts
  packages/editor/src/lib/editor/rendering/overlays/handles/HandleItems.ts
  packages/editor/src/lib/model/LayerBuffers.ts
  packages/editor/src/lib/tools/select/behaviors/Nudge.ts
  packages/editor/src/lib/transform/Transform.ts
  packages/editor/src/types.ts
  packages/editor/src/types/nudge.ts
  packages/editor/src/ui/EditableSidebarInput.tsx
  packages/editor/src/ui/EditorToolbar.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): draw components whose base glyph is not loaded
  apps/desktop/src/renderer/src/lib/model/ComponentEditing.test.ts
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/model/Font.ts
  packages/editor/src/lib/model/Glyph.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): draw components whose base glyph is not loaded (#453)
  apps/desktop/src/renderer/src/lib/model/ComponentEditing.test.ts
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/model/Font.ts
  packages/editor/src/lib/model/Glyph.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): derive reactive lookups instead of mirroring them
  AGENTS.md
  apps/desktop/.oxlintrc.json
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  packages/editor/.oxlintrc.json
  packages/editor/src/lib/model/Glyph.ts
  packages/editor/src/lib/model/GlyphLayerState.ts
  packages/editor/src/lib/store/ShiftStore.ts
  packages/editor/src/lib/text/TextRuns.ts
  packages/editor/src/lib/tools/core/ToolManager.ts
  packages/sdk/api/index.api.md
  scripts/oxlint/shift-plugin.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): lay out typed glyphs once their model loads
  apps/desktop/src/renderer/src/lib/tools/text/Text.test.ts
  packages/editor/src/lib/model/Font.ts
  packages/editor/src/lib/model/FontStore.ts
  packages/editor/src/types/font.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

perf(editor): track loaded glyphs per glyph instead of as one map
  packages/editor/src/lib/model/Font.ts
  packages/editor/src/lib/model/FontStore.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

docs: add a signals skill for reactive code
  .agents/skills/signals/SKILL.md
  .claude/skills/signals/SKILL.md
  .codex/skills/signals/SKILL.md
  AGENTS.md
  packages/editor/src/lib/signals/docs/DOCS.md
Due: prettier

refactor(editor): derive reactive lookups instead of mirroring them (#454)
  AGENTS.md
  apps/desktop/.oxlintrc.json
  apps/desktop/src/renderer/src/lib/tools/text/Text.test.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  packages/editor/.oxlintrc.json
  packages/editor/src/lib/model/Font.ts
  packages/editor/src/lib/model/FontStore.ts
  packages/editor/src/lib/model/Glyph.ts
  packages/editor/src/lib/model/GlyphLayerState.ts
  packages/editor/src/lib/store/ShiftStore.ts
  packages/editor/src/lib/text/TextRuns.ts
  packages/editor/src/lib/tools/core/ToolManager.ts
  packages/editor/src/types/font.ts
  packages/sdk/api/index.api.md
  scripts/oxlint/shift-plugin.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

docs: add a signals skill for reactive code (#455)
  .agents/skills/signals/SKILL.md
  .claude/skills/signals/SKILL.md
  .codex/skills/signals/SKILL.md
  AGENTS.md
  packages/editor/src/lib/signals/docs/DOCS.md
Due: prettier

feat(editor): add shortcuts for sidebar transforms
  apps/desktop/src/renderer/src/components/editor/BooleanOps.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/IconButton.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/TransformSection.tsx
  apps/desktop/src/renderer/src/lib/editor/sidebarActions.ts
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.test.ts
  apps/desktop/src/renderer/src/lib/keyboard/keymaps.ts
  apps/desktop/src/renderer/src/lib/keyboard/sidebarShortcuts.ts
  apps/desktop/src/renderer/src/lib/keyboard/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): add shortcuts for sidebar transforms (#457)
  apps/desktop/src/renderer/src/components/editor/BooleanOps.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/IconButton.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/TransformSection.tsx
  apps/desktop/src/renderer/src/lib/editor/sidebarActions.ts
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.test.ts
  apps/desktop/src/renderer/src/lib/keyboard/keymaps.ts
  apps/desktop/src/renderer/src/lib/keyboard/sidebarShortcuts.ts
  apps/desktop/src/renderer/src/lib/keyboard/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(catalog): restore previews for empty encoded glyphs
  apps/desktop/e2e/svg-catalog.spec.ts
  apps/desktop/src/renderer/src/components/home/GlyphCatalogOverlay.ts
  apps/desktop/src/renderer/src/components/home/SlugGlyphCatalogRenderer.ts
  apps/desktop/src/renderer/src/components/home/SvgGlyphCatalogGrid.tsx
  apps/desktop/src/renderer/src/lib/graphics/backends/ResidentGlyphLayer.ts
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/slug/SlugAtlas.test.ts
  apps/desktop/src/renderer/src/lib/slug/SlugAtlas.ts
  apps/desktop/src/renderer/src/lib/slug/SlugRenderer.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

perf(catalog): keep bulk missing-glyph selection responsive
  apps/desktop/e2e/svg-catalog.spec.ts
  apps/desktop/src/renderer/src/components/home/glyph-catalog/MissingGlyphsPopover.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(pen): close contours with a drag and join open contours
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenSnap.test.ts
  packages/editor/src/lib/model/Glyph.ts
  packages/editor/src/lib/model/GlyphLayerEdit.ts
  packages/editor/src/lib/model/JoinContours.ts
  packages/editor/src/lib/tools/pen/Pen.ts
  packages/editor/src/lib/tools/pen/PenCloseCurve.ts
  packages/editor/src/lib/tools/pen/PenOverlay.ts
  packages/editor/src/lib/tools/pen/PenStroke.ts
  packages/editor/src/lib/tools/pen/behaviors/CloseBehaviour.ts
  packages/editor/src/lib/tools/pen/behaviors/PenDownBehaviour.ts
  packages/editor/src/lib/tools/pen/behaviors/index.ts
  packages/editor/src/lib/tools/pen/types.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(select): close or join contours by dropping an open end
  apps/desktop/src/renderer/src/lib/tools/select/SelectEndpointJoin.test.ts
  packages/editor/src/lib/tools/select/EndpointDrop.ts
  packages/editor/src/lib/tools/select/behaviors/Translate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(select): constrain curve bending with Shift and Option
  apps/desktop/src/renderer/src/lib/tools/select/SelectTransform.test.ts
  packages/editor/src/lib/tools/select/behaviors/BendCurve.ts
  packages/editor/src/lib/tools/select/types.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(select): slide points along their handles with Option
  apps/desktop/src/renderer/src/lib/tools/select/SelectOptionSlide.test.ts
  packages/editor/src/lib/model/positions/MoveEdit.ts
  packages/editor/src/lib/model/positions/MovementAxis.ts
  packages/editor/src/lib/model/positions/index.ts
  packages/editor/src/lib/tools/select/PointSlide.ts
  packages/editor/src/lib/tools/select/TranslateInteraction.ts
  packages/editor/src/lib/tools/select/behaviors/Nudge.ts
  packages/editor/src/lib/tools/select/behaviors/Translate.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): show the original outline while editing
  apps/desktop/src/renderer/index.css
  apps/desktop/src/renderer/src/lib/themes/index.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectEditGhost.test.ts
  packages/editor/src/lib/editor/rendering/Theme.ts
  packages/editor/src/lib/model/Glyph.ts
  packages/editor/src/lib/model/GlyphLayerState.ts
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(select): skip angle snapping for handles locked to a line
  apps/desktop/src/renderer/src/lib/tools/select/SelectHandleSnap.test.ts
  packages/editor/src/lib/tools/select/behaviors/Translate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(select): show the end cursor when a drop will join contours
  apps/desktop/src/renderer/public/cursors/cursor@32-end.svg
  apps/desktop/src/renderer/public/cursors/cursor@64-end.svg
  apps/desktop/src/renderer/src/lib/styles/cursor.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectEndpointJoin.test.ts
  packages/editor/src/lib/styles/cursor.ts
  packages/editor/src/lib/tools/select/Select.ts
  packages/editor/src/types/editor.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(select): keep contours starting on-curve after a drop close
  apps/desktop/src/renderer/src/lib/tools/select/SelectEndpointJoin.test.ts
  packages/editor/src/lib/model/JoinContours.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
