Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

Restore complete Slug atlas residency
  apps/desktop/e2e/gpu.spec.ts
  apps/desktop/src/renderer/src/components/home/GlyphCatalogController.ts
  apps/desktop/src/renderer/src/lib/graphics/backends/ResidentGlyphLayer.ts
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.ts
  apps/desktop/src/renderer/src/lib/slug/SlugRenderer.ts
  crates/shift-bridge/__test__/index.spec.mjs
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/src/bridge.rs
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/src/resident.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Gate visual and GPU E2E correctness
  .github/workflows/ci.yml
  .github/workflows/perf.yml
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/bg-S-guides.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/canvas-B-composited.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/canvas-Q-composited.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/canvas-S-all-selected.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/canvas-S-composited.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/handles-S-all-selected.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/handles-S-idle.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/scene-S-filled.png
  apps/desktop/e2e/glyph-rendering.spec.ts
  apps/desktop/e2e/home.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Stabilize visual E2E snapshots
  .github/workflows/ci.yml
  .github/workflows/perf.yml
  apps/desktop/e2e/README.md
  apps/desktop/e2e/__screenshots__/editor.spec.ts/bg-canvas-A.png
  apps/desktop/e2e/__screenshots__/editor.spec.ts/editor-canvas-A.png
  apps/desktop/e2e/__screenshots__/editor.spec.ts/editor-glyph-A.png
  apps/desktop/e2e/__screenshots__/editor.spec.ts/handles-canvas-A.png
  apps/desktop/e2e/__screenshots__/editor.spec.ts/scene-canvas-A.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/bg-S-guides.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/canvas-B-composited.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/canvas-I-composited.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/canvas-Q-composited.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/canvas-S-all-selected.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/canvas-S-composited.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/editor-S-full.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/handles-S-all-selected.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/handles-S-idle.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-cubic-curve.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-mixed-segments.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-s-curve-handles.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-single-point.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-straight-segment.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/scene-S-filled.png
  apps/desktop/e2e/__screenshots__/home.spec.ts/home-glyph-grid.png
  apps/desktop/e2e/__screenshots__/landing.spec.ts/landing-default.png
  apps/desktop/e2e/__screenshots__/theme.spec.ts/theme-light-home.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/tool-hand.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/tool-pen.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/tool-select.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/tool-shape.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/tool-text.png
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/glyph-rendering.spec.ts
  apps/desktop/package.json
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  docs/architecture/index.md
  package.json
Due: prettier, oxlint, tsgo-typecheck, vitest

Generate glyph info before E2E builds
  apps/desktop/package.json
Due: prettier

Reuse Slug atlas projections during compilation
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/scripts/profile-slug-atlas.mjs
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/interpolation.rs
  crates/shift-font/src/projection.rs
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/src/authored.rs
  crates/shift-slug/src/authored/component.rs
  crates/shift-slug/src/lib.rs
  crates/shift-slug/src/resident.rs
  crates/shift-slug/tests/authored_model.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, vitest

Log workspace open phases
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Reuse prepared and clean workspaces on open
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/workspace/WorkspaceManager.ts
  apps/desktop/src/main/workspace/WorkspaceProcess.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/PackageOpener.test.ts
  apps/desktop/src/utility/workspace/PackageOpener.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Precompile authored atlas during renderer startup
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/workspace/WorkspaceManager.ts
  apps/desktop/src/main/workspace/WorkspaceProcess.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/__test__/index.spec.mjs
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/scripts/profile-slug-atlas.mjs
  crates/shift-bridge/src/bridge.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Reduce resumed layer acquisition work
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/scripts/profile-slug-atlas.mjs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/ir/font.rs
  crates/shift-slug/docs/DOCS.md
  crates/shift-store/README.md
  crates/shift-store/src/layer/load.rs
  crates/shift-workspace/docs/DOCS.md
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, vitest

Stream Glyphs imports in bounded batches
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/font_loader.rs
  crates/shift-backends/src/glyphs/conversion.rs
  crates/shift-backends/src/glyphs/import.rs
  crates/shift-backends/src/glyphs/mod.rs
  crates/shift-backends/src/glyphs/reader.rs
  crates/shift-backends/tests/loading.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Narrow Slug projection reuse scope
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/workspace/WorkspaceManager.ts
  apps/desktop/src/main/workspace/WorkspaceProcess.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/PackageOpener.test.ts
  apps/desktop/src/utility/workspace/PackageOpener.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/__test__/index.spec.mjs
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/scripts/profile-slug-atlas.mjs
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/ir/font.rs
  crates/shift-slug/docs/DOCS.md
  crates/shift-store/README.md
  crates/shift-store/src/layer/load.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/workspace.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Prioritize visible Grid atlas pages
  apps/desktop/e2e/gpu.spec.ts
  apps/desktop/src/renderer/src/components/home/GlyphCatalogCanvas.tsx
  apps/desktop/src/renderer/src/components/home/GlyphCatalogController.ts
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/home/GlyphPreviewLayout.test.ts
  apps/desktop/src/renderer/src/components/home/GlyphPreviewLayout.ts
  apps/desktop/src/renderer/src/components/home/glyphCatalogLayout.test.ts
  apps/desktop/src/renderer/src/components/home/glyphCatalogLayout.ts
  apps/desktop/src/renderer/src/lib/graphics/backends/ResidentGlyphLayer.ts
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/src/lib.rs
  crates/shift-slug/src/resident.rs
  crates/shift-slug/src/variable.rs
  crates/shift-slug/tests/atlas.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Allow multiple distant topology frames
  apps/desktop/e2e/gpu.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Cover variable Grid replacement in E2E
  apps/desktop/e2e/gpu.spec.ts
  apps/desktop/e2e/home.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Cache fixed Grid atlas pages
  apps/desktop/e2e/gpu.spec.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/workspace/WorkspaceProcess.ts
  apps/desktop/src/renderer/src/components/home/GlyphCatalogController.ts
  apps/desktop/src/renderer/src/lib/graphics/backends/ResidentGlyphLayer.ts
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/slug/SlugRenderer.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  apps/desktop/src/renderer/src/testing/workspaceStack.ts
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  apps/desktop/src/shared/workspace/PortByteStream.test.ts
  apps/desktop/src/shared/workspace/PortByteStream.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace.ts
  apps/desktop/src/utility/workspace/CachedAtlas.test.ts
  apps/desktop/src/utility/workspace/CachedAtlas.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  apps/desktop/src/utility/workspace/types.ts
  crates/shift-bridge/__test__/index.spec.mjs
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-slug/docs/DOCS.md
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Remove global scans from Grid paging
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/renderer/src/components/home/GlyphCatalogController.ts
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Reuse opened atlas cache indexes
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/utility/workspace/CachedAtlas.test.ts
  apps/desktop/src/utility/workspace/CachedAtlas.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  apps/desktop/src/utility/workspace/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix retried Grid cache publication
  apps/desktop/e2e/README.md
  apps/desktop/e2e/glyph-grid.spec.ts
  apps/desktop/playwright.config.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/utility/workspace/CachedAtlas.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Fit oversized glyphs within fixed Grid cells
  apps/desktop/e2e/gpu.spec.ts
  apps/desktop/src/renderer/src/components/home/GlyphCatalogCanvas.tsx
  apps/desktop/src/renderer/src/components/home/GlyphCatalogController.ts
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/home/GlyphPreviewLayout.test.ts
  apps/desktop/src/renderer/src/components/home/GlyphPreviewLayout.ts
  apps/desktop/src/renderer/src/components/home/glyphCatalogLayout.test.ts
  apps/desktop/src/renderer/src/components/home/glyphCatalogLayout.ts
  apps/desktop/src/renderer/src/lib/graphics/backends/ResidentGlyphLayer.ts
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/slug/SlugRenderer.ts
  apps/desktop/src/renderer/src/lib/slug/SlugRendererResources.ts
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  apps/desktop/src/renderer/src/types/glyphPreview.ts
  crates/shift-bridge/docs/DOCS.md
  crates/shift-slug/docs/DOCS.md
  crates/shift-slug/shaders/slug-variable.wgsl
Due: prettier, oxlint, tsgo-typecheck, vitest

Complete authored Grid atlas residency
  apps/desktop/e2e/fixtures/perfApp.ts
  apps/desktop/e2e/glyph-grid.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/renderer/src/components/home/GlyphCatalogController.ts
  apps/desktop/src/renderer/src/lib/graphics/backends/ResidentGlyphLayer.ts
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/docs/DOCS.md
  crates/shift-slug/docs/DOCS.md
Due: prettier, oxlint, tsgo-typecheck, vitest

Stabilize GPU test window geometry
  apps/desktop/e2e/README.md
  apps/desktop/e2e/fixtures/perfApp.ts
  apps/desktop/e2e/glyph-grid.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add retained random-access font sources
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/examples/profile_font_source.rs
  crates/shift-backends/src/binary/reader.rs
  crates/shift-backends/src/designspace/import.rs
  crates/shift-backends/src/designspace/mod.rs
  crates/shift-backends/src/designspace/reader.rs
  crates/shift-backends/src/font_loader.rs
  crates/shift-backends/src/font_source/binary.rs
  crates/shift-backends/src/font_source/error.rs
  crates/shift-backends/src/font_source/geometry.rs
  crates/shift-backends/src/font_source/glif.rs
  crates/shift-backends/src/font_source/glyphs.rs
  crates/shift-backends/src/font_source/interpolation.rs
  crates/shift-backends/src/font_source/mod.rs
  crates/shift-backends/src/font_source/types.rs
  crates/shift-backends/src/glyphs/import.rs
  crates/shift-backends/src/glyphs/mod.rs
  crates/shift-backends/src/lib.rs
  crates/shift-backends/src/ufo/import.rs
  crates/shift-backends/src/ufo/mod.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Compile binary fonts directly to Grid atlases
  Cargo.lock
  crates/shift-backends/Cargo.toml
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/examples/profile_binary_atlas.rs
  crates/shift-backends/src/font_source/atlas.rs
  crates/shift-backends/src/font_source/binary.rs
  crates/shift-backends/src/font_source/binary/atlas.rs
  crates/shift-backends/src/font_source/binary/atlas/geometry.rs
  crates/shift-backends/src/font_source/binary/atlas/geometry/curves.rs
  crates/shift-backends/src/font_source/binary/atlas/metrics.rs
  crates/shift-backends/src/font_source/mod.rs
  crates/shift-backends/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Add retained source atlas session plumbing
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/workspace/WorkspaceManager.ts
  apps/desktop/src/main/workspace/WorkspaceProcess.ts
  apps/desktop/src/main/workspace/WorkspaceSession.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/components/home/GlyphCatalogCanvas.tsx
  apps/desktop/src/renderer/src/components/home/GlyphCatalogController.ts
  apps/desktop/src/renderer/src/components/home/GlyphCatalogOverlay.ts
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/lib/graphics/backends/AuthoredGlyphAtlasSource.ts
  apps/desktop/src/renderer/src/lib/graphics/backends/ResidentGlyphLayer.ts
  apps/desktop/src/renderer/src/lib/slug/SlugAtlas.test.ts
  apps/desktop/src/renderer/src/lib/slug/SlugAtlas.ts
  apps/desktop/src/renderer/src/lib/slug/SlugAtlasPage.ts
  apps/desktop/src/renderer/src/lib/slug/SlugRenderer.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  apps/desktop/src/renderer/src/types/glyphAtlas.ts
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  apps/desktop/src/renderer/src/types/glyphPreview.ts
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-backends/src/font_source/binary.rs
  crates/shift-backends/src/font_source/mod.rs
  crates/shift-backends/src/font_source/types.rs
  crates/shift-backends/src/lib.rs
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-bridge/src/errors.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/ids.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Fix retained preview UI and rendering
  apps/desktop/e2e/font-preview.spec.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/components/chrome/NavigationPane.tsx
  apps/desktop/src/renderer/src/components/chrome/ReadOnlyNoticeDialog.tsx
  apps/desktop/src/renderer/src/components/editor/DisplayGlyphCanvas.tsx
  apps/desktop/src/renderer/src/components/editor/RightSidebar.tsx
  apps/desktop/src/renderer/src/components/editor/ToolsPane.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/DisplayGlyphSection.tsx
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/GlyphCatalog.tsx
  apps/desktop/src/renderer/src/components/variation/AxesSection.tsx
  apps/desktop/src/renderer/src/components/variation/DisplayAxesPanel.tsx
  apps/desktop/src/renderer/src/components/variation/InstancesSection.tsx
  apps/desktop/src/renderer/src/components/variation/SourcesSection.tsx
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/DisplayGlyphRenderModel.test.ts
  apps/desktop/src/renderer/src/lib/slug/SlugRenderer.ts
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/font_source/binary.rs
  crates/shift-backends/src/font_source/binary/atlas.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

fix: unify retained editor surfaces
  apps/desktop/src/renderer/src/components/chrome/Toolbar.tsx
  apps/desktop/src/renderer/src/components/editor/RightSidebar.tsx
  apps/desktop/src/renderer/src/components/editor/ToolsPane.tsx
  apps/desktop/src/renderer/src/hooks/useDocumentChromeState.ts
  apps/desktop/src/renderer/src/lib/catalog/GlyphCatalog.ts
  apps/desktop/src/renderer/src/lib/catalog/glyphCatalogItem.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.test.ts
  apps/desktop/src/renderer/src/lib/model/RenderGlyph.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/fontSnapshot.ts
  apps/desktop/src/renderer/src/lib/model/renderGlyph.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/BendCurve.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ToggleSmooth.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/UpgradeSegment.ts
  apps/desktop/src/renderer/src/types/object.ts
  apps/desktop/src/renderer/src/workspace/WorkspaceContext.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: align GPU tests with variation contracts
  apps/desktop/e2e/font-preview.spec.ts
  apps/desktop/e2e/glyph-grid.spec.ts
  apps/desktop/e2e/variable-font-preview.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: normalize GPU canvas baselines
  apps/desktop/e2e/fixtures/perfApp.ts
  apps/desktop/e2e/glyph-grid.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
