Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

.pre-commit-config.yaml:

repos:
  # Standard file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]

      - id: oxlint
        name: oxlint
        entry: pnpm lint:check
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

      - id: tsgo-typecheck
        name: tsgo typecheck
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

      - id: vitest
        name: vitest
        entry: pnpm test
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

feat(editor): add curve-aware point deletion (#354)
  .oxfmtrc.json
  ROADMAP.md
  apps/desktop/e2e/deletion.spec.ts
  apps/desktop/src/renderer/src/lib/editor/Deletion.test.ts
  apps/desktop/src/renderer/src/lib/editor/DeletionDegree.test.ts
  apps/desktop/src/renderer/src/lib/editor/DeletionTopology.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/keyboard/keymaps.ts
  apps/desktop/src/renderer/src/lib/keyboard/types.ts
  apps/desktop/src/renderer/src/lib/model/DeletePoints.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/workspace/FreshReopen.test.ts
  apps/desktop/src/renderer/src/types/glyph.ts
  packages/geo/src/Curve.ts
  packages/geo/src/fitQuadratic.test.ts
  packages/geo/src/fitQuadratic.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): add selectable shape tool menu
  apps/desktop/e2e/tools.spec.ts
  apps/desktop/src/renderer/src/assets/toolbar/circle.svg
  apps/desktop/src/renderer/src/components/editor/ToolsPane.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.test.ts
  apps/desktop/src/renderer/src/lib/keyboard/keymaps.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManifest.ts
  apps/desktop/src/renderer/src/lib/tools/core/index.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.test.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.ts
  apps/desktop/src/renderer/src/lib/tools/shape/index.ts
  apps/desktop/src/renderer/src/lib/tools/shape/types.ts
  apps/desktop/src/renderer/src/lib/tools/tools.ts
  apps/desktop/src/renderer/src/types/editor.ts
  apps/desktop/src/renderer/src/types/tools.ts
  packages/ui/src/components/menu/Menu.tsx
  packages/ui/src/components/menu/index.ts
  packages/ui/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): open source fonts directly from macOS Open With
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/dialogs/electronNativeDialogs.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/shared/openFontExtensions.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): open source fonts directly from macOS Open With (#357)
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/dialogs/electronNativeDialogs.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/shared/openFontExtensions.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): preserve constrained scaling on mouse release
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/src/renderer/src/lib/tools/core/GestureDetector.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/GestureDetector.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): keep technical details out of dialogs
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/e2e/document-crash.spec.ts
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/dialogs/NativeDialogs.ts
  apps/desktop/src/main/dialogs/electronNativeDialogs.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/main/update/AppUpdater.ts
  apps/desktop/src/main/update/UpdateWindow.ts
  apps/desktop/src/renderer/src/app/AppErrorBoundary.tsx
  apps/desktop/src/renderer/src/app/DocumentErrorBoundary.tsx
  apps/desktop/src/renderer/src/app/DocumentErrorScreen.tsx
  apps/desktop/src/renderer/src/app/ErrorDialog.tsx
  apps/desktop/src/renderer/src/app/errorReporting.ts
  apps/desktop/src/renderer/src/components/chrome/PreviewNoticeDialog.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/AxisMappingPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/FontSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/InstancesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SettingsDialog.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SourcesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/useAxisDraft.ts
  apps/desktop/src/renderer/src/components/chrome/settings/useSettingsForm.ts
  apps/desktop/src/renderer/src/views/UpdateScreen.tsx
  apps/desktop/src/renderer/src/workspace/FontSessionProvider.tsx
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/src/shared/messages/en.json
  apps/desktop/src/shared/messages/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): draw ellipses with live shape inspection
  ROADMAP.md
  apps/desktop/e2e/__screenshots__/tools.spec.ts/Ellipse-committed.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/Ellipse-draft.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/Rectangle-committed.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/Rectangle-draft.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/shape-menu.png
  apps/desktop/e2e/tools.spec.ts
  apps/desktop/src/renderer/src/components/editor/RightSidebar.tsx
  apps/desktop/src/renderer/src/components/editor/ToolsPane.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/ScaleSection.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/TransformSection.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/HandleVisibility.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/ControlLines.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/Handles.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/handles/HandleItems.ts
  apps/desktop/src/renderer/src/lib/graphics/ContourPath.test.ts
  apps/desktop/src/renderer/src/lib/graphics/ContourPath.ts
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/nodes/GlyphNodeDefinition.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/shape/Ellipse.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Rectangle.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.test.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.ts
  apps/desktop/src/renderer/src/lib/tools/shape/ShapeTool.ts
  apps/desktop/src/renderer/src/lib/tools/shape/behaviors/DraggingBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/shape/behaviors/ReadyBehavior.ts
  apps/desktop/src/renderer/src/lib/tools/shape/geometry.test.ts
  apps/desktop/src/renderer/src/lib/tools/shape/index.ts
  apps/desktop/src/renderer/src/lib/tools/shape/types.ts
  apps/desktop/src/renderer/src/lib/tools/tools.ts
  packages/glyph-state/docs/DOCS.md
  packages/glyph-state/src/Segment.ts
  packages/glyph-state/src/index.ts
  packages/glyph-state/src/parseContourSegments.test.ts
  packages/glyph-state/src/parseContourSegments.ts
  packages/glyph-state/src/types/contour.ts
  scripts/oxlint/shift-plugin.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): restore React error details
  apps/desktop/e2e/document-crash.spec.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/renderer/src/app/AppErrorBoundary.tsx
  apps/desktop/src/renderer/src/app/DocumentErrorBoundary.tsx
  apps/desktop/src/renderer/src/app/DocumentErrorScreen.tsx
  apps/desktop/src/renderer/src/app/ErrorDialog.tsx
  apps/desktop/src/shared/messages/en.json
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: capture dialog screenshots for review
  .github/workflows/installed-app-screenshots.yml
  docs/releases.md
  scripts/capture-installed-app.mjs
  scripts/installed-app-screenshot-scenarios.mjs
  scripts/installed-app-screenshot-scenarios.test.mjs
Due: prettier, oxlint, vitest

fix(editor): keep sidebar undimmed while drawing shapes
  apps/desktop/e2e/__screenshots__/tools.spec.ts/Ellipse-draft.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/Rectangle-draft.png
  apps/desktop/e2e/tools.spec.ts
  apps/desktop/src/renderer/src/components/editor/sidebar-right/ScaleSection.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/TransformSection.tsx
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
Due: prettier, oxlint, tsgo-typecheck, vitest

Revert "ci: capture dialog screenshots for review"
  .github/workflows/installed-app-screenshots.yml
  docs/releases.md
  scripts/capture-installed-app.mjs
  scripts/installed-app-screenshot-scenarios.mjs
  scripts/installed-app-screenshot-scenarios.test.mjs
Due: prettier, oxlint, vitest

test(desktop): update preview notice snapshot
  apps/desktop/e2e/__screenshots__/document-lifecycle.spec.ts/read-only-preview-notice.png
Due: none

fix(desktop): keep technical details out of dialogs (#361)
  apps/desktop/e2e/__screenshots__/document-lifecycle.spec.ts/read-only-preview-notice.png
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/e2e/document-crash.spec.ts
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/dialogs/NativeDialogs.ts
  apps/desktop/src/main/dialogs/electronNativeDialogs.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/main/update/AppUpdater.ts
  apps/desktop/src/main/update/UpdateWindow.ts
  apps/desktop/src/renderer/src/app/AppErrorBoundary.tsx
  apps/desktop/src/renderer/src/app/DocumentErrorScreen.tsx
  apps/desktop/src/renderer/src/app/ErrorDialog.tsx
  apps/desktop/src/renderer/src/app/errorReporting.ts
  apps/desktop/src/renderer/src/components/chrome/PreviewNoticeDialog.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/AxisMappingPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/FontSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/InstancesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SettingsDialog.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SourcesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/useAxisDraft.ts
  apps/desktop/src/renderer/src/components/chrome/settings/useSettingsForm.ts
  apps/desktop/src/renderer/src/views/UpdateScreen.tsx
  apps/desktop/src/renderer/src/workspace/FontSessionProvider.tsx
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/src/shared/messages/en.json
  apps/desktop/src/shared/messages/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): preserve constrained scaling on mouse release (#359)
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/src/renderer/src/lib/tools/core/GestureDetector.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/GestureDetector.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(editor): align shape toolbar expectations
  apps/desktop/e2e/__screenshots__/home.spec.ts/home-category-active.png
  apps/desktop/e2e/document-lifecycle.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): disable the shape menu in read-only previews
  apps/desktop/src/renderer/src/components/editor/ToolsPane.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

test(desktop): retain the process handle across shutdown
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/fixtures/documentLifecycle.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): refresh canvas cursors and show bend feedback
  ROADMAP.md
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/src/renderer/public/cursors/cursor@32-bend.svg
  apps/desktop/src/renderer/public/cursors/cursor@32-copy.svg
  apps/desktop/src/renderer/public/cursors/cursor@32-moving.svg
  apps/desktop/src/renderer/public/cursors/cursor@32.svg
  apps/desktop/src/renderer/public/cursors/cursor@64-bend.svg
  apps/desktop/src/renderer/public/cursors/cursor@64-copy.svg
  apps/desktop/src/renderer/public/cursors/cursor@64-moving.svg
  apps/desktop/src/renderer/public/cursors/cursor@64.svg
  apps/desktop/src/renderer/src/app/App.css
  apps/desktop/src/renderer/src/lib/styles/cursor.test.ts
  apps/desktop/src/renderer/src/lib/styles/cursor.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectTransform.test.ts
  apps/desktop/src/renderer/src/types/editor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): refresh canvas cursors and show bend feedback (#365)
  ROADMAP.md
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/src/renderer/public/cursors/cursor@32-bend.svg
  apps/desktop/src/renderer/public/cursors/cursor@32-copy.svg
  apps/desktop/src/renderer/public/cursors/cursor@32-moving.svg
  apps/desktop/src/renderer/public/cursors/cursor@32.svg
  apps/desktop/src/renderer/public/cursors/cursor@64-bend.svg
  apps/desktop/src/renderer/public/cursors/cursor@64-copy.svg
  apps/desktop/src/renderer/public/cursors/cursor@64-moving.svg
  apps/desktop/src/renderer/public/cursors/cursor@64.svg
  apps/desktop/src/renderer/src/app/App.css
  apps/desktop/src/renderer/src/lib/styles/cursor.test.ts
  apps/desktop/src/renderer/src/lib/styles/cursor.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectTransform.test.ts
  apps/desktop/src/renderer/src/types/editor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): typecheck specs and fix stale API usage
  apps/desktop/e2e/README.md
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/e2e/application-quit.spec.ts
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/fixtures/appLocators.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/fixtures/perfApp.ts
  apps/desktop/e2e/glyph-grid.spec.ts
  apps/desktop/e2e/handle-styling.spec.ts
  apps/desktop/e2e/perf.spec.ts
  apps/desktop/e2e/platform-integration.spec.ts
  apps/desktop/e2e/variable-font-authoring.spec.ts
  apps/desktop/e2e/variable-font-recovery.spec.ts
  apps/desktop/e2e/variable-navigation-glyph-grid.spec.ts
  apps/desktop/e2e/variable-source-font-preview.spec.ts
  apps/desktop/tsconfig.json
Due: prettier, oxlint, tsgo-typecheck, vitest

perf(editor): speed up large outline insertion
  apps/desktop/src/renderer/src/lib/editor/ClipboardOperations.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerEdit.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerInsertion.test.ts
  apps/desktop/src/renderer/src/lib/model/LayerBuffers.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(workspace): identify document history entries
  apps/desktop/src/renderer/src/lib/workspace/FontSessionClient.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/dts-header.d.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-bridge/src/input.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/lib.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/ids.ts
  packages/types/src/index.ts
  scripts/generate-bridge-types.mjs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

docs(workspace): document ledger entry identities
  crates/shift-bridge/docs/DOCS.md
  crates/shift-workspace/docs/DOCS.md
  packages/types/docs/DOCS.md
Due: prettier

feat(editor): make selection history undoable
  apps/desktop/e2e/deletion.spec.ts
  apps/desktop/e2e/selection-history.spec.ts
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.ts
  apps/desktop/src/renderer/src/lib/editor/BooleanOperations.test.ts
  apps/desktop/src/renderer/src/lib/editor/ClipboardOperations.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/EditorHistory.test.ts
  apps/desktop/src/renderer/src/lib/editor/EditorHistory.ts
  apps/desktop/src/renderer/src/lib/editor/HistoryCapture.ts
  apps/desktop/src/renderer/src/lib/editor/Selection.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/editor/history/sequenceDiff.test.ts
  apps/desktop/src/renderer/src/lib/editor/history/sequenceDiff.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.test.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.test.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  apps/desktop/src/renderer/src/types/history.ts
  apps/desktop/src/renderer/src/types/index.ts
  apps/desktop/src/renderer/src/types/workspace.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(signals): stop retaining unowned reactive graphs
  apps/desktop/src/renderer/src/lib/signals/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/signals/signal.ts
  apps/desktop/src/renderer/src/lib/signals/signalCollection.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

build(renderer): target bundled Chromium
  apps/desktop/vite.renderer.config.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(perf): measure input-to-presented geometry
  apps/desktop/e2e/README.md
  apps/desktop/e2e/fixtures/measureGeometryPresentation.ts
  apps/desktop/e2e/geometry-presentation.perf.spec.ts
  apps/desktop/package.json
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/editor/rendering/Renderer.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/handles/MarkerHandleRenderer.ts
  apps/desktop/src/renderer/src/lib/graphics/backends/MarkerLayer.ts
  apps/desktop/src/renderer/src/testing/findGeometryPresentation.test.ts
  apps/desktop/src/renderer/src/testing/findGeometryPresentation.ts
  apps/desktop/src/renderer/src/testing/fixtures/geometry-presentation.json
  apps/desktop/src/renderer/src/testing/fixtures/geometry-submission-after-presentation.json
  apps/desktop/src/renderer/src/types/index.ts
  apps/desktop/src/renderer/src/types/rendering.ts
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

perf(editor): reduce whole-glyph work during point editing
  apps/desktop/e2e/glyph-rendering.spec.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/Canvas.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/markers/handleStyles.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/Handles.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/handles/HandleItems.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/handles/HandleItems.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/handles/MarkerHandleRenderer.ts
  apps/desktop/src/renderer/src/lib/graphics/backends/MarkerLayer.ts
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/GlyphLayerConfirmation.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerState.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  packages/glyph-state/docs/DOCS.md
  packages/glyph-state/src/Contour.test.ts
  packages/glyph-state/src/Contour.ts
  packages/glyph-state/src/glyphStructuresEqual.test.ts
  packages/glyph-state/src/glyphStructuresEqual.ts
  packages/glyph-state/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): add independent selection dimensions
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/src/renderer/src/components/editor/sidebar-right/TransformSection.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): preview curve upgrades and refine tool cursors
  ROADMAP.md
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/e2e/tools.spec.ts
  apps/desktop/src/renderer/index.html
  apps/desktop/src/renderer/public/cursors/crosshair@32-circle.svg
  apps/desktop/src/renderer/public/cursors/crosshair@32-square.svg
  apps/desktop/src/renderer/public/cursors/crosshair@32.svg
  apps/desktop/src/renderer/public/cursors/crosshair@64-circle.svg
  apps/desktop/src/renderer/public/cursors/crosshair@64-square.svg
  apps/desktop/src/renderer/public/cursors/crosshair@64.svg
  apps/desktop/src/renderer/public/cursors/cursor@32-add.svg
  apps/desktop/src/renderer/public/cursors/cursor@32-bend.svg
  apps/desktop/src/renderer/public/cursors/cursor@64-add.svg
  apps/desktop/src/renderer/public/cursors/cursor@64-bend.svg
  apps/desktop/src/renderer/public/cursors/pen@32-add.svg
  apps/desktop/src/renderer/public/cursors/pen@32-end.svg
  apps/desktop/src/renderer/public/cursors/pen@32.svg
  apps/desktop/src/renderer/public/cursors/pen@64-add.svg
  apps/desktop/src/renderer/public/cursors/pen@64-end.svg
  apps/desktop/src/renderer/public/cursors/pen@64.svg
  apps/desktop/src/renderer/src/lib/editor/DeletionTopology.test.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/styles/cursor.test.ts
  apps/desktop/src/renderer/src/lib/styles/cursor.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectTransform.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectUpgradePreview.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/UpgradeSegment.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.test.ts
  apps/desktop/src/renderer/src/lib/tools/shape/ShapeTool.ts
  apps/desktop/src/renderer/src/types/editor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): add undoable contour start selection
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/renderer/src/components/editor/Canvas.tsx
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.ts
  apps/desktop/src/renderer/src/lib/model/ContourBuffer.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerState.ts
  apps/desktop/src/renderer/src/lib/model/LayerBuffers.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/workspace/LayerIntents.ts
  apps/desktop/src/shared/commands.ts
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/layer_edit.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-workspace/tests/workspace_test.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

fix(editor): preserve selection during Shift-marquee
  apps/desktop/e2e/marquee-selection.spec.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/EditorHistory.test.ts
  apps/desktop/src/renderer/src/lib/nodes/GlyphNodeDefinition.ts
  apps/desktop/src/renderer/src/lib/tools/select/BoundingBox.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Marquee.ts
  apps/desktop/src/renderer/src/lib/tools/select/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

docs: clarify degree-preserving point deletion
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  packages/geo/docs/DOCS.md
Due: prettier

docs: document curve deletion and refresh module contracts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/preload/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  crates/shift-backends/docs/DOCS.md
  crates/shift-font/docs/DOCS.md
  packages/geo/docs/DOCS.md
  packages/glyph-state/docs/DOCS.md
  packages/types/docs/DOCS.md
  packages/ui/docs/DOCS.md
  packages/validation/docs/DOCS.md
Due: prettier

docs: refresh graphics module review
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
Due: prettier

docs: document curve deletion and refresh module contracts (#355)
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/preload/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  crates/shift-backends/docs/DOCS.md
  crates/shift-font/docs/DOCS.md
  packages/geo/docs/DOCS.md
  packages/glyph-state/docs/DOCS.md
  packages/types/docs/DOCS.md
  packages/ui/docs/DOCS.md
  packages/validation/docs/DOCS.md
Due: prettier
