Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

refactor(editor): add scoped position edit composition
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/positions/LayerPositions.ts
  apps/desktop/src/renderer/src/lib/model/positions/MoveEdit.ts
  apps/desktop/src/renderer/src/lib/model/positions/PositionEdits.test.ts
  apps/desktop/src/renderer/src/lib/model/positions/PositionEdits.ts
  apps/desktop/src/renderer/src/lib/model/positions/PositionList.ts
  apps/desktop/src/renderer/src/lib/model/positions/RotateEdit.ts
  apps/desktop/src/renderer/src/lib/model/positions/ScaleEdit.ts
  apps/desktop/src/renderer/src/lib/model/positions/index.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Resize.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Rotate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

chore(skills): synchronize writing-test copies
  .claude/skills/writing-tests/SKILL.md
  .codex/skills/writing-tests/SKILL.md
Due: prettier

chore(skills): adopt standard discovery directory
  .agents/skills/commit/SKILL.md
  .agents/skills/issue/SKILL.md
  .agents/skills/jsdoc/SKILL.md
  .agents/skills/pr/SKILL.md
  .agents/skills/rustdoc/SKILL.md
  .agents/skills/writing-tests/SKILL.md
  .github/workflows/ci.yml
  AGENTS.md
  scripts/sync-agent-skills.mjs
Due: prettier, oxlint, vitest

test(e2e): scope axes selector to font navigation
  apps/desktop/e2e/selector-contracts.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): await settings close before navigation
  apps/desktop/e2e/selector-contracts.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

build(desktop): adopt electron-builder updates
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release-desktop.yml
  ROADMAP.md
  apps/desktop/build.ts
  apps/desktop/e2e/README.md
  apps/desktop/electron-builder.config.ts
  apps/desktop/forge.config.ts
  apps/desktop/package.json
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/app/AppIcon.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/update/AppUpdater.ts
  apps/desktop/src/main/update/types.ts
  apps/desktop/src/main/update/updateFeed.test.ts
  apps/desktop/src/main/update/updateFeed.ts
  apps/desktop/tsconfig.config.json
  docs/releases.md
  icons/README.md
  knip.class.json
  knip.fix.json
  knip.json
  package.json
  pnpm-lock.yaml
  scripts/icons.sh
  scripts/prepare-nightly-release.mjs
  scripts/prepare-nightly-release.test.mjs
  scripts/prepare-update-feed.mjs
  scripts/prepare-update-feed.test.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

chore(scripts): typecheck docs fences and enforce doc invariants
  scripts/check-docs-fences.mjs
  scripts/check-invariants.py
Due: prettier, oxlint, vitest

docs: clear context-drift warnings across module docs
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/preload/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  crates/shift-bridge/docs/DOCS.md
  crates/shift-font/docs/DOCS.md
  crates/shift-source/docs/DOCS.md
  crates/shift-workspace/docs/DOCS.md
  packages/geo/docs/DOCS.md
  packages/glyph-state/docs/DOCS.md
  packages/types/docs/DOCS.md
Due: prettier

chore(scripts): harden context drift checker
  scripts/context-drift-check.py
Due: none

docs: fix audited claims and add review attestations
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/preload/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/signals/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/text/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/transform/docs/DOCS.md
  crates/shift-backends/docs/DOCS.md
  crates/shift-bridge/docs/DOCS.md
  crates/shift-font/docs/DOCS.md
  crates/shift-slug/docs/DOCS.md
  crates/shift-source/docs/DOCS.md
  crates/shift-workspace/docs/DOCS.md
  docs/architecture/index.md
  packages/geo/docs/DOCS.md
  packages/glyph-state/docs/DOCS.md
  packages/rules/docs/DOCS.md
  packages/types/docs/DOCS.md
  packages/ui/docs/DOCS.md
  packages/validation/docs/DOCS.md
Due: prettier

fix(scripts): exclude docs dir from source freshness comparison
  scripts/context-drift-check.py
Due: none

chore(skills): skip scheduled docs audit when nothing changed
  .claude/skills/docs-audit/SKILL.md
Due: prettier

chore(skills): teach docs skill the drift system and add docs-audit
  .claude/skills/docs-audit/SKILL.md
  .claude/skills/docs/SKILL.md
Due: prettier

ci: gate documentation drift checks
  .github/workflows/ci.yml
Due: none

docs: fix second-round audit findings across all module docs
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/editor/rendering/FrameHandler.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/signals/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/text/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/transform/docs/DOCS.md
  crates/shift-backends/docs/DOCS.md
  crates/shift-bridge/docs/DOCS.md
  crates/shift-slug/docs/DOCS.md
  crates/shift-workspace/docs/DOCS.md
  packages/rules/README.md
  packages/rules/docs/DOCS.md
  packages/ui/docs/DOCS.md
  packages/validation/docs/DOCS.md
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(release): validate update metadata with zod
  package.json
  pnpm-lock.yaml
  scripts/prepare-update-feed.mjs
  scripts/prepare-update-feed.test.mjs
Due: prettier, oxlint, vitest

fix(desktop): keep app icons consistent across builds
  apps/desktop/src/main/app/AppIcon.ts
  icons/README.md
  icons/favicon-16x16.png
  icons/favicon-32x32.png
  icons/favicon-48x48.png
  icons/icon-128x128.png
  icons/icon-16x16.png
  icons/icon-192x192.png
  icons/icon-256x256.png
  icons/icon-32x32.png
  icons/icon-48x48.png
  icons/icon-512x512.png
  icons/icon-64x64.png
  icons/icon-96x96.png
  icons/icon-macos.png
  icons/icon.icns
  icons/icon.ico
  icons/icon.png
  icons/nightly-macos.png
  icons/nightly.icns
  icons/nightly.ico
  package.json
  scripts/icons.sh
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): cover application document lifecycle
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/landing.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/app/AppLifecycle.ts
  apps/desktop/src/main/dialogs/NativeDialogs.ts
  apps/desktop/src/main/dialogs/electronNativeDialogs.ts
  apps/desktop/src/main/dialogs/scriptedNativeDialogs.ts
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/main/document/openFontDialog.ts
  apps/desktop/src/main/document/types.ts
  apps/desktop/src/main/main.ts
  apps/desktop/src/main/workspace/FontSessionHost.ts
  apps/desktop/src/main/workspace/WorkspaceManager.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

docs(main): document native dialog boundary
  apps/desktop/src/main/docs/DOCS.md
Due: prettier

test(e2e): expand alpha product coverage
  apps/desktop/e2e/README.md
  apps/desktop/e2e/application-quit.spec.ts
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/fixtures/appLocators.ts
  apps/desktop/e2e/fixtures/documentLifecycle.ts
  apps/desktop/e2e/fixtures/editorInteractions.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/glyph-navigation.spec.ts
  apps/desktop/e2e/glyph-rendering.spec.ts
  apps/desktop/e2e/glyph-view.spec.ts
  apps/desktop/e2e/home.spec.ts
  apps/desktop/e2e/tools.spec.ts
  apps/desktop/src/main/dialogs/scriptedNativeDialogs.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/lib/catalog/GlyphOpenGate.test.ts
  apps/desktop/src/renderer/src/lib/catalog/GlyphOpenGate.ts
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.test.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): update nightly app icon
  icons/nightly-macos.png
  icons/nightly.icns
  icons/nightly.ico
  icons/nightly.icon/Assets/SVG Image.svg
  icons/nightly.icon/icon.json
  icons/nightly.png
Due: prettier

ci: pass desktop versions across matrix shells
  .github/workflows/nightly.yml
  .github/workflows/release-desktop.yml
Due: none

fix: scrub workspace state from saved documents
  crates/shift-store/src/document.rs
  crates/shift-store/tests/store_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: add native document Save As snapshot
  crates/shift-store/README.md
  crates/shift-store/src/document.rs
  crates/shift-store/tests/store_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

refactor: generate recovery SQL from table catalog
  crates/shift-store/README.md
  crates/shift-store/src/recovery/catalog.rs
  crates/shift-store/src/recovery/mod.rs
  crates/shift-store/src/recovery/overlay.rs
  crates/shift-store/src/recovery/patch.rs
  crates/shift-store/src/recovery/save.rs
  crates/shift-store/src/recovery/views.rs
  crates/shift-store/tests/recovery_patch_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat: add sparse document recovery overlays
  crates/shift-store/README.md
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/connection.rs
  crates/shift-store/src/document.rs
  crates/shift-store/src/error.rs
  crates/shift-store/src/layer/write.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/recovery/mod.rs
  crates/shift-store/src/recovery/overlay.rs
  crates/shift-store/src/recovery/patch.rs
  crates/shift-store/src/recovery/save.rs
  crates/shift-store/src/recovery/views.rs
  crates/shift-store/src/schema.rs
  crates/shift-store/src/store.rs
  crates/shift-store/src/types.rs
  crates/shift-store/tests/recovery_patch_test.rs
  crates/shift-store/tests/recovery_test.rs
  crates/shift-store/tests/store_test.rs
  docs/architecture/index.md
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

test(e2e): align canonical document contracts
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/font-preview.spec.ts
  apps/desktop/e2e/source-font-preview.spec.ts
  apps/desktop/e2e/variable-font-preview.spec.ts
  apps/desktop/e2e/variable-source-font-preview.spec.ts
  apps/desktop/src/main/docs/DOCS.md
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(document): add atomic preview conversion core
  apps/desktop/src/main/workspace/FontSessionHost.ts
  apps/desktop/src/main/workspace/WorkspaceManager.test.ts
  apps/desktop/src/main/workspace/WorkspaceManager.ts
  apps/desktop/src/main/workspace/WorkspaceProcess.ts
  apps/desktop/src/shared/workspace/previewConversion.test.ts
  apps/desktop/src/shared/workspace/previewConversion.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(document): add atomic preview conversion core (#249)
  apps/desktop/src/main/workspace/FontSessionHost.ts
  apps/desktop/src/main/workspace/WorkspaceManager.test.ts
  apps/desktop/src/main/workspace/WorkspaceManager.ts
  apps/desktop/src/main/workspace/WorkspaceProcess.ts
  apps/desktop/src/shared/workspace/previewConversion.test.ts
  apps/desktop/src/shared/workspace/previewConversion.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): save previews as Shift documents
  apps/desktop/e2e/README.md
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Command.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/dialogs/NativeDialogs.ts
  apps/desktop/src/main/dialogs/electronNativeDialogs.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/document/DocumentSession.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): cover every convertible preview format
  apps/desktop/e2e/README.md
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  fixtures/fonts/PackageFont.glyphspackage/fontinfo.plist
  fixtures/fonts/PackageFont.glyphspackage/glyphs/A_.glyph
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): save previews as Shift documents (#250)
  apps/desktop/e2e/README.md
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Command.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/dialogs/NativeDialogs.ts
  apps/desktop/src/main/dialogs/electronNativeDialogs.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/document/DocumentSession.ts
  fixtures/fonts/PackageFont.glyphspackage/fontinfo.plist
  fixtures/fonts/PackageFont.glyphspackage/glyphs/A_.glyph
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): route native menus to the active document
  apps/desktop/e2e/README.md
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/e2e/fixtures/documentLifecycle.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/main/menu/menuItems.test.ts
  apps/desktop/src/main/menu/menuItems.ts
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.test.ts
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/workspace/FontSessionProvider.tsx
  apps/desktop/src/shared/commands.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(workspace): preserve font topology through history
  apps/desktop/e2e/document-recovery.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/variable-font-authoring.spec.ts
  apps/desktop/e2e/variable-font-recovery.spec.ts
  apps/desktop/src/renderer/src/components/chrome/settings/SourcesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  crates/shift-bridge/src/bridge.rs
  crates/shift-cli/src/authoring.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/changes.rs
  crates/shift-font/src/error.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/ir/collection.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-store/README.md
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/recovery/patch.rs
  crates/shift-store/tests/recovery_patch_test.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

fix: preserve quadratic curve endpoints during editing
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerGeometry.test.ts
  crates/shift-backends/src/formats/opentype/reader.rs
  crates/shift-bridge/index.d.ts
  crates/shift-font/src/ir/contour.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/lib.rs
  crates/shift-wire/src/state.rs
  packages/glyph-state/src/Contour.ts
  packages/glyph-state/src/Point.ts
  packages/glyph-state/src/Segment.test.ts
  packages/types/src/bridge/generated.ts
  packages/validation/src/Validate.test.ts
  packages/validation/src/Validate.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

fix(ci): bootstrap empty update-feed branch
  .github/workflows/nightly.yml
  .github/workflows/release-desktop.yml
Due: none

fix(desktop): open directory font sources on every platform
  apps/desktop/src/main/dialogs/electronNativeDialogs.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): complete native application menus
  apps/desktop/e2e/application-menu.spec.ts
  apps/desktop/src/main/menu/ApplicationMenu.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
