Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

Add shift source package serialization
  Cargo.lock
  crates/shift-backends/Cargo.toml
  crates/shift-backends/src/errors.rs
  crates/shift-backends/src/font_loader.rs
  crates/shift-backends/src/format.rs
  crates/shift-backends/tests/loading.rs
  crates/shift-font/src/ir/guideline.rs
  crates/shift-font/src/ir/source.rs
  crates/shift-source/Cargo.toml
  crates/shift-source/docs/DOCS.md
  crates/shift-source/src/lib.rs
  crates/shift-source/src/package.rs
  crates/shift-source/tests/package_test.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Harden shift source package validation
  crates/shift-source/docs/DOCS.md
  crates/shift-source/src/package.rs
  crates/shift-source/tests/package_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Add font semantic equality round-trip corpus
  crates/shift-font/Cargo.toml
  crates/shift-font/src/ir/anchor.rs
  crates/shift-font/src/ir/axis.rs
  crates/shift-font/src/ir/component.rs
  crates/shift-font/src/ir/contour.rs
  crates/shift-font/src/ir/features.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/glyph.rs
  crates/shift-font/src/ir/guideline.rs
  crates/shift-font/src/ir/kerning.rs
  crates/shift-font/src/ir/lib_data.rs
  crates/shift-font/src/ir/metrics.rs
  crates/shift-font/src/ir/point.rs
  crates/shift-font/src/ir/source.rs
  crates/shift-font/src/lib.rs
  crates/shift-font/src/test_support.rs
  crates/shift-source/Cargo.toml
  crates/shift-source/tests/package_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Unify document save ordering
  .agent-skills/writing-tests/SKILL.md
  .codex/skills/writing-tests/SKILL.md
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Command.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/document/DocumentSession.test.ts
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/main/windows/Window.ts
  apps/desktop/src/main/workspace/WorkspaceProcess.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
  apps/desktop/src/renderer/src/lib/text/layout/testUtils.ts
  apps/desktop/src/renderer/src/lib/workspace/LayerIntents.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditQueue.ts
  apps/desktop/src/renderer/src/store/appStore.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/testing/workspaceStack.ts
  apps/desktop/src/shared/commands.ts
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

feat: own document save ordering on the renderer edit lane
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/document/DocumentSession.test.ts
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/main/workspace/WorkspaceProcess.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditQueue.test.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditQueue.ts
  apps/desktop/src/renderer/src/store/appStore.ts
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

refactor: gate screens on document load, collapse editor routes
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/app/RouteDispatcher.tsx
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/app/WorkspaceLayout.tsx
  apps/desktop/src/renderer/src/components/editor/EditorView.tsx
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/views/Editor.tsx
  apps/desktop/src/renderer/src/views/Landing.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

Add Shift package open workflow
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Command.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/document/DocumentSession.test.ts
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  apps/desktop/src/renderer/src/store/appStore.ts
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/shared/commands.ts
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-workspace/src/workspace.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

fix: add back in more files types to open
  apps/desktop/src/main/document/DocumentSession.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Align store with source format
  Cargo.lock
  crates/shift-source/tests/package_test.rs
  crates/shift-store/Cargo.toml
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/component.rs
  crates/shift-store/src/error.rs
  crates/shift-store/src/font.rs
  crates/shift-store/src/font_state.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/schema.rs
  crates/shift-store/src/source.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-workspace/src/new_workspace.rs
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add source workspace recovery
  apps/desktop/src/utility/workspace/DocumentStorage.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/error.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/schema.rs
  crates/shift-store/src/workspace_state.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-workspace/src/lib.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Refine source identity recovery
  Cargo.lock
  crates/shift-bridge/src/bridge.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/workspace_state.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-workspace/Cargo.toml
  crates/shift-workspace/src/lib.rs
  crates/shift-workspace/src/source_identity.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add dirty document close guard
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/app/AppLifecycle.ts
  apps/desktop/src/main/commands/Command.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/document/DocumentClient.ts
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditQueue.ts
  apps/desktop/src/renderer/src/store/appStore.ts
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/shared/commands.ts
  apps/desktop/src/shared/errors.ts
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/src/shared/workspace/channel.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Track document chrome activity
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/app/AppLifecycle.ts
  apps/desktop/src/main/document/DocumentClient.ts
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/renderer/src/components/chrome/Titlebar.tsx
  apps/desktop/src/renderer/src/components/chrome/Toolbar.tsx
  apps/desktop/src/renderer/src/hooks/useDocumentChromeState.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/tools/core/BaseTool.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditQueue.test.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditQueue.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceSession.ts
  apps/desktop/src/renderer/src/store/appStore.ts
  apps/desktop/src/renderer/src/testing/workspaceStack.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

wire glyph renaming
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/renderer/src/charsets/adobe-latin-1.ts
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogContext.tsx
  apps/desktop/src/renderer/src/lib/model/Font.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/intents.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

add axis sidebar menu flow
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/renderer/src/assets/vertical-ellipsis.svg
  apps/desktop/src/renderer/src/components/editor/LeftSidebar.tsx
  apps/desktop/src/renderer/src/components/sidebar/CollapsibleSection.tsx
  apps/desktop/src/renderer/src/components/sidebar/SidebarActionRow.tsx
  apps/desktop/src/renderer/src/components/sidebar/index.ts
  apps/desktop/src/renderer/src/components/variation/AxesPanel.tsx
  apps/desktop/src/renderer/src/components/variation/CreateAxisDialog.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  apps/desktop/src/renderer/src/hooks/useAxes.ts
  apps/desktop/src/renderer/src/hooks/useSources.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditQueue.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/ir/axis.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/source.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
  packages/ui/src/components/input/Input.test.tsx
  packages/ui/src/components/input/Input.tsx
  packages/ui/src/components/menu/Menu.tsx
  packages/ui/src/components/menu/index.ts
  packages/ui/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Add read-only shift inspect CLI
  Cargo.lock
  crates/shift-cli/Cargo.toml
  crates/shift-cli/src/inspect.rs
  crates/shift-cli/src/main.rs
  crates/shift-source/src/lib.rs
  crates/shift-source/src/package.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add variable source and axis sidebar flows
  apps/desktop/src/renderer/src/components/editor/LeftSidebar.tsx
  apps/desktop/src/renderer/src/components/sidebar/CollapsibleSection.tsx
  apps/desktop/src/renderer/src/components/sidebar/SidebarActionRow.tsx
  apps/desktop/src/renderer/src/components/sidebar/index.ts
  apps/desktop/src/renderer/src/components/variation/AxesPanel.tsx
  apps/desktop/src/renderer/src/components/variation/CreateSourceDialog.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/error.rs
  crates/shift-font/src/intents.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-workspace/tests/workspace_test.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/ids.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Refine shift inspect CLI
  Cargo.lock
  README.md
  crates/shift-cli/Cargo.toml
  crates/shift-cli/README.md
  crates/shift-cli/src/cli.rs
  crates/shift-cli/src/inspect.rs
  crates/shift-cli/src/inspect/render.rs
  crates/shift-cli/src/inspect/report.rs
  crates/shift-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Implement glyph layer core APIs
  apps/desktop/src/renderer/src/lib/editor/EditorState.ts
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
  apps/desktop/src/renderer/src/lib/text/layout/testUtils.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditQueue.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceSession.ts
  apps/desktop/src/renderer/src/perf/workspaceApply.bench.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/__test__/index.spec.mjs
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/changes.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-store/src/change_set.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/lib.rs
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/ids.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Use short readable entity IDs
  Cargo.lock
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  crates/shift-bridge/__test__/index.spec.mjs
  crates/shift-font/Cargo.toml
  crates/shift-font/src/ir/entity.rs
  packages/types/src/ids.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Introduce first-class editor scene bootstrap
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/components/debug/DebugPanel.tsx
  apps/desktop/src/renderer/src/components/editor/EditorView.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/AnchorSection.tsx
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/hooks/useGlyphSidebearings.ts
  apps/desktop/src/renderer/src/hooks/useGlyphXAdvance.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/EditorScene.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/Canvas.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/RenderFrame.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/Renderer.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/Handles.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix scene bootstrap test regressions
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Align editor scene model with item geometry state
  apps/desktop/src/renderer/src/components/debug/DebugPanel.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/AnchorSection.tsx
  apps/desktop/src/renderer/src/hooks/useGlyphSidebearings.ts
  apps/desktop/src/renderer/src/hooks/useGlyphXAdvance.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/EditorScene.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/RenderFrame.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/Handles.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Clean up scene item boundaries
  apps/desktop/src/renderer/src/components/editor/EditorView.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/EditorState.ts
  apps/desktop/src/renderer/src/lib/editor/Scene.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/editor/rendering/RenderFrame.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/Handles.ts
  apps/desktop/src/renderer/src/lib/variation/location.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/types/coordinates.ts
  packages/types/src/ids.ts
  packages/types/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Refine scene editor bootstrap
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/components/editor/Canvas.tsx
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/EditorState.ts
  apps/desktop/src/renderer/src/lib/editor/Scene.ts
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
  crates/shift-font/src/intents.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Test fast font import open path
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Create workspace sessions per font window
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/app/AppLifecycle.ts
  apps/desktop/src/main/commands/Command.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/document/DocumentClient.ts
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/main/document/openFontDialog.ts
  apps/desktop/src/main/windows/WindowManager.ts
  apps/desktop/src/main/workspace/WorkspaceManager.ts
  apps/desktop/src/main/workspace/WorkspaceProcess.ts
  apps/desktop/src/main/workspace/WorkspaceSession.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
  apps/desktop/src/renderer/src/lib/text/layout/testUtils.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditQueue.test.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditQueue.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceSession.ts
  apps/desktop/src/renderer/src/perf/workspaceApply.bench.ts
  apps/desktop/src/renderer/src/store/appStore.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/testing/workspaceStack.ts
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Address workspace launcher review
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/workspace/WorkspaceManager.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/store/appStore.ts
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Clarify async runtime style
  AGENTS.md
  Claude.md
  apps/desktop/src/renderer/src/store/appStore.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Document commit title convention
  AGENTS.md
Due: prettier

Introduce renderer FontStore glyph snapshots
  apps/desktop/src/renderer/src/components/editor/Canvas.tsx
  apps/desktop/src/renderer/src/lib/editor/rendering/RenderFrame.ts
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphOutline.ts
  apps/desktop/src/renderer/src/lib/model/GlyphSnapshotRequests.ts
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
  apps/desktop/src/renderer/src/lib/text/layout/testUtils.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.test.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  apps/desktop/src/renderer/src/perf/workspaceApply.bench.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/testing/workspaceStack.ts
  apps/desktop/src/renderer/src/workspace/Workspace.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/__test__/index.spec.mjs
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/lib.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Tighten glyph snapshot route ownership
  apps/desktop/src/renderer/src/components/editor/Canvas.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/EditorState.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/RenderFrame.ts
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphOutline.ts
  apps/desktop/src/renderer/src/lib/model/GlyphSnapshotLoader.ts
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
  apps/desktop/src/renderer/src/lib/text/layout/testUtils.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/testing/workspaceStack.ts
  apps/desktop/src/renderer/src/workspace/Workspace.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Guard serialized glyph snapshot freshness
  apps/desktop/src/renderer/src/lib/model/FontStore.test.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.ts
  apps/desktop/src/renderer/src/lib/model/GlyphSnapshotLoader.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.test.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Tighten FontStore API boundaries
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.ts
  apps/desktop/src/renderer/src/lib/model/GlyphSnapshotLoader.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  apps/desktop/src/renderer/src/testing/workspaceStack.ts
  apps/desktop/src/renderer/src/workspace/Workspace.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Hide FontStore snapshot helper
  apps/desktop/src/renderer/src/lib/model/FontStore.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Request snapshots for previews and text
  apps/desktop/src/renderer/src/components/home/GlyphPreview.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Settle before glyph snapshot cache reads
  apps/desktop/src/renderer/src/lib/model/FontStore.ts
  apps/desktop/src/renderer/src/lib/model/GlyphSnapshotLoader.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphSnapshotLoader.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
