Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

Fix CI: remove section divider, fix theme test, suppress knip warnings
  apps/desktop/src/renderer/src/lib/editor/rendering/Canvas.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/constants.ts
  apps/desktop/src/renderer/src/lib/graphics/backends/ReglHandleContext.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/styles/theme/theme.test.ts
  knip.json
Due: prettier, oxlint, tsgo-typecheck, vitest

Wire indicators into render pipeline, refactor Viewport caching
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/Canvas.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/Handles.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/Theme.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/Viewport.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/indicators/Anchors.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/indicators/DebugOverlays.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/indicators/index.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  knip.json
Due: prettier, oxlint, tsgo-typecheck, vitest

Address PR review: extract DPR helper, switch statement, use Point2D
  apps/desktop/src/renderer/src/context/CanvasContext.tsx
  apps/desktop/src/renderer/src/lib/editor/rendering/indicators/SnapLines.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Cache segment index as computed signal to fix pan/zoom perf
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix BooleanOps re-rendering findPoint loop on every zoom change
  apps/desktop/src/renderer/src/components/BooleanOps.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix draft perf: JS-only preview during drag, defer Rust sync to finish
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Skip redundant JS re-sync on draft finish, add snapshot size to debug panel
  apps/desktop/src/renderer/src/bridge/NativeBridge.ts
  apps/desktop/src/renderer/src/components/debug/DebugPanel.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add bridge.sync() with Float64Array bulk position updates
  apps/desktop/src/renderer/src/bridge/NativeBridge.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Add draft round-trip tests for sync + undo/redo
  apps/desktop/src/renderer/src/lib/editor/draft.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix set_positions panic on empty Float64Array
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Switch set_positions from Float64Array to Vec<f64>
  apps/desktop/src/renderer/src/bridge/NativeBridge.ts
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Fix napi-rs zero-length Float64Array crash with Option params
  apps/desktop/src/renderer/src/bridge/NativeBridge.ts
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Remove println logging, fix DebugPanel signal leak when closed
  apps/desktop/src/renderer/src/components/EditorView.tsx
  apps/desktop/src/renderer/src/components/debug/DebugPanel.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

Replace withNeighbors generator with direct index iteration in rendering
  apps/desktop/src/renderer/src/lib/editor/rendering/Handles.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/indicators/ControlLines.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Skip bounding box computation during drag operations
  Claude.md
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix nudge perf: use setNodePositions instead of movePoints
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Rewrite bridge DOCS.md for current architecture
  apps/desktop/src/renderer/src/bridge/docs/DOCS.md
Due: prettier

fix theme
  apps/desktop/src/renderer/src/lib/editor/rendering/Theme.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Address PR review: SnapLines Vec2, TestEditor in draft tests, oxlint rule
  apps/desktop/.oxlintrc.json
  apps/desktop/src/renderer/src/lib/editor/draft.test.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/indicators/SnapLines.ts
  apps/desktop/src/renderer/src/lib/editor/snapping/types.ts
  scripts/oxlint/shift-plugin.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

Add Playwright E2E visual snapshot tests for Electron app
  .github/workflows/ci.yml
  .gitignore
  apps/desktop/e2e/__screenshots__/.gitkeep
  apps/desktop/e2e/build.ts
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/e2e/fixtures/CanvasUtil.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/home.spec.ts
  apps/desktop/e2e/landing.spec.ts
  apps/desktop/e2e/theme.spec.ts
  apps/desktop/e2e/tools.spec.ts
  apps/desktop/package.json
  apps/desktop/playwright.config.ts
  knip.json
  package.json
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix Playwright module loading: add e2e tsconfig, use CJS __dirname
  apps/desktop/e2e/build.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/tsconfig.json
Due: prettier, oxlint, tsgo-typecheck, vitest

Add engine-layer performance benchmarks
  .github/workflows/perf.yml
  apps/desktop/src/renderer/src/perf/drawing.bench.ts
  apps/desktop/src/renderer/src/perf/interaction.bench.ts
  apps/desktop/src/renderer/src/perf/napiBoundary.bench.ts
  apps/desktop/src/renderer/src/perf/pointManipulation.bench.ts
  apps/desktop/src/renderer/src/perf/rendering.bench.ts
  apps/desktop/src/renderer/src/perf/viewport.bench.ts
  apps/desktop/src/renderer/src/testing/pointMark.ts
  apps/desktop/src/renderer/src/testing/stubCanvas.ts
  apps/desktop/vitest.config.ts
  knip.json
  package.json
Due: prettier, oxlint, tsgo-typecheck, vitest

fix dead code skill
  .claude/skills/dead-code/SKILL.md
Due: prettier

Fix Playwright install on CI: scope to desktop workspace
  .github/workflows/perf.yml
Due: none

Cache node_modules and Playwright browsers on CI
  .github/workflows/perf.yml
Due: none

Cache node_modules across all CI jobs
  .github/workflows/ci.yml
Due: none

Make baseline comparison opt-in (PERF_BASELINE_CHECK=1)
  apps/desktop/e2e/perf.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add repo context layer: docs routing, drift detection, /docs skill
  .claude/skills/docs/SKILL.md
  Claude.md
  docs/architecture/index.md
  scripts/context-drift-check.py
Due: prettier

Remove oxlint-enforced rules from Claude.md, add /docs skill
  Claude.md
Due: prettier

Tighten Claude.md: remove stale refs, oxlint dupes, consolidate testing
  Claude.md
Due: prettier

Comprehensive docs sweep: rewrite 14 DOCS.md, create 6 new package docs
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/preload/docs/DOCS.md
  apps/desktop/src/renderer/src/bridge/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/commands/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/reactive/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/transform/docs/DOCS.md
  apps/desktop/src/shared/bridge/docs/DOCS.md
  crates/shift-backends/docs/DOCS.md
  crates/shift-core/docs/DOCS.md
  crates/shift-ir/docs/DOCS.md
  crates/shift-node/docs/DOCS.md
  docs/architecture/index.md
  packages/font/docs/DOCS.md
  packages/geo/docs/DOCS.md
  packages/rules/docs/DOCS.md
  packages/types/docs/DOCS.md
  packages/ui/docs/DOCS.md
  packages/validation/docs/DOCS.md
  scripts/context-drift-check.py
Due: prettier

Rewrite drift-check with AST parsing, structure validation, and command checks
  apps/desktop/src/preload/docs/DOCS.md
  scripts/context-drift-check.py
Due: prettier

Fix prettier formatting in 6 DOCS.md files
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/transform/docs/DOCS.md
  apps/desktop/src/shared/bridge/docs/DOCS.md
  packages/geo/docs/DOCS.md
  packages/rules/docs/DOCS.md
  packages/types/docs/DOCS.md
Due: prettier

refactor: move transform commands onto glyph domain verbs
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.ts
  apps/desktop/src/renderer/src/lib/commands/transform/AlignmentCommands.ts
  apps/desktop/src/renderer/src/lib/commands/transform/TransformCommands.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor: internalize transform point helper
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/transform/Alignment.test.ts
  apps/desktop/src/renderer/src/lib/transform/Alignment.ts
  apps/desktop/src/renderer/src/lib/transform/PointPosition.ts
  apps/desktop/src/renderer/src/lib/transform/Transform.ts
  apps/desktop/src/renderer/src/lib/transform/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/transform/index.ts
  apps/desktop/src/renderer/src/lib/transform/types.ts
  apps/desktop/src/renderer/src/types/transform.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor: tighten glyph mutation api
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.ts
  apps/desktop/src/renderer/src/lib/commands/transform/AlignmentCommands.ts
  apps/desktop/src/renderer/src/lib/commands/transform/TransformCommands.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/DragHandlesBehaviour.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor: add glyph query surface
  apps/desktop/src/renderer/src/lib/commands/primitives/BezierCommands.ts
  apps/desktop/src/renderer/src/lib/commands/transform/AlignmentCommands.ts
  apps/desktop/src/renderer/src/lib/commands/transform/TransformCommands.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
