Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

.pre-commit-config.yaml:

repos:
  # Standard file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]

      - id: oxlint
        name: oxlint
        entry: pnpm lint:check
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

      - id: tsgo-typecheck
        name: tsgo typecheck
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

      - id: vitest
        name: vitest
        entry: pnpm test
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

fix: label variable and advance inputs
  apps/desktop/e2e/selector-contracts.spec.ts
  apps/desktop/src/renderer/src/components/editor/sidebar-right/EditableSidebarInput.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/GlyphSection.tsx
  apps/desktop/src/renderer/src/components/variation/AxesPanel.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

test: stabilize e2e selector contracts
  apps/desktop/e2e/README.md
  apps/desktop/e2e/fixtures/appLocators.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/font-preview.spec.ts
  apps/desktop/e2e/glyph-grid.spec.ts
  apps/desktop/e2e/home.spec.ts
  apps/desktop/e2e/selector-contracts.spec.ts
  apps/desktop/e2e/source-font-preview.spec.ts
  apps/desktop/e2e/variable-font-preview.spec.ts
  apps/desktop/e2e/variable-source-font-preview.spec.ts
  apps/desktop/src/renderer/src/components/chrome/settings/AxesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/InstancesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SettingsDialog.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SettingsSidebar.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SourcesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/editor/LeftSidebar.tsx
  apps/desktop/src/renderer/src/components/editor/RightSidebar.tsx
  apps/desktop/src/renderer/src/components/home/GlyphCatalogCanvas.tsx
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/home/LeftSidebar.tsx
  apps/desktop/src/renderer/src/components/sidebar/SidebarActionRow.tsx
  apps/desktop/src/renderer/src/components/variation/AxesPanel.tsx
  apps/desktop/src/renderer/src/components/variation/Instances.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  apps/desktop/src/renderer/src/views/Editor.tsx
  packages/ui/docs/DOCS.md
  packages/ui/src/components/slider/Slider.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

test: identify filtered canvas glyphs
  apps/desktop/e2e/README.md
  apps/desktop/e2e/fixtures/appLocators.ts
  apps/desktop/e2e/glyph-grid.spec.ts
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: filter desktop E2E by affected paths
  .github/workflows/ci.yml
Due: none

test: migrate variable reopen to settled actions
  apps/desktop/src/renderer/src/lib/workspace/VariableFreshReopen.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: cover variable font navigation states
  apps/desktop/e2e/variable-navigation-glyph-grid.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: resolve dense catalog axis location
  apps/desktop/e2e/variable-navigation-glyph-grid.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: await authored variable workspace
  apps/desktop/e2e/variable-navigation-glyph-grid.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: keep sparse source editability reactive
  apps/desktop/e2e/fixtures/appLocators.ts
  apps/desktop/e2e/variable-navigation-glyph-grid.spec.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: await current history actions
  apps/desktop/src/renderer/src/lib/editor/GlyphMetrics.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: await boolean history actions
  apps/desktop/src/renderer/src/lib/editor/BooleanOperations.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(release): harden updater publication and smoke teardown
  .github/workflows/nightly.yml
  .github/workflows/release-desktop.yml
  apps/desktop/src/main/app/AppLifecycle.test.ts
  apps/desktop/src/main/app/AppLifecycle.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/document/DocumentSession.test.ts
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/main/update/AppUpdater.test.ts
  apps/desktop/src/main/update/AppUpdater.ts
  apps/desktop/vite.main.config.ts
  docs/releases.md
  knip.json
  package.json
  pnpm-lock.yaml
  scripts/check-update-channel.mjs
  scripts/check-update-feed-version.sh
  scripts/check-update-feed-version.test.mjs
  scripts/prepare-nightly-release.mjs
  scripts/prepare-nightly-release.test.mjs
  scripts/prepare-update-feed.mjs
  scripts/prepare-update-feed.test.mjs
  scripts/publish-update-feed.sh
  scripts/smoke-packaged.mjs
  scripts/update-channel.mjs
  scripts/update-versions.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): add signed application updates
  .github/workflows/nightly.yml
  .github/workflows/release-desktop.yml
  apps/desktop/package.json
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/app/AppLifecycle.ts
  apps/desktop/src/main/commands/Command.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/main/release.ts
  apps/desktop/src/main/update/AppUpdater.test.ts
  apps/desktop/src/main/update/AppUpdater.ts
  apps/desktop/src/main/update/nextUpdateState.test.ts
  apps/desktop/src/main/update/nextUpdateState.ts
  apps/desktop/src/main/update/types.ts
  apps/desktop/src/main/update/updateDialogs.ts
  apps/desktop/src/main/update/updateFeed.test.ts
  apps/desktop/src/main/update/updateFeed.ts
  apps/desktop/src/shared/commands.ts
  apps/desktop/vite.main.config.ts
  docs/releases.md
  pnpm-lock.yaml
  scripts/prepare-nightly-release.mjs
  scripts/prepare-nightly-release.test.mjs
  scripts/prepare-update-feed.mjs
  scripts/prepare-update-feed.test.mjs
  scripts/publish-update-feed.sh
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: allow branch Nightly smoke tests without update keys
  .github/workflows/nightly.yml
Due: none

test: align variable drag expectation
  apps/desktop/src/renderer/src/lib/workspace/VariableFreshReopen.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(updater): use native Squirrel feeds
  .github/workflows/nightly.yml
  .github/workflows/release-desktop.yml
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/release.ts
  apps/desktop/src/main/update/AppUpdater.test.ts
  apps/desktop/src/main/update/AppUpdater.ts
  apps/desktop/src/main/update/nextUpdateState.test.ts
  apps/desktop/src/main/update/nextUpdateState.ts
  apps/desktop/src/main/update/types.ts
  apps/desktop/src/main/update/updateDialogs.ts
  apps/desktop/src/main/update/updateFeed.test.ts
  apps/desktop/src/main/update/updateFeed.ts
  apps/desktop/vite.main.config.ts
  docs/releases.md
  scripts/check-update-channel.mjs
  scripts/check-update-feed-version.sh
  scripts/check-update-feed-version.test.mjs
  scripts/prepare-nightly-release.test.mjs
  scripts/prepare-update-feed.mjs
  scripts/prepare-update-feed.test.mjs
  scripts/product-version.test.mjs
  scripts/update-channel.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(ci): tolerate packaged smoke cleanup locks
  scripts/smoke-packaged.mjs
Due: prettier, oxlint, vitest

test: align boolean drags with pointer origin
  apps/desktop/src/renderer/src/lib/editor/BooleanOperations.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

chore: move smoke cleanup fix to separate change
  scripts/smoke-packaged.mjs
Due: prettier, oxlint, vitest

ci: validate final changes through merge queue
  .github/workflows/ci.yml
  .github/workflows/pr-title.yml
Due: none

feat(release): add macOS DMG packages
  .github/workflows/nightly.yml
  .github/workflows/release-desktop.yml
  apps/desktop/forge.config.ts
  apps/desktop/package.json
  docs/releases.md
  pnpm-lock.yaml
  scripts/prepare-nightly-release.mjs
  scripts/prepare-nightly-release.test.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: clear idle pointer after leaving canvas
  apps/desktop/e2e/tools.spec.ts
  apps/desktop/src/renderer/src/components/editor/InteractiveScene.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor: keep curve geometry on the Pen tool
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenCurve.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenStroke.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/DragHandlesBehaviour.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

build: allow native DMG dependencies
  pnpm-workspace.yaml
Due: none

fix: load custom cursors in packaged app
  apps/desktop/src/renderer/src/lib/styles/cursor.test.ts
  apps/desktop/src/renderer/src/lib/styles/cursor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: bundle Inter with packaged renderer
  apps/desktop/src/renderer/index.css
  apps/desktop/src/renderer/src/app/App.css
Due: prettier

fix: correct packaged asset startup
  apps/desktop/src/renderer/index.html
  apps/desktop/src/renderer/src/app/App.css
  apps/desktop/src/renderer/src/lib/styles/cursor.test.ts
  apps/desktop/src/renderer/src/lib/styles/cursor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): update Nightly app icon
  icons/nightly.icns
  icons/nightly.png
Due: none

feat(desktop): add macOS 26 app icons
  apps/desktop/forge.config.ts
  apps/desktop/src/main/app/AppIcon.ts
  icons/icon.icon/Assets/SVG Image 4.svg
  icons/icon.icon/icon.json
  icons/nightly.icon/Assets/SVG Image.svg
  icons/nightly.icon/icon.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): preserve macOS product names
  apps/desktop/forge.config.ts
  scripts/smoke-packaged.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): refine macOS app icons
  icons/icon.icon/icon.json
  icons/nightly.icon/Assets/SVG Image 2.svg
  icons/nightly.icon/Assets/SVG Image.svg
  icons/nightly.icon/icon.json
Due: prettier

ci: package macOS apps on Tahoe
  .github/workflows/nightly.yml
  .github/workflows/release-desktop.yml
Due: none

test: stabilize GPU E2E presentation
  apps/desktop/e2e/fixtures/perfApp.ts
  apps/desktop/e2e/source-font-preview.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: avoid native presentation dependency
  apps/desktop/e2e/fixtures/perfApp.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: use a runner-safe GPU viewport
  apps/desktop/e2e/fixtures/perfApp.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): roll back canceled drag edits
  .agent-skills/writing-tests/SKILL.md
  AGENTS.md
  apps/desktop/src/renderer/src/lib/model/GlyphLayerEdit.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/BaseTool.ts
  apps/desktop/src/renderer/src/lib/tools/core/Behavior.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.test.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/DragHandlesBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/BendCurve.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Resize.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Rotate.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Translate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): complete fluent position edit integration
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/GlyphLayerEditDraft.test.ts
  apps/desktop/src/renderer/src/lib/editor/GlyphLayerEditDraft.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/positions/LayerPositions.ts
  apps/desktop/src/renderer/src/lib/model/positions/MoveEdit.ts
  apps/desktop/src/renderer/src/lib/model/positions/PositionEditDraft.ts
  apps/desktop/src/renderer/src/lib/model/positions/PositionEdits.test.ts
  apps/desktop/src/renderer/src/lib/model/positions/ScaleEdit.ts
  apps/desktop/src/renderer/src/lib/model/positions/index.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/select/BoundingBox.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectNudge.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectTransform.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/BendCurve.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Nudge.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Resize.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Rotate.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Translate.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/selectedGeometryEdit.ts
  apps/desktop/src/renderer/src/types/index.ts
  apps/desktop/src/renderer/src/types/positionEdit.ts
  packages/rules/docs/DOCS.md
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): integrate fluent moves with select
  apps/desktop/src/renderer/src/lib/model/positions/PositionEdits.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Translate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): generalize reversible glyph layer edits
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerEdit.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerEdit.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/pen/PenStroke.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): extract select translation interaction
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/select/BoundingBox.ts
  apps/desktop/src/renderer/src/lib/tools/select/TranslateInteraction.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Translate.ts
Due: prettier, oxlint, tsgo-typecheck, vitest
