Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

feat: let users create, import, and pick custom color themes
  ROADMAP.md
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/fixtures/types.ts
  apps/desktop/e2e/theme.spec.ts
  apps/desktop/package.json
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/dialogs/NativeDialogs.ts
  apps/desktop/src/main/dialogs/electronNativeDialogs.ts
  apps/desktop/src/main/dialogs/scriptedNativeDialogs.ts
  apps/desktop/src/main/themes/UserThemes.test.ts
  apps/desktop/src/main/themes/UserThemes.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/AppearanceSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/ThemeEditor.tsx
  apps/desktop/src/renderer/src/context/ThemeContext.tsx
  apps/desktop/src/renderer/src/lib/themes/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/themes/index.test.ts
  apps/desktop/src/renderer/src/lib/themes/index.ts
  apps/desktop/src/renderer/src/lib/themes/paletteRoles.ts
  apps/desktop/src/renderer/src/types/themes.ts
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/src/shared/messages/en.json
  apps/desktop/src/shared/themes.test.ts
  apps/desktop/src/shared/themes.ts
  packages/ui/src/components/select/Select.tsx
  packages/ui/src/components/select/index.ts
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): let node definitions respond to double-clicks and content changes (#508)
  apps/desktop/src/renderer/src/lib/text/TextEditing.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/editor/Scene.ts
  packages/editor/src/lib/editor/docs/DOCS.md
  packages/editor/src/lib/editor/history/EditorHistory.ts
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
  packages/editor/src/lib/nodes/NodeDefinition.ts
  packages/editor/src/lib/nodes/TextRunNodeDefinition.ts
  packages/editor/src/lib/text/Text.ts
  packages/editor/src/lib/text/TextEditing.ts
  packages/editor/src/lib/text/docs/DOCS.md
  packages/editor/src/lib/text/runChildren.ts
  packages/editor/src/lib/tools/select/Select.ts
  packages/editor/src/lib/tools/select/behaviors/ComponentDoubleClick.ts
  packages/editor/src/lib/tools/select/behaviors/NodeDoubleClick.ts
  packages/editor/src/lib/tools/select/behaviors/RunItemDoubleClick.ts
  packages/editor/src/lib/tools/select/behaviors/index.ts
  packages/editor/src/text.ts
  packages/editor/src/types/history.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

perf(desktop): coalesce sidebar selection updates to one per frame
  apps/desktop/src/renderer/src/components/editor/BooleanOps.tsx
  apps/desktop/src/renderer/src/components/editor/CanvasContextMenu.tsx
  apps/desktop/src/renderer/src/components/editor/ObjectsPanel.tsx
  apps/desktop/src/renderer/src/components/editor/RightSidebar.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/ScaleSection.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/TransformSection.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/ZoomMenu.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

perf(desktop): keep cursor and gesture changes out of editor renders
  apps/desktop/src/renderer/src/views/Editor.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

perf(editor): skip selection writes that change nothing
  packages/editor/src/lib/editor/Selection.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): keep render layers redrawing after re-entrant or failed frames
  apps/desktop/src/renderer/src/lib/editor/FrameHandler.test.ts
  packages/editor/src/lib/editor/rendering/FrameHandler.ts
  packages/editor/src/rendering.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

perf(editor): rerun effects only when their inputs change value
  .claude/skills/signals/SKILL.md
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/lib/catalog/GlyphCatalog.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/FontStore.test.ts
  apps/desktop/src/renderer/src/lib/signals/signal.test.ts
  packages/editor/src/index.ts
  packages/editor/src/lib/editor/Scene.ts
  packages/editor/src/lib/model/AnchorBuffer.ts
  packages/editor/src/lib/model/ComponentBuffer.ts
  packages/editor/src/lib/model/ContourBuffer.ts
  packages/editor/src/lib/model/Font.ts
  packages/editor/src/lib/model/FontStore.ts
  packages/editor/src/lib/model/Glyph.ts
  packages/editor/src/lib/model/GlyphLayerState.ts
  packages/editor/src/lib/model/LayerBuffers.ts
  packages/editor/src/lib/model/docs/DOCS.md
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
  packages/editor/src/lib/signals/docs/DOCS.md
  packages/editor/src/lib/signals/signal.ts
  packages/editor/src/model.ts
  packages/sdk/api/index.api.md
  packages/sdk/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

docs(signals): compile the revision example and sync the skill sources
  .agents/skills/signals/SKILL.md
  .codex/skills/signals/SKILL.md
  packages/editor/src/lib/signals/docs/DOCS.md
Due: prettier

fix(desktop): pan immediately when scrolling right after a zoom
  apps/desktop/src/renderer/src/components/editor/Canvas.tsx
  packages/editor/src/lib/transform/WheelGesture.test.ts
  packages/editor/src/lib/transform/WheelGesture.ts
  packages/editor/src/types/transform.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

perf(editor): skip redraws when bounds and sidebearings are unchanged
  packages/editor/src/lib/model/ContourBuffer.ts
  packages/editor/src/lib/model/LayerBuffers.ts
  packages/geo/src/Bounds.test.ts
  packages/geo/src/Bounds.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(slug): build length overflow errors in one place
  crates/shift-backends/src/font_source/inputs.rs
  crates/shift-bridge/src/bridge.rs
  crates/shift-slug/src/atlas.rs
  crates/shift-slug/src/authored/component.rs
  crates/shift-slug/src/length.rs
  crates/shift-slug/src/lib.rs
  crates/shift-slug/src/pack.rs
  crates/shift-slug/src/render.rs
  crates/shift-slug/src/resident.rs
  crates/shift-slug/src/retained/mod.rs
  crates/shift-slug/src/retained/weights.rs
  crates/shift-slug/src/variable.rs
  crates/shift-slug/src/variable/component.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: colour the launcher ghost lid with the theme accent (#506)
  apps/desktop/e2e/__screenshots__/preview-notice.spec.ts/read-only-preview-notice.png
  apps/desktop/src/renderer/index.css
  apps/desktop/src/renderer/src/components/chrome/PreviewNoticeDialog.tsx
  apps/desktop/src/renderer/src/components/editor/ComponentPickerDialog.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(font): report missing entities through require lookups
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/composite.rs
  crates/shift-font/src/error.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/interpolation.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/variation.rs
  crates/shift-font/src/layer_edit.rs
  crates/shift-font/src/lib.rs
  crates/shift-font/src/projection.rs
  crates/shift-slug/src/authored.rs
  crates/shift-slug/src/authored/component.rs
  crates/shift-slug/src/resident.rs
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs(font): restore interpolation error links
  crates/shift-font/src/interpolation.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(bridge): resolve retained source indexes through SourceIdentity
  crates/shift-bridge/src/bridge.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(store): report missing rows through or_missing and order_index
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/error.rs
  crates/shift-store/src/font_state.rs
  crates/shift-store/src/import_writer.rs
  crates/shift-store/src/layer/load.rs
  crates/shift-store/src/layer/write.rs
  crates/shift-store/src/recovery/patch.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs(agents): add a rust skill for error helpers and lookups
  .agents/skills/rust/SKILL.md
  .claude/skills/rust/SKILL.md
  .codex/skills/rust/SKILL.md
  AGENTS.md
Due: prettier

refactor(font): make changesets reversible
  Cargo.lock
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/src/bridge.rs
  crates/shift-cli/src/authoring.rs
  crates/shift-font/Cargo.toml
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/changes.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/font/change_set.rs
  crates/shift-font/src/lib.rs
  crates/shift-store/README.md
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/layer/mod.rs
  crates/shift-store/src/layer/tests.rs
  crates/shift-store/src/layer/write.rs
  crates/shift-store/src/recovery/patch.rs
  crates/shift-store/tests/recovery_patch_test.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/lib.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat(editor): snap points to metrics and other points
  apps/desktop/src/renderer/src/lib/editor/SnappingCrossings.test.ts
  apps/desktop/src/renderer/src/lib/model/positions/MetricSnap.test.ts
  apps/desktop/src/renderer/src/lib/model/positions/PointAlignmentSnap.test.ts
  apps/desktop/src/renderer/src/lib/model/positions/PositionEdits.test.ts
  apps/desktop/src/renderer/src/lib/model/positions/SnapSet.test.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenPositionSnap.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectAlignmentSnap.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectMetricSnap.test.ts
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/editor/Snapping.ts
  packages/editor/src/lib/editor/rendering/Theme.ts
  packages/editor/src/lib/editor/rendering/overlays/SnapLines.ts
  packages/editor/src/lib/model/positions/MetricSnap.ts
  packages/editor/src/lib/model/positions/MoveEdit.ts
  packages/editor/src/lib/model/positions/PointAlignmentSnap.ts
  packages/editor/src/lib/model/positions/SnapSet.ts
  packages/editor/src/lib/model/positions/index.ts
  packages/editor/src/lib/tools/pen/Pen.ts
  packages/editor/src/lib/tools/pen/PenOverlay.ts
  packages/editor/src/lib/tools/pen/PenTargets.ts
  packages/editor/src/lib/tools/pen/behaviors/PenDownBehaviour.ts
  packages/editor/src/lib/tools/pen/types.ts
  packages/editor/src/lib/tools/select/Select.ts
  packages/editor/src/lib/tools/select/TranslateInteraction.ts
  packages/editor/src/lib/tools/select/behaviors/Translate.ts
  packages/editor/src/lib/tools/select/types.ts
  packages/editor/src/model.ts
  packages/editor/src/types/positionEdit.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): mark points resting on a metric
  apps/desktop/src/renderer/index.css
  apps/desktop/src/renderer/src/lib/editor/HandleItems.test.ts
  apps/desktop/src/renderer/src/lib/themes/index.ts
  packages/editor/src/lib/editor/rendering/Theme.ts
  packages/editor/src/lib/editor/rendering/markers/handleStyles.ts
  packages/editor/src/lib/editor/rendering/markers/shaders/handle.frag.glsl.ts
  packages/editor/src/lib/editor/rendering/overlays/Handles.ts
  packages/editor/src/lib/editor/rendering/overlays/handles/CanvasHandleRenderer.ts
  packages/editor/src/lib/editor/rendering/overlays/handles/HandleItems.ts
  packages/editor/src/lib/editor/rendering/overlays/handles/MarkerHandleRenderer.ts
  packages/editor/src/lib/editor/rendering/overlays/handles/PointHandleItem.ts
  packages/editor/src/lib/graphics/backends/MarkerLayer.ts
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(font): borrow ids in entity lookups
  .agents/skills/rust/SKILL.md
  .claude/skills/rust/SKILL.md
  .codex/skills/rust/SKILL.md
  crates/shift-backends/src/font_source/projection.rs
  crates/shift-backends/tests/loading.rs
  crates/shift-backends/tests/round_trip/ufo.rs
  crates/shift-bridge/src/bridge.rs
  crates/shift-cli/src/authoring.rs
  crates/shift-cli/src/authoring/glyph.rs
  crates/shift-cli/src/glyph_inspect/report.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/interpolation.rs
  crates/shift-font/src/ir/contour.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/glyph.rs
  crates/shift-font/src/layer_edit.rs
  crates/shift-font/src/projection.rs
  crates/shift-slug/src/resident.rs
  crates/shift-slug/tests/authored_model.rs
  crates/shift-slug/tests/component_gpu.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/layer/tests.rs
  crates/shift-store/src/recovery/patch.rs
  crates/shift-store/tests/recovery_patch_test.rs
  crates/shift-wire/src/state.rs
  crates/shift-workspace/examples/profile_streaming_import.rs
  crates/shift-workspace/src/layer_residency.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

refactor: build repeated Rust errors in one place (#512)
  .agents/skills/rust/SKILL.md
  .claude/skills/rust/SKILL.md
  .codex/skills/rust/SKILL.md
  AGENTS.md
  crates/shift-backends/src/font_source/inputs.rs
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/composite.rs
  crates/shift-font/src/error.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/interpolation.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/variation.rs
  crates/shift-font/src/layer_edit.rs
  crates/shift-font/src/lib.rs
  crates/shift-font/src/projection.rs
  crates/shift-slug/src/atlas.rs
  crates/shift-slug/src/authored.rs
  crates/shift-slug/src/authored/component.rs
  crates/shift-slug/src/length.rs
  crates/shift-slug/src/lib.rs
  crates/shift-slug/src/pack.rs
  crates/shift-slug/src/render.rs
  crates/shift-slug/src/resident.rs
  crates/shift-slug/src/retained/mod.rs
  crates/shift-slug/src/retained/weights.rs
  crates/shift-slug/src/variable.rs
  crates/shift-slug/src/variable/component.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/error.rs
  crates/shift-store/src/font_state.rs
  crates/shift-store/src/import_writer.rs
  crates/shift-store/src/layer/load.rs
  crates/shift-store/src/layer/write.rs
  crates/shift-store/src/recovery/patch.rs
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

refactor(font): borrow ids in entity lookups (#514)
  .agents/skills/rust/SKILL.md
  .claude/skills/rust/SKILL.md
  .codex/skills/rust/SKILL.md
  crates/shift-backends/src/font_source/projection.rs
  crates/shift-backends/tests/loading.rs
  crates/shift-backends/tests/round_trip/ufo.rs
  crates/shift-bridge/src/bridge.rs
  crates/shift-cli/src/authoring.rs
  crates/shift-cli/src/authoring/glyph.rs
  crates/shift-cli/src/glyph_inspect/report.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/interpolation.rs
  crates/shift-font/src/ir/contour.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/glyph.rs
  crates/shift-font/src/layer_edit.rs
  crates/shift-font/src/projection.rs
  crates/shift-slug/src/resident.rs
  crates/shift-slug/tests/authored_model.rs
  crates/shift-slug/tests/component_gpu.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/layer/tests.rs
  crates/shift-store/src/recovery/patch.rs
  crates/shift-store/tests/recovery_patch_test.rs
  crates/shift-wire/src/state.rs
  crates/shift-workspace/examples/profile_streaming_import.rs
  crates/shift-workspace/src/layer_residency.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

test(e2e): isolate pointer lifecycle from snapping
  apps/desktop/e2e/tools.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(font): make changesets reversible (#511)
  Cargo.lock
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/src/bridge.rs
  crates/shift-cli/src/authoring.rs
  crates/shift-font/Cargo.toml
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/changes.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/font/change_set.rs
  crates/shift-font/src/lib.rs
  crates/shift-store/README.md
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/layer/mod.rs
  crates/shift-store/src/layer/tests.rs
  crates/shift-store/src/layer/write.rs
  crates/shift-store/src/recovery/patch.rs
  crates/shift-store/tests/recovery_patch_test.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/lib.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

refactor(editor): add per-record reads and incremental indexes to the store
  packages/editor/src/lib/store/ShiftStore.test.ts
  packages/editor/src/lib/store/ShiftStore.ts
  packages/editor/src/lib/store/StoreIndex.ts
  packages/editor/src/types/store.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): find dependent nodes and run items through store indexes
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/editor/Scene.ts
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
  packages/editor/src/lib/nodes/NodeDefinition.ts
  packages/editor/src/lib/nodes/TextRunNodeDefinition.ts
  packages/editor/src/lib/text/Text.ts
  packages/editor/src/lib/text/TextEditing.ts
  packages/editor/src/types/records.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

perf(editor): rebuild the scene only when node records change
  packages/editor/src/lib/editor/Scene.ts
  packages/editor/src/lib/store/ShiftStore.test.ts
  packages/editor/src/lib/store/ShiftStore.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(text): adjust sidebearings from the keyboard in Text mode
  apps/desktop/src/renderer/src/components/text/HiddenTextInput.tsx
  apps/desktop/src/renderer/src/lib/text/TextEditing.test.ts
  packages/editor/src/lib/text/TextEditing.ts
  packages/editor/src/text.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): await committed mapping points before dragging
  apps/desktop/e2e/application-menu.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(cli): expand atomic font authoring
  Cargo.lock
  ROADMAP.md
  crates/shift-cli/Cargo.toml
  crates/shift-cli/README.md
  crates/shift-cli/src/authoring.rs
  crates/shift-cli/src/authoring/axis.rs
  crates/shift-cli/src/authoring/font_info.rs
  crates/shift-cli/src/authoring/font_info/report.rs
  crates/shift-cli/src/authoring/glyph.rs
  crates/shift-cli/src/authoring/glyph_batch.rs
  crates/shift-cli/src/authoring/input.rs
  crates/shift-cli/src/authoring/instance.rs
  crates/shift-cli/src/authoring/instance/report.rs
  crates/shift-cli/src/authoring/layer_payload.rs
  crates/shift-cli/src/authoring/report.rs
  crates/shift-cli/src/cli.rs
  crates/shift-cli/src/cli/font.rs
  crates/shift-cli/src/cli/variation.rs
  crates/shift-cli/src/main.rs
  crates/shift-cli/tests/axis_set_cli.rs
  crates/shift-cli/tests/font_info_cli.rs
  crates/shift-cli/tests/glyph_authoring_cli.rs
  crates/shift-cli/tests/glyph_set_cli.rs
  crates/shift-cli/tests/instance_cli.rs
  crates/shift-cli/tests/support/mod.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/intents.rs
  crates/shift-font/src/intents/replacement_tests.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/font/axis_authoring_tests.rs
  crates/shift-font/src/ir/font/variation_authoring.rs
  crates/shift-font/src/ir/font/variation_authoring_tests.rs
  crates/shift-font/src/ir/glyph.rs
  crates/shift-font/src/ir/mod.rs
  crates/shift-font/src/ir/variation_authoring.rs
  crates/shift-workspace/Cargo.toml
  crates/shift-workspace/tests/layer_replacement.rs
  crates/shift-workspace/tests/variation_authoring.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

refactor(cli): reuse font lookup and axis editing APIs
  crates/shift-cli/src/authoring.rs
  crates/shift-cli/src/authoring/axis.rs
  crates/shift-cli/src/authoring/glyph.rs
  crates/shift-cli/src/authoring/instance.rs
  crates/shift-cli/src/authoring/report.rs
  crates/shift-cli/tests/axis_set_cli.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/ir/axis.rs
  crates/shift-font/src/ir/font/variation_authoring.rs
  crates/shift-font/src/ir/font/variation_authoring_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

refactor(cli): consume reversible font changesets
  crates/shift-cli/src/authoring/report.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/intents.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/font/variation_authoring.rs
  crates/shift-font/src/ir/font/variation_authoring_tests.rs
  crates/shift-font/src/ir/mod.rs
  crates/shift-font/src/ir/variation_authoring.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat(editor): step out of the edited glyph with Escape in Select
  apps/desktop/src/renderer/src/lib/tools/text/Text.test.ts
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
  packages/editor/src/lib/nodes/TextRunNodeDefinition.ts
  packages/editor/src/lib/text/docs/DOCS.md
  packages/editor/src/lib/tools/select/behaviors/Escape.ts
  packages/editor/src/lib/tools/select/behaviors/Marquee.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): move, scale, and rotate whole glyphs in a text run
  apps/desktop/src/renderer/src/lib/tools/text/Text.test.ts
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/model/Glyph.ts
  packages/editor/src/lib/model/GlyphTransformEdit.ts
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
  packages/editor/src/lib/nodes/NodeDefinition.ts
  packages/editor/src/lib/nodes/TextRunNodeDefinition.ts
  packages/editor/src/lib/objects/TextItemObject.ts
  packages/editor/src/lib/text/docs/DOCS.md
  packages/editor/src/lib/tools/select/BoundingBox.ts
  packages/editor/src/lib/tools/select/behaviors/Marquee.ts
  packages/editor/src/lib/tools/select/behaviors/Nudge.ts
  packages/editor/src/lib/tools/select/behaviors/Resize.ts
  packages/editor/src/lib/tools/select/behaviors/Rotate.ts
  packages/editor/src/lib/tools/select/behaviors/Translate.ts
  packages/editor/src/types/transformTarget.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

docs(editor): describe store reads and node references
  packages/editor/src/lib/editor/docs/DOCS.md
Due: prettier

refactor(cli): borrow ids in authoring lookups
  crates/shift-cli/src/authoring.rs
  crates/shift-cli/src/authoring/axis.rs
  crates/shift-cli/src/authoring/font_info.rs
  crates/shift-cli/src/authoring/glyph.rs
  crates/shift-cli/src/authoring/instance.rs
  crates/shift-cli/src/authoring/instance/report.rs
  crates/shift-cli/src/authoring/report.rs
  crates/shift-cli/tests/axis_set_cli.rs
  crates/shift-cli/tests/font_info_cli.rs
  crates/shift-cli/tests/glyph_set_cli.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/intents/replacement_tests.rs
  crates/shift-font/src/ir/font/axis_authoring_tests.rs
  crates/shift-workspace/tests/layer_replacement.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test(desktop): expect structural glyph projection
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Revert "feat(text): adjust sidebearings from the keyboard in Text mode"
  apps/desktop/src/renderer/src/components/text/HiddenTextInput.tsx
  apps/desktop/src/renderer/src/lib/text/TextEditing.test.ts
  packages/editor/src/lib/text/TextEditing.ts
  packages/editor/src/text.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
