Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

Prove in-memory editor composition
  packages/editor/package.json
  packages/editor/src/lib/model/FontStore.ts
  packages/editor/src/testing/MemoryEditor.test.ts
  packages/editor/src/testing/setup.ts
  packages/editor/src/types/font.ts
  packages/editor/vitest.config.ts
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(font): allow duplicate named instance labels
  crates/shift-backends/src/formats/designspace/reader.rs
  crates/shift-font/src/error.rs
  crates/shift-font/src/ir/named_instance.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix(bridge): stabilize font snapshot ordering
  crates/shift-bridge/src/bridge.rs
Due: cargo-fmt, cargo-clippy, cargo-test

test(e2e): align checks with Objects-first sidebar
  apps/desktop/e2e/__screenshots__/home.spec.ts/home-category-active.png
  apps/desktop/e2e/editor.screenshot.css
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/e2e/variable-font-preview.spec.ts
  apps/desktop/e2e/variable-navigation-glyph-grid.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: add Windows SignPath test signing
  .github/workflows/signpath-test-windows.yml
  CODE_SIGNING_POLICY.md
  docs/releases.md
Due: prettier

ci: add Windows SignPath test signing (#402)
  .github/workflows/signpath-test-windows.yml
  CODE_SIGNING_POLICY.md
  docs/releases.md
Due: prettier

refactor(editor): clarify sidebar state ownership
  apps/desktop/src/renderer/src/components/editor/VariationPanel.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/AnchorSection.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/ScaleSection.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/TransformSection.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/componentTransforms.ts
  apps/desktop/src/renderer/src/hooks/useGlyphOutlineTargets.ts
  apps/desktop/src/renderer/src/hooks/useVariationOutlineControls.ts
  apps/desktop/src/renderer/src/lib/model/ComponentTransformEdit.test.ts
  apps/desktop/src/renderer/src/lib/variationOutlineState.test.ts
  apps/desktop/src/renderer/src/lib/variationOutlineState.ts
  apps/desktop/src/renderer/src/types/variationOutline.ts
  packages/editor/src/lib/model/Glyph.ts
  packages/geo/src/Vec2.test.ts
  packages/geo/src/Vec2.ts
  packages/geo/src/index.ts
  packages/geo/src/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: use stable SignPath connector
  .github/workflows/signpath-test-windows.yml
Due: none

ci: use stable SignPath connector (#405)
  .github/workflows/signpath-test-windows.yml
Due: none

chore(ui): align lint with the editor package
  apps/desktop/.oxlintrc.json
  apps/desktop/package.json
  apps/desktop/src/renderer/src/components/editor/object-tree/ObjectRow.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/GlyphCatalogView.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/SubCategory.tsx
  apps/desktop/src/renderer/src/components/sidebar/CollapsibleSection.tsx
  apps/desktop/src/renderer/src/components/sidebar/SidebarActionRow.tsx
  apps/desktop/src/renderer/src/components/sidebar/SidebarRowButton.tsx
  knip.json
  packages/editor/.oxlintrc.json
  packages/editor/package.json
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): add terminal-style color themes
  apps/desktop/THIRD_PARTY_THEMES.md
  apps/desktop/e2e/theme.spec.ts
  apps/desktop/src/renderer/index.css
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/components/chrome/NavigationPane.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/AppearanceSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SettingsDialog.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SettingsSidebar.tsx
  apps/desktop/src/renderer/src/components/home/SlugGlyphCatalogRenderer.ts
  apps/desktop/src/renderer/src/components/home/SlugGlyphCatalogSurface.tsx
  apps/desktop/src/renderer/src/context/CanvasContextProvider.tsx
  apps/desktop/src/renderer/src/context/SettingsNavigationProvider.tsx
  apps/desktop/src/renderer/src/context/ThemeContext.tsx
  apps/desktop/src/renderer/src/lib/graphics/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/styles/theme/index.ts
  apps/desktop/src/renderer/src/lib/styles/theme/light.ts
  apps/desktop/src/renderer/src/lib/styles/theme/theme.test.ts
  apps/desktop/src/renderer/src/lib/styles/theme/tokens.ts
  apps/desktop/src/renderer/src/lib/styles/theme/utils.ts
  apps/desktop/src/renderer/src/lib/themes/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/themes/index.test.ts
  apps/desktop/src/renderer/src/lib/themes/index.ts
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  apps/desktop/src/renderer/src/types/settings.ts
  docs/architecture/index.md
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/editor/docs/DOCS.md
  packages/editor/src/lib/editor/rendering/Canvas.ts
  packages/editor/src/lib/editor/rendering/Renderer.ts
  packages/editor/src/lib/editor/rendering/Theme.test.ts
  packages/editor/src/lib/editor/rendering/Theme.ts
  packages/editor/src/lib/editor/rendering/markers/handleStyles.ts
  packages/editor/src/lib/editor/rendering/overlays/Handles.ts
  packages/editor/src/lib/editor/rendering/overlays/handles/MarkerHandleRenderer.ts
  packages/editor/src/rendering.ts
  packages/editor/src/types/uiState.ts
  packages/ui/docs/DOCS.md
  packages/ui/src/components/radio/Radio.tsx
  packages/ui/src/components/radio/index.ts
  packages/ui/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(desktop): align themes with editor package
  apps/desktop/src/renderer/src/context/CanvasContextProvider.tsx
  apps/desktop/src/renderer/src/lib/themes/docs/DOCS.md
  docs/architecture/index.md
  packages/editor/src/lib/editor/docs/DOCS.md
  packages/editor/src/rendering.ts
  packages/editor/src/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(desktop): verify live theme redraws
  apps/desktop/e2e/theme.spec.ts
  apps/desktop/electron-builder.config.ts
  apps/desktop/src/renderer/src/lib/themes/docs/DOCS.md
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): preserve canvas rendering across navigation
  apps/desktop/e2e/theme.spec.ts
  apps/desktop/src/renderer/src/context/CanvasContextProvider.tsx
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/editor/rendering/Renderer.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): improve dark theme control contrast
  apps/desktop/src/renderer/src/assets/settings/axes.svg
  apps/desktop/src/renderer/src/assets/settings/font.svg
  apps/desktop/src/renderer/src/assets/settings/instances.svg
  apps/desktop/src/renderer/src/assets/settings/settings.svg
  apps/desktop/src/renderer/src/assets/settings/sources.svg
  apps/desktop/src/renderer/src/components/chrome/NavigationPane.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SettingsSidebar.tsx
  apps/desktop/src/renderer/src/components/editor/ToolsPane.tsx
  apps/desktop/src/renderer/src/lib/themes/index.test.ts
  apps/desktop/src/renderer/src/lib/themes/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): preserve the default settings category
  apps/desktop/e2e/theme.spec.ts
  apps/desktop/src/renderer/src/components/chrome/NavigationPane.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SettingsDialog.tsx
  apps/desktop/src/renderer/src/context/SettingsNavigationProvider.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: add language coverage to glyph catalog
  .gitmodules
  ROADMAP.md
  apps/desktop/src/renderer/src/components/home/glyph-catalog/GlyphCatalogView.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/Language.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/LanguageScript.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/SubCategory.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  packages/glyph-info/package.json
  packages/glyph-info/scripts/generate.ts
  packages/glyph-info/scripts/generators/languages.ts
  packages/glyph-info/scripts/repl.ts
  packages/glyph-info/scripts/types/hyperglot.ts
  packages/glyph-info/src/GlyphInfo.test.ts
  packages/glyph-info/src/GlyphInfo.ts
  packages/glyph-info/src/index.ts
  packages/glyph-info/src/resources.ts
  packages/glyph-info/src/types.ts
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): capture language coverage states
  apps/desktop/e2e/home.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): classify wheel zoom momentum by event time
  apps/desktop/e2e/glyph-view.spec.ts
  apps/desktop/src/renderer/src/components/editor/Canvas.tsx
  packages/editor/src/lib/transform/WheelGesture.test.ts
  packages/editor/src/lib/transform/WheelGesture.ts
  packages/editor/src/transform.ts
  packages/editor/src/types/transform.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): wait for rendered frames instead of fixed delays
  apps/desktop/e2e/fixtures/EditorDriver.ts
  apps/desktop/e2e/fixtures/appLocators.ts
  apps/desktop/e2e/glyph-rendering.spec.ts
  apps/desktop/e2e/source-font-preview.spec.ts
  apps/desktop/e2e/tools.spec.ts
  apps/desktop/e2e/variable-source-font-preview.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): assert every discarded recovery glyph is absent
  apps/desktop/e2e/document-recovery.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): make quit and relaunch tests deterministic
  apps/desktop/e2e/README.md
  apps/desktop/e2e/application-quit.spec.ts
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/fixtures/documentLifecycle.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/src/main/dialogs/NativeDialogs.ts
  apps/desktop/src/main/dialogs/scriptedNativeDialogs.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): assert theme and viewport behaviour semantically
  apps/desktop/e2e/glyph-view.spec.ts
  apps/desktop/e2e/theme.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): make Pen snapshots layout independent
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/bg-S-guides.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/editor-S-full.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/handles-S-all-selected.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/handles-S-idle.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-cubic-curve-drag-preview.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-cubic-curve.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-mixed-segments.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-open-contour-space-preview.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-preview-after-undo.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-s-curve-handles.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-single-point.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-smooth-junction-drag-preview.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-straight-segment.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/scene-S-filled.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/segment-selected.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/segment-translating.png
  apps/desktop/e2e/fixtures/CanvasUtil.ts
  apps/desktop/e2e/glyph-rendering.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): keep only browser key ordering in snapping specs
  apps/desktop/e2e/fixtures/scratchGlyph.ts
  apps/desktop/e2e/fixtures/snapGuides.ts
  apps/desktop/e2e/fixtures/types.ts
  apps/desktop/e2e/handle-snapping.spec.ts
  apps/desktop/e2e/pen-snapping.spec.ts
  apps/desktop/e2e/selection-snapping.spec.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectSegmentSnap.test.ts
  packages/editor/src/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): assert drawn outlines and handles instead of colours
  apps/desktop/e2e/handle-styling.spec.ts
  apps/desktop/e2e/variation-outlines.spec.ts
  apps/desktop/src/renderer/src/hooks/useVariationOutlineControls.ts
  apps/desktop/src/renderer/src/lib/nodes/GlyphHandleStates.test.ts
  apps/desktop/src/renderer/src/lib/nodes/GlyphVisibleOutlines.test.ts
  apps/desktop/src/renderer/src/lib/variationOutlineState.test.ts
  apps/desktop/src/renderer/src/lib/variationOutlineState.ts
  apps/desktop/src/renderer/src/types/variationOutline.ts
  packages/editor/src/lib/editor/rendering/overlays/Handles.ts
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): capture stabilized goldens from focused surfaces
  apps/desktop/e2e/README.md
  apps/desktop/e2e/__screenshots__/editor.spec.ts/bg-canvas-A.png
  apps/desktop/e2e/__screenshots__/editor.spec.ts/handles-canvas-A.png
  apps/desktop/e2e/__screenshots__/editor.spec.ts/scene-canvas-A.png
  apps/desktop/e2e/__screenshots__/editor.spec.ts/segment-upgrade-preview.png
  apps/desktop/e2e/__screenshots__/home.spec.ts/home-category-active.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/Ellipse-committed.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/Ellipse-draft.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/Rectangle-committed.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/Rectangle-draft.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/shape-menu.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/tool-hand.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/tool-pen.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/tool-select.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/tool-shape.png
  apps/desktop/e2e/component-rendering.spec.ts
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/e2e/fixtures/EditorDriver.ts
  apps/desktop/e2e/fixtures/appLocators.ts
  apps/desktop/e2e/fixtures/snapshots.ts
  apps/desktop/e2e/home.spec.ts
  apps/desktop/e2e/landing.spec.ts
  apps/desktop/e2e/tools.spec.ts
  apps/desktop/src/renderer/src/components/editor/Canvas.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): drop pixel probes and relaunch from deletion specs
  apps/desktop/e2e/deletion.spec.ts
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): name outline toggles after their source or instance
  apps/desktop/src/renderer/src/components/variation/Instances.tsx
  apps/desktop/src/renderer/src/components/variation/OutlineVisibilityButton.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  apps/desktop/src/renderer/src/components/variation/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): split preview residency checks into focused tests
  apps/desktop/e2e/font-preview.spec.ts
  apps/desktop/e2e/variable-font-preview.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
