Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

fix: expose read-only imported font settings
  apps/desktop/e2e/font-preview.spec.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/components/chrome/NavigationPane.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/AxesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/FontSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/InstancesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SettingsDialog.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SourcesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/home/GlyphCatalogCanvas.tsx
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/GlyphCatalogView.tsx
  apps/desktop/src/renderer/src/components/variation/AxesPanel.tsx
  apps/desktop/src/renderer/src/components/variation/AxesSection.tsx
  apps/desktop/src/renderer/src/components/variation/Instances.tsx
  apps/desktop/src/renderer/src/components/variation/InstancesSection.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  apps/desktop/src/renderer/src/components/variation/SourcesSection.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/context/SettingsNavigationProvider.tsx
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  apps/desktop/src/renderer/src/workspace/FontSession.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: preserve read-only variation controls
  apps/desktop/e2e/variable-font-preview.spec.ts
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  packages/ui/src/components/slider/Slider.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: separate source and location previews
  apps/desktop/e2e/source-font-preview.spec.ts
  apps/desktop/src/renderer/src/components/variation/AxesPanel.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
  apps/desktop/src/renderer/src/lib/variation/axis.test.ts
  apps/desktop/src/renderer/src/lib/variation/axis.ts
  crates/shift-backends/src/formats/glyphs/conversion.rs
  crates/shift-backends/src/formats/glyphs/source.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

fix: initialize authored sessions at default source
  apps/desktop/src/renderer/src/app/Screens.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

test: cover variable previews across source formats
  apps/desktop/e2e/fixtures/perfApp.ts
  apps/desktop/e2e/variable-source-font-preview.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: add canonical SQLite document foundation
  Cargo.lock
  crates/shift-store/Cargo.toml
  crates/shift-store/README.md
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/connection.rs
  crates/shift-store/src/document.rs
  crates/shift-store/src/error.rs
  crates/shift-store/src/layer/write.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/schema.rs
  crates/shift-store/src/store.rs
  crates/shift-store/src/types.rs
  crates/shift-store/tests/store_test.rs
  docs/architecture/index.md
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat: report authoring import losses
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/font_loader.rs
  crates/shift-backends/src/formats/designspace/source.rs
  crates/shift-backends/src/formats/glyphs/import.rs
  crates/shift-backends/src/formats/glyphs/mod.rs
  crates/shift-backends/src/formats/glyphs/reader.rs
  crates/shift-backends/src/formats/glyphs/report.rs
  crates/shift-backends/src/formats/glyphs/source.rs
  crates/shift-backends/src/formats/opentype/mod.rs
  crates/shift-backends/src/formats/ufo/source.rs
  crates/shift-backends/src/import.rs
  crates/shift-backends/src/import_report.rs
  crates/shift-backends/src/lib.rs
  crates/shift-backends/tests/import_report.rs
  fixtures/fonts/GlyphsImportLosses.glyphs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

test: prove native document authoring exports
  Cargo.lock
  crates/shift-backends/Cargo.toml
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/tests/native_document_export.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

fix: scrub workspace state from saved documents
  crates/shift-store/src/document.rs
  crates/shift-store/tests/store_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: add native document Save As snapshot
  crates/shift-store/README.md
  crates/shift-store/src/document.rs
  crates/shift-store/tests/store_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat: add sparse document recovery overlays
  crates/shift-store/README.md
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/connection.rs
  crates/shift-store/src/document.rs
  crates/shift-store/src/error.rs
  crates/shift-store/src/layer/write.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/recovery/mod.rs
  crates/shift-store/src/recovery/overlay.rs
  crates/shift-store/src/recovery/patch.rs
  crates/shift-store/src/recovery/save.rs
  crates/shift-store/src/recovery/views.rs
  crates/shift-store/src/schema.rs
  crates/shift-store/src/store.rs
  crates/shift-store/src/types.rs
  crates/shift-store/tests/recovery_patch_test.rs
  crates/shift-store/tests/recovery_test.rs
  crates/shift-store/tests/store_test.rs
  docs/architecture/index.md
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat: add glyph inspection CLI
  crates/shift-cli/README.md
  crates/shift-cli/src/cli.rs
  crates/shift-cli/src/glyph_inspect.rs
  crates/shift-cli/src/glyph_inspect/render.rs
  crates/shift-cli/src/glyph_inspect/report.rs
  crates/shift-cli/src/glyph_inspect/types.rs
  crates/shift-cli/src/main.rs
  crates/shift-cli/tests/glyph_inspection_cli.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

fix: match component transforms by source slot
  apps/desktop/e2e/__screenshots__/component-rendering.spec.ts/canvas-Aacute-bold-wide-components.png
  apps/desktop/e2e/component-rendering.spec.ts
  apps/desktop/src/renderer/src/lib/model/ComponentGlyph.ts
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/composite.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/lib.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

refactor: generate recovery SQL from table catalog
  crates/shift-store/README.md
  crates/shift-store/src/recovery/catalog.rs
  crates/shift-store/src/recovery/mod.rs
  crates/shift-store/src/recovery/overlay.rs
  crates/shift-store/src/recovery/patch.rs
  crates/shift-store/src/recovery/save.rs
  crates/shift-store/src/recovery/views.rs
  crates/shift-store/tests/recovery_patch_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

fix: scope renderer commands to sender window
  apps/desktop/src/main/app/App.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor: clarify document workspace transitions
  apps/desktop/src/utility/workspace/DocumentOpener.test.ts
  apps/desktop/src/utility/workspace/DocumentOpener.ts
  apps/desktop/src/utility/workspace/DocumentStorage.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  apps/desktop/src/utility/workspace/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: add bounded websocket workspace transport
  apps/desktop/package.json
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/document/DocumentClient.ts
  apps/desktop/src/main/workspace/WorkspaceProcess.ts
  apps/desktop/src/renderer/src/lib/workspace/FontSessionClient.ts
  apps/desktop/src/renderer/src/testing/workspaceStack.ts
  apps/desktop/src/renderer/src/workspace/WorkspaceDocumentBridge.ts
  apps/desktop/src/shared/types/cbor-x.d.ts
  apps/desktop/src/shared/workspace/PortByteStream.test.ts
  apps/desktop/src/shared/workspace/channel.test.ts
  apps/desktop/src/shared/workspace/channel.ts
  apps/desktop/src/shared/workspace/channelCodec.test.ts
  apps/desktop/src/shared/workspace/channelCodec.ts
  apps/desktop/src/shared/workspace/localTransports.ts
  apps/desktop/src/shared/workspace/webSocketTransport.test.ts
  apps/desktop/src/shared/workspace/webSocketTransport.ts
  apps/desktop/src/utility/workspace.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor: use MessagePack for workspace transport
  apps/desktop/package.json
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/shared/types/cbor-x.d.ts
  apps/desktop/src/shared/workspace/channelCodec.test.ts
  apps/desktop/src/shared/workspace/channelCodec.ts
  apps/desktop/src/shared/workspace/webSocketTransport.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: evaluate and edit glyph-local authoring
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/changes.rs
  crates/shift-font/src/error.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/interpolation.rs
  crates/shift-font/src/interpolation/compatibility.rs
  crates/shift-font/src/interpolation/values.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/glyph.rs
  crates/shift-font/src/projection.rs
  crates/shift-store/README.md
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/recovery/patch.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

test: cover upstream VARC fixtures
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/formats/opentype/reader.rs
  crates/shift-backends/tests/loading.rs
  fixtures/fonts/README.md
  fixtures/fonts/varc/LICENSE
  fixtures/fonts/varc/README.md
  fixtures/fonts/varc/varc-6868.ttf
  fixtures/fonts/varc/varc-ac00-ac01.ttf
  fixtures/fonts/varc/varc-ac01-conditional.ttf
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

spike: render compiled proof frames on editor board
  apps/desktop/e2e/compiled-proof-board.spec.ts
  apps/desktop/src/renderer/src/components/editor/Canvas.tsx
  apps/desktop/src/renderer/src/components/editor/CompiledProofLayer.tsx
  apps/desktop/src/renderer/src/lib/editor/managers/Camera.test.ts
  apps/desktop/src/renderer/src/lib/editor/managers/Camera.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

spike: refresh compiled proofs after edits
  apps/desktop/e2e/compiled-proof-board.spec.ts
  apps/desktop/src/renderer/src/components/editor/CompiledProofLayer.tsx
  apps/desktop/src/renderer/src/lib/workspace/FontSessionClient.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  apps/desktop/src/renderer/src/workspace/Workspace.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: measure large compiled proof refreshes
  apps/desktop/e2e/compiled-proof-board-large-font.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: apply glyph layer edits before confirmation
  apps/desktop/src/renderer/src/hooks/useDocumentChromeState.ts
  apps/desktop/src/renderer/src/lib/editor/GlyphLayerEditDraft.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/FontStore.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.test.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerState.ts
  apps/desktop/src/renderer/src/lib/model/LayerPatchDraft.ts
  apps/desktop/src/renderer/src/lib/model/LayerStateDraft.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/reduceLayerIntents.test.ts
  apps/desktop/src/renderer/src/lib/model/reduceLayerIntents.ts
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
  apps/desktop/src/renderer/src/lib/signals/signal.test.ts
  apps/desktop/src/renderer/src/lib/signals/signal.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenStroke.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.test.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  apps/desktop/src/renderer/src/types/index.ts
  apps/desktop/src/renderer/src/types/workspace.ts
  apps/desktop/src/renderer/src/workspace/Workspace.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor: apply pending edits at the typed layer boundary
  apps/desktop/src/renderer/src/lib/model/FontStore.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.test.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerState.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerState.ts
  apps/desktop/src/renderer/src/lib/model/LayerPatchDraft.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/reduceLayerIntents.test.ts
  apps/desktop/src/renderer/src/lib/model/reduceLayerIntents.ts
  apps/desktop/src/renderer/src/lib/workspace/LayerIntents.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  apps/desktop/src/renderer/src/types/index.ts
  apps/desktop/src/renderer/src/types/workspace.ts
  packages/glyph-state/docs/DOCS.md
  packages/glyph-state/src/LayerStateDraft.test.ts
  packages/glyph-state/src/LayerStateDraft.ts
  packages/glyph-state/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor: edit pending layers through local buffers
  apps/desktop/src/renderer/src/lib/model/FontStore.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.test.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerState.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerState.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/objects/AnchorObject.ts
  apps/desktop/src/renderer/src/lib/objects/ContourObject.ts
  apps/desktop/src/renderer/src/lib/objects/PointObject.ts
  apps/desktop/src/renderer/src/lib/objects/SegmentObject.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenPreview.ts
  apps/desktop/src/renderer/src/lib/workspace/LayerIntents.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.test.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  apps/desktop/src/renderer/src/types/editing.ts
  apps/desktop/src/renderer/src/types/index.ts
  apps/desktop/src/renderer/src/types/workspace.ts
  packages/glyph-state/docs/DOCS.md
  packages/glyph-state/src/LayerStateDraft.test.ts
  packages/glyph-state/src/LayerStateDraft.ts
  packages/glyph-state/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor: own packed glyph records in layer buffers
  apps/desktop/src/renderer/src/lib/model/AnchorBuffer.ts
  apps/desktop/src/renderer/src/lib/model/ComponentBuffer.ts
  apps/desktop/src/renderer/src/lib/model/ContourBuffer.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.test.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerState.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerState.ts
  apps/desktop/src/renderer/src/lib/model/GlyphRenderModel.ts
  apps/desktop/src/renderer/src/lib/model/LayerBuffers.ts
  apps/desktop/src/renderer/src/lib/model/PackedArray.test.ts
  apps/desktop/src/renderer/src/lib/model/PackedArray.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/types/glyphRender.ts
  apps/desktop/src/renderer/src/types/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: cover pen preview handoff
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: add fluent position edit foundation
  apps/desktop/src/renderer/src/lib/editor/GlyphLayerEditDraft.test.ts
  apps/desktop/src/renderer/src/lib/editor/GlyphLayerEditDraft.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerPositionList.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/model/positions/AngleSnap.test.ts
  apps/desktop/src/renderer/src/lib/model/positions/AngleSnap.ts
  apps/desktop/src/renderer/src/lib/model/positions/DirectionSnap.ts
  apps/desktop/src/renderer/src/lib/model/positions/LayerPositions.ts
  apps/desktop/src/renderer/src/lib/model/positions/MetricSnap.test.ts
  apps/desktop/src/renderer/src/lib/model/positions/MetricSnap.ts
  apps/desktop/src/renderer/src/lib/model/positions/MoveEdit.ts
  apps/desktop/src/renderer/src/lib/model/positions/PointRuleConstraint.ts
  apps/desktop/src/renderer/src/lib/model/positions/PositionEditDraft.ts
  apps/desktop/src/renderer/src/lib/model/positions/PositionEdits.test.ts
  apps/desktop/src/renderer/src/lib/model/positions/PositionReference.ts
  apps/desktop/src/renderer/src/lib/model/positions/RotateEdit.ts
  apps/desktop/src/renderer/src/lib/model/positions/index.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Translate.ts
  apps/desktop/src/renderer/src/types/index.ts
  apps/desktop/src/renderer/src/types/positionEdit.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: typecheck desktop test sources
  apps/desktop/src/renderer/src/components/home/GlyphPreviewLayout.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.test.ts
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
  apps/desktop/src/renderer/src/lib/signals/KeyedCache.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/BaseTool.test.ts
  apps/desktop/src/renderer/src/lib/utils/batchRequest.test.ts
  apps/desktop/src/shared/workspace/PortByteStream.test.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/tsconfig.build.json
Due: prettier, oxlint, tsgo-typecheck, vitest

test: replace bounding box editor fake
  apps/desktop/src/renderer/src/lib/tools/select/BoundingBox.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/BoundingBox.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: publish tool lifecycle state
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/hand/Hand.test.ts
  apps/desktop/src/renderer/src/lib/tools/hand/Hand.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.test.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: focus ToolManager on public outcomes
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: preserve angle snap hysteresis across boundaries
  apps/desktop/src/renderer/src/lib/model/positions/AngleSnap.test.ts
  apps/desktop/src/renderer/src/lib/model/positions/AngleSnap.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

docs: mark release automation complete
  ROADMAP.md
Due: prettier

chore: add release-aware commit and PR skills
  .agent-skills/commit/SKILL.md
  .agent-skills/pr/SKILL.md
  .agent-skills/writing-tests/SKILL.md
  .claude/skills/pr/SKILL.md
  .claude/skills/writing-tests/SKILL.md
  .codex/skills/commit/SKILL.md
  .codex/skills/pr/SKILL.md
  .github/workflows/ci.yml
Due: prettier

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
