Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

.pre-commit-config.yaml:

repos:
  # Standard file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]

      - id: oxlint
        name: oxlint
        entry: pnpm lint:check
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

      - id: tsgo-typecheck
        name: tsgo typecheck
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

      - id: vitest
        name: vitest
        entry: pnpm test
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

chore: update vulnerable dependencies
  Cargo.lock
  apps/desktop/package.json
  flake.nix
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

feat(desktop): improve toolbar navigation and availability (#296)
  apps/desktop/e2e/__screenshots__/component-rendering.spec.ts/canvas-Aacute-bold-wide-components.png
  apps/desktop/e2e/__screenshots__/editor.spec.ts/bg-canvas-A.png
  apps/desktop/e2e/__screenshots__/editor.spec.ts/editor-canvas-A.png
  apps/desktop/e2e/__screenshots__/editor.spec.ts/handles-canvas-A.png
  apps/desktop/e2e/__screenshots__/editor.spec.ts/scene-canvas-A.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/bg-S-guides.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/canvas-B-composited.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/canvas-I-composited.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/canvas-Q-composited.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/canvas-S-all-selected.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/canvas-S-composited.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/handles-S-all-selected.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/handles-S-idle.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-cubic-curve-drag-preview.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-cubic-curve.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-mixed-segments.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-preview-after-undo.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-s-curve-handles.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-single-point.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-smooth-junction-drag-preview.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-straight-segment.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/scene-S-filled.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/tool-text.png
  apps/desktop/e2e/tools.spec.ts
  apps/desktop/src/renderer/src/components/chrome/Toolbar.tsx
  apps/desktop/src/renderer/src/components/editor/ToolsPane.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManifest.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/tools.ts
  apps/desktop/src/renderer/src/types/editor.ts
  packages/ui/docs/DOCS.md
  packages/ui/src/components/toolbar/Toolbar.tsx
  packages/ui/src/components/toolbar/index.ts
  packages/ui/src/components/tooltip/Tooltip.tsx
  packages/ui/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

chore: update vulnerable dependencies (#300)
  Cargo.lock
  apps/desktop/package.json
  flake.nix
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

fix(settings): unify empty-state text sizing
  apps/desktop/src/renderer/src/components/chrome/settings/AxesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/InstancesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SourcesSettingsPanel.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): make preflight failures actionable
  .agents/skills/commit/SKILL.md
  .agents/skills/pr/SKILL.md
  .claude/skills/commit/SKILL.md
  .claude/skills/pr/SKILL.md
  .codex/skills/commit/SKILL.md
  .codex/skills/pr/SKILL.md
  apps/desktop/e2e/README.md
  apps/desktop/e2e/fixtures/appLocators.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/fixtures/perfApp.ts
  apps/desktop/e2e/variable-navigation-glyph-grid.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): make preflight failures actionable (#305)
  .agents/skills/commit/SKILL.md
  .agents/skills/pr/SKILL.md
  .claude/skills/commit/SKILL.md
  .claude/skills/pr/SKILL.md
  .codex/skills/commit/SKILL.md
  .codex/skills/pr/SKILL.md
  apps/desktop/e2e/README.md
  apps/desktop/e2e/fixtures/appLocators.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/fixtures/perfApp.ts
  apps/desktop/e2e/variable-navigation-glyph-grid.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): make Pen snapshots layout independent
  apps/desktop/e2e/README.md
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-cubic-curve-drag-preview.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-cubic-curve.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-mixed-segments.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-preview-after-undo.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-s-curve-handles.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-single-point.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-smooth-junction-drag-preview.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-straight-segment.png
  apps/desktop/e2e/fixtures/CanvasUtil.ts
  apps/desktop/e2e/glyph-rendering.spec.ts
  apps/desktop/package.json
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(settings): match empty states to panel text
  apps/desktop/src/renderer/src/components/chrome/settings/AxesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/InstancesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SourcesSettingsPanel.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

docs(agents): keep workflow metadata out of pull requests
  .agents/skills/pr/SKILL.md
  .claude/skills/pr/SKILL.md
  .codex/skills/pr/SKILL.md
Due: prettier

docs(agents): scope the workflow metadata rule
  .agents/skills/pr/SKILL.md
  .claude/skills/pr/SKILL.md
  .codex/skills/pr/SKILL.md
Due: prettier

build(nix): update dev shell inputs
  flake.lock
Due: none

docs(agents): keep issue reports focused on outcomes
  .agents/skills/issue/SKILL.md
  .claude/skills/issue/SKILL.md
  .codex/skills/issue/SKILL.md
Due: prettier

build(nix): update dev shell inputs (#307)
  flake.lock
Due: none

docs: keep execution metadata out of issues and pull requests (#306)
  .agents/skills/issue/SKILL.md
  .agents/skills/pr/SKILL.md
  .claude/skills/issue/SKILL.md
  .claude/skills/pr/SKILL.md
  .codex/skills/issue/SKILL.md
  .codex/skills/pr/SKILL.md
Due: prettier

build: express command prerequisites through Turbo
  README.md
  apps/desktop/e2e/README.md
  apps/desktop/package.json
  package.json
  turbo.json
Due: prettier

build: express command prerequisites through Turbo (#308)
  README.md
  apps/desktop/e2e/README.md
  apps/desktop/package.json
  package.json
  turbo.json
Due: prettier

fix(settings): unify empty-state text sizing (#301)
  apps/desktop/src/renderer/src/components/chrome/settings/AxesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/InstancesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SourcesSettingsPanel.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

docs: require the Nix development environment
  AGENTS.md
Due: prettier

docs: require the Nix development environment (#309)
  AGENTS.md
Due: prettier

ci: shard end-to-end tests
  .github/workflows/ci.yml
Due: none

ci: generate E2E build resources
  .github/workflows/ci.yml
Due: none

ci: shard end-to-end tests (#310)
  .github/workflows/ci.yml
Due: none

test(e2e): add cross-platform desktop integration coverage
  .github/workflows/ci.yml
  ROADMAP.md
  apps/desktop/e2e/README.md
  apps/desktop/e2e/application-quit.spec.ts
  apps/desktop/e2e/fixtures/appLocators.ts
  apps/desktop/e2e/fixtures/documentLifecycle.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/platform-integration.spec.ts
  apps/desktop/package.json
  apps/desktop/playwright.config.ts
  flake.nix
  package.json
  turbo.json
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: derive E2E shards from matrix axes
  .github/workflows/ci.yml
Due: none

fix(ci): pass complete Playwright shard identifiers
  .github/workflows/ci.yml
Due: none

test(e2e): terminate Electron process trees reliably
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/fixtures/documentLifecycle.ts
  apps/desktop/e2e/fixtures/electronApp.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): await Windows temporary cleanup
  apps/desktop/e2e/fixtures/electronApp.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): add cross-platform desktop integration coverage (#312)
  .github/workflows/ci.yml
  ROADMAP.md
  apps/desktop/e2e/README.md
  apps/desktop/e2e/application-quit.spec.ts
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/fixtures/appLocators.ts
  apps/desktop/e2e/fixtures/documentLifecycle.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/platform-integration.spec.ts
  apps/desktop/package.json
  apps/desktop/playwright.config.ts
  flake.nix
  package.json
  turbo.json
Due: prettier, oxlint, tsgo-typecheck, vitest

perf(glyph-info): build search index lazily
  packages/glyph-info/src/GlyphInfo.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: reduce cross-platform E2E runtime
  .github/workflows/ci.yml
  Cargo.toml
  apps/desktop/e2e/README.md
  apps/desktop/e2e/variable-font-recovery.spec.ts
  crates/shift-bridge/package.json
  package.json
  turbo.json
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: reduce cross-platform E2E runtime (#313)
  .github/workflows/ci.yml
  Cargo.toml
  apps/desktop/e2e/README.md
  apps/desktop/e2e/variable-font-recovery.spec.ts
  crates/shift-bridge/package.json
  package.json
  packages/glyph-info/src/GlyphInfo.ts
  turbo.json
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): restore compact launcher sizing
  apps/desktop/e2e/README.md
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
Due: prettier, oxlint, tsgo-typecheck, vitest

chore(agent): add remote E2E runner
  .agents/skills/shift-remote-e2e/SKILL.md
  .agents/skills/shift-remote-e2e/scripts/run.py
  .claude/skills/shift-remote-e2e/SKILL.md
  .claude/skills/shift-remote-e2e/scripts/run.py
  .codex/skills/shift-remote-e2e/SKILL.md
  .codex/skills/shift-remote-e2e/scripts/run.py
Due: prettier

test(e2e): force deterministic window sizing
  apps/desktop/e2e/fixtures/electronApp.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(document): discover recoverable workspaces
  apps/desktop/src/main/workspace/WorkspaceProcess.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/DocumentOpener.test.ts
  apps/desktop/src/utility/workspace/DocumentStorage.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): restore compact launcher sizing (#317)
  apps/desktop/e2e/README.md
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): reopen recoverable documents at startup
  apps/desktop/e2e/document-recovery.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/workspace/WorkspaceManager.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): reopen crashed document windows
  apps/desktop/e2e/document-crash.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/dialogs/NativeDialogs.ts
  apps/desktop/src/main/dialogs/electronNativeDialogs.ts
  apps/desktop/src/main/dialogs/scriptedNativeDialogs.ts
  apps/desktop/src/main/document/types.ts
  apps/desktop/src/main/workspace/FontSessionHost.ts
  apps/desktop/src/main/workspace/WorkspaceManager.ts
  apps/desktop/src/main/workspace/WorkspaceProcess.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): run document crash coverage on platform
  apps/desktop/playwright.config.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): contain renderer errors
  apps/desktop/e2e/document-crash.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/app/AppErrorBoundary.tsx
  apps/desktop/src/renderer/src/app/DocumentErrorBoundary.tsx
  apps/desktop/src/renderer/src/app/DocumentErrorScreen.tsx
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/app/errorReporting.ts
  apps/desktop/src/renderer/src/workspace/FontSessionProvider.tsx
  apps/desktop/src/shared/commands.ts
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/vite.renderer.config.ts
Due: prettier, oxlint, tsgo-typecheck, vitest
