Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

ci: publish complete Alpha artifacts atomically
  .github/workflows/release-desktop.yml
  .github/workflows/release-please.yml
  docs/releases.md
  release-please-config.json
Due: prettier

test: cover tool switching through editor outcomes
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

chore: move initial changelog boundary
  docs/releases.md
  release-please-config.json
Due: prettier

refactor: unify active tool state surface
  apps/desktop/src/renderer/src/components/debug/DebugPanel.tsx
  apps/desktop/src/renderer/src/components/editor/ToolsPane.tsx
  apps/desktop/src/renderer/src/components/text/HiddenTextInput.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/editor/rendering/RenderFrame.ts
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.test.ts
  apps/desktop/src/renderer/src/lib/signals/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/core/BaseTool.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/BaseTool.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolStateMap.ts
  apps/desktop/src/renderer/src/lib/tools/core/index.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/hand/Hand.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.test.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: distribute installable Developer Preview builds
  README.md
Due: prettier

build: use Shift website in package metadata
  apps/desktop/forge.config.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: support replaceable tool contributions
  apps/desktop/src/renderer/src/components/editor/ToolsPane.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/core/BaseTool.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/BaseTool.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolRegistration.ts
  apps/desktop/src/renderer/src/lib/tools/core/index.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: cover edited glyph fresh reopen
  apps/desktop/src/renderer/src/lib/workspace/FreshReopen.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/testing/workspaceStack.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: clear dirty at the saved undo position
  apps/desktop/src/renderer/src/lib/workspace/FreshReopen.test.ts
  crates/shift-store/README.md
  crates/shift-store/src/change_set.rs
  crates/shift-store/src/layer/tests.rs
  crates/shift-store/src/workspace_state.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

refactor: keep startup identity in App
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/main.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

build: document native bridge packaging
  apps/desktop/forge.config.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: cover variable font authoring controls
  apps/desktop/e2e/variable-font-authoring.spec.ts
  apps/desktop/src/renderer/src/components/chrome/settings/InstancesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SourcesSettingsPanel.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/docs/DOCS.md
Due: prettier, oxlint, tsgo-typecheck, vitest

chore: preserve component license metadata
  crates/shift-backends/Cargo.toml
  crates/shift-bridge/Cargo.toml
  crates/shift-bridge/package.json
  crates/shift-cli/Cargo.toml
  crates/shift-font/Cargo.toml
  crates/shift-slug/Cargo.toml
  crates/shift-source/Cargo.toml
  crates/shift-store/Cargo.toml
  crates/shift-wire/Cargo.toml
  crates/shift-workspace/Cargo.toml
  packages/bridge/package.json
  packages/geo/package.json
  packages/glyph-info/package.json
  packages/glyph-state/package.json
  packages/rules/package.json
  packages/tsconfig/package.json
  packages/types/package.json
  packages/ui/package.json
  packages/validation/package.json
Due: prettier

test: cover glyph navigation continuity
  apps/desktop/e2e/glyph-navigation.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: cover variable font fresh reopen
  apps/desktop/src/renderer/src/lib/workspace/VariableFreshReopen.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

docs: add issue-linked pull request workflow
  .agent-skills/issue/SKILL.md
  .agent-skills/pr/SKILL.md
  .claude/skills/issue/SKILL.md
  .claude/skills/pr/SKILL.md
  .codex/skills/issue/SKILL.md
  .codex/skills/pr/SKILL.md
Due: prettier

feat(desktop): add distinct nightly app icon
  apps/desktop/forge.config.ts
  apps/desktop/src/main/app/AppIcon.ts
  icons/nightly.icns
  icons/nightly.ico
  icons/nightly.png
Due: prettier, oxlint, tsgo-typecheck, vitest

test: cover sidebar glyph metrics
  apps/desktop/src/renderer/src/lib/editor/GlyphMetrics.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: strengthen sidebearing history assertions
  apps/desktop/src/renderer/src/lib/editor/GlyphMetrics.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

build(windows): bundle SQLite for desktop builds
  Cargo.lock
  crates/shift-store/Cargo.toml
Due: none

ci: publish complete rolling Nightly builds
  .github/workflows/nightly.yml
  .github/workflows/release-desktop.yml
  README.md
  ROADMAP.md
  docs/releases.md
  scripts/prepare-nightly-release.mjs
  scripts/prepare-nightly-release.test.mjs
Due: prettier, oxlint, vitest

test: cover editor boolean operation outcomes
  apps/desktop/src/renderer/src/lib/editor/BooleanOperations.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor: settle awaited editor actions
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/GlyphLayerEditDraft.test.ts
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.test.ts
  apps/desktop/src/renderer/src/lib/keyboard/keymaps.ts
  apps/desktop/src/renderer/src/lib/keyboard/types.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerGeometry.test.ts
  apps/desktop/src/renderer/src/lib/model/positions/PositionEdits.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.test.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/shape/Shape.test.ts
  apps/desktop/src/renderer/src/lib/workspace/ledger.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: prune contours emptied by point removal
  apps/desktop/src/renderer/src/lib/editor/ClipboardOperations.test.ts
  apps/desktop/src/renderer/src/lib/model/LayerBuffers.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/intents.rs
  crates/shift-font/src/layer_edit.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

test: migrate fresh reopen to settled actions
  apps/desktop/src/renderer/src/lib/workspace/FreshReopen.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: stage Linux Nightly smoke package safely
  .github/workflows/nightly.yml
  scripts/smoke-packaged.mjs
Due: prettier, oxlint, vitest

test: await settled Select actions
  apps/desktop/src/renderer/src/lib/tools/select/SelectMove.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectNudge.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectTransform.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: cover Shift-click selection
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: characterize Select movement and transforms
  apps/desktop/src/renderer/src/lib/tools/select/SelectMove.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectNudge.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectTransform.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: await settled vector editor actions
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/workspace/FreshReopen.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Finalize Pen persistence and selection bounds
  apps/desktop/src/renderer/src/lib/tools/select/BoundingBox.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Translate.ts
  apps/desktop/src/renderer/src/lib/workspace/FreshReopen.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Render Pen curves through live layer edits
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-cubic-curve-drag-preview.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-mixed-segments.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-smooth-junction-drag-preview.png
  apps/desktop/e2e/glyph-rendering.spec.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerEdit.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerState.ts
  apps/desktop/src/renderer/src/lib/model/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenOverlay.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenPreview.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenStroke.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/DragHandlesBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/pen/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

wip
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-cubic-curve-drag-preview.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-cubic-curve.png
  apps/desktop/e2e/__screenshots__/glyph-rendering.spec.ts/pen-mixed-segments.png
  apps/desktop/e2e/glyph-rendering.spec.ts
  apps/desktop/src/renderer/src/components/editor/RightSidebar.tsx
  apps/desktop/src/renderer/src/lib/model/Glyph.test.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenCurve.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenPreview.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenStroke.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/CancelBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/DragHandlesBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/PenDownBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/pen/index.ts
  apps/desktop/src/renderer/src/lib/tools/pen/types.ts
  apps/desktop/src/renderer/src/lib/tools/select/BoundingBox.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Fix vector drag ownership and lifecycle
  apps/desktop/e2e/tools.spec.ts
  apps/desktop/src/renderer/src/components/editor/InteractiveScene.tsx
  apps/desktop/src/renderer/src/lib/model/FontStore.ts
  apps/desktop/src/renderer/src/lib/tools/core/GestureDetector.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/GestureDetector.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Translate.ts
  apps/desktop/src/renderer/src/testing/TestEditor.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: mint Release Please tokens with GitHub App
  .github/workflows/release-please.yml
  docs/releases.md
Due: prettier

test: align vector drags with main action contract
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/workspace/FreshReopen.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: recheck edited pull request titles
  .github/workflows/ci.yml
  .github/workflows/pr-title.yml
Due: none

test: target imported instance by identity
  apps/desktop/e2e/variable-font-preview.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: target imported source by identity
  apps/desktop/e2e/variable-font-preview.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
