Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

Move glyph rendering into node definition
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/RenderFrame.ts
  apps/desktop/src/renderer/src/lib/nodes/GlyphNodeDefinition.ts
  apps/desktop/src/renderer/src/lib/objects/NodeObject.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Move glyph guides into node definition
  apps/desktop/src/renderer/src/lib/editor/rendering/CanvasItem.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/RenderFrame.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/Renderer.ts
  apps/desktop/src/renderer/src/lib/nodes/GlyphNodeDefinition.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Refactor editor scene node interactions
  apps/desktop/e2e/perf.spec.ts
  apps/desktop/src/renderer/src/app/App.css
  apps/desktop/src/renderer/src/components/editor/Canvas.tsx
  apps/desktop/src/renderer/src/components/editor/InteractiveScene.tsx
  apps/desktop/src/renderer/src/context/FocusZoneContext.tsx
  apps/desktop/src/renderer/src/lib/editor/Editing.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/Scene.ts
  apps/desktop/src/renderer/src/lib/editor/Selection.ts
  apps/desktop/src/renderer/src/lib/editor/managers/EdgePanManager.test.ts
  apps/desktop/src/renderer/src/lib/editor/managers/EdgePanManager.ts
  apps/desktop/src/renderer/src/lib/editor/managers/index.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/RenderFrame.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/nodes/GlyphNodeDefinition.ts
  apps/desktop/src/renderer/src/lib/nodes/TextRunNodeDefinition.ts
  apps/desktop/src/renderer/src/lib/text/Text.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
  apps/desktop/src/renderer/src/lib/tools/hand/Hand.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.ts
  apps/desktop/src/renderer/src/lib/utils/utils.ts
  apps/desktop/src/renderer/src/types/editing.ts
  apps/desktop/src/renderer/src/types/index.ts
  apps/desktop/src/renderer/src/types/node.ts
  apps/desktop/src/renderer/src/types/records.ts
  apps/desktop/src/renderer/src/types/text.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
  apps/desktop/src/renderer/src/workspace/WorkspaceContext.tsx
  packages/types/src/ids.ts
  packages/types/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

add ids on child objects at resolution time
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/objects/AnchorObject.ts
  apps/desktop/src/renderer/src/lib/objects/ContourObject.ts
  apps/desktop/src/renderer/src/lib/objects/PointObject.ts
  apps/desktop/src/renderer/src/lib/objects/SegmentObject.ts
  apps/desktop/src/renderer/src/types/object.ts
  apps/desktop/src/renderer/src/workspace/WorkspaceProvider.tsx
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Stabilize package identity for workspaces
  Cargo.lock
  ROADMAP.md
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/main/workspace/WorkspaceManager.ts
  apps/desktop/src/main/workspace/WorkspaceProcess.ts
  apps/desktop/src/main/workspace/WorkspaceSession.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/DocumentStorage.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  apps/desktop/src/utility/workspace/types.ts
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-source/Cargo.toml
  crates/shift-source/docs/DOCS.md
  crates/shift-source/src/lib.rs
  crates/shift-source/src/package.rs
  crates/shift-source/tests/package_test.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/lib.rs
  crates/shift-workspace/src/source_identity.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
  packages/types/docs/DOCS.md
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Address package opener review feedback
  apps/desktop/package.json
  apps/desktop/src/utility/workspace/DocumentStorage.ts
  apps/desktop/src/utility/workspace/PackageOpener.test.ts
  apps/desktop/src/utility/workspace/PackageOpener.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  apps/desktop/src/utility/workspace/types.ts
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

Extract package session index
  apps/desktop/src/main/workspace/PackageSessionIndex.test.ts
  apps/desktop/src/main/workspace/PackageSessionIndex.ts
  apps/desktop/src/main/workspace/WorkspaceManager.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Harden workspace session registration
  apps/desktop/src/main/workspace/WorkspaceManager.test.ts
  apps/desktop/src/main/workspace/WorkspaceManager.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Focus existing workspace windows
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/windows/Window.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Prevent quit deadlocks after port closure
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/document/DocumentClient.ts
  apps/desktop/src/main/workspace/WorkspaceProcess.ts
  apps/desktop/src/main/workspace/WorkspaceSession.ts
  apps/desktop/src/shared/workspace/channel.test.ts
  apps/desktop/src/shared/workspace/channel.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Keep macOS running without windows
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
Due: prettier, oxlint, tsgo-typecheck, vitest

Address axis mapping review feedback
  apps/desktop/src/renderer/src/lib/model/Font.ts
  crates/shift-font/src/ir/font.rs
  packages/types/src/domain.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Upgrade fontc compiler stack
  Cargo.lock
  crates/shift-backends/Cargo.toml
  crates/shift-backends/src/export.rs
  crates/shift-backends/src/glyphs/reader.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Compile Shift sources directly with fontc
  Cargo.lock
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Command.ts
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/document/DocumentClient.ts
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.test.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  apps/desktop/src/renderer/src/workspace/WorkspaceDocumentBridge.ts
  apps/desktop/src/shared/commands.ts
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-backends/Cargo.toml
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/export.rs
  crates/shift-backends/src/lib.rs
  crates/shift-backends/src/shift2fontir/glyph.rs
  crates/shift-backends/src/shift2fontir/kerning.rs
  crates/shift-backends/src/shift2fontir/metadata.rs
  crates/shift-backends/src/shift2fontir/mod.rs
  crates/shift-backends/src/shift2fontir/source.rs
  crates/shift-backends/tests/export.rs
  crates/shift-cli/Cargo.toml
  crates/shift-cli/README.md
  crates/shift-cli/src/cli.rs
  crates/shift-cli/src/main.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Compile variable Shift fonts
  ROADMAP.md
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/designspace/writer.rs
  crates/shift-backends/src/export.rs
  crates/shift-backends/src/shift2fontir/axes.rs
  crates/shift-backends/src/shift2fontir/glyph.rs
  crates/shift-backends/src/shift2fontir/kerning.rs
  crates/shift-backends/src/shift2fontir/metadata.rs
  crates/shift-backends/src/shift2fontir/mod.rs
  crates/shift-backends/src/shift2fontir/source.rs
  crates/shift-backends/src/shift2fontir/stat.rs
  crates/shift-backends/src/traits.rs
  crates/shift-backends/tests/export.rs
  crates/shift-bridge/src/bridge.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

Group export formats in File menu
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/main/menu/menuItems.test.ts
  apps/desktop/src/main/menu/menuItems.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Simplify compiler tests with semantic equality
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.test.ts
  crates/shift-backends/Cargo.toml
  crates/shift-backends/src/export.rs
  crates/shift-backends/src/shift2fontir/mod.rs
  crates/shift-backends/src/shift2fontir/tests.rs
  crates/shift-backends/tests/export.rs
  crates/shift-cli/Cargo.toml
  crates/shift-cli/src/main.rs
  crates/shift-font/src/test_support.rs
  crates/shift-source/tests/package_test.rs
  crates/shift-store/tests/store_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Add Rustdoc contract skill
  .agent-skills/rustdoc/SKILL.md
  .claude/skills/rustdoc/SKILL.md
  .codex/skills/rustdoc/SKILL.md
Due: prettier

Document font compiler contracts
  crates/shift-backends/src/export.rs
  crates/shift-backends/src/shift2fontir/axes.rs
  crates/shift-backends/src/shift2fontir/glyph.rs
  crates/shift-backends/src/shift2fontir/kerning.rs
  crates/shift-backends/src/shift2fontir/metadata.rs
  crates/shift-backends/src/shift2fontir/mod.rs
  crates/shift-backends/src/shift2fontir/source.rs
  crates/shift-backends/src/shift2fontir/stat.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Remove File menu structure test
  apps/desktop/src/main/menu/menuItems.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Address axis authoring review feedback
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.test.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.ts
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
  apps/desktop/src/renderer/src/lib/text/layout/testUtils.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  apps/desktop/src/renderer/src/perf/workspaceApply.bench.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  crates/shift-backends/src/designspace/mod.rs
  crates/shift-backends/src/export.rs
  crates/shift-bridge/__test__/index.spec.mjs
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-cli/src/inspect.rs
  crates/shift-font/src/error.rs
  crates/shift-font/src/ir/axis.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/test_support.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/domain.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Move glyph interpolation into shift-font
  Cargo.lock
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/composite.rs
  crates/shift-font/src/interpolation.rs
  crates/shift-font/src/interpolation/values.rs
  crates/shift-font/src/ir/glyph.rs
  crates/shift-font/src/lib.rs
  crates/shift-font/src/projection.rs
  crates/shift-wire/Cargo.toml
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/interpolation.rs
  crates/shift-wire/src/lib.rs
  crates/shift-wire/src/state.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Move location equivalence into domain
  crates/shift-font/src/ir/axis.rs
  crates/shift-font/src/projection.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Clarify when tests add value
  .codex/skills/writing-tests/SKILL.md
  apps/desktop/src/renderer/src/lib/query/queryClient.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add TanStack Query foundation
  apps/desktop/package.json
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/lib/query/queryClient.test.ts
  apps/desktop/src/renderer/src/lib/query/queryClient.ts
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

Add batched glyph previews
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/home/GlyphPreview.tsx
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/signals/index.ts
  apps/desktop/src/renderer/src/lib/signals/useSignal.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  apps/desktop/src/shared/workspace/protocol.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/composite.rs
  crates/shift-wire/Cargo.toml
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/lib.rs
  crates/shift-wire/src/preview.rs
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Use Node 24 LTS
  .github/workflows/ci.yml
  .github/workflows/perf.yml
  .npmrc
  .nvmrc
  package.json
Due: prettier

Prefetch glyph previews while scrolling
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

Add settings controls and font metadata editing
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/FontStore.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceClient.ts
  apps/desktop/src/renderer/src/lib/workspace/WorkspaceEditCoordinator.ts
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/changes.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-store/src/change_set.rs
  crates/shift-store/tests/store_test.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
  packages/types/docs/DOCS.md
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
  packages/ui/docs/DOCS.md
  packages/ui/src/components/checkbox/Checkbox.tsx
  packages/ui/src/components/checkbox/index.ts
  packages/ui/src/components/field/Field.tsx
  packages/ui/src/components/field/index.ts
  packages/ui/src/components/number-field/NumberField.tsx
  packages/ui/src/components/number-field/index.ts
  packages/ui/src/components/select/Select.tsx
  packages/ui/src/components/select/index.ts
  packages/ui/src/components/tabs/Tabs.tsx
  packages/ui/src/components/tabs/index.ts
  packages/ui/src/components/textarea/Textarea.tsx
  packages/ui/src/components/textarea/index.ts
  packages/ui/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Interpolate glyph guides at the design location
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
  apps/desktop/src/renderer/src/lib/nodes/GlyphNodeDefinition.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Polish settings workflows and close recovery
  AGENTS.md
  apps/desktop/package.json
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/workspace/WorkspaceProcess.test.ts
  apps/desktop/src/main/workspace/WorkspaceProcess.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/components/chrome/NavigationPane.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/AxesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/AxisDefinitionPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/AxisMappingPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/AxisStylesPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/FontSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/MappingGraph.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SettingsDialog.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SettingsNumberField.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SettingsSidebar.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SourcesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/types.ts
  apps/desktop/src/renderer/src/components/chrome/settings/useAxisDraft.ts
  apps/desktop/src/renderer/src/components/chrome/settings/useSettingsForm.ts
  apps/desktop/src/renderer/src/components/editor/LeftSidebar.tsx
  apps/desktop/src/renderer/src/components/home/LeftSidebar.tsx
  apps/desktop/src/renderer/src/components/sidebar/SidebarActionRow.tsx
  apps/desktop/src/renderer/src/components/variation/AxesPanel.tsx
  apps/desktop/src/renderer/src/components/variation/CreateAxisDialog.tsx
  apps/desktop/src/renderer/src/components/variation/CreateAxisMenu.tsx
  apps/desktop/src/renderer/src/components/variation/Sources.tsx
  apps/desktop/src/renderer/src/context/SettingsNavigationContext.ts
  apps/desktop/src/renderer/src/context/SettingsNavigationProvider.tsx
  apps/desktop/src/renderer/src/lib/variation/axisPresets.test.ts
  apps/desktop/src/renderer/src/lib/variation/axisPresets.ts
  apps/desktop/src/renderer/src/lib/variation/registeredAxes.test.ts
  apps/desktop/src/renderer/src/lib/variation/registeredAxes.ts
  apps/desktop/src/renderer/src/types/settings.ts
  package.json
  packages/ui/src/components/tabs/Tabs.tsx
  pnpm-lock.yaml
  turbo.json
Due: prettier, oxlint, tsgo-typecheck, vitest

Add named instance authoring UI
  apps/desktop/src/renderer/src/assets/settings/instances.svg
  apps/desktop/src/renderer/src/components/chrome/settings/InstancesSettingsPanel.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SettingsDialog.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SettingsPlaceholder.tsx
  apps/desktop/src/renderer/src/components/chrome/settings/SettingsSidebar.tsx
  apps/desktop/src/renderer/src/components/editor/LeftSidebar.tsx
  apps/desktop/src/renderer/src/components/home/LeftSidebar.tsx
  apps/desktop/src/renderer/src/components/variation/CreateInstanceMenu.tsx
  apps/desktop/src/renderer/src/components/variation/Instances.tsx
  apps/desktop/src/renderer/src/components/variation/InstancesSection.tsx
  apps/desktop/src/renderer/src/components/variation/instanceCreation.test.ts
  apps/desktop/src/renderer/src/components/variation/instanceCreation.ts
  apps/desktop/src/renderer/src/hooks/useNamedInstances.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/types/settings.ts
  apps/desktop/src/renderer/src/types/variation.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Interpolate text run advances
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
  apps/desktop/src/renderer/src/lib/text/TextRun.ts
  apps/desktop/src/renderer/src/lib/text/layout/Positioner.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Import Designspace named instances
  crates/shift-backends/src/designspace/error.rs
  crates/shift-backends/src/designspace/mod.rs
  crates/shift-backends/src/designspace/reader.rs
  crates/shift-backends/src/designspace/writer.rs
  crates/shift-backends/tests/loading.rs
  crates/shift-font/src/ir/axis.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
