Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

.pre-commit-config.yaml:

repos:
  # Standard file hygiene
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  # Rust hooks
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: cargo test --workspace
        language: system
        types: [rust]
        pass_filenames: false

  # TypeScript/JavaScript hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: pnpm prettier --write --ignore-unknown
        language: system
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]

      - id: oxlint
        name: oxlint
        entry: pnpm lint:check
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

      - id: tsgo-typecheck
        name: tsgo typecheck
        entry: pnpm typecheck
        language: system
        types_or: [ts, tsx]
        pass_filenames: false

      - id: vitest
        name: vitest
        entry: pnpm test
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

Migrate legacy mock-based tests; add broader oxlint rule
  .claude/skills/writing-tests/SKILL.md
  apps/desktop/.oxlintrc.json
  apps/desktop/src/renderer/src/lib/editor/lifecycle.test.ts
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.test.ts
  apps/desktop/src/renderer/src/lib/reactive/signal.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/BaseTool.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout.test.ts
  scripts/oxlint/shift-plugin.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

Rename SelectionManager.test.ts → types/selection.test.ts
  apps/desktop/src/renderer/src/types/selection.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add oxlint no-vi-stub-global-in-tests; migrate EdgePanManager test
  apps/desktop/.oxlintrc.json
  apps/desktop/src/renderer/src/lib/editor/managers/EdgePanManager.test.ts
  scripts/oxlint/shift-plugin.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

Add /writing-tests skill; collapse Claude.md Testing to a pointer
  .claude/skills/writing-tests/SKILL.md
  Claude.md
Due: prettier

refactor: more leaky -Result names; restore vendor path; fix hook glob
  .pre-commit-config.yaml
  apps/desktop/src/renderer/src/lib/editor/managers/SnapManager.ts
  apps/desktop/src/renderer/src/lib/editor/snapping/SnapPipelineRunner.ts
  apps/desktop/src/renderer/src/lib/editor/snapping/types.ts
  packages/geo/docs/DOCS.md
  packages/geo/src/Curve.ts
  packages/geo/src/index.ts
  packages/glyph-info/scripts/generate.ts
  packages/glyph-info/src/GlyphInfo.ts
  packages/glyph-info/src/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

format: prettier fixes for MenuManager, DragHandlesBehaviour, persistence.test
  apps/desktop/src/main/managers/MenuManager.ts
  apps/desktop/src/renderer/src/lib/tools/pen/behaviors/DragHandlesBehaviour.ts
  packages/validation/src/persistence.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: reactive GlyphView for grid + variation interpolation
  apps/desktop/src/renderer/src/bridge/NativeBridge.ts
  apps/desktop/src/renderer/src/components/home/GlyphPreview.tsx
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/GlyphView.ts
  apps/desktop/src/renderer/src/lib/reactive/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/reactive/signal.test.ts
  apps/desktop/src/renderer/src/lib/reactive/signal.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout.ts
  apps/desktop/src/renderer/src/lib/utils/LruCache.test.ts
  apps/desktop/src/renderer/src/lib/utils/LruCache.ts
  crates/shift-core/src/snapshot.rs
  crates/shift-node/index.d.ts
  crates/shift-node/src/font_engine.rs
  packages/types/src/font.ts
  packages/types/src/generated/Component.ts
  packages/types/src/generated/GlyphData.ts
  packages/types/src/generated/index.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

test: GlyphView interpolation against MutatorSans
  apps/desktop/src/renderer/src/lib/model/GlyphView.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: canvas interpolates composite components on slider scrub
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphView.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphView.ts
  apps/desktop/src/renderer/src/testing/fixtures.ts
  apps/desktop/src/renderer/src/testing/index.ts
  packages/font/src/Glyph.test.ts
  packages/font/src/GlyphGeometry.test.ts
  packages/font/src/GlyphGeometry.ts
  packages/types/src/domain.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

add variation cache to the editor, fix bug where edit sessions did not have current variation when opening a new glyph for editing
  apps/desktop/src/renderer/src/components/editor/EditorView.tsx
  apps/desktop/src/renderer/src/hooks/useApplyVariation.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/variation.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphView.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat: text-system rewrite — bottom-up rebuild around Cell + TextRun
  apps/desktop/src/renderer/src/components/editor/HiddenTextInput.tsx
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/hit/composite.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/GlyphView.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/TextRunEdit.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/TextRunHover.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/Text.ts
  apps/desktop/src/renderer/src/lib/tools/text/TextBuffer.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/TextBuffer.ts
  apps/desktop/src/renderer/src/lib/tools/text/TextInteraction.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/TextInteraction.ts
  apps/desktop/src/renderer/src/lib/tools/text/TextRun.ts
  apps/desktop/src/renderer/src/lib/tools/text/TextRunController.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/TextRunController.ts
  apps/desktop/src/renderer/src/lib/tools/text/TextRuns.ts
  apps/desktop/src/renderer/src/lib/tools/text/behaviors/TypingBehaviour.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout/Caret.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout/Caret.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout/Positioner.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout/Positioner.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout/TextLayout.test.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout/TextLayout.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout/index.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout/testUtils.ts
  apps/desktop/src/renderer/src/lib/tools/text/layout/types.ts
  apps/desktop/src/renderer/src/lib/utils/unicode.test.ts
  apps/desktop/src/renderer/src/lib/utils/unicode.ts
  packages/validation/src/persistence.test.ts
  packages/validation/src/persistence.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

chore: add commit skill
  .claude/skills/commit/SKILL.md
Due: prettier

chore: reorder type exports in domain.ts
  packages/types/src/domain.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test: cover Editor shouldRenderGlyph + glyph focus placement
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Unify glyph instance editing surface
  apps/desktop/src/renderer/src/components/debug/DebugPanel.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/AnchorSection.tsx
  apps/desktop/src/renderer/src/components/editor/sidebar-right/GlyphSection.tsx
  apps/desktop/src/renderer/src/components/home/LeftSidebar.tsx
  apps/desktop/src/renderer/src/hooks/useDesignLocation.ts
  apps/desktop/src/renderer/src/hooks/useGlyphSidebearings.ts
  apps/desktop/src/renderer/src/hooks/useGlyphXAdvance.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/RenderFrame.ts
  apps/desktop/src/renderer/src/lib/editor/rendering/overlays/Handles.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/lib/model/GlyphSourceState.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphSourceState.ts
  apps/desktop/src/renderer/src/lib/tools/pen/PenStroke.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/BendCurve.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Marquee.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Resize.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Rotate.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/SegmentDoubleClick.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/SelectHover.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Selection.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/ToggleSmooth.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/Translate.ts
  apps/desktop/src/renderer/src/lib/tools/select/behaviors/UpgradeSegment.ts
  apps/desktop/src/renderer/src/perf/napiBoundary.bench.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/testing/pointMark.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
  apps/desktop/src/renderer/src/views/Home.tsx
  packages/ui/src/components/resizable/Resizable.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

Expose editor gesture state
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/EditorState.ts
  apps/desktop/src/renderer/src/lib/editor/managers/EdgePanManager.test.ts
  apps/desktop/src/renderer/src/lib/editor/managers/EdgePanManager.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.test.ts
  apps/desktop/src/renderer/src/lib/tools/core/ToolManager.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix: re-export dialog icon from ui
  apps/desktop/src/renderer/src/components/chrome/FontInfoDialog.tsx
  packages/ui/docs/DOCS.md
  packages/ui/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Add designspace dogfood save flow
  Cargo.lock
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/managers/DocumentState.ts
  apps/desktop/src/main/managers/MenuManager.ts
  apps/desktop/src/main/managers/openFontPath.test.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.test.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.ts
  apps/desktop/src/renderer/src/persistence/kernel.ts
  apps/desktop/src/renderer/src/store/store.ts
  apps/desktop/src/renderer/src/views/Landing.tsx
  apps/desktop/src/renderer/src/views/RecentFiles.tsx
  apps/desktop/src/shared/ipc/channels.ts
  apps/desktop/src/shared/ipc/electronAPI.ts
  crates/shift-backends/Cargo.toml
  crates/shift-backends/docs/DOCS.md
  crates/shift-backends/src/binary/reader.rs
  crates/shift-backends/src/designspace/error.rs
  crates/shift-backends/src/designspace/mod.rs
  crates/shift-backends/src/designspace/reader.rs
  crates/shift-backends/src/designspace/writer.rs
  crates/shift-backends/src/errors.rs
  crates/shift-backends/src/font_loader.rs
  crates/shift-backends/src/format.rs
  crates/shift-backends/src/glyphs/reader.rs
  crates/shift-backends/src/lib.rs
  crates/shift-backends/src/traits.rs
  crates/shift-backends/src/ufo/mod.rs
  crates/shift-backends/src/ufo/reader.rs
  crates/shift-backends/src/ufo/writer.rs
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-bridge/src/errors.rs
  packages/types/src/bridge/generated.ts
  packages/ui/src/components/button/Button.tsx
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

Add new glyph dialog
  apps/desktop/src/main/logger.ts
  apps/desktop/src/main/managers/MenuManager.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/app/WorkspaceLayout.tsx
  apps/desktop/src/renderer/src/components/chrome/NewGlyphDialog.tsx
  apps/desktop/src/renderer/src/components/editor/EditorView.tsx
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/home/GlyphPreview.tsx
  apps/desktop/src/renderer/src/components/home/glyph-catalog/GlyphCatalog.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogContext.tsx
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/views/Editor.tsx
  apps/desktop/src/shared/ipc/channels.ts
  apps/desktop/src/shared/ipc/electronAPI.ts
  packages/glyph-info/src/GlyphInfo.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(store): create crate, scaffolding and add minimal glyph table
  Cargo.lock
  Cargo.toml
  crates/shift-store/Cargo.toml
  crates/shift-store/README.md
  crates/shift-store/src/connection.rs
  crates/shift-store/src/error.rs
  crates/shift-store/src/glyph.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/schema.rs
  crates/shift-store/src/store.rs
  crates/shift-store/src/types.rs
  crates/shift-store/tests/store_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat(store): add axes, sources and source locations
  crates/shift-store/src/error.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/schema.rs
  crates/shift-store/src/source.rs
  crates/shift-store/src/types.rs
  crates/shift-store/tests/store_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(store): add glyph layers and components
  crates/shift-store/src/component.rs
  crates/shift-store/src/layer.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/schema.rs
  crates/shift-store/src/types.rs
  crates/shift-store/tests/store_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Update README.md
  README.md
Due: prettier

feat(store): add font info tables and tests
  crates/shift-store/src/font.rs
  crates/shift-store/src/lib.rs
  crates/shift-store/src/schema.rs
  crates/shift-store/tests/store_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(document): introduce rust side document crate to unify lower level crates
  Cargo.lock
  Cargo.toml
  crates/shift-document/Cargo.toml
  crates/shift-document/README.md
  crates/shift-document/src/document.rs
  crates/shift-document/src/error.rs
  crates/shift-document/src/lib.rs
  crates/shift-document/src/new_document.rs
  crates/shift-document/tests/document_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

refactor(persistence): this was way to bloated and premature
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/app/Document.test.ts
  apps/desktop/src/renderer/src/app/Document.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/signals/docs/DOCS.md
  apps/desktop/src/renderer/src/lib/state/ShiftState.test.ts
  apps/desktop/src/renderer/src/lib/state/ShiftState.ts
  apps/desktop/src/renderer/src/persistence/index.ts
  apps/desktop/src/renderer/src/persistence/kernel.ts
  apps/desktop/src/renderer/src/persistence/module.ts
  apps/desktop/src/renderer/src/persistence/modules/toolState.ts
  apps/desktop/src/renderer/src/persistence/types.ts
  apps/desktop/src/renderer/src/store/store.ts
  apps/desktop/src/renderer/src/views/RecentFiles.tsx
  packages/validation/docs/DOCS.md
  packages/validation/src/index.ts
  packages/validation/src/persistence.test.ts
  packages/validation/src/persistence.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(font): start merging of shift-ir and shift-edit into shift-font
  Cargo.lock
  Cargo.toml
  crates/shift-font/Cargo.toml
  crates/shift-font/src/ir/anchor.rs
  crates/shift-font/src/ir/axis.rs
  crates/shift-font/src/ir/boolean.rs
  crates/shift-font/src/ir/component.rs
  crates/shift-font/src/ir/contour.rs
  crates/shift-font/src/ir/entity.rs
  crates/shift-font/src/ir/features.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/glyph.rs
  crates/shift-font/src/ir/glyph_name.rs
  crates/shift-font/src/ir/guideline.rs
  crates/shift-font/src/ir/kerning.rs
  crates/shift-font/src/ir/layer.rs
  crates/shift-font/src/ir/lib_data.rs
  crates/shift-font/src/ir/metrics.rs
  crates/shift-font/src/ir/mod.rs
  crates/shift-font/src/ir/point.rs
  crates/shift-font/src/ir/segment.rs
  crates/shift-font/src/ir/source.rs
  crates/shift-font/src/ir/variation.rs
  crates/shift-font/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

random: add some more pen tests, small todos and cut bloat in test editor
  apps/desktop/src/main/managers/AppLifecycle.ts
  apps/desktop/src/renderer/src/app/App.tsx
  apps/desktop/src/renderer/src/lib/clipboard/Clipboard.test.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/tools/core/GestureDetector.ts
  apps/desktop/src/renderer/src/lib/tools/pen/Pen.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/Select.ts
  apps/desktop/src/renderer/src/perf/interaction.bench.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(crates): add new workspace and source crates
  Cargo.lock
  Cargo.toml
  crates/shift-source/Cargo.toml
  crates/shift-source/docs/DOCS.md
  crates/shift-source/src/lib.rs
  crates/shift-source/src/package.rs
  crates/shift-source/tests/package_test.rs
  crates/shift-workspace/Cargo.toml
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/lib.rs
  crates/shift-workspace/src/new_workspace.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
  docs/architecture/index.md
  scripts/context-drift-check.py
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat(workspace): add capabilities for importing/exporting formats in workspace
  Cargo.lock
  crates/shift-source/src/package.rs
  crates/shift-workspace/Cargo.toml
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/lib.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/workspace_test.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier

feat(workspace): make bridge carry the workspace
  Cargo.lock
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/managers/AppLifecycle.ts
  apps/desktop/src/main/managers/DocumentState.ts
  apps/desktop/src/main/managers/openFontPath.test.ts
  apps/desktop/src/main/managers/openFontPath.ts
  apps/desktop/src/renderer/src/app/Document.test.ts
  apps/desktop/src/renderer/src/app/Document.ts
  apps/desktop/src/renderer/src/lib/commands/primitives/ApplyPositionPatchCommand.test.ts
  apps/desktop/src/renderer/src/lib/commands/testUtils.ts
  apps/desktop/src/renderer/src/lib/editor/Editor.ts
  apps/desktop/src/renderer/src/lib/editor/SourceEditDraft.test.ts
  apps/desktop/src/renderer/src/lib/editor/variation.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/model/Font.ts
  apps/desktop/src/renderer/src/lib/model/Glyph.test.ts
  apps/desktop/src/renderer/src/lib/text/layout/testUtils.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  apps/desktop/src/renderer/src/testing/index.ts
  apps/desktop/src/renderer/src/testing/workspacePaths.ts
  crates/shift-bridge/Cargo.toml
  crates/shift-bridge/__test__/index.spec.mjs
  crates/shift-bridge/docs/DOCS.md
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-bridge/src/errors.rs
  crates/shift-workspace/src/lib.rs
  crates/shift-workspace/src/workspace.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest
