Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

refactor(text): read run items by node and type item glyph names
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/nodes/TextRunNodeDefinition.ts
  packages/editor/src/lib/text/Text.ts
  packages/editor/src/lib/text/TextEditing.ts
  packages/editor/src/lib/text/layout/Positioner.ts
  packages/editor/src/lib/text/layout/types.ts
  packages/editor/src/lib/tools/text/Text.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): resolve layers and glyphs through font ownership
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/editor/sidebarActions.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/editor/MultiSourceEditing.ts
  packages/editor/src/lib/model/Font.ts
  packages/editor/src/lib/model/FontStore.ts
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
  packages/editor/src/lib/tools/select/behaviors/SegmentDoubleClick.ts
  packages/editor/src/lib/tools/shape/ShapeTool.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

test(desktop): expect structural glyph projection
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): resolve glyph targets where they are used
  apps/desktop/e2e/glyph-view.spec.ts
  apps/desktop/src/renderer/src/components/editor/ComponentPickerDialog.tsx
  apps/desktop/src/renderer/src/context/SettingsNavigationProvider.tsx
  apps/desktop/src/renderer/src/lib/editor/GlyphMetrics.test.ts
  apps/desktop/src/renderer/src/lib/editor/SidebarGlyphs.test.ts
  apps/desktop/src/renderer/src/lib/editor/sidebarActions.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerGeometry.test.ts
  apps/desktop/src/renderer/src/lib/workspace/FreshReopen.test.ts
  apps/desktop/src/renderer/src/lib/workspace/VariableFreshReopen.test.ts
  packages/editor/src/lib/editor/Editing.ts
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/text/Text.ts
  packages/editor/src/lib/text/TextEditing.ts
  packages/editor/src/lib/tools/pen/Pen.ts
  packages/editor/src/lib/tools/shape/ShapeTool.ts
  packages/editor/src/ui.ts
  packages/editor/src/ui/GlyphSidebar.tsx
  packages/editor/src/ui/glyphTargets.ts
  packages/editor/src/ui/types.ts
  packages/editor/src/ui/useGlyphMetrics.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): describe the active tool's subject in the inspector
  apps/desktop/src/renderer/src/lib/editor/GlyphMetrics.test.ts
  apps/desktop/src/renderer/src/lib/editor/Inspector.test.ts
  apps/desktop/src/renderer/src/lib/model/GlyphLayerGeometry.test.ts
  apps/desktop/src/renderer/src/lib/workspace/FreshReopen.test.ts
  apps/desktop/src/renderer/src/lib/workspace/VariableFreshReopen.test.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/inspector/glyphMetricsTarget.ts
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
  packages/editor/src/lib/nodes/NodeDefinition.ts
  packages/editor/src/lib/nodes/TextRunNodeDefinition.ts
  packages/editor/src/lib/tools/core/BaseTool.ts
  packages/editor/src/lib/tools/select/Select.ts
  packages/editor/src/lib/tools/text/Text.ts
  packages/editor/src/types.ts
  packages/editor/src/types/inspector.ts
  packages/editor/src/ui.ts
  packages/editor/src/ui/GlyphSidebar.tsx
  packages/editor/src/ui/glyphTargets.ts
  packages/editor/src/ui/types.ts
  packages/editor/src/ui/useGlyphMetrics.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

docs(architecture): record inspector subjects as ADR 0002
  docs/architecture/decisions/0002-inspector-subjects.md
  docs/architecture/index.md
Due: prettier

docs(architecture): drop the inspector subjects ADR
  docs/architecture/decisions/0002-inspector-subjects.md
  docs/architecture/index.md
Due: prettier

docs(editor): drop references to the removed ADR
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/nodes/NodeDefinition.ts
  packages/editor/src/lib/tools/core/BaseTool.ts
  packages/editor/src/types/inspector.ts
  packages/editor/src/ui/GlyphSidebar.tsx
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

docs(editor): describe inspector subjects and sections
  packages/editor/src/lib/editor/docs/DOCS.md
Due: prettier

refactor(editor): add per-record reads and incremental indexes to the store
  packages/editor/src/lib/store/ShiftStore.test.ts
  packages/editor/src/lib/store/ShiftStore.ts
  packages/editor/src/lib/store/StoreIndex.ts
  packages/editor/src/types/store.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): find dependent nodes and run items through store indexes
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/editor/Scene.ts
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
  packages/editor/src/lib/nodes/NodeDefinition.ts
  packages/editor/src/lib/nodes/TextRunNodeDefinition.ts
  packages/editor/src/lib/text/Text.ts
  packages/editor/src/lib/text/TextEditing.ts
  packages/editor/src/types/records.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

perf(editor): rebuild the scene only when node records change
  packages/editor/src/lib/editor/Scene.ts
  packages/editor/src/lib/store/ShiftStore.test.ts
  packages/editor/src/lib/store/ShiftStore.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

docs(editor): describe store reads and node references
  packages/editor/src/lib/editor/docs/DOCS.md
Due: prettier

feat(cli): expand atomic font authoring (#507)
  Cargo.lock
  ROADMAP.md
  apps/desktop/e2e/application-menu.spec.ts
  crates/shift-cli/Cargo.toml
  crates/shift-cli/README.md
  crates/shift-cli/src/authoring.rs
  crates/shift-cli/src/authoring/axis.rs
  crates/shift-cli/src/authoring/font_info.rs
  crates/shift-cli/src/authoring/font_info/report.rs
  crates/shift-cli/src/authoring/glyph.rs
  crates/shift-cli/src/authoring/glyph_batch.rs
  crates/shift-cli/src/authoring/input.rs
  crates/shift-cli/src/authoring/instance.rs
  crates/shift-cli/src/authoring/instance/report.rs
  crates/shift-cli/src/authoring/layer_payload.rs
  crates/shift-cli/src/authoring/report.rs
  crates/shift-cli/src/cli.rs
  crates/shift-cli/src/cli/font.rs
  crates/shift-cli/src/cli/variation.rs
  crates/shift-cli/src/main.rs
  crates/shift-cli/tests/axis_set_cli.rs
  crates/shift-cli/tests/font_info_cli.rs
  crates/shift-cli/tests/glyph_authoring_cli.rs
  crates/shift-cli/tests/glyph_set_cli.rs
  crates/shift-cli/tests/instance_cli.rs
  crates/shift-cli/tests/support/mod.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/intents.rs
  crates/shift-font/src/intents/replacement_tests.rs
  crates/shift-font/src/ir/axis.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/ir/font/axis_authoring_tests.rs
  crates/shift-font/src/ir/glyph.rs
  crates/shift-workspace/Cargo.toml
  crates/shift-workspace/docs/DOCS.md
  crates/shift-workspace/src/ledger.rs
  crates/shift-workspace/src/workspace.rs
  crates/shift-workspace/tests/layer_replacement.rs
  crates/shift-workspace/tests/variation_authoring.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

chore(bridge): regenerate bridge types after reversible changesets
  crates/shift-bridge/index.d.ts
  packages/types/src/bridge/generated.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): keep the Text tool available when previewing fonts
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/tools.ts
  packages/editor/src/lib/tools/docs/DOCS.md
Due: prettier, oxlint, tsgo-typecheck, vitest

perf(editor): index store records and rebuild the scene only on node changes (#517)
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/editor/Scene.ts
  packages/editor/src/lib/editor/docs/DOCS.md
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
  packages/editor/src/lib/nodes/NodeDefinition.ts
  packages/editor/src/lib/nodes/TextRunNodeDefinition.ts
  packages/editor/src/lib/store/ShiftStore.test.ts
  packages/editor/src/lib/store/ShiftStore.ts
  packages/editor/src/lib/store/StoreIndex.ts
  packages/editor/src/lib/text/Text.ts
  packages/editor/src/lib/text/TextEditing.ts
  packages/editor/src/types/records.ts
  packages/editor/src/types/store.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(text): read run items by node and type item glyph names (#521)
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/nodes/TextRunNodeDefinition.ts
  packages/editor/src/lib/text/Text.ts
  packages/editor/src/lib/text/TextEditing.ts
  packages/editor/src/lib/text/layout/Positioner.ts
  packages/editor/src/lib/text/layout/types.ts
  packages/editor/src/lib/tools/text/Text.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): resolve layers and glyphs through font ownership (#522)
  apps/desktop/src/renderer/src/lib/editor/Editor.test.ts
  apps/desktop/src/renderer/src/lib/editor/sidebarActions.ts
  apps/desktop/src/renderer/src/testing/TestEditor.ts
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/editor/MultiSourceEditing.ts
  packages/editor/src/lib/model/Font.ts
  packages/editor/src/lib/model/FontStore.ts
  packages/editor/src/lib/nodes/GlyphNodeDefinition.ts
  packages/editor/src/lib/tools/select/behaviors/SegmentDoubleClick.ts
  packages/editor/src/lib/tools/shape/ShapeTool.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(editor): keep anchors and components with the outline on LSB edits
  apps/desktop/src/renderer/src/lib/model/GlyphLayerGeometry.test.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/layer_edit.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  packages/editor/src/lib/model/Glyph.ts
  packages/editor/src/lib/model/GlyphLayerState.ts
  packages/editor/src/lib/model/LayerBuffers.ts
  packages/editor/src/lib/workspace/LayerIntents.ts
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): read every point and anchor position directly
  packages/editor/src/lib/model/AnchorBuffer.ts
  packages/editor/src/lib/model/ContourBuffer.ts
  packages/editor/src/lib/model/LayerBuffers.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): keep the Text tool available when previewing fonts (#529)
  apps/desktop/src/renderer/src/lib/tools/select/Select.test.ts
  apps/desktop/src/renderer/src/lib/tools/tools.ts
  crates/shift-bridge/index.d.ts
  packages/editor/src/lib/tools/docs/DOCS.md
  packages/types/src/bridge/generated.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

chore(sdk): refresh the API report after rebasing
  packages/sdk/api/index.api.md
Due: prettier

fix(editor): keep anchors and components with the outline on LSB edits (#531)
  apps/desktop/src/renderer/src/lib/model/GlyphLayerGeometry.test.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/intents.rs
  crates/shift-font/src/layer_edit.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  packages/editor/src/lib/model/AnchorBuffer.ts
  packages/editor/src/lib/model/ContourBuffer.ts
  packages/editor/src/lib/model/Glyph.ts
  packages/editor/src/lib/model/GlyphLayerState.ts
  packages/editor/src/lib/model/LayerBuffers.ts
  packages/editor/src/lib/workspace/LayerIntents.ts
  packages/sdk/api/index.api.md
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

fix(editor): name the glyph the sidebar shows, not the one opened
  apps/desktop/src/renderer/src/components/editor/RightSidebar.tsx
  packages/editor/src/ui/GlyphSidebar.tsx
  packages/sdk/api/ui.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): keep keys a canvas tool handles from acting natively
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.test.ts
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): add a Spacing tool for adjusting sidebearings in proof text
  apps/desktop/e2e/fixtures/EditorDriver.ts
  apps/desktop/e2e/spacing.spec.ts
  apps/desktop/playwright.config.ts
  apps/desktop/src/renderer/index.css
  apps/desktop/src/renderer/public/cursors/cursor@32-vertical.svg
  apps/desktop/src/renderer/public/cursors/cursor@64-vertical.svg
  apps/desktop/src/renderer/src/assets/spacing/lsb.svg
  apps/desktop/src/renderer/src/assets/spacing/rsb.svg
  apps/desktop/src/renderer/src/assets/toolbar/spacing.svg
  apps/desktop/src/renderer/src/components/editor/Canvas.tsx
  apps/desktop/src/renderer/src/components/spacing/SpacingValuePopover.tsx
  apps/desktop/src/renderer/src/lib/styles/cursor.test.ts
  apps/desktop/src/renderer/src/lib/themes/index.ts
  apps/desktop/src/renderer/src/lib/tools/spacing/Spacing.test.ts
  apps/desktop/src/renderer/src/lib/tools/tools.ts
  packages/editor/src/lib/editor/rendering/Theme.ts
  packages/editor/src/lib/model/Glyph.ts
  packages/editor/src/lib/model/SidebearingEdit.ts
  packages/editor/src/lib/nodes/TextRunNodeDefinition.ts
  packages/editor/src/lib/styles/cursor.ts
  packages/editor/src/lib/text/docs/DOCS.md
  packages/editor/src/lib/tools/core/ToolStateMap.ts
  packages/editor/src/lib/tools/core/createContext.ts
  packages/editor/src/lib/tools/docs/DOCS.md
  packages/editor/src/lib/tools/spacing/Spacing.ts
  packages/editor/src/lib/tools/spacing/SpacingGapOverlay.ts
  packages/editor/src/lib/tools/spacing/SpacingLabel.ts
  packages/editor/src/lib/tools/spacing/behaviors.ts
  packages/editor/src/lib/tools/spacing/index.ts
  packages/editor/src/lib/tools/spacing/types.ts
  packages/editor/src/tools.ts
  packages/editor/src/types/editor.ts
  packages/editor/src/types/spacing.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(editor): give Spacing tool logic domain owners
  packages/editor/src/lib/model/SidebearingEdit.ts
  packages/editor/src/lib/tools/docs/DOCS.md
  packages/editor/src/lib/tools/spacing/RunSpacing.ts
  packages/editor/src/lib/tools/spacing/SnapTargets.ts
  packages/editor/src/lib/tools/spacing/Spacing.ts
  packages/editor/src/lib/tools/spacing/SpacingGapOverlay.ts
  packages/editor/src/lib/tools/spacing/SpacingLabel.ts
  packages/editor/src/lib/tools/spacing/behaviors.ts
  packages/editor/src/lib/tools/spacing/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): click away from the pill to select a spacing half
  apps/desktop/e2e/spacing.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): move editor-state E2E checks into TestEditor tests
  apps/desktop/e2e/deletion.spec.ts
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/e2e/glyph-view.spec.ts
  apps/desktop/src/renderer/src/lib/editor/EditorZoom.test.ts
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): move editor-state checks into TestEditor tests (#537)
  apps/desktop/e2e/deletion.spec.ts
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/e2e/glyph-view.spec.ts
  apps/desktop/src/renderer/src/lib/editor/EditorZoom.test.ts
  apps/desktop/src/renderer/src/lib/keyboard/KeyboardRouter.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(interpolation): restore interpolation for mapped weight axes
  apps/desktop/e2e/variation-outlines.spec.ts
  apps/desktop/src/renderer/src/lib/interpolation/InterpolationBasis.test.ts
  apps/desktop/src/renderer/src/lib/model/variation.test.ts
  apps/desktop/src/renderer/src/lib/slug/SlugAtlas.test.ts
  apps/desktop/src/renderer/src/lib/workspace/FontSessionClient.ts
  crates/shift-backends/tests/native_document_export.rs
  crates/shift-bridge/index.d.ts
  crates/shift-cli/src/glyph_inspect/report.rs
  crates/shift-font/docs/DOCS.md
  crates/shift-font/src/changes.rs
  crates/shift-font/src/interpolation.rs
  crates/shift-font/src/interpolation/metrics.rs
  crates/shift-font/src/ir/mod.rs
  crates/shift-font/src/ir/variation.rs
  crates/shift-wire/src/bridges/napi/mod.rs
  crates/shift-wire/src/lib.rs
  fixtures/fonts/MappedWeight.glyphs
  packages/editor/src/lib/interpolation/InterpolationBasis.ts
  packages/editor/src/lib/interpolation/VariationBasis.ts
  packages/editor/src/lib/model/FontStore.ts
  packages/editor/src/lib/model/docs/DOCS.md
  packages/editor/src/testing/MemoryEditor.test.ts
  packages/sdk/api/index.api.md
  packages/types/src/bridge/generated.ts
  packages/types/src/bridge/index.ts
  packages/types/src/index.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

ci: run visual E2E in parallel and cache Linux display packages
  .github/workflows/ci.yml
  apps/desktop/e2e/README.md
  apps/desktop/playwright.config.ts
  scripts/run-e2e.mjs
Due: prettier, oxlint, tsgo-typecheck, vitest

test(e2e): wait for the editor before leaving it in the renderer test
  apps/desktop/e2e/home.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: keep visual results when macOS runs platform tests after them
  .github/workflows/ci.yml
  apps/desktop/e2e/preview-notice.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
