Repository shift-editor/shift: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --workspace
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: pnpm prettier --write --ignore-unknown
  language: system

oxlint:
  name: oxlint
  entry: pnpm lint:check
  language: system
  pass_filenames: false

tsgo-typecheck:
  name: tsgo typecheck
  entry: pnpm typecheck
  language: system
  pass_filenames: false

vitest:
  name: vitest
  entry: pnpm test
  language: system
  pass_filenames: false

perf(editor): keep large multi-source transforms responsive
  apps/desktop/e2e/glyph-rendering.spec.ts
  apps/desktop/e2e/multi-source-perf.spec.ts
  apps/desktop/playwright.config.ts
  apps/desktop/src/renderer/src/lib/editor/HandleItems.test.ts
  crates/shift-font/src/layer_edit.rs
  packages/editor/src/lib/editor/rendering/Canvas.ts
  packages/editor/src/lib/editor/rendering/markers/handleStyles.ts
  packages/editor/src/lib/model/docs/DOCS.md
  packages/editor/src/lib/signals/docs/DOCS.md
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

perf(editor): keep large object trees responsive
  .agents/skills/ui/SKILL.md
  .agents/skills/writing-e2e-tests/SKILL.md
  .claude/skills/ui/SKILL.md
  .claude/skills/writing-e2e-tests/SKILL.md
  .codex/skills/ui/SKILL.md
  .codex/skills/writing-e2e-tests/SKILL.md
  apps/desktop/e2e/editor.spec.ts
  apps/desktop/e2e/perf.spec.ts
  apps/desktop/src/renderer/src/components/editor/LeftSidebar.tsx
  apps/desktop/src/renderer/src/components/editor/ObjectsPanel.tsx
  apps/desktop/src/renderer/src/components/editor/object-tree/ObjectRow.tsx
  apps/desktop/src/renderer/src/components/editor/object-tree/VirtualObjectRows.tsx
  apps/desktop/src/renderer/src/components/editor/object-tree/flattenVisibleObjectRows.test.ts
  apps/desktop/src/renderer/src/components/editor/object-tree/flattenVisibleObjectRows.ts
  apps/desktop/src/renderer/src/types/objectTree.ts
  packages/editor/src/ui/SidebarActionRow.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

build(sdk): refresh generated API report
  packages/sdk/api/index.api.md
Due: prettier

docs: rewrite the README for the alpha release
  README.md
Due: prettier

docs: simplify the README intro and list formats in the status table
  README.md
Due: prettier

docs: rewrite the README for the alpha release (#481)
  README.md
Due: prettier

feat(editor): decompose and nudge components, delete anchors
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/renderer/src/components/editor/CanvasContextMenu.tsx
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.ts
  apps/desktop/src/renderer/src/lib/editor/Deletion.test.ts
  apps/desktop/src/renderer/src/lib/model/ComponentEditing.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectNudge.test.ts
  apps/desktop/src/shared/commands.ts
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/editor/docs/DOCS.md
  packages/editor/src/lib/tools/select/behaviors/Nudge.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(editor): decompose and nudge components, delete anchors (#482)
  apps/desktop/src/main/commands/Commands.ts
  apps/desktop/src/main/menu/ApplicationMenu.ts
  apps/desktop/src/renderer/src/components/editor/CanvasContextMenu.tsx
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.ts
  apps/desktop/src/renderer/src/lib/editor/Deletion.test.ts
  apps/desktop/src/renderer/src/lib/model/ComponentEditing.test.ts
  apps/desktop/src/renderer/src/lib/tools/select/SelectNudge.test.ts
  apps/desktop/src/shared/commands.ts
  packages/editor/src/lib/editor/Editor.ts
  packages/editor/src/lib/editor/docs/DOCS.md
  packages/editor/src/lib/tools/select/behaviors/Nudge.ts
  packages/sdk/api/index.api.md
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: resolve the release repository before checkout
  .github/workflows/release-desktop.yml
Due: none

ci: let the release check see draft releases
  .github/workflows/release-desktop.yml
Due: none

ci: let the release check find draft releases (#483)
  .github/workflows/release-desktop.yml
Due: none

feat(editor): show contour direction and first point in the object tree
  apps/desktop/src/renderer/src/assets/sidebar-left/first-point.svg
  apps/desktop/src/renderer/src/components/editor/ObjectsPanel.tsx
  apps/desktop/src/renderer/src/components/editor/object-tree/ObjectRow.tsx
  apps/desktop/src/renderer/src/components/editor/object-tree/VirtualObjectRows.tsx
  apps/desktop/src/renderer/src/components/editor/object-tree/createObjectTree.test.ts
  apps/desktop/src/renderer/src/components/editor/object-tree/createObjectTree.ts
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.ts
  apps/desktop/src/renderer/src/lib/nodes/GlyphHandleStates.test.ts
  apps/desktop/src/renderer/src/types/objectTree.ts
  packages/editor/src/lib/editor/rendering/overlays/handles/HandleItems.ts
  packages/ui/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

ci: time out stalled installs and jobs
  .github/workflows/ci.yml
Due: none

ci: time out stalled installs and jobs (#486)
  .github/workflows/ci.yml
Due: none

feat(editor): show contour direction and first point in the object tree (#485)
  apps/desktop/e2e/__screenshots__/editor.spec.ts/editor-glyph-A.png
  apps/desktop/e2e/__screenshots__/editor.spec.ts/objects-sidebar-selection.png
  apps/desktop/e2e/__screenshots__/editor.spec.ts/objects-sidebar.png
  apps/desktop/e2e/__screenshots__/theme.spec.ts/editor-shift-dark.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/Ellipse-committed.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/Rectangle-committed.png
  apps/desktop/e2e/__screenshots__/tools.spec.ts/tool-select.png
  apps/desktop/src/renderer/src/assets/sidebar-left/first-point.svg
  apps/desktop/src/renderer/src/components/editor/ObjectsPanel.tsx
  apps/desktop/src/renderer/src/components/editor/object-tree/ObjectRow.tsx
  apps/desktop/src/renderer/src/components/editor/object-tree/VirtualObjectRows.tsx
  apps/desktop/src/renderer/src/components/editor/object-tree/createObjectTree.test.ts
  apps/desktop/src/renderer/src/components/editor/object-tree/createObjectTree.ts
  apps/desktop/src/renderer/src/lib/commands/rendererCommands.ts
  apps/desktop/src/renderer/src/lib/nodes/GlyphHandleStates.test.ts
  apps/desktop/src/renderer/src/types/objectTree.ts
  packages/editor/src/lib/editor/rendering/overlays/handles/HandleItems.ts
  packages/ui/src/index.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(types): use canonical selectable identity
  apps/desktop/src/renderer/src/components/editor/object-tree/VirtualObjectRows.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): keep New and Open commands enabled without active windows
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Commands.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): show windows that open on an editor route
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): keep view resume until the renderer has restored it
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/update/AppUpdater.ts
  apps/desktop/src/main/update/types.ts
  apps/desktop/src/main/viewResume/persistViewResume.test.ts
  apps/desktop/src/main/viewResume/persistViewResume.ts
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(desktop): cover view resume across conversion, crash and relaunch
  apps/desktop/e2e/document-crash.spec.ts
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/document-recovery.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/fixtures/viewResume.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): finish restoring the view before enforcing the route
  apps/desktop/src/renderer/env.d.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/context/ViewResumeCaptureContext.ts
  apps/desktop/src/renderer/src/context/ViewResumeProvider.tsx
  apps/desktop/src/renderer/src/lib/workspace/resumeGlyph.test.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): restore last editing point across session interruptions
  apps/desktop/e2e/document-crash.spec.ts
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/document-recovery.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/document/DocumentSession.ts
  apps/desktop/src/main/viewResume/persistViewResume.test.ts
  apps/desktop/src/main/viewResume/persistViewResume.ts
  apps/desktop/src/preload/docs/DOCS.md
  apps/desktop/src/preload/preload.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/components/home/GlyphCatalogBackendGate.tsx
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/components/home/SvgGlyphCatalogGrid.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/context/PreviewNoticeProvider.tsx
  apps/desktop/src/renderer/src/context/ViewResumeCaptureContext.ts
  apps/desktop/src/renderer/src/context/ViewResumeProvider.tsx
  apps/desktop/src/renderer/src/context/glyphCatalogRoute.ts
  apps/desktop/src/renderer/src/lib/workspace/resumeGlyph.test.ts
  apps/desktop/src/renderer/src/lib/workspace/resumeGlyph.ts
  apps/desktop/src/renderer/src/lib/workspace/viewResumeCapture.test.ts
  apps/desktop/src/renderer/src/lib/workspace/viewResumeCapture.ts
  apps/desktop/src/renderer/src/lib/workspace/viewResumeFlags.ts
  apps/desktop/src/renderer/src/lib/workspace/viewResumeRestoreActive.ts
  apps/desktop/src/renderer/src/types/glyphCatalog.ts
  apps/desktop/src/shared/host/ShiftHost.ts
  apps/desktop/src/shared/ipc/contract.ts
  apps/desktop/src/shared/viewResume.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): keep New and Open commands enabled without active windows (#491)
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/commands/Commands.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): keep the open glyph across crash reopen and Save as Shift
  apps/desktop/e2e/document-crash.spec.ts
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  crates/shift-backends/src/formats/designspace/import.rs
  crates/shift-backends/src/formats/glyphs/import.rs
  crates/shift-backends/src/formats/glyphs/source.rs
  crates/shift-backends/src/formats/ufo/import.rs
  crates/shift-backends/src/lib.rs
  crates/shift-backends/src/source_glyph_ids.rs
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/ir/entity.rs
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): reopen documents on their last glyph after a crash or update
  apps/desktop/e2e/document-recovery.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/fixtures/types.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/app/AppLifecycle.test.ts
  apps/desktop/src/main/app/AppLifecycle.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/recents/RecentDocuments.test.ts
  apps/desktop/src/main/recents/RecentDocuments.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/hooks/useDocumentViewMemory.ts
  apps/desktop/src/renderer/src/lib/editorRoute.ts
  apps/desktop/src/renderer/src/lib/workspace/documentViews.test.ts
  apps/desktop/src/renderer/src/lib/workspace/documentViews.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

refactor(desktop): validate remembered document views with a schema
  apps/desktop/src/renderer/src/lib/workspace/documentViews.test.ts
  apps/desktop/src/renderer/src/lib/workspace/documentViews.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(desktop): expect preview routes to survive conversion and persist views before kills
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/fixtures/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(desktop): wait for persisted views and conversion reloads in E2E
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/document-recovery.spec.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/fixtures/types.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(desktop): keep a glyph unaffected by #493 across preview conversion
  apps/desktop/e2e/document-lifecycle.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

test(desktop): share opening the first catalog glyph in E2E
  apps/desktop/e2e/fixtures/appLocators.ts
  apps/desktop/e2e/font-preview.spec.ts
  apps/desktop/e2e/source-font-preview.spec.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

fix(desktop): open converted glyphs that have extra UFO layers
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

refactor: expose editor sources and layers through one font entrypoint
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/ir/font.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

test(desktop): import only types from @shift/types in E2E fixtures
  apps/desktop/e2e/fixtures/appLocators.ts
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(mcp): add live font and glyph inspection
  .agents/skills/shift/SKILL.md
  .claude/skills/shift/SKILL.md
  .codex/skills/shift/SKILL.md
  apps/desktop/e2e/live-agent.spec.ts
  apps/desktop/src/main/agent/AgentClient.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/sandbox/SandboxRuntimeProcess.ts
  apps/desktop/src/renderer/src/agent/AgentBridge.ts
  apps/desktop/src/shared/agent/protocol.ts
  apps/desktop/src/shared/sandbox/protocol.ts
  apps/desktop/src/utility/sandbox.ts
  packages/mcp/docs/DOCS.md
  packages/mcp/src/code.test.ts
  packages/mcp/src/code.ts
  packages/mcp/src/server.test.ts
  packages/runtime/docs/DOCS.md
  packages/runtime/generated/code-api.d.ts
  packages/runtime/package.json
  packages/runtime/src/capabilities.ts
  packages/runtime/src/index.ts
  packages/runtime/src/inputs.ts
  packages/runtime/tsdown.config.ts
  pnpm-lock.yaml
Due: prettier, oxlint, tsgo-typecheck, vitest

feat(desktop): reopen documents on their last glyph after interruptions (#495)
  apps/desktop/e2e/document-crash.spec.ts
  apps/desktop/e2e/document-lifecycle.spec.ts
  apps/desktop/e2e/document-recovery.spec.ts
  apps/desktop/e2e/fixtures/appLocators.ts
  apps/desktop/e2e/fixtures/electronApp.ts
  apps/desktop/e2e/fixtures/types.ts
  apps/desktop/e2e/font-preview.spec.ts
  apps/desktop/e2e/source-font-preview.spec.ts
  apps/desktop/src/main/app/App.ts
  apps/desktop/src/main/app/AppLifecycle.test.ts
  apps/desktop/src/main/app/AppLifecycle.ts
  apps/desktop/src/main/docs/DOCS.md
  apps/desktop/src/main/recents/RecentDocuments.test.ts
  apps/desktop/src/main/recents/RecentDocuments.ts
  apps/desktop/src/renderer/src/app/Screens.tsx
  apps/desktop/src/renderer/src/components/home/GlyphGrid.tsx
  apps/desktop/src/renderer/src/context/GlyphCatalogProvider.tsx
  apps/desktop/src/renderer/src/hooks/useDocumentViewMemory.ts
  apps/desktop/src/renderer/src/lib/editorRoute.ts
  apps/desktop/src/renderer/src/lib/model/Font.test.ts
  apps/desktop/src/renderer/src/lib/workspace/documentViews.test.ts
  apps/desktop/src/renderer/src/lib/workspace/documentViews.ts
  apps/desktop/src/utility/workspace/WorkspaceHost.test.ts
  crates/shift-backends/src/formats/designspace/import.rs
  crates/shift-backends/src/formats/glyphs/import.rs
  crates/shift-backends/src/formats/glyphs/source.rs
  crates/shift-backends/src/formats/ufo/import.rs
  crates/shift-backends/src/lib.rs
  crates/shift-backends/src/source_glyph_ids.rs
  crates/shift-bridge/index.d.ts
  crates/shift-bridge/src/bridge.rs
  crates/shift-font/src/ir/entity.rs
  crates/shift-font/src/ir/font.rs
  packages/types/src/bridge/generated.ts
Due: cargo-fmt, cargo-clippy, cargo-test, prettier, oxlint, tsgo-typecheck, vitest

refactor(font): read master sources through Font::masters
  crates/shift-font/src/interpolation.rs
  crates/shift-font/src/interpolation/metrics.rs
  crates/shift-font/src/projection.rs
  crates/shift-slug/examples/analyze_authored.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(font): look up sources and axes through Font methods
  crates/shift-font/src/intents.rs
  crates/shift-font/src/interpolation.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(font): look up sources and axes through Font methods (#496)
  crates/shift-font/src/intents.rs
  crates/shift-font/src/interpolation.rs
  crates/shift-font/src/interpolation/metrics.rs
  crates/shift-font/src/ir/font.rs
  crates/shift-font/src/projection.rs
  crates/shift-slug/examples/analyze_authored.rs
  crates/shift-workspace/src/workspace.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  oxlint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  tsgo-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  vitest: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
